[2020-01-21 21:31] Kaiqb commented on #1469
@mvgoffin - you might be able to use 3rd party service.

[2020-01-21 21:31] #1469 closed

[2020-01-21 21:35] clearab commented on #1517
Huh, that's odd. The GitHub view of this page is different than the published live page? The live page looks correct, not sure what's up with the difference.

![image](https://user-images.githubusercontent.com/1139814/72845170-e4b0d380-3c52-11ea-8fb0-fd794ed3ba75.png)

[2020-01-21 21:36] clearab commented on #1517
Ah, live-sync-work is the actual live branch?

[2020-01-21 21:41] mvgoffin commented on #1469
Thanks Kaiqb

[2020-01-21 21:42] JonathanFingold commented on #1522
Looks like a copy-paste error. Thanks.

[2020-01-21 21:53] JonathanFingold commented on #1522
Fix is in bot-docs-pr PR 1951. Update should go live in a day or to.

[2020-01-21 21:53] #1522 closed

[2020-01-21 22:02] mmiele commented on #1523
@xieofxie Please, let me know what you found.

[2020-01-21 22:03] JonathanFingold commented on #1524
Thanks for reporting. I'll track down the correct links and update the page.

[2020-01-22 00:30] JonathanFingold commented on #1524
Fix is in PR and changes should make it live in a day or two.

[2020-01-22 02:19] xieofxie commented on #1523
@mmiele A further reading suggests that it should be updated here https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-emulator?view=azure-bot-service-3.0&tabs=csharp#use-bot-credentials perhaps?

Here is what happens: when app's supported account is set to single tenant, if one uses personal subscription instead of MS account, the emulator would report `The bot's Microsoft App ID

[2020-01-22 12:20] andreaswittig opened #1527 "POST /v3/conversations results in 403 BotNotInConversationRoster error"
**Describe the bug**

My chatbot needs to start a new conversation/reply chain in a public Microsoft Teams channel by using the Bot Framework REST API.

When I try to do so  by sending a POST request to /v3/conversations the API returns a 403 with code `BotNotInConversationRoster`.

`{"error":{"code":"BotNotInConversationRoster","message":"The bot is not part of the conversation roster."}}

As far

[2020-01-22 18:36] mmiele commented on #1519
Current status.
The current reference documentation contain the Teams classes, please see:
- (.NET) https://review.docs.microsoft.com/en-us/dotnet/api/Microsoft.Bot.Builder.Teams?branch=smoke-test&view=botbuilder-dotnet-stable
- (JS) https://review.docs.microsoft.com/en-us/javascript/api/botbuilder/8.0-preview.97252.teamsactivityhandler?view=botbuilder-ts-latest&branch=master

While the JS version

[2020-01-22 19:14] CoHealer opened #1528 "Bot Doc Incorrectly States Bot Service Manages Token Refresh"
**Describe the bug**
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-authentication?view=azure-bot-service-4.0#about-the-bot-framework-token-service states:

“Managing the token life-cycle, **_including trying to refresh tokens_**.”

The bot service does not actually refresh tokens. The bot itself is responsible for the following logic when a token is expired:
-	Log out the

[2020-01-22 22:03] anusharavindrar commented on #1494
@tfukumori thanks for the link to the related issue. Just to be more clear, so when you use the code which has the message in English("Hello and welcome!") as well as in Japanese("こんにちは"), the deployment is successful, but when you use ("いらっしゃいませ。テストボットです。"), the deployment fails? Also, as per the above linked issue, the issue appears to be resolved. Did the problem reappear?

[2020-01-22 22:26] clearab commented on #1527
Hello - Unfortunately bots are not automatically added to teams. Before your bot can send a message to a particular channel or group chat it needs to be installed there. This is because consent is given at install time for the bot to have access to a particular scoped context. For an individual (personal) conversation the conversation needs to be created between the bot and your user before you ca

[2020-01-22 23:57] mmiele commented on #1528
See PR https://github.com/MicrosoftDocs/bot-docs-pr/pull/1955

[2020-01-23 00:15] mmiele commented on #1523
See PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/1954

[2020-01-23 07:59] andreaswittig commented on #1527
Thanks for the explanations and your help. I had installed the bot and invited it to the channel.

Fixed the issue by recreating the app/bot with App Studio. After that, I was able to start a conversation.

[2020-01-23 07:59] #1527 closed

[2020-01-23 10:19] BillLeBoquet opened #1529 "Westeurope redirection to Dispatch luis app"
When you create a Dispatch luis application hosted in westeurope (eu.luis.ai), clicking in "View in LUIS portal" from Summary.html try to open your application in westus, you end up with a 400 error in the console and an infinite Loading page. You should be redirected thanks to the region specified in your dispatch file.

[2020-01-23 18:48] adrianwells opened #1531 "Format issue in the Add knowledge base information to your bot section"
There is appears to be a formatting issue where the text renders as "| QnAKnowledgebaseId | The knowledge base ID that the QnA Maker portal generated for you. | | QnAAuthKey (QnAEndpointKey in Python) | The endpoint key that the QnA Maker portal generated for you. | | QnAEndpointHostName | The host URL that the QnA Maker portal generated. Use the complete URL, starting with https:// and ending wit

[2020-01-23 19:00] JonathanFingold commented on #1531
Fixed in PR. Update should go live in a day or two. Thanks for reporting.

[2020-01-23 23:57] #1531 closed

[2020-01-23 23:57] #1524 closed

[2020-01-23 23:57] #1504 closed

[2020-01-24 00:27] #1517 closed

[2020-01-24 00:28] clearab opened #1532 "Docs link in skills section"
The Docs link in the Skills section seems to be pointing at this page. I think it is supposed to point here: https://docs.microsoft.com/en-us/azure/bot-service/skills-conceptual?view=azure-bot-service-4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9ad2ff5-0669-6023-d1ae-8fb47c08ffac
* Version Independent ID: 6d2f8

[2020-01-24 01:33] mdrichardson opened #1533 "Direct Line App Service Extension Live Does Not Match This Repo"
[.NET bot with direct line app service extension - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0#update-net-bot-to-use-direct-line-app-service-extension) does not match [articles/bot-service-channel-directline-extension-net-bot.md from this repo](https://github.com/MicrosoftDocs/bot-docs/blob/live/article

[2020-01-24 09:42] BerrisfordEdwards commented on #1512
I tried the whole thing again from scratch using the exact instructions from
[https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=javascript](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=javascript). That worked fine.

When I then got to the **Step 3** in the sec

[2020-01-24 09:52] bigbybob opened #1534 "GET conversations not allowed"
Hi,

I am trying to get my bot conversations list from the bot api, but i get an 405 Method Not Allowed error.

"GET /v3/conversations?continuationToken={continuationToken}"

I tried using a java sdk and using postman directly. I can send an activity into a conversation, so my token should work properly, and my rights should be properly sets.

Thanks

---
#### Document Details

⚠ *Do not edit this

[2020-01-24 09:53] #1534 closed

[2020-01-24 17:22] mdrichardson commented on #1529
@BillLeBoquet [I've opened this in the CLI repo](https://github.com/microsoft/botframework-cli/issues/490) and will close it here, for better tracking.

I'll start looking into this.

[2020-01-24 17:22] #1529 closed

[2020-01-24 19:26] JonathanFingold commented on #1519
@clearab Here's a quick overview of the process:
1. Packages are built and released (NuGet, npm, PyPi, etc.). These contain the doc comments embedded within them.
1. Doc team opens a request with the publishing team to build the ref docs based on a list of packages from which to build the docs.
1. Publishing team builds the ref docs and posts them to their review site.
   - If for some reason the

[2020-01-24 19:30] JonathanFingold commented on #1519
For example, here is the review link for the C# [Microsoft.Bot.Builder.Teams namespace](https://review.docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.teams?view=botbuilder-dotnet-stable&branch=smoke-test).

[2020-01-24 19:33] JonathanFingold commented on #1519
And here is the review link for all of the [JS library](https://review.docs.microsoft.com/en-us/javascript/api/botbuilder/?view=botbuilder-ts-latest&branch=master).

[2020-01-24 22:25] stevkan commented on #1419
@ashoksamal6363, it appears I completely misunderstood what your question/issue was. There was a known bug (I don't know if it is the same @nisheetjain is referencing) around the URL length that opened the Direct Line Speech blade.

In short, the URL contains a token parameter housing the user's token. This token includes the user's various claims within it (i.e. groups you belong to, permissions,

[2020-01-24 22:27] mdrichardson commented on #1419
Closing per @stevkan

[2020-01-24 22:27] #1419 closed

[2020-01-24 23:50] stevkan commented on #1513
@amy14, are you still needing help on this issue? If so, can you also tell me did you download the client or build this from the [Direct Line Speech Client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client) repo?

[2020-01-26 09:00] tfukumori commented on #1494
Thank you for your answer.
Below are the answers and detailed steps.

# Answer

If the solution configuration at the time of build was "Debug" and the message used Japanese ("いらっしゃいませ。テストボットです。"), The Zip deployment failed.

## Table showing conditions

|No|Solution Configuration|Message|Local Bot Emulator|Zip Deployment|
|:--|:--|:--|:--|:--|
|1|Debug|"Hello and welcome!"|Success|Success|
|2|Debu

[2020-01-27 22:14] CoHealer commented on #1514
@LeoCN7, closing due to inactivity. If you still require assistance please reactivate.

[2020-01-27 22:14] #1514 closed

[2020-01-27 22:16] CoHealer commented on #1513
Closing due to inactivity (two weeks since receiving a customer response). If you still need help, please reactivate.

[2020-01-27 22:16] #1513 closed

[2020-01-27 22:22] CoHealer commented on #1494
@JonathanFingold / @emgrol , can either one of you help with the doc update request above and close the issue?

[2020-01-27 22:49] mmiele commented on #1528
Resolved. Fixed documentation.

[2020-01-27 22:49] #1528 closed

[2020-01-27 22:52] mmiele commented on #1523
Resolved. Fixed documentation.

[2020-01-27 22:52] #1523 closed

[2020-01-27 23:00] mmiele commented on #1519
This is what Kamran said:
API comments is one of the things Scott and I have talked about doing in R10 IIRC.

[2020-01-28 00:17] mmiele commented on #1533
Deleted "Additional information" section.

[2020-01-28 00:36] mmiele commented on #1533
@mdrichardson I deleted the section "Additional information". Please. take a look at the staged site and confirm that the problem has been fixed. Thanks
https://review.docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-3.0&branch=pr-en-us-1964

[2020-01-28 00:52] JonathanFingold commented on #1494
@CoHealer One of use will update the docs this week. Thanks.

[2020-01-28 06:01] #1479 closed

[2020-01-28 15:59] mdrichardson commented on #1533
@mmiele LGTM for now, at least. DL Extension is pretty new and changing a lot so don't be surprised if this needs another update soon. But for now, I'd say it's accurate.

[2020-01-28 15:59] #1533 closed

[2020-01-28 16:53] CoHealer commented on #1494
Thanks Jonathan

[2020-01-28 22:00] JonathanFingold commented on #1494
@CeciAc , @tfukumori , I've added a fix to a pull request 1965, which should get merged next week. The text reads:

Please reopen with a comment if this does not address the issue.

[2020-01-28 22:00] #1494 closed

[2020-01-28 22:00] stevkan commented on #1475
Have connected with CK to try and get the DirectLine.DirectLine() instance to work. However, despite trying different setups, the direct line instance continues to have issues being recognized. CK is also looking at related issues around bot creation on ABS with regards to DL ASE.

[2020-01-29 11:00] mkulgeorge opened #1537 "404 Error on all Sample list links"
Hi Team,

I am getting 404 Error on all the Sample list links. Please check.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8fcc136-2176-535a-05f4-6423bfafbd67
* Version Independent ID: e0636491-0acf-5577-0313-80d3c9006131
* Content: [Web Chat overview - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azur

[2020-01-29 15:37] thediveshsoni opened #1538 "Python Echo Template link is not valid"
https://github.com/microsoft/botbuilder-python/releases/download/Templates/echo.zip

[2020-01-29 22:55] emgrol commented on #1538
HI @thediveshsoni, can you elaborate on what you mean by not valid? I just tested the link and was able to successfully download the template and use it to create an echo bot.

[2020-01-30 12:01] tfukumori opened #1539 "Changes to run the "Code sample for processing Adaptive Card input" sample code"
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-add-media-attachments?view=azure-bot-service-4.0&tabs=csharp#code-sample-for-processing-adaptive-card-input

To make it work, the sample code had to be changed as follows:

# before change

## using

[code]

##  "after the closed brace public for declaration of MainDialog"

[code]

# after change

## using

[code]
## "after the c

[2020-01-30 13:53] dimovskidamjan opened #1540 "Message delivery order mismatch"
I'm trying to indicate to my users the status of a message sent to the bot service, by marking it undelivered/delivered in the UI. I'm basing this status on the response from the API for sending activities to the bot, once the call is complete the message gets a message id and I add that message as undelivered to the UI.

However, I've noticed that once I send a message to the bot using the API, t

[2020-01-30 17:15] EricDahlvang commented on #1496
Hi @xieofxie

When a User.Id is provided while exchanging a secret for a token, that User.Id is embedded in the token.  DirectLine will ensure the messages sent to the bot have that id as the activity's From.Id.  If a client sends a message to DirectLine having a different From.Id, it will be changed to the Id in the token before forwarding the message to the bot.

This is correct:

[2020-01-30 19:43] mmiele commented on #1537
@mkulgeorge Apologies for the inconvenience and thank you for flagging this issue. We'll fix the problem.

[2020-01-31 17:09] RenanCarso commented on #503
I'm facing the same issue.

[2020-01-31 17:20] liiamjones opened #1545 "How do you set conversation account properties?"
I have the following code in a class RootDialog. where stepContext is of type WaterfallStepContext.

var tenantId = stepContext.Context.Activity.Conversation.TenantId

 I then have the following test code

            var client = new DialogTestClient(Channels.Msteams, RootDialog);

            var res = await client.SendActivityAsync&lt;IMessageActivity&gt;(new Activity
            {

[2020-01-31 18:53] emgrol commented on #1532
I updated the AKA link so it points to the About skills page. Closing this issue now that the link has been update.

[2020-01-31 18:53] #1532 closed

[2020-01-31 21:35] modnarb opened #1546 "Deployment steps are ambiguous/confusing"
The instructions under step 4 "Deploy via ARM template" are confusing, at some points unclear in what is needed. For example, I was following the steps under "Option 2: New App Service Plan" and the command line expects several parameters that I wasn't sure what to use. Some I found are provided in the output from the step before, but the names don't correlate; In the previous step I'm making a pa

[2020-01-31 22:38] mahamr opened #1547 "app.UseBotFrameworkNamedPipe() doesn't exist in Builder SDK 4.7.2"
Hello, I'm going through these instructions to try it out. In an EchoBot template that has been updated to Bot.Builder 4.7.2, there is no app.UseBotFrameworkNamedPipe() method. There is an app.UseNamedPipes() however.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independ

[2020-01-31 22:52] mahamr commented on #1547
when I use app.UseNamedPipes(), the ASE does work as expected. I believe UseBotFrameworkNamePipe() was the old one before it was rolled into the BotBuilder SDK?

[2020-02-03 01:32] xieofxie commented on #1496
Oh, thanks!

[2020-02-03 01:32] #1496 closed

[2020-02-03 22:03] JonathanFingold commented on #1539
Fixed in PR. Updates should go live within the week. Thanks.

[2020-02-03 22:27] JonathanFingold commented on #1519
The 4.7 ref docs have now been pushed live for all three languages:
- [C#](https://docs.microsoft.com/en-us/dotnet/api/?view=botbuilder-dotnet-stable)
- [JavaScript](https://docs.microsoft.com/en-us/dotnet/api/?view=botbuilder-dotnet-stable)--you need to drill into the modules to find the Teams classes.
- [Python](https://docs.microsoft.com/en-us/python/api/botbuilder-core/botbuilder.core.teams?vi

[2020-02-03 22:27] #1519 closed

[2020-02-03 22:52] JonathanFingold commented on #1488
@duvarajan There are two ways to manage the responses you get back from QnA Maker:
1. When you create the [QnAMaker](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.ai.qna.qnamaker?view=botbuilder-dotnet-stable) instance, use the `Top` and `ScoreThreshold` properties of the [QnAMakerOptions](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.ai.qna.qnamakeroptions?

[2020-02-03 22:55] JonathanFingold commented on #1488
With respect to querying the telemetry data, we have a new article [Analyze your bot's telemetry data](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0).

[2020-02-04 00:38] mmiele commented on #1537
The corrected documentation will be ready in the next build.

[2020-02-04 06:59] thirumaran007 commented on #1355
We are getting this issue again ,{ "k": true, "ib": false, "ob": false, "initialized": true }. Not sure where we need to check ob and ib. Please advice on this , thanks!

[2020-02-04 17:33] mdrichardson commented on #1545
@liiamjones

This is happening because the Activity properties [get overwritten](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Testing/DialogTestClient.cs#L90) by [TestAdapter](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder/Adapters/TestAdapter.cs).

To prevent this, you need to use [the other DialogTestClient

[2020-02-04 18:55] mdrichardson commented on #1540
@dimovskidamjan I don't *believe* that's by design, as it would behave differently than bots using polling. I'll check with the dev team on that.

In the meantime, are you sure that the message you're receiving is the response to the message and not one of [the other response types](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-receive-activities?vi

[2020-02-04 19:02] dupuis2387 opened #1548 "More random "Error: Authorization has been denied for this request" problems"
i'm using the **nodejs version of "botbuilder": "~4.5.1"**
and I'm still encountering issues with "Error: Authorization has been denied for this request" even after having
`MicrosoftAppCredentials.trustServiceUrl('https://smba.trafficmanager.net/apis/', new Date(8640000000000000));`
in my code.

It randomly happens and without doing anything, it'll resume being able to communicate with the person

[2020-02-04 19:15] mdrichardson commented on #1540
@dimovskidamjan Also, I just tested this myself and am not receiving any kind of response on the WebSocket until the full activity is returned; I tested this with both Node and C# bots.

Perhaps your bot is using `wss.Send()`? That could be the issue as activities must be sent with a HTTP POST.

[2020-02-05 17:30] emgrol commented on #1505
Thanks for pointing this out @v-kydela, I'll take a look through the section and see where the links need updating.

[2020-02-05 17:31] emgrol commented on #1538
Closing since the link and template are functional.

[2020-02-05 17:31] #1538 closed

[2020-02-05 17:49] mdrichardson commented on #1548
@dupuis2387 Can you provide a conversation ID that this has occurred on? At the very least, I'll need an AppId or bot name to look into this further.

Where in your code are you calling `trustServiceUrl()`? So long as it's called prior to the bot sending a message to that serviceUrl (even after a bot restart), it should be fine.

[2020-02-05 18:30] dupuis2387 commented on #1548
sure...here we are (i thought divulging that would be sensitive information):

[code]

[2020-02-05 18:43] mdrichardson commented on #1548
@dupuis2387 I'll start looking into this. As far as sensitive info, the bot name or appId is fine--it's just passwords, mostly that you need to keep private.

Placement is fine. Are you sure that's the right serviceUrl for every message? I don't recall what Skype does, but Teams has several different serviceUrls.

[2020-02-05 18:55] dupuis2387 commented on #1548
@mdrichardson so per the provided Microsoft samples, to continue a conversation, we're meant to keep a json payload from a conversation interaction that looks like
[code]
Every instance of every contact that we've accrued and saved the payload thereof, has only every had the above service url. And all we care about is just communication on the skype channel (not skype for business, teams, or reall

[2020-02-05 19:00] msdpalam opened #1550 "Please verify azure search is up, restart the WebApp and try again"
After provisioning a QnA Maker service (that automatically creates the search service), when I try Create knowledge base, I get the error - "Please verify azure search is up, restart the WebApp and try again", while search service status shows "running", the restart of the web app for the QnA maker doesn't help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-02-05 19:02] mdrichardson commented on #1548
The best way to ensure this works, even if an API is changed, is right before the bot sends a message to the user, call `trustServiceUrl(turnContext.activity.serviceUrl, <expiration>)`. Again, still looking into the specifics, though.

[2020-02-05 20:06] mdrichardson commented on #1548
@dupuis2387 I forgot that we can't check Skype bots via ConversationId. Can you provide the bot's name (the name of the App Registration in Azure)?

[2020-02-05 20:12] dupuis2387 commented on #1548
the display name of the bot? "NRS VIDEO RELAY SERVICE" here's the direct skype contact link https://join.skype.com/bot/e7e117fc-904e-4782-af12-dceafb4e9ac0

[2020-02-05 20:15] mdrichardson commented on #1548
@dupuis2387 I'm not able to find it by that name on the backed. What is it listed as in [App Registrations](https://ms.portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade)? If it's the same, what is it listed in the Web App Bot or Bot Channels Registration in the Azure Portal?

[2020-02-05 20:17] dupuis2387 commented on #1548
The bot channels registration is **CnxNrsAlphaDeployment**

[2020-02-05 21:07] mdrichardson commented on #1548
@dupuis2387 Got it. Any chance your bot has >100 users?

[2020-02-05 21:32] dupuis2387 commented on #1548
Yes, since it "went live", there's been a total of 371  individual people that have communicated with it

[2020-02-05 21:36] mdrichardson commented on #1548
@dupuis2387 That's likely your problem. If you open your Web App Bot/Bot Channels Registration in the Azure Portal, click Channels, then click "edit" by Skype:

![image](https://user-images.githubusercontent.com/40401643/73885239-45780880-481c-11ea-9c3d-00f93f225749.png)

If you haven't re-published it recently, you might be okay. I'm currently not seeing any issues on the backend, though -- Skype

[2020-02-05 21:43] dupuis2387 commented on #1548
Yep, so I got it in before the deadline , and it was approved, literally the day of, in October,  as confirmed by a Microsoft support engineer. Also, I've not republished since. Anything else it could be?

[2020-02-05 22:35] mmiele commented on #1499
@martinlarosa Martin if you are still having problems did you look at what @v-kydela said? I am repeating it below:
- Did you add the trusted origins in your Direct Line channel configuration in the Azure portal?
- Did you provide the trusted origins to your call to the Direct Line tokens endpoint according to these instructions?
- Do you see your trusted origins when you view the decoded token?

[2020-02-05 22:39] mdrichardson commented on #1548
@dupuis2387 I see.

1. Is this an intermittent problem, still, or was it only really happening on Monday?
2. If still occuring can you try adding `trustServiceUrl(turnContext.activity.serviceUrl, <expiration>)` at the top of `onMessage()` and let me know if the problem still occurs?

[2020-02-05 22:58] scheyal commented on #1325
Can you please update status on this?

[2020-02-05 23:12] #833 closed

[2020-02-05 23:39] WashingtonKayaker commented on #1325
I think I can start on this early next week.

[2020-02-06 06:15] Deepti886 opened #1551 "Adaptive card "isVisible": false property for MS teams Mobile."
I am trying to use the "isVisible": false property of adaptive card designer to make buttons initially invisible in MS Teams. But this seems to work properly in Teams windows desktop but not in Teams Mobile application.

PFA for the reference.

I am making both one Textbox and some buttons both as initially invisible. but when i render the card in Teams mobile app , the textbox is not visible but

[2020-02-06 11:26] liiamjones commented on #1545
Thanks, this has solved my problem.

[2020-02-06 11:26] #1545 closed

[2020-02-06 14:15] dupuis2387 commented on #1548
It's been happening on and off probably since it went live in October. I have recorded instances on 12/4, 1/3, 1/10, and 1/16, all across different contacts/activities. But, let me go ahead and try your suggested code change, and see if it persists.  Thank you, for looking at this.

[2020-02-06 16:46] mdrichardson commented on #1548
@dupuis2387 Sounds good. Did you change your Bot ID recently? I can't seem to find any logs on our end older than a couple of days. Might be a Skype thing, though, now that it's deprecated.

[2020-02-06 21:35] martinlarosa commented on #1499
Hi! It was solved in this one: https://github.com/microsoft/BotFramework-Services/issues/160
Apparently for now, this only works if you are trying to log the user in. I wanted to use it regardless of loging the user in or not.
I belive the documentation should at least state that to avoid wasted time.

Thanks for reaching back to me.

[2020-02-06 22:19] #1539 closed

[2020-02-07 00:45] mmiele commented on #1537
Fixed documentation in the next available build.

[2020-02-07 00:45] #1537 closed

[2020-02-07 21:02] mmiele commented on #1547
Fixed documentation is in the next available build.

[2020-02-07 21:02] #1547 closed

[2020-02-07 21:52] emgrol commented on #1510
Closing this now that the [note is live](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-skype?view=azure-bot-service-4.0).

[2020-02-07 21:52] #1510 closed

[2020-02-07 21:53] emgrol commented on #1505
Closing this now that the mentions and links updates are [live](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-concepts?view=azure-bot-service-4.0#authentication).

[2020-02-07 21:53] #1505 closed

[2020-02-07 21:58] emgrol commented on #1416
Closing this now that instructions for adding typing indication to v4 C#, Javascript, and Python bots have been added to the Send and receive text message [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp#send-a-typing-indicator).

[2020-02-07 21:58] #1416 closed

[2020-02-07 21:58] emgrol commented on #1484
Closing this now that instructions for adding typing indication to v4 C#, Javascript, and Python bots have been added to the Send and receive text message [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-send-messages?view=azure-bot-service-4.0&tabs=csharp#send-a-typing-indicator).

[2020-02-07 21:58] #1484 closed

[2020-02-10 17:19] JonathanFingold commented on #1488
Closing for now. Please reopen if your questions are not answered.

[2020-02-10 17:19] #1488 closed

[2020-02-10 18:17] jwiley84 opened #1554 "Instructions have changed"
Slack has altered how to add bots to their workspaces. I'll update this with the new steps as soon as I successfully add a bot to slack.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
* Version Independent ID: 5d501ffc-819f-0634-671c-13d432aa7f28
* Content: [Connect a bot to Slack -

[2020-02-10 18:17] jwiley84 commented on #1554
https://github.com/microsoft/BotFramework-Services/issues/179

[2020-02-11 00:26] mdrichardson commented on #1540
@dimovskidamjan Are you still experiencing this issue?

[2020-02-11 18:42] mdrichardson commented on #1548
@dupuis2387 How's this going?

[2020-02-11 19:42] dupuis2387 commented on #1548
The code change went into production 48hrs ago. However, I can't say it's 100% fixed the issue yet, given how random it is, when it pops up.
Should I close for now and re-open it again, later, if it re-manifests?

[2020-02-11 20:02] mdrichardson commented on #1548
@dupuis2387 We can close for now. If it pops up again, please get timestamps as accurate as possible along with any logs you can share.

[2020-02-11 20:02] #1548 closed

[2020-02-11 21:53] mmiele commented on #1499
@martinlarosa You are welcome trying to do our job.
Would you mind to put together a couple of sentences and tell me the correct spot in the article where I can add a note? Thanks

[2020-02-11 22:01] mmiele commented on #1509
@OliverZ Oliver is there a particular reason why you want to use IIS?  Azure account is free can serve users daily within the free quota.
Maybe this can help:  https://stackoverflow.com/questions/40482022/can-we-deploy-microsoft-bot-application-in-iis-for-hosting-without-azure

[2020-02-12 09:08] OliverZ commented on #1509
I want to host the bot in a local network due to corporate network restrictions.

How can I deploy the bot to be able to use LUIS while the bot is hosted in IIS and not available public?

I found this solution but it would require a public hostname for the certificate: https://stackoverflow.com/a/40889296

[2020-02-12 20:42] #1540 closed

[2020-02-12 20:59] v-kydela commented on #1551
Linking:

- https://github.com/MicrosoftDocs/AdaptiveCards/issues/254
- https://stackoverflow.com/questions/60089939/can-we-set-isvisiblefalse-for-buttonsaction-submit-in-adaptive-card-designe

You got a good answer on Stack Overflow and a better answer in the Adaptive Cards docs repo. Adaptive Cards 1.2 is brand new to Teams, so not all clients support it yet. You can wait a bit or use Hilton's s

[2020-02-12 20:59] #1551 closed

[2020-02-12 22:23] mmiele commented on #1509
Would it be possible to use Azure for the public hostname and then for the **Messaging endpoint** you would use your IIS address?  Give it a try let me know if it works.

[2020-02-13 13:22] OliverZ commented on #1509
I don't know how this should be done.

Is there a free Azure Dev Certificate available?

I found the code snippet below from "Load Certificate in Windows Apps" at: https://docs.microsoft.com/en-us/azure/app-service/configure-ssl-certificate-in-code#load-certificate-in-windows-apps

Where should this code be inserted inside the bots code?

	using System;
	using System.Security.Cryptography.X509Cert

[2020-02-13 17:36] vp393001 opened #1556 "Spelling error"
In the Microsoft App ID and password row, please modify "egistration" to "registration"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33e8c5d2-bf2d-fc99-e813-bf9dd49eb9bb
* Version Independent ID: 830e4542-cdd8-3b64-f1df-2acae1ca3a88
* Content: [Create a bot with Azure Bot Service - Bot Service - Bot Service](https://

[2020-02-13 18:13] mmiele commented on #1509
@OliverZ I recommend to direct your questions to one of the resources you can find here: [Bot Framework additional resources](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-links-help?view=azure-bot-service-4.0). In particular to https://stackoverflow.com/questions/tagged/botframework.
Hopefully, you can fidn the annswer you are loooking for.

[2020-02-13 19:00] emgrol commented on #1556
Thanks for catching this typo @vp39300.

[2020-02-13 19:01] emgrol commented on #1556
Thanks for catching this typo @vp393001.

[2020-02-14 01:42] stevkan commented on #1475
Closing as customer has a working version. Kept open due to errors I was receiving (including the above). Utilized a non-published version of directline.js from CK. Also included 'streamingWebSocket: true', as noted by Daniel in the above. Works as expected, now.

[2020-02-14 01:43] #1475 closed

[2020-02-14 02:02] scch1002 opened #1557 "Severe lack of information on how to properly setup dialogs in a realistic manner."
**Describe the bug**
There is a severe lack of information on how to properly setup a bot using dialogs in realistic manner. There does not seem to be any information on how to properly nest dialogs to allow for multiple turns in the conversation.

[2020-02-14 11:50] Edwardfelix08 opened #1558 "Not able to initialize bot conversation using Xamarin Forms DirectLine Client with Typescript based Bot."
We are having a Typescript bot deployed and it is having DirectLine channel enabled.
We are trying to access the DirectLine channel via a Xamarin Forms app.

**To Reproduce**
Deploy a Typescript VA. and try to connect to the VA using Xamarin Forms app via the DirectLine channel, the welcome message is not been displayed.

Packages used in Xamarin.
Microsoft.Bot.Connector.DirectLine - 3.0.2
Xamarin

[2020-02-14 17:22] JonathanFingold commented on #1557
@scch1002 The four dialog-centric how-to articles are:
1. [Implement sequential conversation flow](https://docs.microsoft.com/azure/bot-service/bot-builder-dialog-manage-conversation-flow)
1. [Reuse dialogs](https://docs.microsoft.com/azure/bot-service/bot-builder-compositcontrol)
1. [Create advanced conversation flow using branches and loops](https://docs.microsoft.com/azure/bot-service/bot-build

[2020-02-14 23:04] Zerryth opened #1559 "Should mention which Cognitive Service is required"
Small improvement recommended to this doc. It's noted in the docs that using Direct Line Speech "requires a Cognitive Service resource", but fails to mention which type of cognitive service. Should take the guess work out and just mention that it requires a SPEECH Cognitive Service resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-02-18 01:11] #1509 closed

[2020-02-18 12:55] geo-msft commented on #1559
Thank you very much for your feedback.

We should mention in the prerequisites or add a separate link explaining:

Create Speech cognitive service in the Azure portal:
1.	Search for Speech
2.	Then press create

![image](https://user-images.githubusercontent.com/57954688/74737896-7a458000-525e-11ea-8b5f-3a7d9c3e0ec1.png)

3.     Note down the key and endpoint values to use them later when you add t

[2020-02-18 17:22] jwiley84 commented on #1558
Hi @Edwardfelix08

Going to try to repro this. Are you following [this](https://microsoft.github.io/botframework-solutions/virtual-assistant/tutorials/create-assistant/typescript/1-intro/) for your creation and deployment? Are you using newly created, or previously created cognitive services like LUIS, and how are you implementing your Directline in the Xamarin app? Do you get this error if you te

[2020-02-18 18:41] mmiele commented on #1546
@modnarb The updated version of the article **Deploy your bot - Bot Service - Bot Service** will be in the next available doc build. I'll let you know. Thank you for your feedback.

[2020-02-18 21:23] ticianaciminari opened #1560 "There is no mention about slack commands needed to be configured before running the example"
@a2glukhov commented 8 hours ago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
* Version Independent ID: 5d501ffc-819f-0634-671c-13d432aa7f28
* Content: [Connect a bot to Slack - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-conne

[2020-02-18 21:24] ticianaciminari commented on #1560
Hi Team,

Could you please check the issue from user?

Kind regards,
Microsoft DOCS International Team

[2020-02-19 17:57] emgrol commented on #1556
Closing now that typo fix is live.

[2020-02-19 17:57] #1556 closed

[2020-02-19 20:05] clearab opened #1565 "typo"
Should be "Start your bot" not "Start you bot"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/

[2020-02-19 23:21] #1546 closed

[2020-02-19 23:23] mmiele commented on #1499
Added requested information.

[2020-02-19 23:23] #1499 closed

[2020-02-19 23:30] emgrol commented on #1565
Thanks for catching this typo @clearab.

[2020-02-20 10:09] Edwardfelix08 commented on #1558
HI @jwiley84
i was able to connect to the bot via the direct line now.

Thanks.

[2020-02-20 10:09] #1558 closed

[2020-02-21 18:39] CoHealer commented on #1554
@jwiley84 , is there an ETA on getting the steps updated?

[2020-02-21 20:16] jwiley84 commented on #1554
Slack has changed a bit of their configuration, and the following changes need to be made to the instructions on connecting a bot to Slack:

The instructions up to (but not including) the line 'Create a Slack Bot User' are correct and can be followed as is.

The section headed 'Create a Slack Bot User' is outdated. This option is no longer there on the Api.Slack.com page, and that section can be r

[2020-02-22 14:41] robertwood62 opened #1569 "How to unit test suggested actions"
I'm trying to test suggested actions which use the Post-back action type as they contain complex data.  How do I send post-back Object data correctly.  Could you provide a sample for how to do this?  I tried setting the Activity.Value property with the object to send back to the Bot but that didn't seem to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-02-24 21:10] AskYous opened #1571 "appid and password or null?"
On step 1, it says to edit the app settings file to make it null for nodejs, but to have the app id actually coded in for .Net. This makes me suspicious that they really meant to say to make the app ID and password into NULL, just like they said that for Nodejs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8a0643-f

[2020-02-25 10:14] marnheus commented on #1539
The change is still not visible

[2020-02-25 16:12] JonathanFingold commented on #1539
Which part of this fix is not visible? You may need to reload the page to clear your browser's cache.

[2020-02-25 19:25] AskYous opened #1572 "Teams: What does it mean to "add bot by GUID"?"
This page gives us instructions on how to add our bot to MS Teams. But then it warns from adding by GUID. What is that? Is that what we just did in this page? This page needs to clarify what that is if it's going to warn against it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e31fe2a-ac8e-815c-f33e-2f08fd554915
* V

[2020-02-25 23:27] JonathanFingold commented on #1571
Good catch. Fixing in PR 2013.

[2020-02-25 23:30] #1557 closed

[2020-02-26 17:34] emgrol commented on #1565
Closing now that this has been merged.

[2020-02-26 17:34] #1565 closed

[2020-02-26 18:00] JonathanFingold commented on #1569
I'm not sure I understand your scenario. The `postBack` action type is designed to send a text message to the bot when the user clicks the button. For information about card actions, see the [process events within rich cards](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-add-media-attachments#process-events-within-rich-cards) section in the how to **add media to messages** article

[2020-02-26 19:43] jbgh2 opened #1573 "Endpoint and Keys instructions don't match website"
The Manage tab in luis.ai doesn't have a 'Keys and Endpoints' entry on the left hand side.
If you have migrated to the new preview.luis.ai then you might have a custom endpoint rather than a region.

Please update the documentation to match usage of the current websites

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73

[2020-02-27 03:24] hyoshioka0128 opened #1575 "Broken link "Conversations""
![bot-builder-telemetry-analytics-queries](https://user-images.githubusercontent.com/40815708/75409420-02610f00-595c-11ea-9023-57fd6174b380.png)

en-us:https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-analytics-queries?view=azure-bot-service-4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cdf

[2020-02-27 16:49] WashingtonKayaker commented on #1575
Thank you for reporting this, the AKA link was missing the last character, fixed. This link now works.

[2020-02-27 16:49] #1575 closed

[2020-02-27 17:01] mmiele commented on #1554
@jwiley84 Jessica, I just started looking into this. So far I have created my Slack account. I'll keep you posted on the progress and doc update. Thanks

[2020-02-27 22:43] Charliewking opened #1576 "There is more to be said about a bot not working in Web Chat"
I don't want to be too specific but I have deployed my bot and it actually works in DirectLine channels (at least it sends a userAdded message), but it doesn't work in the 'Test in Web Chat'. Otherwise I like this document. Bot framework bots can be... tricky.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9954581-665

[2020-02-28 01:06] mmiele commented on #1554
@jwiley84 Jessica, if I understand correctly the 'Create a Slack Bot User' is obsolete and must be deleted.
Should I replace it with the instructions you described in your comment above?
If so, what is the best heading for this section?
Thanks

[2020-02-28 14:27] diegoriera opened #1577 "Not working"
I followed all steps on this page, the templates work well on my machine, however don't work on Azure.
I tried template 02 and 48, the first one return an error 401 and the second one  return an error 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d5bd35d-3178-42cd-2893-3b6a4b7a94ce
* Version Independent ID: 1545

[2020-02-28 14:56] diegoriera commented on #1577
401 - Upgradeto WebSocket is required.
404 - Direcotry not found

[2020-02-28 15:06] fdaiello opened #1578 "Could not open conversation"
I could not open the conversation using the suggested endpoint:
     endpoint = "https://&lt;YOUR_BOT_HOST&gt;.azurewebsites.net/.bot/".

In my case, endpoint was this:
    endpoint = "https://mrbot-2020.azurewebsites.net/.bot/"

Although my Bot is published and running, this URL returns a 404 error.
Then, conversation gets Null value at this line:

var tokenClient = new DirectLineClient(
    new

[2020-02-28 17:33] diegoriera commented on #1577
Please close this case.

[2020-02-28 17:39] diegoriera opened #1579 "Build on Release mode"
Is important to add a TIP saying to build it on Release mode.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version Independent ID: 8bf74926-6a35-5753-0a1a-6663ba5965b2
* Content: [Deploy your bot - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot

[2020-02-28 19:18] #1577 closed

[2020-02-29 18:50] blevinscm opened #1580 "Link gives a 404"
"This command creates an Echo Bot based on the Python echo template."

The link to the echo template can't be found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Pyt

[2020-03-01 11:07] mdhruv1 opened #1581 "Python script link give a 404 error"
Please have we have link fixed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/python/bot-build

[2020-03-02 18:35] jwiley84 commented on #1554
Good morning! I just reread my post, and yeah, I could have made that more clear. Sorry.

You can remove the 'Create a Slack Bot User' section and replace it with my instructions. A good heading might be : 'Add Bot Token Scopes'.

[2020-03-02 20:26] emgrol commented on #1580
Thanks for pointing out the broken link; I'll investigate where it went and update the article.

[2020-03-02 20:26] emgrol commented on #1581
Thanks for pointing out the broken link; I'll investigate where it went and update the article.

[2020-03-02 20:33] #1580 closed

[2020-03-03 02:24] emgrol commented on #1581
The article has been updated but is not yet live. Here is the link to the updated template location:
https://github.com/microsoft/BotBuilder-Samples/tree/master/generators/python/app/templates/echo

[2020-03-03 03:26] mmiele commented on #1554
Jessica, thank you for your answer.
The updated documentation will be in the next published build.

[2020-03-03 08:22] amonit opened #1582 "How to deploy python bot"
In the interface only c# and nodejs is available but python isn't.
Also documentation is not provided for deploying a python chatbot. How to deploy python chatbot on Azure Chatbot service

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version Independent ID: 8bf74926-6a35-5753-0a1

[2020-03-03 22:05] emgrol opened #1583 "Python missing from Bot templates when creating Web App Bot on Azure Portal"
**Describe the bug**
Python is not listed on the list of Bot Templates when creating a Web App Bot in the Azure Portal.

**To Reproduce**
1. Go to the Azure Portal, type `web app bot` into the search bar and select.
2. Click `Bot Template`.

**Expected behavior**
Python should show up along w/ C# and Javascript.

**Screenshots**
![bot-template](https://user-images.githubusercontent.com/9682548/758

[2020-03-03 23:26] thirumaran007 opened #1584 "Directline.js not working on react based application, if this not expected behaviour could you please"
Directline.js not working on react based applications, if this not expected behaviour could you please share react bases Direct Line extension -webchat sample ?

[2020-03-03 23:42] thirumaran007 opened #1585 "DirectLine.JS not working for react based applications.?"
DirectLine.JS not working for react based applications. is that expected behaviour? if not could you please share directline extension sample codes for react based applications ?

[2020-03-04 01:01] emgrol commented on #1582
Thanks for mentioning that Python wasn't available on the Azure Portal web app bot template, I've opened [issue 1583](https://github.com/MicrosoftDocs/bot-docs/issues/1583) to address this.

The Deploy your bot [article](https://docs.microsoft.com/azure/bot-service/bot-builder-deploy-az-cli) includes instructions for deploying Python bots. Steps [4](https://docs.microsoft.com/en-gb/azure/bot-servi

[2020-03-04 04:36] amonit commented on #1582
I tried these steps but for some reason it is not working. On the emulator it works as expected.

Maybe it is because of the deployment script not getting generated for python.

[2020-03-04 04:38] amonit commented on #1583
By when is this likely to be resolved?

[2020-03-04 06:37] amankhandelwal-ideaspark commented on #1582
![image](https://user-images.githubusercontent.com/52450550/75851807-9cb7cb80-5e10-11ea-9c28-3f3f2466c4c0.png)

Command line instrucutions need more information. The current documentation is broken @emgrol .

[2020-03-04 06:47] amankhandelwal-ideaspark commented on #1582
For some reason i can't re-open this issue. It is not yet resolved

[2020-03-04 07:02] joeka-N commented on #1578
you have to configure the stream extension in your bot application.
check this link :

[2020-03-04 07:43] amankhandelwal-ideaspark commented on #1546
@mmiele when is the next doc build likely to go live? I need more information regarding deployment of python bots. The documentation has very limited information for it.

[2020-03-04 16:17] JonathanFingold commented on #1569
Closing. Please reopen if you need more assistance.

[2020-03-04 16:17] #1569 closed

[2020-03-04 16:45] stevkan commented on #1576
@Charliewking, can you elaborate on it not working in Test in Web Chat? Are you receiving a particular error in the bot's transcript window or in the dev console? I'm assuming you followed the doc instructions fully...?

[2020-03-04 17:35] cbuffevant commented on #1464
@dmvtech I'm getting a similar error for a Teams Bot (v3).
[code]

Stack trace:
[code]

Do you have any idea what's going on?

[2020-03-04 20:10] fdaiello commented on #1578
Hi,

Thanks for your reply.
This link explains how to implement the direct line CLIENT using stream.
But it does not explain how to configure stream extension on the BOT application.
Could you please check  and send us the paper that has this explanation? How to enable the BOT to answer using Stream?

Thanks!

[2020-03-04 21:18] jwiley84 commented on #1582
What steps did you follow for section 3? The current documentation is unclear, not necessarily broken.

![image](https://user-images.githubusercontent.com/17333688/75923811-b100c600-5e1a-11ea-8c57-58732b299b20.png)

[2020-03-04 21:28] jwiley84 commented on #1583
This probably won't be added any time soon, as there simply hasn't been the demand for it, unlike Node and C#. There is no official roadmap to adding Python templating via Azure's 'Create a Resource'. That being said, the CLI deployment works for deploying Python bots. If you're having some hiccups with it, feel free to ask on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframewor

[2020-03-04 21:48] mmiele commented on #1554
Changed merged in the doc master branch.
he updated documentation will be in the next published build.

[2020-03-04 21:48] #1554 closed

[2020-03-04 22:49] emgrol commented on #1582
@amonit and @amankhandelwal-ideaspark: I don't think this is a doc issue since I followed the instructions in the article and was able to deploy multiple bots and test them in Web Chat. Adding the support label.

[2020-03-04 22:59] jwiley84 commented on #1582
@emgrol If you can assign me, I'll take it from here for helping with their deployments.

[2020-03-05 04:10] vamboda commented on #1463
This tutorial has some serious issues. Please fix it soon...

[2020-03-05 15:32] Deon-v opened #1588 "Slack API error"
After Following the instructions [Use Azure Bot Service portal to connect your bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) even with the ammended changes due to the changes in slacks side.
When i send a message from slack i get an error in my Slack channel "Slack API error".
The /api/messages controller is reached f

[2020-03-05 16:41] v-kydela commented on #1463
@Kaiqb - Have you looked at this?

[2020-03-05 16:49] mmiele commented on #1559
Changes merged in the doc master branch.
The updated documentation will be in the next published build.

[2020-03-05 16:49] #1559 closed

[2020-03-05 16:51] vamboda commented on #1463
I found the issue. Azure cli version I am using is not the latest one. The
version I had was 2.0.6. Can we add a note to use latest azure cli with
this link:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest,
if folks are having issues with azure cli deployment commands.

After doing the upgrade, things worked without any issues, at-least for
deployment of preexist

[2020-03-05 17:05] EricDahlvang commented on #1462
Closing, since this has been addressed by @WashingtonKayaker https://github.com/MicrosoftDocs/bot-docs-pr/pull/1905

[2020-03-05 17:05] #1462 closed

[2020-03-05 18:12] Akshaydirisala opened #1589 "Bot tools capabilities"
This page does not show the end to end capabilities for Bot tools, It does not tell is LUIS SDK capable of retrieving the data from databases likes SQL and providing the results to clients.Please update this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6838575c-d2fc-65e3-98c2-0b35992c10b2
* Version Indepe

[2020-03-05 19:51] emgrol commented on #1572
Thank for bringing this to our attention @AskYous, we'll update the docs accordingly.

[2020-03-05 19:51] emgrol commented on #1579
Thanks for bringing this to our attention @diegoriera. Updating the article now.

[2020-03-06 08:05] amankhandelwal-ideaspark commented on #1582
I was able to deploy. It was not working previously because of resource-group.
So I created a separate resource group and it worked.

[2020-03-06 16:45] jwiley84 commented on #1582
Sounds good @amankhandelwal-ideaspark !

@amonit, are you still having issues deploying?

[2020-03-06 16:59] mmiele commented on #1560
@jwiley84 This is the issue we talked about. Please, take a look when you have a chance and let me know the doc impact. Thanks

[2020-03-06 17:46] emgrol commented on #1584
Closing because duplicate.

[2020-03-06 17:46] #1584 closed

[2020-03-06 18:47] mmiele commented on #1588
@jwiley84 Jessica, let me know if you have any suggestion on this. Thanks

[2020-03-08 23:46] tanetrail opened #1591 "NodeJS(TypeScript)Bot deployment failure"
Created the bot using **Create a bot with the Bot Framework SDK**. by choosing typescript option

Node version: 10.16.0

once after building the bot and successfully executing it on the local system(Mac). tried to follow the **deploy bot to azure** and uploaded the zip file to azure as per the instructions and getting below error (changed the nodejs version(10.16.3) using WEBSITE_NODE_DEFAULT_VERS

[2020-03-09 07:25] praveenkumar197 commented on #1548
I am getting the error while trying to send the message without an trigger from the user in teams by using the cron scheduler(node package) but sometimes it throwing the error,
**(node:1) UnhandledPromiseRejectionWarning: Error: Authorization has been denied for this request.**
without changing or restarting the code it getting solved but after sometimes the same issues is arising can anyone help

[2020-03-09 07:36] praveenkumar197 opened #1592 "(node:1) UnhandledPromiseRejectionWarning: Error: Authorization has been denied for this request."
I am trying to send the message to the user using the Microsoft bot framework in teams without any trigger from the user with the help of the cron scheduler (node package) the error obtained is the following

**(node:1) UnhandledPromiseRejectionWarning: Error: Authorization has been denied for this request.
    at new RestError (/app/node_modules/@azure/ms-rest-js/dist/msRest.node.js:1397:28)

[2020-03-09 10:11] vigneshp826 opened #1593 "Receiving 401 error"
Language: Python

Code:

[code]
Error:
{"message":"Authorization has been denied for this request."}

What i am missing in the code to receive this error?

If it is a TrustServiceUrl issue, how i need to include
MicrosoftAppCredentials.TrustServiceUrl(serviceUrl) in my code?

[2020-03-09 16:19] jwiley84 commented on #1582
Closing as I have answered OP's question both here and on Stack Overflow.

[2020-03-10 00:37] mmiele commented on #1589
The article you refer to is an introduction, so it contains general information.

- If you want more detailed information about LUIS. please refer to the [case studies](https://azure.microsoft.com/services/bot-service/) link at the end of the article.

- You can also ask questions on StackOverflow; for example, check this post: [How to connect the data retrieved from SQL database in activity metho

[2020-03-10 00:37] #1589 closed

[2020-03-10 00:55] mmiele commented on #1578
@fdaiello Thank you for contacting us.
Let me look into this issue and I'll come back to you.

[2020-03-10 05:45] joeka-N commented on #1578
@fdaiello once you add the nuget package to your bot project

you have to add the below in your startup class:

and app.UseBotFrameworkNamedPipe(); //in he configure method

[2020-03-10 13:51] zodiacmediaSD opened #1594 "edit: non-issue. please delete"
edit: my mistake.

[2020-03-10 13:57] #1594 closed

[2020-03-11 05:14] compulim commented on #1585
Could you send us error logs or anything for diagnostics?

We use DLJS intensively in Web Chat and it's built using React. You can check out some of our samples here, https://microsoft.github.io/BotFramework-WebChat.

[2020-03-11 05:48] josephwccheng commented on #1253
Requesting for a solution for custom storage in Node.js as well.

[2020-03-11 08:52] vbatr opened #1595 "Delegated permissions are used instead of application permissions on admin consent"
For Azure AD application I am using Application Graph API permissions (e.g.  TeamsActivity.Send that is require admin approval).
On my Bot Channel registration I am adding OAuth Connection Settings with Azure Active Directory v2 service provider and selecting the same set of scopes that I've added for AAD application (e.g.  TeamsActivity.Send).

When I am trying to test connection I can see a perm

[2020-03-11 13:37] rvinothrajendran opened #1596 "Add configuration information - Python"
In Add configuration information ( Section 1) - Python in the sample code Add the following information to your bot.py file area
Header is wrong -&gt; Header should be Python not JavaScript :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7538ed7a-5bb8-abc0-23e7-5b118e2fd47f
* Version Independent ID: f6181862-6527-669

[2020-03-11 14:21] mmiele commented on #1578
@fdaiello I was able to make this [example](https://github.com/Jeffders/DirectLineAppServiceExtensionPreview/tree/master/samples/CSharpNetCore_DirectLine_Client) work.
Make sure that you do the following:

1. On the bot side in Azure follow the steps described in this article [Update .NET Bot to use Direct Line App Service Extension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-c

[2020-03-11 23:28] mmiele commented on #1585
@compulim  Please, let me know if there is any impact on the Bot Framewrok SDK docs.
Thank you

[2020-03-12 17:25] turbozapekanka opened #1597 "Native mobile app example"
Is there any example of the Native mobile app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d63dfde8-e0f4-7607-ed47-9a3eeefb42a1
* Version Independent ID: e7f8c59b-78ef-79c5-73f2-672fbe5ab7d9
* Content: [Embed a bot in an app - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-

[2020-03-12 17:44] anusharavindrar commented on #1592
@praveenkumar197  are you following any specific sample? Can you also elaborate more on what you are trying to do? What type of authentication mechanism you are using? Are you trying to send proactive notification to users without the user having to send a message to bot? If yes, then please have a look at a previously asked [issue](https://github.com/microsoft/botframework-sdk/issues/4339) relate

[2020-03-12 20:03] #1571 closed

[2020-03-13 01:02] josephwccheng opened #1598 "Unable to "Read" from Cosmos DB"
I've followed the steps on setting up CosmoDB and also creating the echo bot on node.js. I realise that the code can only "Write" to the database but unable to "Read" From it.
I.e. in this example if I were to send "hi1" and "hi2", the end result does not store "hi1" as it did not read it from the database.
How can I resolve this? Thank you.

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju.

[2020-03-13 04:34] baole opened #1599 "Incorrect Chinese text render on Dialog"
**Describe the bug**

Our bot uses dialog to ask users to fill data. Chinese text doesn't properly show whereas English text renders correctly. The same Chinese text is rendering correctly on message as well.

Please see below attachment for details:
![image](https://user-images.githubusercontent.com/1460168/76589993-3a378d00-64ec-11ea-858e-f38073e9dc07.png)

![image](https://user-images.githubuse

[2020-03-13 08:02] mubat opened #1600 "Hero Card not fully Support at Skype"
Please update information about support Hero Card at Skype - a lot of action type not support

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60950444-cdcc-f0b9-aa21-c99894e26b50
* Version Independent ID: 0bd14221-e030-f9d8-41e6-1a52c9a76440
* Content: [Channels reference - Bot Service](https://docs.microsoft.com/en-us/

[2020-03-13 15:44] JonathanFingold commented on #1599
@baole - This appears to be an issue in the SDK. Please open this in the appropriate repo for the language you're using:
- C#: https://github.com/Microsoft/BotBuilder-dotnet
- JavaScript: https://github.com/Microsoft/BotBuilder-js
- Python: https://github.com/Microsoft/BotBuilder-python

[2020-03-13 15:44] #1599 closed

[2020-03-13 15:50] baole commented on #1599
I'm using REST API. Where should I report it?

On Fri, Mar 13, 2020, 10:44 PM Jonathan Fingold <notifications@github.com>
wrote:

[2020-03-13 16:31] mdrichardson commented on #1600
@mubat I'll start doing some more extensive testing and update the chart. Do you mind sharing the code for the card you found not to be supported? I want to make sure my new testing incorporates your issue (and more).

[2020-03-13 16:41] jwiley84 opened #1601 "Typo"
Nothing big, nothing to worry about, but there's a typo on the last line

&gt;For more infrmation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0ccf96a4-40b0-459b-b75b-716937b38ed4
* Version Independent ID: 0d5ee288-feb5-4cbb-c1dd-ec1774d90e49
* Content: [Bot Framework REST APIs  - Bot Service - Bot Service](https://d

[2020-03-13 16:43] JonathanFingold commented on #1599
For the REST API, try https://github.com/microsoft/botframework-sdk.

If they are unresponsive, let me know, and I'll prod someone.

Thanks

[2020-03-13 16:53] jwiley84 commented on #1597
There is no example for a native app because of how broad the concept is. For example, how to code a bot for a java-based android app would look different the objective-c based ones for ios.

The underlying concepts for both the examples above would the be same, however. A native app is going to need a handbuilt 'channel', and to enable communications using directline. The directline documentation

[2020-03-13 17:47] v-kydela opened #1602 "Deprecation of Skype and Skype for Business"
Please mention the deprecation of Skype and Skype for Business on this page, since it currently makes it look like these are supported channels

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f3882e9d-ce18-408f-194c-7d973000b3a7
* Version Independent ID: 1017b42b-84de-1827-bb7e-0ca7270c1a0f
* Content: [Configure a bot t

[2020-03-13 22:46] mdrichardson commented on #1600
@mubat Disregard the request for your code. I made a PR that addresses this. Unfortunately, support for CardActions varies so much by channel there isn't really a good way to address this fully, so I settled on a more broad, "Card is supported fully with the exception that some channels only support a subset of CardActions and/or may limit the number of actions allowed on each card.  Varies by cha

[2020-03-15 17:35] kavish-d opened #1604 "Slack sender username"
Sender details are not getting populated for slack
from_property is giving bot name and id as value
i.e
activity.recipient and activity.from_property have same value for slack messages

[2020-03-16 16:02] mmiele commented on #1588
@Deon-v Could you please provide the BotId so we could look in the logs and see what's going on.
Thanks

[2020-03-16 20:37] emgrol commented on #1601
Thanks for pointing out this out @jwiley84. I've fixed the typo in [PR 2040](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2040).

[2020-03-16 20:37] emgrol commented on #1596
Thanks for catching this @rvinothrajendran. I've updated the header in [PR 2040](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2040).

[2020-03-16 22:24] stevkan commented on #1576
Closing due to inactivity.

[2020-03-16 22:25] #1576 closed

[2020-03-17 00:13] emgrol commented on #1573
Thanks for pointing out the mismatch in information @jbgh2. The updated instructions and screenshot in [PR 2041](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2041).

[2020-03-17 00:15] emgrol commented on #1602
Thanks for mentioning this @v-kydela. I'm updating that article and any others that mention Skype/Skype for Business in [PR 2041](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2041).

[2020-03-17 17:09] v-kydela commented on #1599
@JonathanFingold - The SDK repo is for DCR's only. No bugs or how-to questions.

REST API bugs can be reported in the [services repo](https://github.com/microsoft/BotFramework-Services/issues), but this is likely not an issue with the REST API. Since this is most likely a channel issue, it should be reported through Teams.

[2020-03-17 19:37] emgrol commented on #1602
@v-kydela Do you have the date for when Skype will be deprecated? I read that Skype for Business will be retired [July 2021](https://docs.microsoft.com/en-us/microsoftteams/faq-journey) but didn't see any dates for Skype.

[2020-03-17 19:41] v-kydela opened #1606 "The SDK repo is for DCR's"
It's possible that this link to the SDK repo may be misleading customers: https://aka.ms/v4-botbuilder-repo

That isn't where we want customers to go to "get support." Only in very rare cases should customers be using the issues tab there. While DCR's could be considered suggestions, "issues" should be posted in a different repo.

To fix this doc, we should either link directly to the repos where

[2020-03-17 19:52] v-kydela commented on #1602
@emgrol - Thank you for addressing this. I'm sorry but I don't know of any plans to deprecate Skype as a whole. I was referring to the Skype bot deprecation that has already happened, and I think that's what we should be mentioning here. It would be similar to the work you did for this issue: https://github.com/MicrosoftDocs/bot-docs/issues/1510

[2020-03-18 07:26] mayureshjaiswal commented on #1455
Hi There,

I'm facing this issue from last 2 days, previously i was able to change the name and icon, but from last 2 days i'm trying to change it but the changes are not getting reflected. Can you please help on this.

[2020-03-18 15:58] DavidStrickland0 opened #1607 "Seems like about half of this documentation is missing."
1) Starts off by explaining the Cancel And Help Dialog.
2) Talks about how the MainDialog works
3) Then discusses Handling Errors
4) Then Says to tests by "send messages as shown below"
Then Ends
Where \ How does the CancelAndHelpDialog tie in?.
Theres nothing below the line that says
"Start the emulator, connect to your bot, and send messages as shown below."

---
#### Document Details

⚠ *Do not

[2020-03-18 16:09] DavidStrickland0 commented on #1607
Case anyone else comes across this and misses how this all ties in together. The explanation here assumes that BookingDialog isa CancelAndHelpDialog.

[2020-03-18 17:18] v-kydela opened #1608 "Teams link is broken"
I'm unsure if there's an aka.ms for this, but you may want to link here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/what-are-bots

Or here: https://docs.microsoft.com/en-us/azure/bot-service/channel-connect-teams

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: feeaef38-ead4-3ce5-c19e-6bf545abf148
* Ve

[2020-03-18 17:32] JonathanFingold commented on #1607
I'll post an update to the article, but probably won't be able to get to it till next week.

[2020-03-18 18:51] anusharavindrar commented on #1592
@praveenkumar197 are you still working on this? Do you still need help?

[2020-03-18 23:00] emgrol commented on #1601
Closing now that the changes are live.

[2020-03-18 23:00] #1601 closed

[2020-03-18 23:01] emgrol commented on #1581
Closing now that the updated link is live.

[2020-03-18 23:01] #1581 closed

[2020-03-18 23:02] emgrol commented on #1596
Closing now that the changes are live.

[2020-03-18 23:02] #1596 closed

[2020-03-18 23:42] mmiele commented on #1578
Fixed documentation.

[2020-03-18 23:42] #1578 closed

[2020-03-19 00:33] emgrol commented on #1606
Thanks for mentioning this @v-kydela. I've updated the table in [PR 2045](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2045).

[2020-03-19 00:34] emgrol commented on #1608
Thanks for pointing out this broken link @v-kydela. I've update the link in [PR 2045](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2045).

[2020-03-19 11:42] floushee opened #1611 "Change Bot Icon and Display Name by code"
Is it possible to change the icon or display name in a programatically way? We will need to provide an automated deployment for customers and including manual steps is a bit inconvinient.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b527247b-38f8-0bc0-6eda-af6382d8f1af
* Version Independent ID: e1c371cc-9183-1138-69e

[2020-03-19 11:56] floushee commented on #1611
You can close it. Was a bit hard fo find, but I got this https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest#az-bot-update

[2020-03-19 15:15] vigneshp826 commented on #1593
Issue has been resolved.

Reason:  I was using Rest APi with single tenant AAD application configuration.

Solution: Now converted that into multi-tenant AAD app based on this answer https://stackoverflow.com/questions/60513204/teams-bot-throws-unauthorized-error-when-attempting-to-send-message-back/60558113#60558113

[2020-03-19 15:15] #1593 closed

[2020-03-19 16:25] #1597 closed

[2020-03-19 16:37] #1600 closed

[2020-03-19 18:31] v-kydela opened #1613 "Unclear how to install an app for the Slack adapter"
The Slack adapter portion of this document and the Slack adapter sample (60) readme both say this:

"Navigate to the Install App page under the Settings menu and follow the instructions to install your app into a Slack team."

This is unclear because the instructions say that features or scopes need to be added in order to install an app, and we're not saying what features or scopes to add. Perhap

[2020-03-20 10:46] floushee commented on #1592
I have a similar problem. I persist conversation references in a database and when I want o send the user a notification because of an event, I get the same error.

This happens when I deploy a new version of the bot. Once the bot interacts with any other user. I can send the pro active messages to any user independently if they have interacted with the bot since the new deployment.

[2020-03-20 14:08] floushee commented on #1592
I got it fixed by running this function before I send my pro active message:
`MicrosoftAppCredentials.trustServiceUrl(turnContext.activity.serviceUrl);`

[2020-03-20 15:47] anusharavindrar commented on #1592
Closing the issue due to no response. Please feel free to reopen if you still have issues.

[2020-03-20 15:51] agxs commented on #1464
I've been getting these a lot today too.

[2020-03-20 16:24] cbuffevant commented on #1464
It seems my bot works beside these errors... so, not entirely sure whether be worry or not...

[2020-03-20 16:28] agxs commented on #1464
Hmm mine hasn't been sending messages, but maybe it's unrelated then. Thanks for the info.

[2020-03-20 16:48] ssemyan opened #1616 "Need to select version 2.1.1 of Microsoft.Extensions.Configuration package"
When adding the Microsoft.Extensions.Configuration NuGet package, it will default to the latest version which is 3.x. Because the Visual Studio bot project defaults to .net core 2.1.1, you need to manually select version 2.1.1 of the Microsoft.Extensions.Configuration package or you get an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-03-20 16:51] ssemyan commented on #1616
Actually it seems this package is not required to be added as it exists already in the project.

[2020-03-22 19:10] TranKennyK opened #1618 "Failed Email Delivery From O365 Account"
**Describe the bug**
My bot receives the following non-delivery email report from O365 when attempting to send outbound email in response to an inbound email.

Initially, I believed my O365 account has been added to the spam block list because it is a new account and does not have an email sending history; however, I am able to send emails from it manually through Outlook application. Therefore, t

[2020-03-23 10:04] eduardpaul commented on #1550
Hi all! We are having the same problem in production right now. Any steps to get diagnostic information?

[2020-03-23 12:27] jhueppauff opened #1619 "Having /Commands seems to break the botframework"
Hi,

I configured the bot like this documentation.
The inital message from my bot is comming through. But if you try /command it seems telegram or the botframework do not like this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 260c283c-f5e9-e00d-19ec-ee9df18335e5
* Version Independent ID: d1525408-36d3-6575-2331-a163

[2020-03-23 15:19] goodprogrammist commented on #1588
Hello!
App ID AU0J6B007 (I have same issue http://i.imgur.com/DlrD8Nv.png)
Thanks!

[2020-03-23 16:12] JonathanFingold commented on #1616
@ssemyan - I'll check with the team on this. There is some discussion as to whether all the samples are migrating to .NET Core 3.1 or not.

[2020-03-23 17:30] emgrol commented on #1606
Closing now that the changes are live.

[2020-03-23 17:30] #1606 closed

[2020-03-23 17:32] emgrol commented on #1608
Closing now that the changes are live.

[2020-03-23 17:32] #1608 closed

[2020-03-23 21:04] mkulgeorge opened #1620 "Sending Typing message gives 502 Bad Gateway Error"
Hi Team,

I have been using the below code to send Typing message.
[code]

Until some time ago this was working perfectly, now it is giving a 502 Bad Gateway Error.

I saw the below code in this documentation page, even after implementing that I am getting the 502 Bad Gateway error.
[code]

Can you please help me resolve this issue?

Thanks,
George.

[2020-03-23 21:24] iMicknl commented on #1620
Related to a recent outage which happened in Europe region; according to
https://github.com/microsoft/BotFramework-Services/issues/194#issuecomment-601249811.

[2020-03-23 23:22] iMicknl commented on #1325
Any update? I was looking for this content (again) and realised it still hasn't been added...

[2020-03-23 23:38] mmiele commented on #1604
@kavish-d Could you give us the scenario in which you had the issue described. More details would help. Thanks

[2020-03-24 10:58] Deon-v commented on #1588
@mmiele Sorry for the delayed response on this, I deleted the app, would the logs still exist if i canget the App Id from my deployments list?

[2020-03-24 15:31] mmiele commented on #1560
@ticianaciminari Could you ask the customer to provide more details or the scenario where the issue was found? Thanks

[2020-03-24 16:05] emgrol commented on #1611
Thanks for mentioning this @floushee. I added a link to the command you referenced since it is helpful in this context and that content shouldn't be hard to find.

[2020-03-24 16:36] mmiele commented on #1588
@Deon-v Thank you for your update. Would it be possible for you to reproduces the problem?  Or perhaps, give us more details on how you encountered it?

[2020-03-24 17:05] Deon-v commented on #1588
@mmiele

Create a bot service channel registration

1. Create bot channel registration **NOT** a new bot
2. Follow the steps indicated on the documentation
3. Create an API and setup for bot use and host with ngrok

I don't know what else to give you, because the above steps was all i did to try and get the bot working.

[2020-03-24 17:41] mmiele commented on #1585
Customer did not respond.

[2020-03-24 17:41] #1585 closed

[2020-03-24 21:24] nastassiar opened #1622 "Login with something other than Graph"
I'm trying to retrieve a token a use to login Dynamics (via a Teams Messaging extension). I have a v1 AAD App that I gave delegated permission. I expected to be able to just set the resource as my Dynamics and then use the token once I retrieved it, but I keep getting permissions errors. Are there steps that are missing to have it work with something other than than Graph? Also when I do get the t

[2020-03-24 21:47] nastassiar commented on #1622
*** I solved the Issue by recreating my connection. It appears that the connections can't really be edited? I originally created it with Graph as the resource and then went back and updated it to dynamics after I'd gotten the sample working. I tried changing the resource multiple times with no success. I don't know if it is a bug in the portal or something else but it was very frustrating.

[2020-03-24 23:56] jbgh2 opened #1623 "Include examples of using state inside dialogs"
This example send activities directly to the user. Most bots use dialogs to interact with the user. Please include an example of getting/setting state inside a dialog.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e18bc52f-7eaf-a473-1cba-9b7c83bd0025
* Version Independent ID: c1b6cf03-c236-cfbf-aa4b-96961b816bc3
* Con

[2020-03-25 06:15] oariel commented on #1464
I'm getting these errors on EMEA. This started on March 16th (same day as the Teams outage in EMEA). Americas is fine. Error is consistent but sometimes the call completes ok, and sometimes it doesn't. Anyone experiencing similar issues?

Error: POST to 'https://smba.trafficmanager.net/emea/v3/conversations/XXXXXXXXXX/activities/XXXXXXXXXXX' failed: [502] Bad Gateway

[2020-03-25 16:36] JonathanFingold commented on #1616
@ssemyan - The .NET samples now target Core 3.1. Researching further.

[2020-03-25 17:01] JonathanFingold commented on #1607
Updating the statement about the `` class to read:

We begin by implementing the `CancelAndHelpDialog` class to handle user interruptions. The cancellable dialogs, `BookingDialog` and `DateResolverDialog` derive from this class.

[2020-03-25 18:09] #1582 closed

[2020-03-25 18:16] v-kydela commented on #655
@JonathanFingold - I can still see this document

[2020-03-25 19:59] agxs commented on #1464
That's interesting, me too since around that day as well. I've never had a working message sent since then.

[2020-03-25 20:10] oariel commented on #1464
Good to know I'm not alone..  Looking at the logs, sometime I also get "[412] Precondition Failed" errors as well. I've tried to report this to Microsoft but they keep redirecting me to the O365 support line. If anyone can point me in the right direction I'll really appreciate it since for the last week+ our EMEA users are able to use our app.

[2020-03-25 20:23] emgrol commented on #1619
Hi @jhueppauff, I just created a Telegram bot and haven't had any issues running /commands. I'm adding the Support label to get further assistance since this doesn't seem to be a documentation issue.

[2020-03-25 20:25] dmvtech commented on #1618
Hi @TranKennyK Have you gone through your O365 Exchange settings? You need to figure out why it is blocking it (is it a frequency thing, something in the content, etc). Then once you know that, you should be able to change something in either the Exchange settings or in the bot code/behavior.

Regardless, this is an O365/Exchange issue.

[2020-03-25 20:25] #1618 closed

[2020-03-25 20:25] jhueppauff commented on #1619
I just doubled checked.. seems like it took some time or there was an issue with the channel.
Thanks.

[2020-03-25 20:25] #1619 closed

[2020-03-25 21:24] JonathanFingold commented on #1616
I think this issue is fixed in bot-docs-pr [PR 2059](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2059)

[2020-03-25 21:38] emgrol commented on #1620
Are you still experiencing issues @mkulgeorge?

[2020-03-26 08:39] aayush-scalex opened #1626 "Microsoft Bot Framework"
Question - Bots on "Microsoft Teams" are developed using "Microsoft Bot Framework" only, can we directly interact with "Microsoft Teams"  SDKs?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 253d4e99-7fc5-cc8d-5b07-29bf2d78687a
* Version Independent ID: cdc0528d-cf1a-e015-1d8a-31ed062648f8
* Content: [Bot Service Frequ

[2020-03-26 11:04] s-stefanov commented on #1620
We are still experiencing it @emgrol . This can be reproduced with generating an `Echo Bot` and just adding this `await context.sendActivity({ type: ActivityTypes.Typing });` to the `onMessage` handler.
Really a blocker to us on production.

[2020-03-26 17:59] JonathanFingold commented on #1623
@jbgh2 Please see the how-to article [Implement sequential conversation flow].

[2020-03-26 19:16] clearab commented on #1620
Due to the increased demand on Teams, they've temporarily limited a couple of things bot can do, including typing indicators. Please see [this blog post](https://developer.microsoft.com/en-us/microsoft-teams/blogs/outage-bots-posting-typing-indicators-will-receive-502s/). If you have additional questions or concerns, you can reach out to the Teams team in one of the methods outlined on [this page]

[2020-03-26 23:32] JonathanFingold commented on #655
@v-kydela I removed links to this page from the offending article, but I forgot to "retire" the article so the page redirects to somewhere useful. I'll do that tomorrow.

[2020-03-26 23:58] clearab opened #1627 "Add GetConversationMember documentation"
We need to add documentation for this new endpoint. An example of the REST call can be found here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/get-teams-context?tabs=json#get-single-member-details

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36ddb50-9e44-96e3-2df3-174166efa75d
* Version Inde

[2020-03-27 12:52] stevejwebb commented on #1483
I am trying to work out how to use multiple waterfall conversations and this does not give me any insight

[2020-03-27 12:53] stevejwebb opened #1628 "Not sure this example does what it should"
I thought it shows dialog reuse but can't seem to see that

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a9577ff-cf56-e5de-84c3-bfe10aab5368
* Version Independent ID: b5d62753-f87b-4673-b09b-a5a3fd9360e8
* Content: [Reuse dialogs - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-buil

[2020-03-27 13:56] CeciAc opened #1629 "Error when testing web chat (python bot)"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/bot-docs.es-es/issues/4

@DannyCeb commented 14 hours ago — with docs.microsoft.com

My bot works perfectly in the emulator but when following the steps of the documentation I run into the following problems:

-You can't enable python virtual environment ($ source ./bin/activate) (This already inside wwwroot folder)

-I try to run t

[2020-03-27 16:09] geo-msft opened #1630 "Facebook channel: Create custom integration UI"
**Describe the bug**
This is not a product bug; rather a lack of recent doc.

The instructions for creating a custom integration seem to have changed.
How do I create a bot for workplace?

I am not able to see the blue button in this step: Create custom integration
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-4.0#create-a-custom-int

[2020-03-27 17:10] zxyanliu commented on #1626
Hi @aayush-scalex Thanks for reaching out. Here is an [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics-teams?view=azure-bot-service-4.0&tabs=csharp) that might help answer your question.

[2020-03-27 17:39] emgrol commented on #1598
CosmosDbStorage is deprecated, instead you should use [CosmosDbPartitionedStorage](https://github.com/microsoft/botbuilder-dotnet/blob/dd34f0a8067750bce06b9f4f79abdc3d82210968/libraries/Microsoft.Bot.Builder.Azure/CosmosDbPartitionedStorage.cs). You can read more in the Azure documentation about how to [partition Azure Cosmos DB](https://docs.microsoft.com/en-us/azure/cosmos-db/partitioning-overvi

[2020-03-27 19:30] dmvtech commented on #1464
API outage: Bots posting typing indicators may receive 502s

https://developer.microsoft.com/en-us/microsoft-teams/blogs/outage-bots-posting-typing-indicators-will-receive-502s/

[2020-03-27 21:10] JonathanFingold commented on #1627
@clearab - I'm looking at the [Microsoft Bot Connector API - v3.0](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-protocol/botframework-channel.json) Swagger file, which is what this page documents. I don't see any new end point in our schema for the new Teams endpoint .

[2020-03-27 21:35] clearab commented on #1627
Hi,
This is the new endpoint: https://github.com/microsoft/botframework-sdk/blob/8e20eafae34bc9ddf3b830d6bea7424b46acf2dc/specs/botframework-protocol/botframework-channel.json#L671

It isn’t specific to Teams.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jonathan Fingold<mailto:notifications@github.com>
Sent: Friday, March 27, 2020 2:10 PM
To: MicrosoftDocs

[2020-03-27 22:04] JonathanFingold commented on #1627
Note's from our discussion off-line:
- The Swagger file is out of date. Andrew is checking with Dan about updating the copy on the botframework-sdk repo.
- I'll start drafting a section based on the Teams sample and the `Conversations.GetConversationMemberWithHttpMessagesAsync` method, which is the wrapper for the new endpoint.

[2020-03-30 06:54] tsubaki961 opened #1631 "Why isn't Step.4 an article?"
[Enter feedback here]
Because Step.4 is not an article, this step's link not exists.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a0b8671-359e-6026-fd3a-39331cea73f3
* Version Independent ID: 29bab4ad-243a-fb0a-99ed-d8336a92f648
* Content: [Develop DirectLine Speech Bot - Bot Service - Bot Service](https://docs.micr

[2020-03-30 18:43] mmiele commented on #1588
@Deon-v My apologies for the delay. I did follow the steps as described in the article and I did not get any error. Anyway, I fixed the documentation so it is easier to read and the steps are easier to follow. The updated version should be made public soon. I'll let you know as soon as it happens.

[2020-03-30 18:50] mmiele commented on #1613
@v-kydela  Hi Kyle, I did address the issue you described. Please, take a look a the following section
[Gather required configuration settings for your bot](https://review.docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-3.0&branch=pr-en-us-2042&tabs=adapter#gather-required-configuration-settings-for-your-bot) on the review site. Specifically, loo

[2020-03-30 19:47] v-kydela commented on #1613
@mmiele - I'm sorry but it doesn't look like I have access to the review site. The PR looks okay though.

[2020-03-30 21:39] JonathanFingold opened #1635 "QnA Maker how-to needs a little polishing"
The article contains links into the QnA Maker documentation; however, these do not fit very well in the flow of the article. (We could perhaps review and move such links into the additional information section.)

**Article**: Use QnA Maker to answer questions
**Link**: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs

**Issues**
1. Remove

[2020-03-30 23:44] emgrol commented on #1631
Thanks for pointing out the typo @tsubaki961, a fix for it will go live soon.

[2020-03-31 00:06] emgrol commented on #1628
duplicate of [issue 1483](https://github.com/MicrosoftDocs/bot-docs/issues/1483)

Hi @stevejwebb, I agree the name isn't clear. The article was renamed to "Manage dialog complexity" in [PR 1930](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1930), the change should go live soon.

[2020-03-31 11:59] geo-msft commented on #1630
Hi, I created a new Workplace trial and I have visible the admin panel now.

The UI is changed a bot, but I see the button "Create custom integration" [all good].

![image](https://user-images.githubusercontent.com/57954688/78023776-f05dfc00-735f-11ea-82bb-0c58294c27ea.png)

I still find it useful to separate the Facebook messenger integration from the Facebook workplace integration, for better fo

[2020-03-31 13:33] ToriParla opened #1636 "Working on web but not in Teams"
The sample is working for me on web, but not in Teams.

Any idea?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521a9f9a-025c-c55b-c939-d9d4efc5c6d0
* Version Independent ID: 3bcafb54-f7eb-54f5-1d78-5f2087e2e2dc
* Content: [Send proactive notifications to users - Bot Service - Bot Service](https://docs.microsoft.com/e

[2020-03-31 13:59] ToriParla commented on #1636
Don't know why, but it works re-installing the Teams app when the user started a conversation before having this feature deployed.
On users that installed the app after having this feature work well :)

[2020-03-31 13:59] #1636 closed

[2020-03-31 15:45] nathanbisges opened #1637 "Grammatical Error"
Missing a word in the 'Secrets and Tokens' section.

"the default behavior because allows Direct "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd0bdf8-7cb8-1f26-65a1-3876ea84351f
* Version Independent ID: bda6ce3a-f006-baaf-db50-82bd79afa6ab
* Content: [Authentication - Bot Service - Bot Service](https://docs.micro

[2020-03-31 21:33] emgrol commented on #1637
Thanks for letting us know about this grammatical mistake @nathanbisges. I've opened a [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2070) to fix it, the change should go live soon.

[2020-03-31 21:46] jwiley84 commented on #1629
I'm confused at the first portion of this:

There is nothing in the documentation that requires a virtual environment when deploying a python bot. A python bot is created in a container on Azure and doesn't require any form of venv.

One of the most common issues with deploying a python bot is this: A python bot will not work in a resource group that contains any other resources that requires wind

[2020-04-01 15:08] dipbanik opened #1639 "Cards through SlackAdapter"
I am trying to enable Prompts and Cards by using the Slack Adapter in C#. The article describes only about echo bot. Is there a way to enable them or is it still in the pipeline for development?

If there is, can someone redirect me to a reference article?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-77

[2020-04-01 15:25] dipbanik commented on #1588
@mmiele
I faced the same or similar issue when I did the Slack channel registration. I cleared the errors and they did not reappear. I thought that I might have made some config error while creating the channel or registering on Slack, but now I am having second thoughts. Anyhow, it worked fine for me although it registered those errors/issues initially. But since I was hosting using ngrok, the bo

[2020-04-01 16:02] JonathanFingold commented on #1639
This article outlines how to use the Slack adapter, along with the Bot Framework adapter. The adapters manage traffic between a bot and a channel, but do not include the bot's business logic.

The steps in this article can be used with any bot to add support for the Slack channel. Once you have created the Slack adapter, created the Slack controller, and updated Startup.cs; you can follow any of t

[2020-04-01 18:59] #1623 closed

[2020-04-02 10:34] WizX20 opened #1641 "Documentation incorrect: Do not use empty strings for AppId and Password"
**Describe the bug**
In the chapter [Disable security](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-authentication-problems?view=azure-bot-service-4.0#disable-security-localhost)

It is mentioned that for local development you should set the config values to empty strings:
[code]

<del>This in **incorrect**, the values should be set to **null**.</del>

Ok, this is ac

[2020-04-02 13:58] dipbanik commented on #1639
I modified the Handling attachments Bot (https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/15.handling-attachments) from the sample projects to use it with the Slack Adapter. I also used it with the Bot Channel Registration through Azure without making the Slack Adapter changes.
So I think the basic business logic to cover the prompts and a Hero Card was covered

[2020-04-02 16:07] JonathanFingold commented on #1639
One thing to try would be to add conditional code into your bot. If the activity came in on the Slack channel, then use a Slack-specific attachment; otherwise, use the Bot Framework hero card.

[2020-04-02 23:20] anusharavindrar commented on #1591
@tanetrail, can you please link the documentation you have followed? Also, can you elaborate on the steps? What macOS version are you on?

[2020-04-02 23:55] jbgh2 opened #1642 "Test your bot instructions don't match current Azure portal"
Instructions for testing bot in Azure are:

Ensure that your bot has been successfully deployed and is running.
Sign in to the Azure Portal.
Click My Bots.
Select the bot that you want to test.

Please update to match new portal UI

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc8a0643-f219-a48f-666e-95bc9f0f351c
* Ve

[2020-04-03 11:24] WizX20 commented on #1641
Ok, turns out I actually had a DI issue further down the line which caused some weird behaviour. Closing this.

[2020-04-03 11:24] #1641 closed

[2020-04-03 12:57] dipbanik commented on #1639
I understand your solution, however, my question is different - When I attach a Hero Card to a reply to a Slack Adapter, will I be able to visualize it in the slack app?

Currently I have two bots in slack -
1. one slack app connected to the slack adapter endpoint of my code.
2. second slack app connected to the Azure Bot Channel Registration endpoint of my code.

Both endpoints are subscribed to

[2020-04-03 15:51] JonathanFingold commented on #1639
This might be a bug in the SlackAdapter, then. I'll create an issue in the SDK repo and cross link it.

[2020-04-03 15:56] JonathanFingold commented on #1639
@dipbanik There is an existing issue that might be affecting you: botbuilder-dotnet [3593](https://github.com/microsoft/botbuilder-dotnet/issues/3593).

@v-kydela Can you comment on the issue in this thread?

[2020-04-03 16:47] weskroesbergen commented on #1328
@v-kydela I am getting this error when using virtual assistant & bot skills. SSO / tokens pass along fine to skills when using the Emulator, but fails using Teams. It looks like the post to GetSigninResource from the parent / calling bot is passing in the conversation ID of the skill bot, and I'm not quite sure how to override it. I get the signin/verify back to the parent / calling bot, but then

[2020-04-03 17:28] v-kydela commented on #1639
@dipbanik - The Slack adapter does not convert any Bot Framework cards to Slack blocks. You can see in the [source code](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Adapters/Microsoft.Bot.Builder.Adapters.Slack/SlackHelper.cs#L55-L67) that the Slack adapter only accepts attachments that are already Slack blocks, and if an attachment isn't in Block Kit form then only the th

[2020-04-03 20:22] #1483 closed

[2020-04-03 23:48] emgrol commented on #1572
Closing now that the changes are live.

[2020-04-03 23:48] #1572 closed

[2020-04-03 23:48] emgrol commented on #1573
Closing now that the changes are live.

[2020-04-03 23:48] #1573 closed

[2020-04-03 23:49] emgrol commented on #1579
Closing now that the changes are live.

[2020-04-03 23:49] #1579 closed

[2020-04-03 23:50] emgrol commented on #1602
Closing now that the changes are live.

[2020-04-03 23:50] #1602 closed

[2020-04-03 23:51] emgrol commented on #1620
Closing this since this issue does not pertain specifically to any documentation.

[2020-04-03 23:51] #1620 closed

[2020-04-03 23:51] emgrol commented on #1628
Closing now that the changes are live.

[2020-04-03 23:51] #1628 closed

[2020-04-06 07:23] agxs commented on #1464
Due to the recent changes MS made to change the response from typing indicators from 50x to 202 my bot is working again!

[2020-04-06 16:29] emgrol opened #1647 "Write to storage article out of date"
The [write to storage article](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-v4-storage) is out of date and needs updating. Found when resolving [issue 1598](https://github.com/MicrosoftDocs/bot-docs/issues/1598) in [PR 2071](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2071).

[2020-04-06 16:55] #1647 closed

[2020-04-06 22:54] mmiele commented on #1560
Documentation has been updated to eliminate some confusion.

[2020-04-06 22:54] #1560 closed

[2020-04-06 22:55] mmiele commented on #1613
Documentation has been updated.

[2020-04-06 22:55] #1613 closed

[2020-04-06 22:59] mmiele commented on #1588
Documentation has been updated.

[2020-04-06 22:59] #1588 closed

[2020-04-06 23:42] #1607 closed

[2020-04-06 23:43] #1616 closed

[2020-04-06 23:43] #1627 closed

[2020-04-07 15:02] dipbanik commented on #1639
Thank you for the clarification.

[2020-04-07 15:02] #1639 closed

[2020-04-08 01:42] dipbanik opened #1648 "Could you add the steps to debug a bot using VS Code and C# ?"
I would like to debug my bot using VS Code rather than Visual Studio. I would love to see the steps listed down on this page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 134459a0-37b2-3111-06e2-71feb2b45e3c
* Version Independent ID: 3efc8cdb-f0a0-40ae-577c-348890233aa4
* Content: [Debug a bot - Bot Service - Bot Ser

[2020-04-08 15:19] anusharavindrar commented on #1591
Closing the issue due to no response. Feel free to reopen if you have need to get this resolved.

[2020-04-08 15:20] #1591 closed

[2020-04-09 05:52] abhi23arora commented on #1550
Hi.. did anybody solve this issue?

[2020-04-09 08:01] jnaman509 opened #1649 "Send Proactive msg when user is idle"
I am using bot framework sdk 4 in which i need to send message to user in between the conversation if user is idle or user is in sleep mode from last 30 sec. so how can i do this using proactive message. or is there any other way to do this. i hope you understood my problem.

[2020-04-09 09:37] nebhagat opened #1650 "`state.botframework.com` Entry in whitelist URLs FAQ"
`state.botframework.com` is listed under [FAQ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0#which-specific-urls-do-i-need-to-whitelist-in-my-corporate-firewall-to-access-bot-framework-services) **Which specific URLs do I need to whitelist in my corporate firewall to access Bot Framework services**

bot framework state service

[2020-04-09 15:35] JonathanFingold commented on #1649
Have you looked at the how to [send proactive notifications to users](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-proactive-message) article already?

Your solution will depend on the environment in which your bot is deployed. One way to do this would be to define a separate service that your bot can log user activity to. The service would have the timer logic and notify the bot

[2020-04-09 15:57] JonathanFingold commented on #1650
@nebhagat `state.botframework.com` may still be needed by some older bots for backwards compatibility. I'll update the FAQ to be clear on that point, to be less confusing.

[2020-04-10 05:17] nebhagat commented on #1650
Thanks!

[2020-04-10 05:17] #1650 closed

[2020-04-10 05:34] nebhagat opened #1651 "Whitelist bot framework URLs to access Bot Framework services"
`*.botframework.com` is listed under [FAQ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0#which-specific-urls-do-i-need-to-whitelist-in-my-corporate-firewall-to-access-bot-framework-services) **Which specific URLs do I need to whitelist in my corporate firewall to access Bot Framework services**

Getting below response from the

[2020-04-10 13:54] vbatr commented on #1595
Looks like my original request is not really valid as we need to use different endpoint to get admin privileges.
So to get user consent we need to call -
https://login.microsoftonline.com/common/oauth2/v2.0/authorize?
client_id={client_app_id}
&response_type=code
&redirect_uri={redirect_uri}
&response_mode=query
&scope={delegated_scopes}
&state={state}  (more detials [here](https://docs.microsoft.

[2020-04-10 13:54] #1595 closed

[2020-04-10 14:12] fuytters opened #1652 "Support for API Gateway for outbound Bot API traffic"
Today the documentation advices to open firewall rules to several URLs for outbound traffic. We would like to avoid this, if at all possible. Inbound we have managed to configure using our API Gateway.

When using the Bot framework (SDK) is there any support / guidance for channeling both inbound as well as outbound (REST) API's via an API gateway? E.g. Azure API Management? Or other?

If not, wha

[2020-04-10 16:26] jwiley84 commented on #1629
Hi @CeciAc Is the customer still having issues with this?

[2020-04-10 17:25] arizonawayfarer opened #1653 "WebEx instructions appear to be wrong.."
In order to create the webhook so the bot will receive messages and do stuff with them, you have to use a POST, not a PUT.  PUT is for updating an existing webhook.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e61be5-e537-8678-f907-10f27ea7bf90
* Version Independent ID: e2a9d88e-0819-9de5-d6f8-48bf7b270685
* Conten

[2020-04-11 06:19] xtianus79 opened #1654 "Can you guys please git rid of the ARM section. It is completely confusing and I don't understand why it's not realized"
Again, I keep alerting you guys that the directions don't take into consideration that you could already have an app id setup or how to even setup one in the portal.

I literally came back and did the same mistake I did a year ago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Ver

[2020-04-12 03:55] meetshamir opened #1655 "Python is now GA"
This needs correction
(SDKs for Java and Python are under development.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6838575c-d2fc-65e3-98c2-0b35992c10b2
* Version Independent ID: 2b5dc3fc-49c0-7cd2-e6e1-4ced8da6c5f9
* Content: [Azure Bot Service Introduction - Bot Service - Bot Service](https://docs.microsoft.com/en

[2020-04-12 04:00] meetshamir opened #1656 "Bug in the image?"
Activities arrive at the bot from the Bot Framework Service via an HTTP POST request. The bot responds to the inbound POST request with a 200 HTTP status code. Activities sent from the bot to the channel are sent on a separate HTTP POST to the Bot Framework Service. This, in turn, is acknowledged with a 200 HTTP status code.

The above section explains that activities sent from the bot to the BFS

[2020-04-12 08:53] manoj1201 opened #1657 "carousel adaptive card limit in azure bot SDKv4"
Dear Team,

I an facing elementary issue. I want to show search into carousel card. I used adaptive card to design the required display and  added adaptive card as attachment to carousel card. If my carousel card contain less than 60 attachment as adaptive card, then azure bot works fine else start breaking.

On the other hand, if i use emulator with 150 attachment as adaptive card in carousel car

[2020-04-12 14:37] alpaltnsy opened #1658 "How to develop a bot locally?"
Hi,

I know this question was asked before but I could not find a solution for this problem anywhere. I downloaded the .zip file of the bot source code. But now I do not know which .cs file (or any other file) should I open in Visual Studio to edit the source code. Which file should I open to develop my bot locally?

Thanks!
![Capture](https://user-images.githubusercontent.com/57771607/79071382-b9

[2020-04-12 15:51] heyyudao opened #1659 "dotnet publish --configuration Release --runtime win-x86 --self-contained issue"
Hi, when i run command dotnet publish --configuration Release --runtime win-x86 --self-contained
i get MSBUILD : error MSB1003: Specify a project or solution file. The current working directory does not contain a project or solution file.
this issue. anyone can help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d9

[2020-04-13 07:57] scut-salmon commented on #1512
Hi, I meet the same problem using web chat, but could test successfully with my bot emulator locally. Do you know what how can I solve it?
![image](https://user-images.githubusercontent.com/20534039/79103565-6a01db00-7d9f-11ea-8749-4c8870996db3.png)

[2020-04-13 08:02] ras232 commented on #1657
Hi,
I am also facing same issue in adaptive card loading in carousel.
![image](https://user-images.githubusercontent.com/46454202/79102472-70388d00-7d88-11ea-879f-c2624f6d56ac.png)

the card i have designed  has one image and some texts.
The system is breaking, it is throwing error "Operation returned an invalid status code 'BadRequest'" when the number of cards on the attachment is more than/equa

[2020-04-13 16:17] rmillman opened #1660 "az deployment create is being deprecated, please update the deployment step based on MS feedback. When I deploy based on what's provided, I get the warning below."
This command has been deprecated and will be removed in a future release. Use 'deployment sub create' instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version Independent ID: 8bf74926-6a35-5753-0a1a-6663ba5965b2
* Content: [Deploy your bot - Bot Service - Bot Service](https

[2020-04-13 21:07] dmvtech commented on #1651
Hi @nebhagat

To clarify; you want to have a list of specific hostnames to whitelist instead of the wildcard `*.botframework.com` ?

Regarding the 503; was that an error you were getting previously before whitelisting `msteams.botframework.com`?

[2020-04-14 04:02] biswanathptr2424 commented on #1651
Before white-listing the error was ,
**curl: (6) Could not resolve host: msteams.botframework.com; Unknown error**

[2020-04-14 16:24] Zerryth opened #1661 "Full list of terminal Dispatch commands"
We should include a link to the full list of Dispatch commands that the SDK team published on the botbuilder-tools repo somewhere in this document.

Specifically this is because a customer reached out to the SDK team, asking if there was even a command that existed that could update an existing Dispatch file [#1429](https://github.com/microsoft/botbuilder-tools/issues/1429), as after reading this

[2020-04-14 17:27] v-kydela commented on #1657
Linking to duplicate issue: https://stackoverflow.com/questions/61169845/adaptive-card-limit-in-carousel-i-e-azure-bot-framework-sdkv4

Web Chat is a Direct Line client. From the [Direct Line documentation](https://docs.microsoft.com/da-dk/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-api-reference#activities):

When it says "consider using attachments" it means attachments that ar

[2020-04-14 17:40] emgrol commented on #1655
Thanks for pointing this out @meetshamir, the doc will be updated soon.

[2020-04-14 17:47] Zerryth commented on #1661
Update: I see now that this article DOES mention the "dispatch add" command! Which is great. :D
I suppose just a reference link to the botbuilder-tools is still "useful" but not dire then :)

[2020-04-15 05:01] xtianus79 opened #1662 "When does the 6 digit code get created vs not? I would like control or awareness of this"
Is there a way to know if the 6 digit code is coming up for this because the UI is horrible and the user has no idea what it means. The UI / UX could use a serious update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9a43e68-83a3-1adc-0c55-e277ddb98c6b
* Version Independent ID: 5c46848d-bc20-480e-4571-00a283d930a2
*

[2020-04-15 11:33] pauldj54 opened #1663 "Order of the steps is confusing"
Hi everyone,
even when I find this tutorial great, I will reorganize it.
For instance:
- First of all I would install the cookiecutter module and download the code
- After that I would install all the dependencies
- You are telling to find the last line of a command you issue in a later step
Hope that helps,
Paul

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-04-15 12:48] mnpaa opened #1664 "Deploy via ARM template (with existing Resource Group) - Document Update"
In this case, we are using an existing App Service Plan, but creating new a Web App and Bot Channels Registration.

should be

"In this case, we are using an existing App Service Plan, but creating a new Web App and Bot Channels Registration."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e

[2020-04-15 21:07] xtianus79 commented on #1662
@JonathanFingold it's the 6 digit code returning for verification rather than the token being received automatically. it seems random.

[2020-04-15 21:23] aecceyhan opened #1665 "Just Advise, Not Bug: Change "Documentation Example" -> "cURL""
When I copy http example from (https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0) it is not copy as cURL

![image](https://user-images.githubusercontent.com/17556123/79389792-55783b00-7f77-11ea-9e28-5d91a06c0cb3.png)

if you change this thing to curl command we can just basically copy-paste to postman

![image](https://us

[2020-04-15 21:29] erenakbltt commented on #1665
Yes, I agree. If the documentation have a cURL string, anyone can develop their bots much faster

[2020-04-15 21:30] pauldj54 opened #1666 "Error Code 400 with NodeJs and 500 with Python"
**Describe the bug**
I unsuccessfully followed both, the nodejs and python tutorials.
When I run the app using nodejs and open the url (http://localhost:3978/api/messages) in my browser I get: `{"code":"MethodNotAllowed","message":"GET is not allowed"}`
When I try to connect the bot emulator:
![image](https://user-images.githubusercontent.com/706754/79390660-696c6e80-7f70-11ea-9a3e-0e569d96bfbf.pn

[2020-04-15 22:08] NathofGod opened #1667 "Errors using Node JS"
I have a bot up and running using MS Teams using the Node TS SDK. Going through the instructions here the messages never hit the backend, is there something I need to do.

There are no "Slack Adapters" that I can see for Node JS?

[2020-04-16 12:09] pauldj54 commented on #1666
Since I am working in my company laptop, even when I am connected to my home network and I disabled the proxy settings (env variables, npm, git, conda, etc) I suspected there could be something wrong with networks, firewall rules, etc.
Therefore I started a fresh VM in Azure and tried again.
This time everything ran smoothly.
However, I would like to know which settings I have to modify in order t

[2020-04-16 16:00] mmiele commented on #1604
Docs have been updated.

[2020-04-16 16:00] #1604 closed

[2020-04-16 16:14] #1649 closed

[2020-04-16 20:52] mmiele commented on #1664
@mnpaa The sentence you suggest is the same as the one in the article. Could you please advice? Thanks

[2020-04-16 21:38] JonathanFingold commented on #1659
@heyyudao Did you build the project before running the `dotnet publish` command?

[2020-04-17 00:45] emgrol commented on #1663
Thanks for the suggestion @pauldj54, and I agree that reordering the steps is a good idea. The update to the article will go live shortly.

[2020-04-17 10:14] mnpaa commented on #1664
I guess it should be "a new Web App" in-spite of "new a Web App". It's a minor one!

[2020-04-17 12:33] nuno1000 commented on #1531
i'm having an issue exactly in this section..
i followed the instructions to add the knowledge base information in the .env file, but when i tested the bot locally it gives me this error:
"[onTurnError] unhandled error: TypeError: Cannot read property 'endsWith' of undefined"

also, if i comment this part in the code and just send an echo message (for example) it works well..

this are an example

[2020-04-17 14:24] niks3089 commented on #1325
Unable to use telemetry without this

[2020-04-17 16:39] #1611 closed

[2020-04-17 16:40] emgrol commented on #1637
Closing now that the fix is live.

[2020-04-17 16:40] #1637 closed

[2020-04-17 16:41] emgrol commented on #1631
Closing now that the link fix is live.

[2020-04-17 16:41] #1631 closed

[2020-04-20 11:31] nuno1000 commented on #1531
well, the issue was solved, probably it was a word mistype.. nothing to do with KB data format

[2020-04-20 15:41] mmiele commented on #1654
@xtianus79 Thank you for contacting us and for your persistence.
Would you mind to elaborate more on the issue you are describing? It will help us to address the problem better. Thanks

[2020-04-20 15:45] JonathanFingold commented on #1667
For now, the slack adapter is only available in the C# SDK. I'm not sure what the schedule is for porting it to the other languages. You can submit a feature request in the **microsoft/botbuilder-js** repo using the [issues](https://github.com/Microsoft/botbuilder-js/issues) tab.

I'll update the Slack article to mention this limitation.

[2020-04-20 16:15] xtianus79 commented on #1654
@mmiele thanks for your reply. The problem and since i've done it twice i can assure you this is the confusion. The problem is when you go and create a bot from a different tutorial and it goes through the portal is already creates an app registration and it already creates the service and service plan. So when you go down these instructions that aren't portal based at all you may not realize you'

[2020-04-20 17:03] dmvtech commented on #1651
Hi @biswanathptr2424

Please clarify; you were receiving the error before whitelisting, but after whitelisting; it works. Correct?

Did you whitelist `*.botframework.com` or `msteams.botframework.com`?

I'm unclear on what you are asking for.

[2020-04-20 17:16] biswanathptr2424 commented on #1651
Hi,
From open network msteams.botframework.com was used .

On Mon, Apr 20, 2020, 10:33 PM Dana V <notifications@github.com> wrote:

[2020-04-20 19:48] #1657 closed

[2020-04-20 22:57] dmvtech commented on #1651
After more investigation, msteams.botframework.com will not work. Each Teams tenant will have it's own endpoint and will vary. Teams will use `smba.trafficmanager.net` will be what is used, least some cases, so whitelisting `*.botframework.com` certainly isn't a whole story/solution.

I'll see if i can find more info.

@emgrol I think documentation should be revised for this scenario (MS Teams)? M

[2020-04-22 00:18] dmvtech commented on #1651
You can try using the following to test smba:
`curl https://smba.trafficmanager.net/ping`

To successfully whitelist for teams, you could whitelist `*.botframework.com` and `smba.trafficmanager.net`

[2020-04-22 00:18] #1651 closed

[2020-04-23 17:41] dmvtech commented on #1629
Closing as no updates/action.

[2020-04-23 17:41] #1629 closed

[2020-04-24 02:48] dipbanik opened #1669 "Using adaptive cards to accept user inputs"
I am searching for a way to use cards to accept user text field inputs. While conversational user inputs are great, there are cases where we would want the user to simply fill out a form in the chat. For example, I want to collect the Name, age and phone number of the user. Having a form would be an efficient way of communicating, saving multiple turns.
What would be the recommended way to impleme

[2020-04-24 20:37] JonathanFingold commented on #1669
This is still an open question in the SDK ([botbuilder-dot-net issue 614](https://github.com/microsoft/botbuilder-dotnet/issues/614)). However, there is some sample code in that discussion for using an Adaptive Card within a dialog.

With the next release of the Bot Framework, you should be able to use the new adaptive dialogs to accomplish this. You can read about the preview features in the botf

[2020-04-24 20:37] #1669 closed

[2020-04-26 07:01] StevieBleeds commented on #1550
I've been receiving this error as of this morning and have changed absolutely nothing.

[2020-04-26 07:37] Santhosh0505 commented on #1578
This package has been deprecated, Can you please suggest me an updated reference ?

[2020-04-26 07:55] Santhosh0505 opened #1670 "Unable to follow the steps mentioned in the doc, since the Microsoft.Bot.Builder.StreamingExtensions is depricated."
According to the documentation and previous issues mentioned on this doc, it is showing that I need to use Microsoft.Bot.Builder.StreamingExtensions in my Bot Framework Project, but as per the current status it is depricated and I am not able to run the example solution which @mmiele has mentioned. Can you please update the documentation steps as per the current status of it. So that I can connecc

[2020-04-26 19:49] alextse commented on #1670
same here

[2020-04-27 09:31] pfjtaylor opened #1671 "Web Chat in Internet Explorer 11 link broken"
Hi, in 'Browser Compatibility', the link for 'Web Chat in Internet Explorer 11' is broken.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8fcc136-2176-535a-05f4-6423bfafbd67
* Version Independent ID: e0636491-0acf-5577-0313-80d3c9006131
* Content: [Web Chat overview - Bot Service - Bot Service](https://docs.microsoft.

[2020-04-27 15:45] mmiele commented on #1664
The fixed article will be in the next published documentation.

[2020-04-27 15:51] mmiele commented on #1463
A note added to the article. It will be in the next published documentation.

[2020-04-27 15:51] #1463 closed

[2020-04-27 16:01] mmiele commented on #1659
Fix available in the next published documentation.

[2020-04-27 16:01] #1659 closed

[2020-04-27 17:52] #1667 closed

[2020-04-27 18:08] linceaerian opened #1672 "Virtualenv"
Hello,
Should you not recommend to use a virtualenv in place of installing the pip packages ?

virtualenv -p `which python3` venv
source venv/bin/activate

Regards

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content

[2020-04-27 19:49] Jay-study-nildana opened #1673 "At least one non-microsoft OAuth example should be included"
[Enter feedback here]

I just spent what seems like an entire day trying to get a simple google login to work for the bot framework with Google as a OAuth provider. If you dont want to use a non-Microsoft service, at least, include an example for Github login.

I am surprised that the tutorial talks nothing about linking to a user flow on B2C., either really, just not cool :( I see this in a ton o

[2020-04-28 16:35] emgrol commented on #1598
Closing now that the changes have been merged live.

[2020-04-28 16:35] #1598 closed

[2020-04-28 23:26] emgrol commented on #1672
Hi @linceaerian, a virtual environment is recommended but not necessary. I'll add a suggestion to the article.

[2020-04-28 23:34] emgrol commented on #1666
Hi @pauldj54, I was able to successfully follow the instructions in the tutorial (both on my local machine and in a virtual environment) so I don't think the documentation is the source of your issue. Closing this issue now.

[2020-04-28 23:34] #1666 closed

[2020-04-29 17:37] danieldangler opened #1675 "Cant read/write in the Blob storage Container"
Hey dev-team,
i wanted to use this Tutorial (https://docs.microsoft.com/de-de/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp) to write some text in my blob storage
container. But everytime i write something to the bot i get both of the Error messages:

![emulator](https://user-images.githubusercontent.com/39704877/80627149-bf9cdf80-8a4f-11ea-99b3-b700043e73ed

[2020-04-29 17:50] danieldangler commented on #1675
Hm i already see that the Article is maybe out of date

[2020-04-29 18:27] emgrol commented on #1671
Thanks for pointing out this broken link @pfjtaylor. I updated it in [PR 2086](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2086), the change should go live shortle. Here's a link to the [ES5 bundle](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/c.es5-bundle) and [demo](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/c.es5-bundle/

[2020-04-29 21:22] clearab opened #1676 "Add Python"
We should add a Python tab for these.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0a7a652-1a73-79a8-515e-5d1cc1de47fb
* Version Independent ID: b1668900-477b-c2f6-9a06-33171bd911ab
* Content: [How bots for Microsoft Teams work - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-basics-team

[2020-04-30 06:44] Jay-study-nildana commented on #1673
Quick Update

I was able to get Google and GitHub working (not in the original tutorials). More details available here.

https://github.com/microsoft/BotFramework-Emulator/issues/2134

However, these solutions bypass Azure B2C, which is what I really would like to use. If that can be included, especially linking to a user flow, (so then we can use any flow we want as per our requirement), that wou

[2020-05-01 10:42] jerry-le opened #1678 "member.name return None after user installs the Bot"
The event data when a user installs the Bot doesn't return the user's name.
[code]
&gt;&gt; Hello None and welcome!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 534e4b75-75fe-bdf9-5978-e75852a66390
* Version Independent ID: 92b81bb4-b10c-ca88-ed2f-a1537f460075
* Content: [Send welcome message to users - Bot Service -

[2020-05-03 05:16] garylirocks opened #1679 "Does the Token Service handle token refreshing as well ?"
Hi, trying to understand how the Token Service works, the document says it caches a token, does it handle token refreshing as well ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ddf2089c-a313-0abf-2ed3-8d7db5c4f677
* Version Independent ID: f0b3a9ce-b1e3-7b3d-15a9-0b9e032aa4bd
* Content: [User authentication in the A

[2020-05-04 17:36] JonathanFingold commented on #1679
The Token Service does not auto-refresh expired tokens at this time.

[2020-05-05 06:07] Chekrii opened #1680 "How to Enable telemetry for Dispatcher LUIS model"
Hi All,

I have followed the documentation:- [Link][1] to enable telemetry in Dialogs and Luis application.
But the model we are using is Dispatcher Luis Model, so if I am using LuisRecognizerOptionsV3,
and enable telemetry, In [powerBI  dashboard][2] of Virtual assistant it is showing only Child Luis apps as Intent than the actual Intent.(example:- I_ChidLUISIntet than GenericGreetingHI, GenericG

[2020-05-05 07:38] manutero opened #1681 "Wrong link for conversationUpdate"
At **Additional resources**, the link **conversationUpdate** is pointing to `https://docs.botframework.com/node/builder/chat-reference/interfaces/_botbuilder_d_.iconversationupdate.html` which ends up at the index page of the doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cec233fe-c1dc-ad1e-bc7c-33c8c9a3f317
* Ver

[2020-05-06 11:09] BetaLixT opened #1682 "Errors following Connecting a bot to Twilio"
I'm following the connecting to a bot to twilio document

I managed to install the Microsoft.Bot.Builder.Adapters.Twilio nuget package however when I try creating the controller this line
`await _adapter.ProcessAsync(Request, Response, _bot);`
Gives me an error saying
`Severity	Code	Description	Project	File	Line	Suppression State
Error	CS7036	There is no argument given that corresponds to the requ

[2020-05-06 23:55] haacked opened #1683 "Tip to subscribe to Bot Events in Slack is misleading"
In [the docs for adding a bot to Slack](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs), there's the following tip.

This is misleading because the bot handle isn't in the _App Service_, it's in the _Settings_ pane for the __Bot Channels Registration__. It took me a while to realize this.

---
#### Document Details

⚠ *Do no

[2020-05-07 04:42] kesavanpurushothaman opened #1684 "New Workplace Bot"
New custom integration app created in Workplace is disabled by Workplace citing Azure Bot Services is not supported now.

What are the steps to create new Workplace bot using this facebook adapter.?
Please confirm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0199d414-87e1-e32d-b528-ee9d2e03c54e
* Version Independent

[2020-05-07 04:45] kesavanpurushothaman commented on #1684
![image](https://user-images.githubusercontent.com/43205631/81255559-8ebe3b00-904b-11ea-87bf-6f5fceca3116.png)
Reason from Workplace.

[2020-05-07 12:38] iMicknl commented on #1325
@garypretty do you know if this is still necessary with all the changes coming, or is my request obsolete already.

[2020-05-07 15:12] js1016 opened #1685 "System.Net.WebSockets.WebSocketException: 'Unable to connect to the remote server' when connecting to standalone Azure App Service (bot application)"
I followed the document to create the .NET client to connect to Direct Line App Service Extension.
It works fine with my Web App Bot where its App Service was created as a template when I created the Web App Bot: [(https://joji-load-test-bot.azurewebsites.net/.bot/)](https://joji-load-test-bot.azurewebsites.net/.bot/)

But it throws error: System.Net.WebSockets.WebSocketException: 'Unable to conne

[2020-05-07 15:15] #1685 closed

[2020-05-07 15:15] js1016 commented on #1685
I need to link this to the specific document

[2020-05-07 15:16] js1016 opened #1686 "System.Net.WebSockets.WebSocketException: 'Unable to connect to the remote server' when connecting to standalone Azure App Service (bot application)"
I followed the document to create the .NET client to connect to Direct Line App Service Extension.
It works fine with my Web App Bot where its App Service was created as a template when I created the Web App Bot: (https://joji-load-test-bot.azurewebsites.net/.bot/)

But it throws error: System.Net.WebSockets.WebSocketException: 'Unable to connect to the remote server' when connecting to a standalo

[2020-05-08 01:00] gabrielmdeal opened #1687 "How do service URLs map to users, teams and tenants?"
I would love for this documentation to explain how a `serviceUrl` maps to tenants, teams and users. This would help me understand how to best model my data and it would help me understand whether I can use the service URL from user 1 to send a message to user 2.

If I get a service URL from a conversation update from a user in team ID TEA1 and tenant ID TEN1 , then:
1. Can I use that service URL f

[2020-05-08 02:05] adamist521 opened #1688 "Azure BotService serves adaptive card png at public url when sent to Slack(and probably other channels rendered to png as well)"
I am sending Adaptive card to Slack via Azure Bot Service.
Problem is that adaptive-card rendered image is served publicly when Azure bot service sends adaptive-card image to Slack.

Is there anyway I could secure information sent via adaptive card so that only people who can see the image is the people who can see it on Slack?
I thought it should be at least mentioned at document.

Following shou

[2020-05-09 13:32] dorijan277 opened #1689 "Dispatch Create region issue"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to CMD, dispatch init(with region west europe)
2. Then ADD LUIS for Weather and Home Automation and QnA with appropriate key's, and id's
3. When running Dispatch Create the LUIS application work fine.
4. The error is shown because of the wrong request url(westus instead of westeurope!)

 **Expected behavior**
Withouth adding qna segment the d

[2020-05-09 15:39] dorijan277 commented on #1689
So for some reason my qna cognitive service is west us, and every other service is west europe, so this was not an issue, the (key and id was the problem), i put the id from QnA maker site (from postman), and the key is one of the two keys from azure portal. Now the .dispatch file has been generated without the error.

[2020-05-09 15:39] #1689 closed

[2020-05-09 20:57] aosolis opened #1690 "Instructions for multitenant apps are incorrect"
"When creating the Azure AD app if you selected either Accounts in this organizational directory only (Microsoft only - Single tenant) or Accounts in any organizational directory(Microsoft Azure AD directory - Multi tenant) enter the tenant ID you recorded earlier for the AAD app."

- For "Accounts in any organizational directory", this won't work, because this will ask the user in the other tenan

[2020-05-10 20:46] EddieGranados opened #1691 "Instructions Aren't Working"
Create a bot section requires to install -r requirements.txt but file hasn't been placed in folder and this throws an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d5bd35d-3178-42cd-2893-3b6a4b7a94ce
* Version Independent ID: 1545fd44-d471-d947-f94d-4b5e8d6e853f
* Content: [Tutorial to create and deploy a basi

[2020-05-10 20:48] EddieGranados opened #1692 "Section Update, Step 3 Isn't working"
It is asking to modify  BOT = MyBot() to BOT = MyBot(APP.config), causing an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 466e4935-993f-ed61-0446-c6eff7310572
* Version Independent ID: 50fe83f8-c261-0bbe-5b8e-910ee27f17dc
* Content: [Azure Bot Service tutorial to have a bot answer questions - Bot Service - Bot

[2020-05-11 03:10] jerry-le opened #1694 "How can I init a context when sending a message?"
"When an adapter receives an activity, it generates a turn context object."
AFAIK, this context should be used when sending a response message to the user. The problem is, the logic between receiving a request and sending a response in my application is quite complicated and I am handling it manually without using the ActivityHandler.
I don't want to pass the TurnContext object to the whole logic

[2020-05-11 04:10] jerry-le commented on #1694
I got the answer here: https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/conversations/send-proactive-messages

[2020-05-11 04:10] #1694 closed

[2020-05-11 16:59] #1678 closed

[2020-05-12 16:47] clearab opened #1698 "Outdated content"
The repositories linked to in the sections described below all appear to be dead projects. I believe these sections should be removed from this doc:

- [x] What are some community-authored dialogs?
  - BotAuth - Azure Active Directory authentication
  - BestMatchDialog - Regular expression-based dispatch of user text to dialog methods
- [x] What are some community-authored templates?
  - ES6 BotBu

[2020-05-13 10:49] pranjalpandey22 opened #1699 "Standard way to have dispatch work for 2 languages"
Hey, I have a LUIS app and 2 QnAMaker resources. The second QnAMaker resource has language culture of Arabic - I want to know the best practices when it comes to managing such an architecture using dispatch. I know that dispatch itself is a LUIS app with its own culture, hence I can't simply use a single dispatcher which sits on top of the 3 aforementioned resources.
Kindly let me know!

[2020-05-14 00:40] cfl81 opened #1700 "pip3"
If you want to use python3+ to install the packages you need to use pip3 install packageName, please update.
Tks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python

[2020-05-14 07:09] mahendra48 opened #1701 "How should i connect my bot to c# application(unregistered channel) using direct line?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ed1f3a8b-7e5f-c008-6e02-5970c558afdf
* Version Independent ID: 92f45b5e-e643-8125-70ab-70dab613bb77
* Content: [Start a conversation - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-lin

[2020-05-14 08:17] satheeshWMS opened #1702 "unable to start API server using this code let server = restify.createServer();"
node version 10.14.0

[code]

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96480c73-7d45-884e-ba91-41597d465da0
* Version Independent ID: e677d278-e69f-bff7-0db3-3dc0835aa136
* Content: [Bot Framework SDK for Node.js - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-bui

[2020-05-15 15:07] asp1egui commented on #1325
for javascript you can use this example https://docs.microsoft.com/en-us/azure/azure-monitor/app/nodejs, there is a doc for python too. Don't know why they put there when they could have put it here tho

[2020-05-18 19:02] shram2k commented on #1613
I could not make https://1940e052.ngrok.io/api/slack in slack api portal. It says "Your URL didn't respond with the value of the challenge parameter."

[2020-05-18 19:06] shram2k commented on #1683
I am trying to use events for slack. I was following slack adapter using ngrok locally. After Enable Events toggle On, I was setting up Request Url as https://1940e052.ngrok.io/api/slack but slack portal says "Your URL didn't respond with the value of the challenge parameter.". Could you please help?

[2020-05-19 17:12] JonathanFingold commented on #1670
Sorry for the long delay. The Microsoft.Bot.Streaming library was released, and I'm guessing this is why the StreamingExtensions library is deprecated. I'll review the article and make updates.

[2020-05-19 17:22] Santhosh0505 commented on #1670
Thank you for the update, please post the update here once you confirm.

[2020-05-19 17:44] #1679 closed

[2020-05-19 18:03] JonathanFingold commented on #1681
Here's a link to [IConversationUpdate](https://docs.microsoft.com/en-us/javascript/api/botbuilder/iconversationupdate?view=botbuilder-ts-3.0). I'll fix the article.

[2020-05-19 18:15] mmiele commented on #1670
@Santhosh0505 I am looking into this. Some documentation updates are needed. In the meantime, please refer to this article: [Configure .NET bot for extension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0).

[2020-05-19 18:15] JonathanFingold commented on #1681
PR 2144 will fix the broken links. Thanks.

[2020-05-19 18:22] JonathanFingold commented on #1698
@clearab , do we have replacement content, or should I just remove these two topics from the FAQ?

[2020-05-19 19:11] clearab commented on #1698
I'm not sure, I think they are just dead? @sgellock do you know what these are?

[2020-05-19 20:33] tracyboehrer opened #1705 "Outdated "Python samples for Bot Framework SDK""
The document at:

https://docs.microsoft.com/en-us/azure/bot-service/python/bot-builder-python-samples?view=azure-bot-service-4.0

Refers to outdated info.  Python Preview instructions.

[2020-05-19 22:23] v-kydela opened #1706 "Unclear what you mean by UUID"
Under [Test your bot locally](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-debug-inspection-middleware#test-your-bot-locally) it says:

I am interpreting UUID as GUID, which would mean the 16-byte identifier. Pasting the UUID does not seem to have an effect on the debugger. Did you mean for us to paste the entire command rather than just the UUID?

You might have meant to imply t

[2020-05-19 22:32] zxyanliu commented on #1706
Hi @v-kydela
Thanks for reporting the issue. Let me look into it (has been a while...) and get back to you soon.

[2020-05-19 22:53] zxyanliu commented on #1706
@v-kydela I think both UUID and GUID are 128-bit (16-byte) numbers and they seem to be quite similar. However, I saw some [comments on their similarities/differences](https://stackoverflow.com/questions/246930/is-there-any-difference-between-a-guid-and-a-uuid) where people say that "In Microsoft-speak they are called GUIDs, but call them UUIDs when not using Microsoft-speak".

To avoid confusion t

[2020-05-19 23:00] v-kydela commented on #1706
Now that you've clarified that UUID and GUID do indeed mean the same thing, I am unconcerned with which one you pick. But the screenshot in step 5 shows the debugger window. It does not show anything having been pasted anywhere.

[2020-05-19 23:07] emgrol commented on #1691
Hi @EddieGranados, I can see the steps are out of order. You need to run `pip install -r requirements` _after_ your bot has been created. I updated the article in [PR 2096](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2096) to address the confusing steps. The changes should go live soon.

[2020-05-19 23:20] emgrol commented on #1700
Hi @cfl81 , pip vs. pip3 is installation specific and out of the scope our documentation. Closing this issue since there are no documentation issues.

[2020-05-19 23:20] #1700 closed

[2020-05-19 23:22] emgrol commented on #1672
Added a suggestion to use virtual environments in [PR 2096](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2096).

[2020-05-19 23:41] zxyanliu commented on #1706
I was wondering if you see step  4.

Did you paste it to the chat box of the first emulator?

[2020-05-20 09:09] fifteenjoy opened #1707 "I get {"v":"*****","k":true,"ib":false,"ob":false,"initialized":true}"
[Enter feedback here]
After following the document.
I got
{"v":"****","k":true,"ib":false,"ob":false,"initialized":true}
**ib and ob is false**

Can anyone tell me how to fix this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independent ID: 30a3fce8-d236-5c7b-88a0-003c9

[2020-05-20 15:23] v-kydela commented on #1706
@zxyanliu - Please read the step and my post more carefully. In the step it says "Copy the UUID" and not "Copy the whole command." In my post it says:

I understand that you are supposed to copy the command from the debugging Emulator and paste it into the first Emulator. I am trying to help you improve the misleading documentation that does not say to do that. You had mentioned that the screensho

[2020-05-20 16:22] zxyanliu commented on #1706
Hey @v-kydela
I am sorry for the confusion. I have made some updates in [PR2147](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2147).

Thanks again for your report to help us improve. : -)

[2020-05-20 18:36] TheFrogDaddy opened #1708 "az bot prepare-deploy does not create 2 web.configs as noted."
When running command `az bot prepare-deploy --code-dir "." --lang Typescript` it only creates a web.config in the root and not in the src.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version Independent ID: 8bf74926-6a35-5753-0a1a-6663ba5965b2
* Content: [Deploy your bot - Bot

[2020-05-20 22:41] JonathanFingold commented on #1705
Fix is in PR. I've [fully] retired this page and redirected to the samples repo, which is what the node in the current TOC does.

[2020-05-21 06:30] ammarh85 opened #1709 "Missing url that needed to be whitelisted"
Under he FAQ Question: "Which specific URLs do I need to whitelist in my corporate firewall to access Bot Framework services?"
There is a domain missing which we had to whitelist when trying to call the bot service:
 - login.windows.net

Assuming this domain too is needed and has to be whitelisted, it would be very useful to update this doc to reflect the same.

---
#### Document Details

⚠ *Do no

[2020-05-21 09:02] jonathanhotono opened #1710 "Any nodeJS SSO sample"
Sample is only in C#. Anything for NodeJS?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab060f59-0fc6-d90d-6b71-a0756f1a8aa0
* Version Independent ID: f7574aeb-0002-5e07-47ed-3d135a42f4ce
* Content: [Add Single sign on to a bot - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builde

[2020-05-21 19:19] v-kydela commented on #1702
Hello @satheeshWMS

You've said that you're unable to start an API server using the code `let server = restify.createServer();`. Can you explain what you mean by that? What happens when you try it? Are you getting an error message? Have you imported `restify` in that JavaScript file?

[2020-05-22 00:43] haacked opened #1712 "Documentation on Adaptive Dialogs has broken links to samples"
The link to the C# samples on the documentation [Create a bot using adaptive dialogs] has an incorrect link the C# and JavaScript samples.

The C# sample links to: https://github.com/microsoft/BotBuilder-Samples/tree/vishwac/r9/js/experimental/adaptive-dialog/csharp_dotnetcore/01.multi-turn-prompt

That link 404s. I assume it was supposed to link to https://github.com/microsoft/BotBuilder-Samples/

[2020-05-22 16:50] v-kydela commented on #1688
Thank you for the question, @adamist521

I understand that you're trying to send an Adaptive Card to Slack and you're okay with the card getting converted to an image but you're not okay with this image having a public location. Is there a reason you want to use Adaptive Cards here, which you can see Slack does not support? Why not just use a Bot Framework card that doesn't get converted to an ima

[2020-05-22 16:58] hansonlam1 opened #1714 "The instructions to copy the "id field to use as the value for the registration subscription id in the next step" is unclear."
There is the instruction:
"From the resulting JSON output, copy the value of the id field to use as the value for the registration subscription id in the next step."

It is unclear where this id is used in the subsequent steps.  I did not see anywhere where the registration subscription id is set.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2020-05-22 18:15] v-kydela commented on #1682
Thank you for the questions, @BetaLixT

It seems the code snippet in the doc will not work after this commit from November: https://github.com/microsoft/botbuilder-dotnet/commit/1c5b14e84bccbca4ee879053d63aedb22b1bd585

That means it the code snippet is for package versions earlier than 4.7.0. It's unclear if the change should be reverted or if the doc should be updated. @garypretty - Can you comm

[2020-05-22 23:29] mmiele commented on #1712
@haacked The problem has been solved. The fix will be in the next published documentation.
Thank you for your feedback.

[2020-05-23 05:20] BetaLixT commented on #1682
Hi thank you for the reply, I did find this earlier and can confirm that it works as expected

[2020-05-24 07:34] Santhosh0505 commented on #1670
@mmiele Okay, Thankyou for the reference.

[2020-05-24 09:22] compulim opened #1715 "URL for testing the setup should be trailed with slash"
This URL in the doc is incorrect, https://<your_app_service>.azurewebsites.net/.bot. Instead, it should be, https://<your_app_service>.azurewebsites.net/.bot/.

The trailing slash is required because in the `web.config`, it has the trailing slash as well:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 206a361d-

[2020-05-25 04:42] jonathanhotono commented on #1710
Also with SSO, is it still required for user to click on the "sign in" card beforehand to perform the handshake on MS teams?

[2020-05-25 16:22] anusharavindrar commented on #1707
@fifteenjoy, If everything is correct, the page will return this JSON content: {"k":true,"ib":true,"ob":true,"initialized":true}. This is the information you obtain when everything works correctly, where

**k** determines whether Direct Line App Service Extension (ASE) can read an App Service Extension Key from its configuration.
**initialized** determines whether Direct Line ASE can use the App S

[2020-05-25 16:23] v-kydela commented on #1682
@emgrol - If we want to fix these docs, do we merge into live or live-sync-work?

[2020-05-25 17:41] emgrol commented on #1663
Closing now that the changes are live.

[2020-05-25 17:41] #1663 closed

[2020-05-25 17:42] emgrol commented on #1672
Closing now that the changes are live.

[2020-05-25 17:42] #1672 closed

[2020-05-25 19:28] emgrol commented on #1658
Hi @alpaltnsy, have you looked at the articles under the Develop section under How To?

![1658](https://user-images.githubusercontent.com/9682548/82839149-3f696e80-9e83-11ea-8698-a03c1c3a7d02.png)

Many of the articles, like [add media to messages](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-add-media-attachments?view=azure-bot-service-4.0&tabs=csharp), include instructions for

[2020-05-26 12:06] geo-msft opened #1717 "Custom storage samples for Python, Node and Java"
[Enter feedback here]

Hi,

I see that this page shows C# code for bots.
I believe code samples for other languages in the bot builder SDK (such as Python, Java and Node.js) would be helpful.

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 409c8f0a-6388-574b-5443-a09c160962a7
* Version Independent ID: efc9e77

[2020-05-26 12:15] michal-turzynski opened #1718 "Botframework Authentication page: males -> makes"
In the below sentence,  change 'males' to 'makes'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fd0bdf8-7cb8-1f26-65a1-3876ea84351f
* Version Independent ID: bda6ce3a-f006-baaf-db50-82bd79afa6ab
* Content: [Authentication - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-fra

[2020-05-26 13:56] mjmlp commented on #1692
I have the same problem, if I don't edit this section I still get an error TypeError: __init__() missing 1 required positional argument: 'config'

[2020-05-26 15:29] zxyanliu commented on #1718
Hi @michal-turzynski Thanks for your report! A nice catch!
I have fixed it in [PR2155](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2155) and the content will go live soon.

[2020-05-26 15:58] JonathanFingold commented on #1717
Agreed. Currently, we have a Python version of this sample, but not a JavaScript one.
- I'll look at adding Python to the current article.
- I'll open an issue in the samples repo to add a JavaScript sample.

[2020-05-26 16:00] #1705 closed

[2020-05-26 16:12] #1681 closed

[2020-05-26 17:00] emgrol commented on #1642
Thanks for pointing this out @jbgh2. The updated instructions should go live soon.

[2020-05-26 17:01] emgrol commented on #1709
Thanks for pointing this out @ammarh85. I added the url to the page, the change should go live soon.

[2020-05-26 17:01] emgrol commented on #1715
Thanks for pointing this out @compulim. I fixed the path in the article, the change should go live soon.

[2020-05-26 17:53] ammarh85 commented on #1709
Hello,

Thanks fro the update! Here are some of the additional URLs that I later
found and had to whitelist as well:

login.windows.net
 login.microsoft.com
 sts.windows.net
 smba.trafficmanager.net

On Tue, May 26, 2020 at 10:01 AM Emily Olshefski <notifications@github.com>
wrote:

[2020-05-26 19:17] emgrol commented on #1683
Thanks for the suggestion @haacked, I'll add some clarifying language to that section.

@shram2k  Can you please file a separate issue? Your issue isn't related enough to this one to address it in a single issue.

[2020-05-27 02:14] #1626 closed

[2020-05-27 02:14] zxyanliu commented on #1706
Closing because the updated content is live. Thanks.

[2020-05-27 02:14] #1706 closed

[2020-05-27 17:15] emgrol commented on #1622
Closing since the issue was resolved.

[2020-05-27 17:15] #1622 closed

[2020-05-27 17:23] JonathanFingold commented on #1717
I've also opened samples issue [2435](https://github.com/microsoft/BotBuilder-Samples/issues/2435),
as the Python and C# samples have discrepancies.

[2020-05-27 17:28] emgrol commented on #1701
Hi @mahendra48, have you looked at the [connect a bot to Direct Line](https://docs.microsoft.com/azure/bot-service/bot-service-channel-connect-directline?view=azure-bot-service-4.0) article yet? It details how to connect your bot and application using Direct Line.

[2020-05-27 17:36] JonathanFingold commented on #1699
The new adaptive dialogs have support for multiple locales. See [Introduction to adaptive dialogs](https://docs.microsoft.com/azure/bot-service/bot-builder-adaptive-dialog-introduction) and [Recognizers in adaptive dialogs](https://docs.microsoft.com/azure/bot-service/bot-builder-concept-adaptive-dialog-recognizers). We don't yet have a multi-language sample, but you could request one by opening *

[2020-05-27 18:01] JonathanFingold commented on #1710
@jonathanhotono There is not yet a JavaScript/Node.js version of this sample. You can request one by filing a **Samples Feature request** issue in the [samples repo](https://github.com/microsoft/BotBuilder-Samples/issues).

[2020-05-27 18:51] mmiele commented on #1710
@jonathanhotono There is no time line yet for JavaScript/Node.js version. But it is on the TODO list.
​Thank you for asking.

[2020-05-27 18:51] #1710 closed

[2020-05-27 18:52] mmiele commented on #1712
@haacked The problem has been solved. The fix will be in the next published documentation.
Thank you for your feedback.

[2020-05-27 18:52] #1712 closed

[2020-05-27 21:35] #1670 closed

[2020-05-27 22:34] emgrol commented on #1661
Hi @Zerryth, in the introduction of the article there's a link to Dispatch in [botbuilder-tools](https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch). Is that link adequate, or should I update the link?

[2020-05-27 22:37] Zerryth commented on #1661
That link works perfectly. Didn't realize it was there earlier? (Or perhaps it was updated?)

In any case, looks good to me :) Thank you

[2020-05-27 22:37] #1661 closed

[2020-05-27 23:26] JonathanFingold commented on #1676
@clearab The fix is ready, pending your review (of PR 2162).

[2020-05-27 23:34] JonathanFingold commented on #1656
The image is correct, as far as it goes. What it doesn't show clearly is that the Azure Bot Service (the Bot Framework Service) is an intermediary between the channel and your bot. The service forwards messages and response from the channel to the bot and back again.

Does that explanation help?

[2020-05-28 00:22] mmiele commented on #1654
@xtianus79  Apologies for the delay. We'll do some revising of the article [Deploy your bot - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=typescript). In the meantime we suggest not to mix Azure portal with Azure CLI deployment.

[2020-05-28 00:22] #1654 closed

[2020-05-28 00:29] emgrol commented on #1648
Thanks for the suggestion @dipbanik. I added a section about debugging C# bots in [PR 2163](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2163). The update should go live soon, here are the steps:
1. Launch VS Code and open your bot project folder.
1. Set breakpoints as necessary. You can set breakpoints by hovering your mouse over the column to the left of the line numbers. A small red dot wi

[2020-05-28 05:30] zxyanliu commented on #1714
Yes, I agree, and thanks for reporting the confusion. The following is my understanding:

In [step 3-create-the-application-registration](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=javascript#3-create-the-application-registration), after you run the following command `az ad app create --display-name "displayName" --password "AtLeast

[2020-05-28 06:11] zxyanliu commented on #1708
Hi @TheFrogDaddy Thanks for your report. I tested it today and you are right, after running `az bot prepare-deploy --code-dir "." --lang Typescript`, only one `web.config` file will be generated in the bot's project folder, not in the `src`. However, with only one `web.config` file generated, the deployment process failed when testing in Web Chat. The deployment only succeeded after I copied and p

[2020-05-28 12:20] garypretty commented on #1682
@BetaLixT Thanks for flagging this issue.  As pointed out above, there were some changes made to the adapter in November and the docs do need updating to reflect this.  Also, another thing to clarify, is that the adapters (Twilio / Facebook / Slack) are currently still in preview.

The 4.8 and 4.9 adapter packages reflected this with a -preview tag, but for some reason it would appear that the 4.7

[2020-05-28 16:29] v-kydela commented on #1699
@pranjalpandey22 - Can you give us more information about what you're trying to do? Are the other two resources in English? Will the bot know which language the user is communicating with, or are you asking how to perform language detection? Since this is the docs repo, can you link to the specific document that led you here?

[2020-05-28 17:32] v-kydela opened #1719 "What does "Suggestions" mean?"
Can the samples be cleaned up a bit? In most cases it looks like an activity structure is supposed to follow the activity schema but activities have no `Suggestions` property.

[code]

This property also shows up in the [example](https://github.com/microsoft/botbuilder-dotnet/blob/master/tests/Microsoft.Bot.Builder.LanguageGeneration.Tests/Examples/StructuredTemplate.lg) from the .NET repo. What d

[2020-05-29 09:19] chandermi opened #1720 "Adaptive card input controls not rendering in WeChat integration"
Hi ,

We are creating an IBot to integrate with WeChat. The normal adaptive cards are rendering fine but not with the submit buttons and Input controls

Below is the json we have created which is working fine on adaptive designer but not with WeChat app.

{
  "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
  "type": "AdaptiveCard",
  "version": "1.2",
  "fallbackText": "Click to v

[2020-05-29 13:36] roberi opened #1721 "Broken link"
The link  05.a.multi-turn-prompt-with-language-fallback sample is broken (https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/language-generation/csharp_dotnetcore/05.a.multi-turn-prompt-with-language-fallback). It leads to a 404 page on GitHub.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59573a

[2020-05-29 15:47] kellyhopkins opened #1722 "Dispatch model not returning correct intents"
Hi,
I'm not sure if this is the proper channel for this but I'm having trouble with the dispatch model after following the "Use multiple LUIS and QnA models" page. I set everything up, but instead of getting 'l_HomeAutomation' or 'q_sample-qna' as the value being passed to the intent variable in the switch case, I'm getting the top intent value from the LUIS response instead. This results in an er

[2020-05-29 16:11] JonathanFingold commented on #1719
The activity schema seems to indicate that [suggested actions](https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#suggested-actions) can be a payload on a message activity. However the section you cite in the article doesn't describe how this will render. I think the `\\|` might be a markdown error. I will investigate.

[2020-05-29 16:16] emgrol commented on #1721
Thanks for letting us know @roberi. Here is the [link to the sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/language-generation/05.a.multi-turn-prompt-with-language-fallback).

[2020-05-29 16:23] v-kydela commented on #1719
@JonathanFingold - Are you saying `Suggestions` is an alias for `SuggestedActions`?

[2020-05-29 16:29] JonathanFingold commented on #1719
I am not yet up to speed on LG templates, but that is my...belief. I will test the template before updating the article.

[2020-05-29 17:50] JonathanFingold commented on #1719
@v-kydela - @emgrol will work on this, as there are many issues in the current set of samples.

[2020-05-29 17:53] JonathanFingold commented on #1676
The fix will go live with the next push from master to live.

[2020-05-29 17:53] #1676 closed

[2020-05-29 18:59] roberi opened #1723 "Multi-lingual generation and language fallback policy"
The section about _Multi-lingual generation and language fallback policy_ would really benefit from an example in Node.js. If others are interested I got it working after some trial and error.

In your Bot and/or Dialog file (or other files where you use LG) add:

`const { Templates, MultiLanguageLG } = require('botbuilder-lg');`

In your constructor add:

[code]
The constructor in `MultiLanguageL

[2020-05-29 23:47] #1718 closed

[2020-05-29 23:48] zxyanliu commented on #1714
Updated the content which will get live soon, so closing this issue. Thanks again for your report.

[2020-05-29 23:49] #1714 closed

[2020-05-29 23:49] zxyanliu commented on #1708
Updated the content which will get live soon, so closing this issue. Thanks again for your report.

[2020-05-29 23:49] #1708 closed

[2020-05-29 23:55] emgrol commented on #1723
Hi @roberi, could you file this issue in the [Botbuilder-Samples repo](https://github.com/microsoft/botbuilder-samples)? The issue fits better there since you're asking for a new sample, and I think the team will appreciate your feedback.

[2020-05-30 22:18] nboussarsaracn commented on #1239
Still not working

[2020-06-01 16:07] dipbanik commented on #1648
@emgrol This is highly appreciated. I was also looking for some documentation on how to kickstart a bot template from scratch using VS code. Any reference document or steps to that?

[2020-06-01 16:34] anusharavindrar commented on #1707
@fifteenjoy, do you still need help?

[2020-06-01 16:45] JonathanFingold commented on #1635
See also samples [issue 2439](https://github.com/microsoft/BotBuilder-Samples/issues/2439).

[2020-06-01 16:55] JonathanFingold commented on #1687
I'll need to do a little research. Hopefully, I'll have an answer within a day or two.

[2020-06-01 23:15] JonathanFingold commented on #1687
@gabrielmdeal A serviceUrl maps to a conversation.  In a Teams context, the serviceUrl maps to the conversation thread.  In a group context and one-on-one context, there’s no thread so the serviceUrl just maps to the entire conversation.

Assuming you are designing a Teams channel bot, to communicate 1:1 with a user who is in a Team, fetch the roster for that team (using the `TeamsInfo.getPagedMem

[2020-06-01 23:26] mmiele commented on #1690
@aosolis Thank you for discovering this incorrect statement. Would you mind to suggest what could be a better description that would fix the issue? Thanks

[2020-06-02 01:33] stevkan commented on #1686
@js1016, are you still needing assistance with this issue? If so, in item #7, which console application are you using? Also, `https://joji-bot.azurewebsites.net/.bot` isn't the messaging endpoint. Instead, you should be connecting to your bot using `https://joji-load-test-bot.azurewebsites.net/api/messages` in order to send messages.

The `/.bot` endpoint is part of the DL ASE API used for request

[2020-06-02 02:01] jebalert opened #1724 "Issues validating during deployment - Are these instructions outdated?"
Something appears to be wrong with either the steps outlined here, or the ARM template that gets packaged with the samples.

Or

Something is wrong with the underlying validation check within Azure.

I can manually deploy these services just fine, but using the steps and template included with the bot sample I get the following error when attempting to deploy to an EXISTING app service plan

`{'ad

[2020-06-02 16:21] mmiele commented on #1662
Added note in the listed article explaining the use the "magic code". The updated documentation will be in the next available build.

[2020-06-02 16:21] #1662 closed

[2020-06-02 18:10] mmiele commented on #1690
Fixed the information in the listed article explaining the use the "tenant ID". The updated documentation will be in the next available build.

[2020-06-02 18:10] #1690 closed

[2020-06-02 19:46] zxyanliu commented on #1692
@mjmlp and @EddieGranados Thanks for reporting the issue. We are currently working on it.
Also, FYI. We have a QnA bot sample in Python here: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/python/11.qnamaker

[2020-06-02 20:27] zxyanliu commented on #1724
Hi @jebalert Thanks for reporting the issue. Let me make sure I understand your question:

Did you try to deploy a [sample bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples) via ARM template to an existing resource group and service plan (Nymbus) and get the error you listed above?

FYI. When you run the following command, make sure you provide the path to the template-with-

[2020-06-02 20:32] jebalert commented on #1724
Hi @zxyanliu I was able to deploy to a new app service plan, but not an existing one. So my path was correct when I executed. Have you recently tried to deploy to an existing app service plan with the provided templates in a sample bot? Also.. experiencing some major bugs now that I've got my bot deployed. Will open an issue on that in the sdk.

[2020-06-02 20:34] zxyanliu commented on #1720
@seaen I was wondering if you could help with this issue. Should Adaptive Card work with WeChat app in this case? Thanks a lot!

[2020-06-02 20:58] zxyanliu commented on #1724
Hey @jebalert, I just tried, and got an error: `Azure Error: InvalidTemplateDeployment`, how did you solve it? Please let me know so that I can update the doc. Thanks a lot!

[2020-06-02 21:14] anusharavindrar commented on #1707
Closing the issue. Please feel free to reopen if the issue persists.

[2020-06-02 22:30] #1707 closed

[2020-06-03 01:08] v-kydela commented on #1699
@pranjalpandey22 - Are you still working on this?

[2020-06-03 01:47] v-kydela commented on #1688
@adamist521 - Are you still working on this?

[2020-06-03 01:47] v-kydela commented on #1702
@satheeshWMS - Are you still working on this?

[2020-06-03 04:16] satheeshWMS commented on #1702
Right Now no

[2020-06-03 04:16] #1702 closed

[2020-06-03 05:03] adamist521 commented on #1688
@v-kydela
sorry for late response.

I wanted to use adaptive card because I'm already sending same thing to teams and wanted the changes to be minimum when supporting slack platform.

I just did a work around by following.
- convert adaptive card to html
- covert html to png
- upload to slack as png (this way requires slack authentication to see image)
- send actions via blockkit json

Could you g

[2020-06-03 05:32] pranjalpandey22 commented on #1699
Hey, apologies for being away!

I setup 2 separate dispatchers, one for English and the other for Arabic. I
am triggering them by using Microsoft Text Analytics API's Language
detection which returns the language ID in real time.
So far things have worked just fine!

On Wed, 3 Jun 2020, 5:08 am Kyle Delaney, <notifications@github.com> wrote:

[2020-06-03 16:18] v-kydela commented on #1688
If you're using the Azure Bot Service and not the Slack adapter, you can send hero cards etc. to Slack and they will automatically be converted to Slack blocks.

Here is an old document explaining Bot Framework rich cards: https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-cards.md

You can find more information and links to card samples here: https:

[2020-06-03 16:18] #1688 closed

[2020-06-03 16:20] v-kydela commented on #1699
@pranjalpandey22 - I'm glad to hear it. I will close this issue now.

[2020-06-03 16:20] #1699 closed

[2020-06-03 16:28] haacked opened #1725 "Link to application insights sample code is broken"
The link "https://aka.ms/csharp-corebot-app-insights-sample" redirects to https://github.com/microsoft/BotBuilder-Samples/tree/emimunoz/corebot-app-insights/samples/csharp_dotnetcore/21.corebot-app-insights/ which results in a 404 status code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db892de5-e60e-1d4f-505b-11b1c

[2020-06-03 16:49] #1725 closed

[2020-06-03 19:01] siddharthpant92 opened #1726 "No `ResourceResponse` object for `POST /v3/conversations/{conversationId}/activities` request"
[Enter feedback here]
When attempting to send a POST request to create a conversation using the `POST /v3/conversations/{conversationId}/activities` request (https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#send-to-conversation) with a `card attachment object` and a `text` field in the request body, i get a 202 respon

[2020-06-03 20:12] zxyanliu commented on #1726
Hi @siddharthpant92 Thanks for your feedback. Let you know that we are currently investigating your issue and will get back to you soon. : -)

[2020-06-04 16:23] oldnathan47 opened #1728 ""Create dispatch model" question: Do I have the actual authoring key?"
[Enter feedback here]

Hello!

I am trying to create the dispatch model, but my terminal is stuck. I'm thinking that I may have the wrong Authoring key, since the directions for where to find the key do not follow on the Luis portal. The instructions say, "From the 'Key and Endpoints' page, record the values Authoring Key as "your-luis-authoring-key" and Region as "your-region". However, there is

[2020-06-05 00:17] emgrol commented on #1665
Hi @aecceyhan, thanks for the suggestion. We do have REST docs but recommend developers work with the available SDKs in [C#](https://github.com/microsoft/botbuilder-dotnet), [Javascript](https://github.com/microsoft/botbuilder-js), or [Python](https://github.com/microsoft/botbuilder-python). Closing now since no further work is needed for this issue.

[2020-06-05 00:17] #1665 closed

[2020-06-05 00:42] mmiele commented on #1660
Work in progress. It might be a duplication of issue [1724](https://github.com/MicrosoftDocs/bot-docs/issues/1724.)

[2020-06-05 06:14] roberi commented on #1723
@emgrol - Ok, I will do that. Thanks!

[2020-06-05 19:30] CeciAc opened #1729 "How to force webchat version when embedding ?"
Hi team,
I'm moving this from here: https://github.com/MicrosoftDocs/bot-docs.fr-fr/issues/5

@Gullfaxi171 commented 7 hours ago
Hi,

the provided embed link :
`<iframe src="https://webchat.botframework.com/embed/YOUR_BOT_ID?s=YOUR_SECRET_HERE"></iframe>`
forces the webchat version at 4.6.0, which misses some features. Is it possible to select within the url the used version of the webchat (for in

[2020-06-05 20:47] gabrielmdeal commented on #1687
So my bot could receive two messages that are from the same user, in the same team, sent at the same time, but from different threads, and the service URLs for those two messages could be different?  For example, the two service URLs might be https://smba.trafficmanager.net/amer and https://smba.trafficmanager.net/emea?  That surprises me, I assumed service URLs were used to partition users into r

[2020-06-05 21:46] anusharavindrar commented on #1722
@kellyhopkins, can you attach a screenshot of the error on the emulator? Do you get any additional information when you click on the log item to inspect activity on the emulator? Also, can you double-check if you missed any of the steps mentioned in the documentation?

[2020-06-05 22:17] asp1egui opened #1730 "option 1 in embed web chat control also reveals the secret key"
Hi ,
using the option 1 in this example also shows the secret key and to see that you just need to view the source code even though you could have prevented it using a web app(someone said that in gitter channel) even though the bot i build is a web app but with static html as the front side since i'm only doing it as a school project 😅. so now i ask if there is anyway to not show at all the secre

[2020-06-06 15:16] carlbm opened #1731 "What files do we need to zip up?"
It's not at all obvious. Can you either link to a sample or let us know how to create/identify the files that need to be zipped?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version Independent ID: 8bf74926-6a35-5753-0a1a-6663ba5965b2
* Content: [Deploy your bot - Bot Service -

[2020-06-06 23:38] zxyanliu commented on #1731
@carlbm Thanks for reporting the issue. As mentioned in the doc, you will need to manually zip the files in the [zip up the code directory manually step](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp#52-zip-up-the-code-directory-manually).

You need to select all the files and folders in your bot's project folder, and then, stil

[2020-06-08 04:40] xieofxie opened #1732 "Do we have a sample for WebChat client mode?"
Do we have a sample for `The following shows a normal and a fallback flow when using a WebChat client.`?

I have checked the code for VA(https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication-sso?view=azure-bot-service-4.0&tabs=csharp%2Ceml) and it is very complex. Need a sample for how to do it in WebChat client mode.

---
#### Document Details

⚠ *Do not edit this section.

[2020-06-08 07:44] xieofxie commented on #1732
It seems this is quite close https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication

[2020-06-08 09:19] OskarNet opened #1733 "Update message"
Hi

Is it possible to update a proactive message sent to a user?

Scenario:
A message is sent to a user because a file was shared.
The file is now unshared which makes the previous message invalid so can I update the previous message or do I need to send a new one?

Regards,
Oskar

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-06-08 16:53] zxyanliu commented on #1731
@carlbm Hey, did you get a chance to try as commented in the last thread? Please let us know if it helps. Thanks.

[2020-06-08 23:04] emgrol commented on #1655
Closing now that changes are live.

[2020-06-08 23:04] emgrol commented on #1642
Closing now that changes are live.

[2020-06-08 23:04] #1642 closed

[2020-06-08 23:05] #1655 closed

[2020-06-08 23:05] emgrol commented on #1671
Closing now that changes are live.

[2020-06-08 23:05] #1671 closed

[2020-06-08 23:07] emgrol commented on #1683
Closing now that changes are live.

[2020-06-08 23:07] #1683 closed

[2020-06-08 23:07] emgrol commented on #1691
Closing now that changes are live.

[2020-06-08 23:07] #1691 closed

[2020-06-08 23:08] emgrol commented on #1709
Closing now that changes are live.

[2020-06-08 23:08] #1709 closed

[2020-06-08 23:09] emgrol commented on #1715
Closing now that changes are live.

[2020-06-08 23:09] #1715 closed

[2020-06-08 23:11] emgrol commented on #1723
Closing now that the issue is in Botbuiler-Samples ([2481](https://github.com/microsoft/BotBuilder-Samples/issues/2481)).

[2020-06-08 23:11] #1723 closed

[2020-06-08 23:18] emgrol commented on #1733
Hi @OskarNet, please submit your question to [Stack Overflow using the `[botframework]` tag](https://stackoverflow.com/questions/tagged/botframework). This repo is used for documentation issues.

[2020-06-08 23:19] emgrol commented on #1733
Closing this issue since it's not related to documentation.

[2020-06-08 23:19] #1733 closed

[2020-06-09 15:50] JonathanFingold commented on #1728
I'll take a look and update the article to match the latest iteration of the LUIS portal.

[2020-06-09 18:19] asdkant opened #1734 "documentation instructs to use deprecated azcli command"
when running the `az group deployment create` command I get the following error:

The deployments in the section "Deploy via ARM template (with existing Resource Group)" should use the `az deployment create` command instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 096d934c-2856-e868-efeb-6622e2a5eafb
* Version In

[2020-06-09 19:46] anusharavindrar commented on #1722
@kellyhopkins, are you still working on this?

[2020-06-09 19:51] zxyanliu commented on #1724
@jebalert The bug was just fixed and nothing needs to be updated in the doc at this moment. Thanks again for your report.

[2020-06-09 19:51] #1724 closed

[2020-06-09 19:54] zxyanliu commented on #1734
Hey @asdkant Thanks for reporting this. This is a known issues and we are fixing in this PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2172

[2020-06-09 20:04] zxyanliu commented on #1734
@asdkant The major changes are the following commands:

`az deployment group create`
`az deployment sub create`

[2020-06-10 09:08] js1016 commented on #1686
Of course I know the `/.bot` isn't the endpoint. If you follow the steps, you can reproduce the issue. But never mind, my customer chose to create the Bot using template rather than Bot Channel Registration, closing this issue.

[2020-06-10 09:08] #1686 closed

[2020-06-11 08:57] lukiffer commented on #1592
@floushee I've got the same scenario as what you've described. Where did you end up putting that extra call? I've added it in the first place I've got access to the `turnContext` but still have the same behaviour of it failing with the above error unless I send the bot a message first.

Here's where I've added it:

[code]

[2020-06-11 09:02] lukiffer commented on #1592
@dmvtech Could this issue be reopened? I'm happy to open another and reference this one, but it seems silly given that I'd be opening it with practically the exact same synopsis. Will gladly pick up where the OP left off.

[2020-06-11 09:14] floushee commented on #1592
Hi @lukiffer

This is what I am doing:

When i startup the application:
`
// bot password was created in the Azure portal
const adapter = new BotFrameworkAdapter({
        appId: config.botAppId,
        appPassword: config.botAppPassword
    });
`

In my bot:
`
// will be triggered if the user installs the Teams app
this.onConversationUpdate(async (context, next) => {
            logger.debug('bo

[2020-06-11 17:51] anusharavindrar commented on #1722
Closing the issue. Please feel free to reopen if the issue persists.

[2020-06-11 21:21] #1722 closed

[2020-06-12 03:53] lukiffer commented on #1592
@floushee thanks for the detailed snippets. I've got functionally equivalent code on my end am still having the same issue.

A couple things I've noticed in investigating since is that you have a `const adapter = new BotFrameworkAdapter(...)` whereas on my side I've got that happening in the constructor of the class; and in [this related issue comment](https://github.com/MicrosoftDocs/bot-docs/iss

[2020-06-12 05:51] lukiffer commented on #1592
OK, so after some additional debugging, it looks like the `serviceUrl` is properly trusted and it's attempting to send the proactive message, but that endpoint is actually returning a `401`. The HTTP response is included in the exception thrown, and though I can reproduce the error and the solution, I'm not sure how to inspect the request during a successful scenario in order to compare the two.

[2020-06-12 08:08] lukiffer commented on #1592
With some additional debugging, I've uncovered a before-and-after difference in the `turnContext` that's returned by `adapter.continueConversation(...)`. Before a message is sent to the bot, it appears that it hasn't actually gotten an access token, and when calling `sendActivity()` it doesn't remedy this. After having sent the bot a message, the `turnContext` returned appears to have an OAuth tok

[2020-06-12 16:12] #1682 closed

[2020-06-12 19:52] zxyanliu commented on #1675
Hi @danieldangler
I was unable to reproduce your error. Here is what I did following [this article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp) and use a [C# EchoBot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/02.echo-bot).

1. Updated the code as described [here](https://docs.mic

[2020-06-13 02:25] turbozapekanka opened #1735 "How do I set up twillio for two phone numbers long one and short code?"
Instructions only show how to connect to a long number.
I need to connect bot to both long number and short code

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0b76e08-962a-2a8e-2453-87fb917d68ec
* Version Independent ID: 937798fb-8f76-683c-e146-55dcd79622e1
* Content: [Connect a bot to Twilio - Bot Service - Bot Serv

[2020-06-15 11:59] FuzzAU opened #1736 "Links to LG files in adaptive dialog docs are 404"
In the "About the sample" section, there are links two two lg files, that are currently 404 as they refer to files in a specific branch that no longer exists.

"For C#, defined in RootDialog.lg"
Refers to: https://github.com/microsoft/BotBuilder-Samples/blob/vishwac/r9/js/experimental/adaptive-dialog/csharp_dotnetcore/01.multi-turn-prompt/Dialogs/RootDialog.lg

Likely better to be: https://github.

[2020-06-15 21:57] JonathanFingold commented on #1635
Updated in master/main. Content update will go live with the next live-main sync.

[2020-06-15 21:57] #1635 closed

[2020-06-15 23:02] JonathanFingold commented on #1687
I'm sorry; I passed along some incorrect information.

The service URL does NOT map to a conversation, but rather just to a regionalized server.  the URL does not change based on conversation type. However, the service URL isn't stable (in that it can change). The code snippet from sample 57 is the recommended way to create 1:1 conversations for different users in a Teams group conversation.

I do

[2020-06-16 15:17] prashantsoni opened #1737 "Why do we have a location while creating bot channel registration app when bot services are global? What does the location do?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c93f5e57-c662-644a-776d-b1dd112a3832
* Version Independent ID: f7bfec78-1f6b-fcb5-09da-138e27dcad58
* Content: [Create a Bot Channels Registration with Bot Service - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-ser

[2020-06-16 19:06] gabrielmdeal commented on #1687
My original question boils down to, "Can a tenant have multiple service URLs? And if so, then can a team have multiple service URLs?"  (I know service URLs can change over time, but that is not what I am talking about.)  And, yes, I still wonder this.

[2020-06-16 19:59] clearab opened #1738 "Update troubleshooting table"
PVA has updated the source for the troubleshooting table. Can you please take a look at this: https://docs.microsoft.com/en-us/power-virtual-agents/configuration-add-skills#troubleshooting-errors-during-skill-registration and merge the new information into our table? An issue should then be raised on the PVA version of the article to remove their version.

[6/18] The ABS doc update is complete and

[2020-06-16 20:58] JonathanFingold commented on #1687
Let me know if I can help you track down more information. I'm sorry this took so long.

[2020-06-16 22:41] zxyanliu commented on #1737
Hi @prashantsoni Thanks for your feedback. When you create a **Web App Bot** or a **Bot Channels Registration**, the location you specified in Azure portal are both locations of the Resource Group you are creating. However, Azure Bot Services may store data such as routing data, registration data, and design data globally.

![image](https://user-images.githubusercontent.com/32497439/84834885-43eaf

[2020-06-17 02:12] gabrielmdeal commented on #1687
That is what I needed to know. Thanks!

Is that "At this point..." quote from documentation that I missed?

[2020-06-17 02:12] #1687 closed

[2020-06-17 09:47] GauravES opened #1739 "Missing Linked URL"
Multi-lingual generation and language fallback policy section links to non-existent URL
https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/language-generation/csharp_dotnetcore/05.a.multi-turn-prompt-with-language-fallback

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 59573a90-7a7a-418c-f661-90f5

[2020-06-17 15:57] JonathanFingold commented on #1684
For now, you should use the Facebook custom adapter for Workplace bots. Currently, however, the custom adapter is available only in the .NET SDK: `Microsoft.Bot.Builder.Adapters.Facebook.FacebookAdapter`.

[2020-06-17 17:36] clearab commented on #1698
@tomlm do you know what these are?

[2020-06-17 17:43] JonathanFingold commented on #1687
The "At this point a tenant should not have multiple service URLs" quote was from my contact on the team. I'll make sure it gets into the docs.

[2020-06-17 18:03] clearab commented on #1738
@JonathanFingold could you please take a look at this one?

[2020-06-17 20:38] zxyanliu commented on #1734
The doc is updated and merged. The content will go live soon. Thanks!

[2020-06-17 20:38] #1734 closed

[2020-06-17 20:39] zxyanliu commented on #1660
Hey, the doc is updated and merged. The content will go live soon. Thanks again for your feedback.

[2020-06-17 20:39] #1660 closed

[2020-06-17 20:39] JonathanFingold commented on #1738
@clearab Mind if I add the PVA error codes to the table in the bot doc?

[2020-06-17 20:41] rmillman commented on #1660
Thanks.

From: Yan Liu <notifications@github.com>
Sent: Wednesday, June 17, 2020 4:40 PM
To: MicrosoftDocs/bot-docs <bot-docs@noreply.github.com>
Cc: Millman, Richard (Cognizant) <Richard.Millman@cognizant.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/bot-docs] az deployment create is being deprecated, please update the deployment step based on MS feedback. When I deploy bas

[2020-06-17 20:41] zxyanliu commented on #1731
Hey @carlbm any updates?

[2020-06-17 20:42] zxyanliu commented on #1660
@rmillman You are very welcome!

[2020-06-17 21:14] clearab commented on #1738
Yes please!

[2020-06-17 21:19] zxyanliu commented on #1675
Hey @danieldangler any updates?

[2020-06-17 22:33] JonathanFingold commented on #1738
Removing these two steps, as they are not reflected in the new table:

| Validation step | Error code | Error message | Description or mitigation
| :-- | :-- | :-- | :--
| Validate skill action language || Currently, skills are only supported in English.| The skill has actions with unsupported locales. We only support skills with actions is English (`en-` locales). |
| Validate AAD app setting ||

[2020-06-17 23:09] emgrol commented on #1739
Thanks for pointing out the broken link @GauravES. Here are link to the samples:

- [C# sample](https://aka.ms/csharp-lg-multi-turn-prompt-language-fallback-sample)
- [JavaScript sample](https://aka.ms/js-lg-multi-turn-prompt-language-fallback-sample)

Updates are in [PR 2240](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2240/). The document has been updated and changes should go live soon.

[2020-06-17 23:28] emgrol commented on #1736
Thanks for pointing out the broken links @FuzzAU. You have the correct link for the C# file. Here is the link to the [JavaScript sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/adaptive-dialog/01.multi-turn-prompt).

I opened a PR with updates to the correct links to the files in PR [2240](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2240). The ch

[2020-06-18 00:32] FuzzAU commented on #1736
Thanks Emily, I was going to not be lazy and make a PR but couldn't find that second link.

Microsoft documentation is always great, so happy to help make it better!

[2020-06-18 07:32] danieldangler commented on #1675
@zxyanliu Is it a problem, that i have deployed the STorage Account to wetseurope? Because even if i do it like described, i get the same error as before

[2020-06-18 07:55] danieldangler commented on #1675
And i also get this Error out of nowhere
![Unbenannt](https://user-images.githubusercontent.com/39704877/84993616-d0153080-b149-11ea-8623-8bfe0d717e8e.PNG)

[2020-06-18 12:56] danieldangler commented on #1675
Could you share the complete Code from your echobot.cs File for me (without the keys haha)? Because i think i have a problem there :)

[2020-06-18 15:26] tutul2010 opened #1740 "deploy a chatbot (build on C#.net, botframework-sdk v3 ) app to azure cloud and run it"
Hi Team,

Pls, help me  on how to deploy a chatbot (**build on C#.net, botframework-sdk v3** ) app to azure cloud and run it ?
is till now azure cloud support with dialog based chatbot app that developed with **on C#.net, botframework-sdk v3** ?

Need little help..

Thanks,
Tutul

[2020-06-18 15:58] zxyanliu commented on #1675
Sure. I simply grabbed the code snippets from the [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#build-a-basic-bot).

FYI. Here is the code snippet from my side.

[code]

[2020-06-18 15:58] Jamie22 opened #1741 "POST 400 directline/conversations/<conversationId>/activities"
So I followed the steps on this page. But when I try to connect to the bot in Bot Emulator, I get an error. Here's the full output:

[code]

When I send a message to the bot, I get the same error again:

[code]

The bot is running at http://localhost:3978/ I see the "Your bot is ready!" page at that URL.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-06-18 16:07] zxyanliu commented on #1675
If you still have issues, I'd recommend you read [how to create a blob storage container in Azure](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-portal#create-a-container). Or file issues in [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

[2020-06-18 17:01] zxyanliu commented on #1692
The content is updated and will be live soon. Thanks!

[2020-06-18 17:01] #1692 closed

[2020-06-18 17:51] v-kydela opened #1742 "Slack does not support suggested actions"
[This document](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference#action-support-by-channel) says Slack supports suggested actions. It does not. This is related to this longstanding issue: https://github.com/microsoft/botbuilder-dotnet/issues/2291

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-18 18:52] turbozapekanka commented on #1735
Consider Short code as just another phone number. So the question is: How do I connect twillio to multiple phone numbers?

[2020-06-18 20:36] JonathanFingold commented on #1738
Once the PR is merged into master, it should go live within a week.

[2020-06-18 22:06] JonathanFingold commented on #1740
We are no longer actively supporting the v3 Bot Builder SDK, see [Bot Framework SDK Version 3 Lifetime Support and Deprecation Notice](https://docs.microsoft.com/azure/bot-service/bot-service-resources-bot-framework-faq#bot-framework-sdk-version-3-lifetime-support-and-deprecation-notice).

- We have information on how to [migrate existing v3 bots to the v4 SDK](https://docs.microsoft.com/azure/bot

[2020-06-18 22:10] JonathanFingold commented on #1728
The updated topic should be live today or tomorrow. Please let me know if you need more help accessing LUIS from a bot.

[2020-06-19 08:53] tutul2010 commented on #1740
Thanks for response.
I understood that  **"as discontinue the ability to create new V3 Bots via Azure Portal on July 1st, 2019. CLI tool support for new V3 Bot creation will discontinue on August 1st, 2019"** from below sources
https://blog.botframework.com/2019/06/07/v3-bot-broadcast-message/?fbclid=IwAR3BKpGcczHShGcaleSnsfPUBsu55hHFPyPeCBpXr44xCrNCNEl1RzJwTsE
My question is that our UI faceing c

[2020-06-19 16:15] dmvtech commented on #1741
Does the bot URL you are specifying in the emulator have `/api/messages` at the end? `http://localhost:3978/api/messages`?

[2020-06-22 01:47] xtianus79 opened #1743 "The user.id gets passed through but not the user.name this is important for the SSO situation"
What is the point of the user.name. I am passing that through, it's in the token that obtains the conversation websocket.  However, when I use the websocket and and send an activity the from id is there of what I created and it is persisted even if I override that but the name is not there. now I can override that and add any object to the from field and that will post through to the message comin

[2020-06-22 14:42] sayak1711 opened #1744 "typo"
[Enter feedback here]
typo in "asynchronous"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/py

[2020-06-22 15:42] zxyanliu commented on #1744
@sayak1711 Thanks for reporting the issue. It's fixed in [PR2237](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2237). The content will be merged and go live soon.

[2020-06-22 15:42] #1744 closed

[2020-06-22 20:51] emgrol commented on #1721
Closing now that the changes are live.

[2020-06-22 20:51] #1721 closed

[2020-06-22 20:52] emgrol commented on #1658
Closing due to inactivity.

[2020-06-22 20:52] #1658 closed

[2020-06-22 20:54] emgrol commented on #1736
Thanks @FuzzAU, we appreciate the help!

Closing the issue now that the updated links are live.

[2020-06-22 20:54] #1736 closed

[2020-06-22 20:54] emgrol commented on #1739
Closing now that the updated links are live.

[2020-06-22 20:54] #1739 closed

[2020-06-22 20:55] emgrol commented on #1701
Closing due to inactivity.

[2020-06-22 20:55] #1701 closed

[2020-06-22 23:06] dmvtech commented on #1741
I noticed that NGrok was running. If you are just running localhost, you do not want `Run ngrok when the Emulator starts up` is selected.

Try unchecking that, restarting Emulator and try again.

[2020-06-22 23:15] Jamie22 commented on #1741
Still get the same error:

[code]

[2020-06-23 03:54] MarcosMoreiraL commented on #1741
I had the same problem and solved starting the bot in the terminal before opening the emulator.
Try this tutorial.
[https://docs.microsoft.com/pt-br/azure/bot-service/bot-service-debug-emulator?view=azure-bot-service-4.0&tabs=csharp](url)
I hope it'll help you.

[2020-06-23 14:09] oldnathan47 commented on #1728
Do you think it will be up soon? I see it has not been updated yet.

[2020-06-23 16:09] mmiele commented on #1673
@Jay-study-nildana  My apologies for the long delay.
I published a post that might answer your questions. Please, take a look at [Bot Authentication using GitHub as the Identity Provider](https://blog.botframework.com/2020/06/22/bot-authentication-using-github-as-the-identity-provider/).

[2020-06-23 17:50] Andrea-Orimoto commented on #1737
Hi @prashantsoni, thanks for asking. All Azure resources require a Resource Group to be created, and the Resource Group requires a location. Location doesn't affect the Bot Service Registration.

Hope this helps!
Andrea

[2020-06-23 17:53] #1737 closed

[2020-06-23 18:58] v-kydela opened #1745 "Please disambiguate user auth from bot auth"
My understanding is that bot authentication is the Microsoft app ID and password, while the authentication done by OAuth prompts is better referred to as user authentication. This document is titled "Bot authentication" but it seems to be about user authentication. The first anchor is "User authentication in a conversation" and even the browser tab thinks the document is called "User authenticatio

[2020-06-23 19:28] dmvtech commented on #1740
Yes. You can deploy a v3 (of the SDK) bot to an Azure resource (App service/web app). The bot resource (web app bot or bot channels registration) is fairly independent of the bot code. The bot resource `Test in Web Chat`, is using the web chat v4 (again not dependent on SDK version).

You can publish the bot to the app service/web app in many ways. You can follow [this article](https://docs.micros

[2020-06-23 19:28] #1740 closed

[2020-06-23 20:27] JonathanFingold commented on #1728
I updated the [LUIS](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-v4-luis) article and failed to get the changes into the Dispatch article. Sorry about that. I'll update the Dispatch one this week.

[2020-06-23 22:02] dmvtech commented on #1741
Do you see any messages in your IDE? If you select `restart conversation` in the Emulator, it still occurs?

This indicates something is wrong with the bot. What programming language is your bot in? Can you share the sanitized contents of the output window?

[2020-06-24 05:11] #1731 closed

[2020-06-24 13:25] decherd opened #1746 "Deployment template validation issue"
Using the Python echo-bit example out of the box I got it working on the emulator and am trying to deploy it to Azure. I am following the instructions for: "Deploy via ARM template (with new Resource Group)." I entered the information from the previous steps for the appId and appSecret. I made up values for everything else since I don't have a group or service plan. I am getting this error:

Inval

[2020-06-24 16:08] #1673 closed

[2020-06-24 17:24] Jamie22 commented on #1741
You mean the dotnet run command? I get this error

`C:\Program Files\dotnet\sdk\2.0.0\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.TargetFrameworkInference.targets(135,5): error : The current .NET SDK does not support targeting .NET Core 3.1.  Either target .NET Core 2.0 or lower, or use a version of the .NET SDK that supports .NET Core 3.1. [C:\Users\jamies\Source\Repos\EchoBotTest\EchoBotTest\Echo

[2020-06-24 20:26] JonathanFingold commented on #1745
I'm not sure what the correct title should be, but yes, the current title is misleading. Perhaps:
- **Bot authorization** [to act on behalf of the user]
- **User authentication**, as the user proving their identity is part of this process
- or something else

[2020-06-24 23:06] emgrol commented on #1746
Hi @decherd, I was able to successfully deploy the Python echo bot from the template so I'm not sure what is causing your issue. Adding the support label to get further assistance.

[2020-06-25 05:30] decherd commented on #1746
That's disappointing. I wiped my directory and started again and I'm getting the exact same issue:

InvalidTemplate - Deployment template validation failed: 'The resource 'Microsoft.Web/serverfarms/bots_service_plan' is not defined in the template. Please see https://aka.ms/arm-template for usage details.'.

$ az deployment sub create --template-file "./deploymentTemplates/template-with-new-rg.jso

[2020-06-25 11:01] Muriithinancy opened #1747 "Microsoft docs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/python/bot-builder-python

[2020-06-25 15:53] jwiley84 commented on #1746
Those aren't actually the same issue. The first one say your bot is not defined, the second says your service plan is not defined. A couple of questions: are these both brand new, the bot and the app service plan? Or were either one of them already existing? When you say 'wipe your directory', do you mean that you go into Azure and clear out any resources that were successfully created, even thoug