[2019-08-21 07:21] chrismade commented on #1164
thanks, so simple  - then please fix the examples in the docu - then close this case as solved - thank you so much for your support

[2019-08-21 07:25] zxyanliu commented on #1164
Hi -
@chrismade I have created PR [1164](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1674) to fix the bugs. You will be able to see the updates in a day or two in the article and then I will close the issue.

Thanks again for your feedback to help us improve our docs. We really appreciate it.

Vielen Dank!

Yan

[2019-08-21 14:47] lorenzojlamas commented on #1303
https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-localization?view=azure-bot-service-3.0

This doc

[2019-08-21 18:26] v-kydela commented on #1328
@anshuman9198

1. Can you provide your relevant bot code?
2. Are you using a bot channels registration in Azure?
3. How are you getting that conversation ID?

[2019-08-21 18:43] anshuman9198 commented on #1328
i registered my bot endpoint on azure and it is successfully sending response of user to my bot in below mention format with all ids. Secret token required for header and for that i am making another call.
FROM MS-TEAMS
`{
"text":"22222222222222",
"textFormat":"plain",
"type":"message",
"timestamp":"2019-08-20T06:53:41.7424308Z",
"localTimestamp":"2019-08-20T12:23:41.7424308+05:30",
"id":"15662840

[2019-08-21 18:55] anshuman9198 commented on #1328
Got Microsoft token
 [ERROR] TEAMS outbound API error, code: 400 , request : `https://smba.trafficmanager.net/in/v3/conversations/a:1MvcDR9zbqUyoo0rMVmoKzPEqTwesCZa5RnK8sAB519Ny-3_1TC1f7p5mMEkfPXvwDeVGXks6chC2BA9-pgvn80UI0Pt8DtQb6hUFxuw7zD2ibI7ojELD0KHuM7bmWUjG/activities/1566413544640	POST	headers:	Content-Type:application/json	Authorization:Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Imll

[2019-08-21 18:55] v-kydela commented on #1328
@anshuman9198 - Please [format your code correctly](https://help.github.com/en/articles/creating-and-highlighting-code-blocks) in future comments so that other people don't have to do it for you

[2019-08-21 18:57] v-kydela commented on #1328
@anshuman9198 - Please do not post authorization tokens publicly

[2019-08-21 18:58] anshuman9198 commented on #1328
ok

[2019-08-21 18:59] v-kydela commented on #1328
@anshuman9198 - Is there a reason you're using the REST API instead of the Bot Builder SDK?

[2019-08-21 19:01] anshuman9198 commented on #1328
Bot architecture is like that

[2019-08-21 19:05] v-kydela commented on #1328
@anshuman9198 - I asked for your relevant bot code and you posted more JSON instead. Please provide your bot code so that I can see how your bot is extracting the conversation ID from incoming activities and incorporating it into outgoing activities and sending those activities with the API.

[2019-08-21 19:12] anshuman9198 commented on #1328
I have posted the final format of my api call which i am calling  from postman whatever format works there i can manipulate it in code.
@v-kydela

[2019-08-21 21:21] v-kydela commented on #1328
@anshuman9198 - I can reproduce your issue only by including the wrong conversation ID in the URL. I notice your service URL includes "in" which I presume is for India. Your problem may be region-specific so I will try to escalate the issue and see if anyone knows of any problems with that service URL.

[2019-08-21 22:23] v-kydela commented on #1328
@anshuman9198 - For testing purposes, please try running a bot that uses the Bot Builder SDK and see if you can communicate with it. You can use a template or a sample of your choice: https://github.com/microsoft/BotBuilder-Samples/tree/master/samples

[2019-08-21 23:49] scheyal opened #1330 "Link broken:"
Doc:  https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-recognize-intent-messages?view=azure-bot-service-3.0

Text:
Use **RegExpRecognizer** to detect the user's intent using a regular expression. You can pass multiple expressions to the recognizer to support multiple languages.

Points to: https://docs.botframework.com/node/builder/chat-reference/classes/_botbuilder_d_.

[2019-08-22 15:42] JonathanFingold commented on #1315
Closing, as there will be specific guidance adding within the next few release cycles.

[2019-08-22 15:42] #1315 closed

[2019-08-22 15:48] JonathanFingold commented on #1329
All of the end points are still documented. Looks like there are some _parameter_ types, such as `AttachmentInfo`, that I removed that are not part of the schema. I will hopefully have a proposal for the interim within the next few days.

[2019-08-22 16:04] JonathanFingold commented on #1330
Looks like this is the correct target. Will fix this soon.

https://docs.microsoft.com/javascript/api/botbuilder/regexprecognizer?view=botbuilder-ts-3.0

[2019-08-22 17:21] jmnsf commented on #1329
Is there a way to access these old docs in the meantime, the above PR link doesn't work (404).

[2019-08-22 17:24] v-kydela commented on #1329
@JonathanFingold - I'm not sure what you mean when you say they're not part of the schema. The object types used by the REST API are all in the [Microsoft.Bot.Schema](https://github.com/microsoft/botbuilder-dotnet/tree/master/libraries/Microsoft.Bot.Schema) namespace. They are the schema, just like activity objects.

[2019-08-22 17:32] v-kydela commented on #1329
@jmnsf - I mentioned that you can see the old doc by following the content source link since it's out of sync: https://github.com/MicrosoftDocs/bot-docs/blob/live/articles/rest-api/bot-framework-rest-connector-api-reference.md

[2019-08-22 18:46] v-kydela commented on #1328
@anshuman9198 - Are you able to send plain text messages (without the image attachment)?

[2019-08-22 22:18] mmiele commented on #808
Work in progress.
See https://github.com/MicrosoftDocs/bot-docs-pr/pull/1680.

[2019-08-22 22:36] zxyanliu commented on #1178
Hi -FYI
I have been exploring the redeployment topic lately and would like to share what I got:
1. If you wanted to make changes to your bot frequently, you can set continuous deployment documented in this [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-build-continuous-deployment?view=azure-bot-service-4.0). I have tested and verified the topic using Github to setup conti

[2019-08-22 22:57] JonathanFingold commented on #1330
Addressed in PR. Fix should go live soon.

[2019-08-23 15:55] zxyanliu commented on #1164
Hi - @chrismade
The issue was resolved and content has been updated and live now [Write directly to storage](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?tabs=javascript&view=azure-bot-service-4.0).

Therefore closing this issue.

Thanks for your feedback, we really appreciate it.

Yan

[2019-08-23 15:55] #1164 closed

[2019-08-23 16:04] #1330 closed

[2019-08-23 17:31] CoHealer commented on #1184
@richross, do you still need assistance? We need activity on the issue if we're to keep it open.

[2019-08-23 23:30] mmiele commented on #808
@drub0y Please review the fixes in this staged document; https://review.docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-3.0&branch=pr-en-us-1680#security-considerations

[2019-08-24 00:25] richross commented on #1184
@CoHealer - yes, still do.  Been a busy end of week but will run the sample over the weekend.

[2019-08-24 17:44] anshuman9198 commented on #1328
@v-kydela i tried without the image attachment and the response was the same.

[2019-08-25 02:39] cindyloo opened #1331 "Direct Line Speech available only to c# QnABot implementations?"
there is an experimental node/javascript version that I'm hoping MS is interested in finishing? I can't figure out how to hook up the audioStream (directspeech with the QnABot and speech-services.  thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a0b8671-359e-6026-fd3a-39331cea73f3
* Version Independent ID: 29

[2019-08-26 10:19] arnoldpistorius commented on #1326
@stevkan Do you need more information?

[2019-08-26 10:50] Wajeed-msft commented on #1328
@anshuman9198 - How are you getting user's unique id which we put in members list?  Could you please try following and share your results?

**Request:**
[code]
**Response:**
[code]
And now try sending plain text message to this conversation Id. Please let us know the result.

[2019-08-26 11:16] stevkan commented on #1326
Can you list the speech client settings you have configured? I’d like to replicate this as closely as possible.

Also, if you could list the nugget package versions, I would appreciate it.

[2019-08-26 11:21] arnoldpistorius commented on #1326
Hi @stevkan

See the information below.

packages.config:
[code]

Screenshots of my settings:

![image](https://user-images.githubusercontent.com/6072267/63687182-27859100-c804-11e9-8d4a-32fb5ced5cc4.png)

![image](https://user-images.githubusercontent.com/6072267/63687213-3d935180-c804-11e9-83d7-a2bc9acf1be7.png)

[2019-08-26 14:05] anshuman9198 commented on #1328
Hey i tried above format and got
[code]

[2019-08-26 14:06] anshuman9198 commented on #1328
Hey i tried above format and got
`{
    "error": {
        "code": "BadSyntax",
        "message": "Invalid user identity in provided tenant"
    }
}`
also when i googled it found others facing similar issue
`https://stackoverflow.com/questions/57386748/botframework-invalid-user-identity-in-provided-tenant`

[2019-08-26 14:08] anshuman9198 commented on #1328
Hey i tried above format and got
[code]

[2019-08-26 14:08] anshuman9198 commented on #1328
also when i googled it found others facing similar issue
`https://stackoverflow.com/questions/57386748/botframework-invalid-user-identity-in-provided-tenant`

[2019-08-26 14:15] Wajeed-msft commented on #1328
How are you getting user's unique id which we put in members list? User is is unique per user per Bot. In your case there is a possibility that it is incorrect . Could you please try with any other user in your tenant?

[2019-08-26 14:24] anshuman9198 commented on #1328
ms-teams sends this much information to bot-endpoint and user's unique id is there
only for secret token i need to make an extra request
[code]

[2019-08-26 21:32] MichaelBuczek commented on #1316
It would be very helpful to have information on what limitations there are in use of multiple languages. E.g. Edge and Chrome read different language settings when performing speech-to-text. Replies in other languages than the one in the setting are muted, so there is no way to speak a translation. In the DirectLine sample I found (https://github.com/microsoft/BotBuilder-Samples/tree/master/experi

[2019-08-26 22:31] JonathanFingold opened #1332 "Review and update REST API ref docs"
**Describe the bug**
The REST API ref docs are a little out of date.

**To Reproduce**
Steps to reproduce the behavior:
1. Compare the REST API ref sections against the current Swagger files
   - [Bot Framework REST API reference](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-3.0)
     - [botframework-sdk/specs/botfram

[2019-08-27 08:17] iMicknl commented on #1314
@mmiele looks good, thanks!

[2019-08-27 15:01] Zack-Strife commented on #679
So there's no fix ? We're stuck we a 400 and a false error a long as the enhanced authentication is activated ?
More than obscure doc, it still looks like a bug and is problematic

[2019-08-27 18:36] v-kydela opened #1334 "Why are Activity types mentioned on this page?"
The Activity types section tacked onto the end of the page seems to give very little information about activity types and could be considered misleading. Would it be better to make this page just about entities?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53617abe-a774-a211-390b-b2f0261c5bb6
* Version Independent ID

[2019-08-27 18:40] v-kydela opened #1335 "Please update page with all 15 current activity types"
The types can be seen in the .NET SDK, the Swagger schema file, etc. They are message, contactRelationUpdate, conversationUpdate, typing, endOfConversation, event, invoke, deleteUserData, messageUpdate, messageDelete, installationUpdate, messageReaction, suggestion, trace, and handoff.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2019-08-27 20:57] v-kydela opened #1336 "Why do media cards allow multiple media URL's?"
This document suggests that media cards (animation, audio, video) play multiple files one after the other. The documentation in the Swagger file suggests that the multiple files are meant to be the same content in different formats: https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-protocol/botframework-channel.json

This should be investigated to see what really happens

[2019-08-27 22:04] v-kydela opened #1337 "Please update with all 7 card action properties"
The properties are channelData, displayText, image, text, title, type, and value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a4df548-56f2-4601-31d8-58a3237fd867
* Version Independent ID: ec4ede13-b432-61bb-5de8-1ed88bf36e17
* Content: [Add rich card attachments to messages - Bot Service](https://docs.microsoft.com/

[2019-08-28 22:12] mmiele commented on #429
Work in progress.
See PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/1697

[2019-08-29 05:12] gabog opened #1338 "Broken links in the What's new page"
The underlying aka.ms links for the testing pages are broken in the What's new page (they return 404s)

https://aka.ms/testing-framework
https://aka.ms/corebot-test
https://aka.ms/js-core-test-sample

![image](https://user-images.githubusercontent.com/12264946/63911852-c7f0d680-c9f9-11e9-99c0-c5f90f922702.png)

[2019-08-29 15:45] mmiele commented on #1338
Gabo would you mind to send the article link? Thanks

[2019-08-29 15:56] JonathanFingold commented on #1338
@mmiele [What's new](https://docs.microsoft.com/en-us/azure/bot-service/what-is-new?view=azure-bot-service-4.0)

@gabog The dev team must have moved these within the last two weeks. Do you know what the new targets are?

[2019-08-29 16:20] gabog commented on #1338
I exchanged some IMs with @mmiele, but just for the record:

- http://aka.ms/bot-test-package points to https://www.nuget.org/packages/Microsoft.Bot.Builder.Testing/ that is just C#, there is also an npm package for JS
- https://aka.ms/testing-framework  should point to https://docs.microsoft.com/en-us/azure/bot-service/unit-test-bots
- https://aka.ms/corebot-test should point to https://github.co

[2019-08-29 17:36] JonathanFingold commented on #1337
See **bot-docs-pr** [PR 1698](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1698) for more context.

[2019-08-29 17:37] JonathanFingold commented on #1336
See **bot-docs-pr** [PR 1698](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1698) for more context.

[2019-08-29 17:37] JonathanFingold commented on #1335
See **bot-docs-pr** [PR 1698](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1698) for more context.

[2019-08-29 17:46] clearab commented on #1184
Can you please make sure you've created an app package and uploaded your app to Microsoft Teams, and are not just talking to it directly by it's Id? Please also make sure you've added token.botframework.com to your valid domains in your app manifest.

[2019-08-29 22:58] #1332 closed

[2019-08-29 23:22] v-kydela commented on #1328
@anshuman9198 - Are you still working on this?

[2019-08-30 04:44] Wajeed-msft commented on #1328
@anshuman9198 - Could you please confirm you have only one bot which you are using while trying this out? You may get this error if you use conversationId created for one bot to sending message using another bot.

[2019-08-30 15:23] ebbimola opened #1339 "onTurnError: TypeError: Only absolute URLs are supported"
onTurnError

It was initially a scaffold echo bot.
QnA code to call QnA maker service were added, but now after the bot echos back, I get the following: "Oops. Something went wrong".
The emulator returns:  [onTurnError]: TypeError: Only absolute URLs are supported
What could cause this error?

[2019-08-30 15:51] JonathanFingold commented on #1339
@ebbimola Which article were you following when you received this error message?

[2019-08-30 16:01] ebbimola commented on #1339
That will be "Use QnA Maker in your bot to answer questions"

[2019-08-30 16:50] ebbimola commented on #1339
`onst dotenv = require('dotenv');
const path = require('path');
const restify = require('restify');

const { BotFrameworkAdapter } = require('botbuilder');

const { MyBot } = require('./bot');

const ENV_FILE = path.join(__dirname, '.env');
dotenv.config({ path: ENV_FILE });

// Create HTTP server
const server = restify.createServer();
server.listen(process.env.port || process.env.PORT || 3978, ()

[2019-08-30 18:40] JonathanFingold commented on #852
Sorry for the long delay. We've recently fixed some issues in the REST API reference, which should clarify what the proper JSON object should look like. Note that most channels do not currently support the ability for a bot to initiate a group chat.

[2019-08-30 18:43] richross commented on #1184
Happy Friday.  Looks like this works based on the app package suggestion.  Thanks @clearab and @jwiley84 for your help!

For completeness, there are two issues with my current bot.  First, I need to include what ever it is we are doing in the#46 Teams auth bot sample as the #18 Bot Authentication does not come back after signing in with my account info when using Teams.  Second, as mentioned I nee

[2019-08-30 19:02] JonathanFingold commented on #1339
Your host name should look something like this:
![image](https://user-images.githubusercontent.com/35047199/64045343-dd5f2100-cb1d-11e9-82fe-d9fa6d8aa69c.png)
Use the complete name, starting with `https://` and ending with `/qnamaker`.

[2019-08-31 17:54] anshuman9198 commented on #1328
@Wajeed-msft  yes i have only one bot registered

[2019-08-31 17:55] anshuman9198 commented on #1328
@v-kydela yes i am working on it and will try what u suggested

[2019-08-31 20:41] ebbimola commented on #1339
@jonathanFingold my .env file has the full url as shown below

![image](https://user-images.githubusercontent.com/8404885/64068962-f78d2200-cc37-11e9-8d55-7af3f2eef7c6.png)

the error persist...

[2019-09-02 08:54] Zack-Strife commented on #412
I have got the exact same problem. I don't want to use the magic code, did you ever find a workaround or a fix ? @DavidCGarcia89 @calvin-evans

[2019-09-02 21:24] ThanosX1980 opened #1340 "Insert bot token"
You did not explain exactly where you insert the bots token. Where??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 260c283c-f5e9-e00d-19ec-ee9df18335e5
* Version Independent ID: d1525408-36d3-6575-2331-a16379744a59
* Content: [Create a bot for Telegram - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/

[2019-09-03 03:15] emgrol commented on #1338
Hi @gabog, I've addressed these links in [PR 1701](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1701). Here's a short summary of the changes I made:

- I removed the bot-test-package URL and added new ones for the npm and NuGet botbuilder-testing packages: https://aka.ms/npm-botbuilder-testing and https://aka.ms/nuget-botbuilder-testing. I've updated the What's New article to reference both.

[2019-09-03 13:55] gabog commented on #1338
thanks @emgrol, I reviewed the changes and they look good, I think they can be merged into master.

[2019-09-03 16:10] emgrol commented on #1338
Glad to hear it @gabog, and thanks for reviewing the PR! Closing this issue now that the content is updated (changes will go live tonight).

[2019-09-03 16:10] #1338 closed

[2019-09-03 16:46] jwiley84 commented on #1184
Hi @richross! I apologize for not bring up the app package earlier. I'm glad it was able to help resolve your issue.

As for what we're doing in sample 46:

Teams behaves slightly differently than other channels regarding OAuth. Specifically an _Invoke Activity_ is sent to the bot rather than the _Event Activity_ used by other channels. This _Invoke Activity_ must be forwarded to the dialog if the

[2019-09-03 16:47] #1184 closed

[2019-09-03 19:46] mmiele commented on #1302
Work in progress.
See PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/1706.

[2019-09-03 20:29] dmvtech commented on #1339
I'm seeing if I reproduce with your code from a echo bot. In the meantime, can you clone and try with the [QnA sample](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/11.qnamaker), I just confirmed that this one worked for me.

[2019-09-03 20:45] mmiele commented on #1302
@v-kydela Added missing information. Please, review the staged document: https://review.docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-facebook?view=azure-bot-service-3.0&branch=pr-en-us-1706#connect-a-bot-to-facebook-workplace.

[2019-09-03 21:05] dmvtech commented on #1339
@ebbimola Can you share your bot code too? What does the Debug Console show for errors?

[2019-09-03 23:49] grantborthwick commented on #1335
@JonathanFingold, your link 404s. I don't see a repo called bot-docs-pr under Microsoft Docs unless it is private. Under https://github.com/MicrosoftDocs/bot-docs/pulls, the most recent PR number is 1322.

[2019-09-04 02:33] v-kydela commented on #1335
@grantborthwick - It's a private repo.

[2019-09-04 02:44] stevkan commented on #1326
@arnoldpistorius, thank you for your patience while I try and work through this. There are a few configuration points that I'm trying to manage. I hope to have something to report to you before much longer. In the mean time, are you logging any errors when the conversation resets?
Also, as only the subscription key and region are required, does this problem persist if you remove the values for "Us

[2019-09-04 10:21] ebbimola commented on #1339
`onst dotenv = require('dotenv');
const path = require('path');
const restify = require('restify');

// Import required bot services.
// See https://aka.ms/bot-services to learn more about the different parts of a bot.
const { BotFrameworkAdapter } = require('botbuilder');

// This bot's main dialog.
const { MyBot } = require('./bot');

// Import required bot configuration.
const ENV_FILE = path.j

[2019-09-04 10:24] ebbimola commented on #1339
I get the below error in the console...
![image](https://user-images.githubusercontent.com/8404885/64247322-81720f00-cf06-11e9-88a0-2b7c87869a3d.png)

[2019-09-04 15:45] mmiele commented on #429
Added the following Teams section: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-channeldata?view=azure-bot-service-4.0#adding-a-bot-to-teams.

[2019-09-04 15:45] #429 closed

[2019-09-04 15:54] v-kydela commented on #1328
@anshuman9198 - Have you tried it yet?

[2019-09-04 16:13] emgrol commented on #1340
Hi @ThanosX1980, I agree it's not exactly clear where to put the bot token. I'm currently working on figuring out where that field is and will let you know once the docs are updated.

[2019-09-04 16:58] v-kydela commented on #1328
@anshuman9198 - We can see in our logs that you're using a conversation ID created by a different bot. Your two bots are `3aa02f36-4367-40de-a083-bce835cffe97` & `e6615a79-d199-4641-9bb3-22191207af64`. Can you verify this?

[2019-09-04 17:21] zxyanliu commented on #1334
Hi @v-kydela

Thanks for your feedback. To answer your question:

Activity types are mentioned on this page because this [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-activities-entities?view=azure-bot-service-4.0&tabs=cs) covers both entities and activity types as the title suggests.

The "activity types" section actually provides much information if you click the [Acti

[2019-09-04 17:27] anshuman9198 commented on #1328
**e97 is a skype bot and **f64 is ms-teams bot. Unfortunately i lost database so i need to register fresh bot.Also bot registration takes time in Microsoft-teams case.

[2019-09-04 17:29] anshuman9198 commented on #1328
I will try with new bot and get back to you.

[2019-09-04 18:44] v-kydela commented on #1334
@zxyanliu - Perhaps you misunderstood me.

I can see that the title of the article is about both entities and activity types but I'm saying that doesn't make any sense because these two things are not closely related. Why are they sharing a page?

If the activity types section just links to another page then it's still not giving a lot of information on this page. We already link to the activity s

[2019-09-04 18:48] zxyanliu commented on #1334
Hi - Kyle,

Thanks for your reply. I will bring this in the meeting tomorrow and get back to you soon.

Yan

[2019-09-04 18:58] dmvtech commented on #1339
@ebbimola That code is from your index.js, yes? You should also have code in a bot (for example bot.js or bots\echobot.js). If it's easier, you can put your bot in a repo so I can see the whole thing.

[2019-09-04 19:06] dmvtech commented on #1339
Also, is this a typo?

`onst dotenv = require('dotenv');

Should be:

**c**onst dotenv = require('dotenv');

[2019-09-04 19:32] ebbimola commented on #1339
`const { ActivityHandler } = require('botbuilder');

class MyBot extends ActivityHandler {
    constructor(configuration, qnaOptions) {
       super();
       if (!configuration) throw new Error('[QnaMakerBot]: Missing parameter. configuration is required');
       // now create a qnaMaker connector.
       this.qnaMaker = new QnAMaker(configuration, qnaOptions);
       this.onMessage(async (conte

[2019-09-04 19:36] ebbimola commented on #1339
const { ActivityHandler } = require('botbuilder');

class MyBot extends ActivityHandler {
    constructor(configuration, qnaOptions) {
       super();
       if (!configuration) throw new Error('[QnaMakerBot]: Missing parameter. configuration is required');
       // now create a qnaMaker connector.
       this.qnaMaker = new QnAMaker(configuration, qnaOptions);
       this.onMessage(async (contex

[2019-09-04 19:37] ebbimola commented on #1339
onst { ActivityHandler } = require('botbuilder');

class MyBot extends ActivityHandler {
    constructor(configuration, qnaOptions) {
       super();
       if (!configuration) throw new Error('[QnaMakerBot]: Missing parameter. configuration is      required');
       // now create a qnaMaker connector.
       this.qnaMaker = new QnAMaker(configuration, qnaOptions);
       this.onMessage(async (co

[2019-09-04 19:40] ebbimola commented on #1339
@dmvtech I am sorry it was an oversight, and yes theres bot.js and also typo most have been when I was copying the code.

class MyBot extends ActivityHandler {
    constructor(configuration, qnaOptions) {
       super();
       if (!configuration) throw new Error('[QnaMakerBot]: Missing parameter. configuration is required');
       // now create a qnaMaker connector.
       this.qnaMaker = new Qn

[2019-09-04 19:43] ebbimola commented on #1339
@dmvtech I am sorry it was an oversight, and yes theres bot.js and also typo most have been when I was copying the code.

[2019-09-05 09:11] SychevIgor opened #1342 "Could you reduce number of nuget packages mentioned? We need just 1 and it will reference 2 others"
Could you reduce number of nuget packages mentioned? We need just 1 and it will reference 2 others
Microsoft.Bot.Builder.Integration.ApplicationInsights.Core is just enough.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db892de5-e60e-1d4f-505b-11b1cdb73323
* Version Independent ID: f7263014-b8fa-9a20-71aa-e4217b2821ee

[2019-09-05 15:04] mmiele commented on #1336
Work in progress.
See PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/1712

[2019-09-05 15:37] dmvtech commented on #1339
Can you share the bot.js code?

[2019-09-05 17:20] thibaultcrouzet opened #1343 "Bot Framework Emulator & Suggested Action"
Based on your doc (below) I implemented a suggested actions.
In the Bot Emulator Framework the text is coming but not the action buttons.

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-add-suggested-actions?view=azure-bot-service-3.0

[2019-09-05 19:33] emgrol commented on #1335
Hi @v-kydela, instead of reduplicating content @Kaiqb suggested that we just redirect that page in the TOC to [this page](https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md) that describes all of the activity types. The [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1703) is now updated to reflect that change, and the updates will

[2019-09-05 19:35] emgrol commented on #1337
Article has been updated in [PR 1703](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1703).  Closing this issue, the changes will go live this afternoon.

[2019-09-05 19:35] #1337 closed

[2019-09-05 20:06] v-kydela commented on #1335
Thank you @emgrol

I'm not sure I agree with the idea of relying on the activity spec page as a sort of schema document. That seems to be happening a lot and I don't know how that trend started. It's certainly a well-written document and it should be easy to find, but it can be hard to follow if a developer just wants to see something technical like all 15 activity types. There's no specific ancho

[2019-09-05 21:05] emgrol commented on #1335
I think these are good points @v-kydela. Do you have any suggestions/ideas @kaiqb?

[2019-09-05 21:26] #852 closed

[2019-09-05 21:49] mmiele commented on #1336
You can find the staged document at this location: https://review.docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-3.0&branch=pr-en-us-1712

[2019-09-05 22:31] emgrol commented on #1340
Closing this issue now that the updated instructions are live.

[2019-09-05 22:31] #1340 closed

[2019-09-06 10:11] ebbimola commented on #1339
`const { ActivityHandler } = require('botbuilder');
`

`class MyBot extends ActivityHandler {
    constructor(configuration, qnaOptions) {
       super();
       if (!configuration) throw new Error('[QnaMakerBot]: Missing parameter. configuration is required');
       // now create a qnaMaker connector.
       this.qnaMaker = new QnAMaker(configuration, qnaOptions);
       this.onMessage(async (co

[2019-09-06 18:25] zxyanliu commented on #1334
Hi @v-kydela

I believe the title "Entities and activity types" is correct since _Entity_ and _Activity_ are related to each other.

1.  "Entities are a part of an activity, and provide additional information about the activity or conversation." [Entities and activity types](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-activities-entities?view=azure-bot-service-4.0&tabs=cs)
2. In

[2019-09-06 18:58] v-kydela commented on #1343
Hello @thibaultcrouzet - I have just tested the activity in that document, replacing the `from`, `conversation`, `recipient`, and `replyToId` fields with applicable values, and also using the correct service URL (which should be an ngrok URL in the case of Emulator) and my own bearer token, and it works just fine. The suggested actions appear as expected. I would like to help, but I need some more

[2019-09-09 16:59] mmiele commented on #1336
Issue resolved. See also spec definition: https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-cards.md#media-card-media.
The updated article will be available in the next doc build.

[2019-09-09 16:59] #1336 closed

[2019-09-09 19:10] mmiele commented on #1302
Updated documentation published.

[2019-09-09 19:10] #1302 closed

[2019-09-09 20:39] scheyal opened #1344 "Missing V4 page for: Recognize user intent from message content"
We need equivalent documentation (& capability) for V4. Link is broken:

https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-recognize-intent-messages?view=azure-bot-service-3.0
…

This topic applies to SDK v3 release. You can find the documentation for the latest version of the SDK v4 **_here_** (link broken).

[2019-09-09 23:51] v-kydela commented on #1343
Hi @thibaultcrouzet - Are you still working on this?

[2019-09-09 23:56] v-kydela commented on #1328
@anshuman9198 - Do you still need help?

[2019-09-10 05:47] anshuman9198 commented on #1328
@v-kydela thank you for the assistance also one closing question on this thread
audio and video card is supported on teams ?? it is displaying `This card's content could not be displayed` for both the case

[2019-09-10 09:45] fullcapsbro commented on #1187
what was the solution?

[2019-09-10 10:43] thibaultcrouzet commented on #1343
@v-kydela yes

1. I use ngrok

2.
![image](https://user-images.githubusercontent.com/11459121/64607239-656be300-d3c8-11e9-9b35-343d4dc6f5c2.png)

3. Version 4.5.2 (4.5.2.71281) Mac
4. I used the example that you provided in JSON here : https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-add-rich-cards?view=azure-bot-service-3.0#adaptive-card

you can see that t

[2019-09-10 17:52] emgrol commented on #1335
I talked with @Kaiqb about this again today and he said we should just reference the schema docs.
Closing this now that the [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1703) has been merged, changes will go live later today.

[2019-09-10 17:52] #1335 closed

[2019-09-10 18:23] emgrol commented on #1342
Thanks for the suggestion @SychevIgor. I've updated the article in this [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1720); the changes will go live later today.

[2019-09-10 18:24] #1342 closed

[2019-09-10 18:42] dmvtech commented on #1339
I'm not able to reproduce the error using your code.

Have you tried creating another QnA KB and testing against that?

May I email you my keys/endpoint and have you test with that?

[2019-09-10 18:46] dmvtech commented on #1339
I sent you an email.

[2019-09-10 20:10] v-kydela commented on #1328
@anshuman9198 - You can see in [this thread](https://github.com/Microsoft/BotBuilder-V3/issues/40) that [Teams does not support audio or video cards](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#cards-not-supported-in-teams). You can also see in that thread that it's recommended to use task modules instead. I'm closing this issue now.

[2019-09-10 20:10] #1328 closed

[2019-09-10 21:10] v-kydela commented on #1343
@thibaultcrouzet - From the screenshot, it looks like the user has sent one message to the bot and then the bot sent a typing activity and four message activities. Are your suggested actions in the message that says "hello User" or one of the Adaptive Card messages?

[2019-09-11 10:13] thibaultcrouzet commented on #1343
@v-kydela like I explained in the beginning in _the Bot Emulator Framework the text is coming but not the action buttons_ in the Adaptive Card.

I don't see any of the action buttons in the Framework Emulator from the JSON below :

                "actions": [
                    {
                        "type": "Action.Http",
                        "method": "POST",
                        "url

[2019-09-11 15:17] ebbimola commented on #1339
@dmvtech thanks, yes I have created another QnA and it worked with my keys and endpoint.

[2019-09-11 15:46] v-kydela opened #1345 "The Channel Inspector is gone"
We shouldn't be trying to link to a tool we deprecated

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0bd6cc54-ac88-582c-08d7-2d15ebea70ef
* Version Independent ID: 80052090-93be-0674-59d4-4c676fd22bd9
* Content: [Add suggested actions to messages - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/dotnet

[2019-09-11 16:29] v-kydela opened #1346 "The Adaptive Card sample should not use Action.Http"
[Action.Http](https://docs.microsoft.com/en-us/outlook/actionable-messages/adaptive-card#actionhttp) is only for Outlook actionable messages. [This is confusing some customers.](https://github.com/MicrosoftDocs/bot-docs/issues/1343) Please replace this with a card that follows the [Adaptive Cards schema](https://adaptivecards.io/explorer/).

---
#### Document Details

⚠ *Do not edit this section.

[2019-09-11 16:36] dmvtech commented on #1339
Thanks @ebbimola. That shows that there is something wrong with that KB. You could test by using the POSTMAN or CURL commands that it gives you after publishing.

To clarify for me; is that (another QnA KB) a solution for you or just a test? (i.e. are you going to be using the other QnA KB as your production one).

[2019-09-11 16:40] zxyanliu commented on #1334
Closing the issue. The content is live. Thanks.

[2019-09-11 16:40] #1334 closed

[2019-09-11 16:40] v-kydela commented on #1343
@thibaultcrouzet - Thank you for the clarification. I understand the problem now. Allow me to explain.

Suggested actions are a term used in the Bot Framework to refer to some kind of temporary button that disappears as soon as a message is sent. They're usually used to automatically send a text message without the user having to type it. Because the Bot Framework connects to many different channe

[2019-09-11 22:30] esanchezlMBT opened #1347 "Proactive messages Timer Example"
Is there any example to send a proactive message to notify a user when a timer expires.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521a9f9a-025c-c55b-c939-d9d4efc5c6d0
* Version Independent ID: 3bcafb54-f7eb-54f5-1d78-5f2087e2e2dc
* Content: [Send proactive notifications to users - Bot Service](https://docs.microso

[2019-09-12 05:57] thibaultcrouzet commented on #1343
@v-kydela yes it does. thanks!

[2019-09-12 05:58] thibaultcrouzet commented on #1343
@v-kydela yes it does. thanks!

[2019-09-12 05:58] #1343 closed

[2019-09-12 12:45] r3dr4gon opened #1348 "Partially working for me"
I did everything this page said but, when I run the chatbot locally and use the emulator:
1. I can only use the mic once, after i do and it recored the answer I can not click the mic again (maybe this is emulator bug?!)
2. I can't seems to make the the bot speak, I have the base of a QnA bot and I modified the line in OnMessageActivityAsync func to:
await turnContext.SendActivityAsync(Speak(respon

[2019-09-13 19:48] dmvtech commented on #1339
I'm going to close this as you have a work around. If you still have issues, please let me know.

[2019-09-13 19:48] #1339 closed

[2019-09-16 18:41] CoHealer commented on #1326
@arnoldpistorius, it's been a couple of weeks. Do you still require assistance or should the issue be closed?

[2019-09-16 22:50] mmiele commented on #1348
@r3dr4gon Thank you for contacting us.

Could you please send us more details. specifically:

1) The link to the example bot you are using. Are you using the example listed in this article: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs?
2) Are you using a microphone with your example?
3) How are you using the direct line that you refer

[2019-09-17 07:28] sandeepindugupta commented on #816
Hi,

I am getting same error as above when I am doing
constructor(conversationState, userState) {
// Create the state property accessors for the conversation data and user profile.
this.conversationData = conversationState.createProperty(CONVERSATION_DATA_PROPERTY);
this.userProfile = userState.createProperty(USER_PROFILE_PROPERTY);

// The state management objects for the conversation and user st

[2019-09-17 07:34] arnoldpistorius commented on #1326
No, the issue remains even when leaving from Id and Language fields blank.

[2019-09-18 02:26] mukdenchild opened #1349 "context.Wait(this.MessageReceivedAsync) doesn't wait"
This is not working for me. context.Wait(this.MessageReceivedAsync) doesn't wait. My start task is triggered by Luis intent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d0640c5f-df95-00a1-7aaa-0598ab59822f
* Version Independent ID: 2e290ec7-5ddd-6f90-ba64-2c2f88239ab2
* Content: [Manage conversation flow with dialog

[2019-09-18 07:03] georgeedwards opened #1350 "Typescript Bot Tutorial zip guidance unclear"
Following on from the discussion on PR #1319 - When following the guidance for a bot with typescript, the  project root and the folder with `index.js` are different.

In response to your last comment:

@zxyanliu Thank you very much for coming back to me. I think this is getting at the issue. When following the tutorial (if using Typescript and the yo generator). Then the root project file loooks l

[2019-09-18 08:45] jwatkin opened #1351 "Does Microsoft Teams support multi-turn?"
Will Microsoft Teams support QnA Maker's multi-turn feature without having to write any code? When I tried this quick test method in Microsoft Teams, my multi-turn prompts don't appear. What did you mean when you wrote, "Adding a bot by GUID, for anything other than testing purposes, is not recommended. Doing so severely limits the functionality of a bot." Will multi-turn work if I package this as

[2019-09-18 11:02] SamarpanPreethi opened #1352 "Buttons/Choices/Confirm prompts are not available in Direct Line API 1.1"
We are trying to implement The Direct Line API 1.1 of Microsoft bot framework. The API's are working fine with text ,number prompts and text responses.     

While using Confirm and Choice prompt (with 1-5 options) due to button feature, the options/ choices are not available through API.

Kindly help us with any alternate or help us in resolving this issue

Thank you.

---
#### Document Details

[2019-09-18 16:57] emgrol commented on #1344
Hi @scheyal, the link isn't actually broken, it should be pointing to our docs home.

We point to [v4 docs](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-recognize-intent-luis?view=azure-bot-service-3.0) in the second note on the page.  I think the old methods for intent recognition are deprecated so I'm not sure if we need new articles, but do let me know if I'm mis

[2019-09-18 19:13] stevkan commented on #1326
I'm not able t o replicate the issue as you have described it. I did notice that there is a variation in the code you supplied compared to the Echo bot sample provided in the Experimental/directline-speech folder, located [here](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/csharp_dotnetcore/02.echo-bot).

Can you download and run this sample, as-is, an

[2019-09-18 19:51] xtianus79 opened #1353 "Why is Active directory not listed"
Should active directory be listed here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d58bf70a-3263-93a1-5bc2-085431a7aa6b
* Version Independent ID: c5e3de2f-58ad-1c6a-e0f3-93489d013114
* Content: [Authenticate requests - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-conne

[2019-09-18 20:12] AbhasBrahma opened #1354 "Next Steps link missing"
Next Steps link missing in https://docs.microsoft.com/en-us/azure/bot-service/bot-service-design-principles?view=azure-bot-service-4.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2129465a-984b-4420-c3a4-1a8587df7cd1
* Version Independent ID: 331eb5d6-edf6-c2b1-6efb-84ace29256ae
* Content: [Principles of bot design -

[2019-09-19 08:10] XiaolouT opened #1355 "something wrong"
When I tried to access https://&lt;your_app_service&gt;.azurewebsites.net/.bot, and got
{ "k": true, "ib": false, "ob": false, "initialized": true }

what does this mean？  Is there something wrong? Could you share the whole sample code?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff

[2019-09-19 08:52] r3dr4gon commented on #1348
Sorry for the delay.

What I did was:
1. using the QA bot example provided by microsoft (I did use it and test it locally and everything worked). which located in here:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=csharp
2. modifyed the bot code to according to:
https://github.com/MicrosoftDocs/bot-docs/blob/live/articles/directlin

[2019-09-19 17:50] xtianus79 opened #1356 "this phrasing is misleading"
QnA Maker	In the QnA Maker portal, for the knowledge base, in the Manage settings, use the key value shows in the Postman settings for the Authorization header, without the text of EndpointKey.

it is not in the manage settings of the qna maker portal?  it is in the azure portal for the service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-09-19 18:16] Batta32 commented on #1310
Hi @mdrichardson !  I have the same issue, I tried restarting the `App Service` but nothing has changed.

![image](https://user-images.githubusercontent.com/11904023/65269656-03aa2800-daf0-11e9-9012-3789a0dd1643.png)

I'm using [botbuilder-streaming-extensions](https://botbuilder.myget.org/feed/botbuilder-v4-js-daily/package/npm/botbuilder-streaming-extensions) to have the **WebSocket functionalit

[2019-09-19 19:40] r3dr4gon commented on #1348
The problem I had with the JS chat was solved, as you can see here:
https://github.com/microsoft/BotFramework-WebChat/issues/2405

However, the emulator has still the same problems, i.e., recored my speech one time answer without voice, and won't let me use the mic anymore (I also only see 200 in the debug menu.)

[2019-09-19 19:48] diberry commented on #1356
@xtianus79 - Thank you for creating this issue - can you be more specific with what you think is incorrect? #in-progress

[2019-09-19 20:25] dargilco commented on #1348
May I ask what is your application? Do you want voice input/voice output communication with your bot? If so, you can use Direct Line Speech channel, and use the Speech SDK in your client application to set up the connection with the channel and you bot. This is what the Direct Line Speech Client sample app on GitHub did. That seemed to be working for you.

[2019-09-19 22:10] ojasmaru commented on #1141
I have the same issue. What was done to resolve the issue?

I have posted the question on [Stack Overflow](https://stackoverflow.com/questions/58017710/bot-framework-promptoptions-choices-20-character-limitation)

[2019-09-20 07:55] r3dr4gon commented on #1348
Hey @dargilco, Well my end result is a bot that works only via voice usage.
However, the bot will be run via electron app (so JS), and as far as I saw direct line speech doesn't work with JS, so that is too bad for me...
I did manage to make my javascript chat working in the end as you can see with the link i posted, I'm just sticking to this post to maybe try help and fix this bug if it is indeed

[2019-09-20 13:08] apetrovs opened #1357 "GET /v3/conversations returns 405 http code"
GET /v3/conversations returns 405 HTTP code but should return a list of conversations the bot has participated in (according to this https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#get-conversations)

**Steps to reproduce the behavior**:
1. Get access token
2. Perform GET /v3/conversations
3. See the response

**Requ

[2019-09-20 15:44] mmiele commented on #1355
@XiaolouT Thank you for contacting us.
Try to enter https://<your_app_service>.azurewebsites.net/.bot/ with forward slash "/" after "bot". Obviously, replace "<your_app_service>" with your actual address. Let us know if this solves the problem.

[2019-09-20 16:29] #1347 closed

[2019-09-20 16:44] dargilco commented on #1348
You should be able to write a JS bot that support streaming extension and register it with Direct Line Speech channel. The npm packages for JS streaming extension are all published and [there is sample code](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/directline-speech/javascript_nodejs/02.echo-bot). We need to update [our documentation](https://docs.microsoft.com/en-u

[2019-09-20 17:00] RICKROSSWIFEINGRIDE commented on #1348
YOU #1FRAUd

On Friday, September 20, 2019, Darren <notifications@github.com> wrote:

[2019-09-20 17:40] dargilco opened #1358 ""Activity class" link is broken"
The "Activity class" link under "Additional resources" is broken.
Thanks,
Darren

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 122e1e45-a823-4acd-c082-60041e9e3584
* Version Independent ID: e2dd9c08-1951-b3b9-9f67-a3d948b26732
* Content: [Activities overview - Bot Service](https://docs.microsoft.com/en-us/azure/bot-se

[2019-09-20 18:11] zxyanliu commented on #1350
Hi @georgeedwards Thanks for reaching out.

This is my understanding of your issue before I help. Please correct me if I am wrong.
- You have a TypeScript bot developed on your local machine using yo generator and you wanted to deploy the bot to Azure.
- You followed the steps in this [deploy](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&t

[2019-09-21 03:40] RICKROSSWIFEINGRIDE commented on #1347
MEEK MILL SAID GET THE FREAK OF MY MUTHA FREAKING APPS YOU COCKROCHES

On Fri, Sep 20, 2019, 11:30 AM Jonathan Fingold <notifications@github.com>
wrote:

[2019-09-22 15:14] georgeedwards commented on #1350
@zxyanliu Hi Yan,

Yes - that is the issue. Or at least, When it came to the step of zipping up the project folder, I found there should be different instructions for Typescript as the project structure is different from the JS version.

[2019-09-23 06:19] zxyanliu commented on #1350
Hi @georgeedwards,
Thanks for your clarification. We are currently looking into this issue.
May I ask which tutorial did you follow to create your Typescript bot using yo template?

Yan

[2019-09-23 06:45] georgeedwards commented on #1350
@zxyanliu Sure - [this](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=javascript) one

[2019-09-23 14:10] xtianus79 commented on #1356
@diberry Hi Dina :) Yes, the using of the phrase endpoint key is something it actually wants from the azure service as opposed to the authoring endpoint key that is given in the Azure portal.  That is what hung me up for a while.  Specifically it is where one should obtain the key that would fix all understanding from my perspective.

[2019-09-23 14:16] r3dr4gon commented on #1348
Hey @dargilco, I think I was unclear (or i did not understand you). So I will try to rephrase myself.
My bot is written in c# and hosted on azure. The bot client will is written in JS (as part of electron app).

Honestly, I'm a bit confuse about the difference between direct line speech and direct line. Right now I have a JS client that use both speech and my QnA bot (to do so I use direct line ke

[2019-09-23 15:56] diberry commented on #1356
@xtianus79 Thank you for clarifying. The better explanation is in the QnA Maker docs - I'll link to that. https://docs.microsoft.com/en-us/azure/cognitive-services/qnamaker/how-to/set-up-qnamaker-service-azure#types-of-keys-in-qna-maker.

[2019-09-23 17:38] JonathanFingold commented on #1353
@xtianus79 The term AAD refers to Azure Active Directory. I've asked a developer for further clarification. I'll update the article to be more clear on this point once I hear back from the dev.

[2019-09-23 20:44] zxyanliu commented on #1350
Hi @georgeedwards
I have reproduced your issue and got my TypeScript bot deployed with success.

FYI. Here are the steps I followed in this [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=typescript).

1. Created a TypeScript bot using yo template in this [article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-

[2019-09-23 22:26] clearab commented on #1351
For the question about adding a bot by GUID: If you do not install your bot as part of a Teams app (in an app package), you will not have access to any Teams-specific information or API calls, and authentication will not work. Use the App Studio app inside of Teams to quickly create an app package and install it. See: [Getting Started with App Studio](https://docs.microsoft.com/en-us/microsoftteam

[2019-09-23 23:43] dargilco commented on #1348
Speech SDK does not yet have a JS implementation for the Microsoft.CognitiveServices.Speech.Dialog namespace. We know there is strong demand for it and we are looking into it.  So unfortunately at this time you cannot use Direct Line Speech from a JS client.

[2019-09-24 00:28] emgrol commented on #1354
Thanks for bringing this to our attention @AbhasBrahma. I've update the article in [PR 1738](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1738).

[2019-09-24 00:31] emgrol commented on #1358
Thanks for bringing this to our attention @dargilco. I've update the link in [PR 1737](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1737), and the changes should go live within a day.

[2019-09-24 17:23] JonathanFingold commented on #1353
@xtianus79 A fix is in PR and should go live within a couple days. Please reopen if this does not address your issue.

[2019-09-24 17:23] #1353 closed

[2019-09-24 18:09] tdurnford commented on #1357
@apetrovs What channel are you trying to use?

[2019-09-24 18:30] v-kydela commented on #1349
Hi @mukdenchild - I would like to help, but I have a few questions:

1. What are you expecting to happen? Do you expect `context.Wait` to stop the flow of execution like `Task.Wait`? `context.Wait` is not supposed to do that.
2. Why are you using v3? We recommend Bot Builder v4 because v3 is no longer supported.

[2019-09-24 18:38] badgerowluke opened #1359 "IDialogContext"
Where does IDialogContext live?

When I review [here](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/DialogContext.cs) I don't see the DialogContext implementing any interfaces

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95893c20-a332-ad0c-43f4-9c5a62292d3f
* Versi

[2019-09-24 18:46] #1359 closed

[2019-09-24 20:41] mukdenchild commented on #1349
@v-kydela Thank you so much for the reply. 1. It works now as I expect after I removed a static variable in the same class where the task is. I can't explain why at all. 2. I am using v3 because it's a legacy code I just picked up. I do want to migrate to v4. Do you have any tips for lifting from v3 to v4?

[2019-09-24 21:12] v-kydela commented on #1349
@mukdenchild - We know migrating may be difficult for people but we want to make it as easy as possible and so we've provided extensive documentation on the migration process: https://docs.microsoft.com/en-us/azure/bot-service/migration/migration-overview

Does this resolve your issue?

[2019-09-24 22:29] mmiele commented on #1348
Documentation updated to reflect current Direct Line Speech preview. The updated documentation will be in the next doc build.

[2019-09-24 22:35] mmiele commented on #1348
The updated documentation that reflects the latest Direct Line Speech preview will be available in the next doc build. Informed the proper team about the emulator issue.

[2019-09-24 22:35] #1348 closed

[2019-09-24 22:50] dargilco commented on #1348
Thanks!

[2019-09-25 00:24] emgrol commented on #1345
Thanks for pointing this out, @v-kydela. I've opened a [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1742) that shows all mentions of Channel Inspector have been removed from the article.

[2019-09-25 09:20] hansmbakker commented on #1026
@EricDahlvang @JonathanFingold my scenario is as follows:
I am building a chatbot that I want to provide to client companies as a service. I believe this classifies it as a multi-tenanted app. The idea is that on their intranet they add the webchat code that connects to the bot APIs I provide them with. I want to use e.g. Microsoft Graph API to get some end user context.

What is not clear to me f

[2019-09-25 17:26] CoHealer commented on #1326
@arnoldpistorius, do you still require assistance? To keep the issue open we need activity on the thread.

[2019-09-25 18:14] tdurnford commented on #1352
I would need to double check, but I don't believe the Direct Line v1.1 API supports confirm and choice prompts. I would recommend trying the [Direct Line API v3.0](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-concepts?view=azure-bot-service-4.0) API. The documentation you are referring to in your issue recommends using the latest version as well.

[2019-09-25 22:55] emgrol commented on #1358
The changes are live, closing this issue now.

[2019-09-25 22:55] #1358 closed

[2019-09-25 22:55] emgrol commented on #1354
The changes are live, closing this issue now.

[2019-09-25 22:55] #1354 closed

[2019-09-25 22:56] emgrol commented on #1345
The changes are live, closing this issue now.

[2019-09-25 22:56] #1345 closed

[2019-09-25 23:24] AskYous opened #1361 "Please add documentation on how to support follow-up prompts."
QnA has a feature called follow-up prompts. Unfortunately, the QnAMaker package doesn't give us the followup prompts. It just gives the answer. Please tell us how to support it, even if it's outside the scope of the QnAMaker nuget package. Perhaps how to call the HTTP endpoint for the QnA server and how to get follow up prompts from that.

---
#### Document Details

⚠ *Do not edit this section. It

[2019-09-26 17:11] xtianus79 opened #1362 "There are severe issues with this documentation and or the service functionality itself."
some of them are listed here and closed - which they shouldn't be if the documentation isn't fixed.  I don't believe in QA all of the scenarios have been tested thoroughly using app registration creation and an existing app registration and redeployment of an app for that matter.

It is literally causing major issues

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2019-09-26 19:17] emgrol commented on #1346
Thanks for pointing this out @v-kydela. Do you think the Adaptive Card on [the Schema Explorer](https://adaptivecards.io/explorer/AdaptiveCard.html) works, or would you recommend another card?

[2019-09-26 19:58] v-kydela commented on #1346
@emgrol - Yes, I believe that standard sample card is fine. Thanks for asking!

[2019-09-27 16:15] stevkan commented on #1326
Closing issue due to a lack of activity. If the issue persists or you have new information to provide regarding this issue, please feel free to reopen.

[2019-09-27 16:15] #1326 closed

[2019-09-27 16:33] JonathanFingold commented on #1362
@support, please let the docs team know what scenarios are missing details.

[2019-09-27 17:04] xtianus79 commented on #1362
@JonathanFingold I have figured out what is missing in the documentation and there seems to be a bug with Azure. Essentially, the but does this... If you pre-create or already have a registered bot web service and bot app you can't reassign it to another app registration because if you do... even if that app has no other bot assigned... upon reassignment it will give a weird alternate appId that i

[2019-09-27 18:19] v-kydela commented on #707
@Kaiqb - This issue shouldn't have been closed. That authentication document doesn't cover the [card action types](https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Schema/ActionTypes.cs), and even if it did it would be off topic for that document.

[2019-09-28 00:46] dgancho opened #1363 "Get Conversations doesn't work"
GET /v3/conversations returns (405) MethodNotAllowed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c36ddb50-9e44-96e3-2df3-174166efa75d
* Version Independent ID: 68ac4b64-6616-2216-3519-e0b33d3a53e4
* Content: [API reference - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest

[2019-09-30 05:13] rudifus opened #1364 "'Longitude' name twice"
'Longitude' name twice in the list of geoCoordinates, just to mention :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53617abe-a774-a211-390b-b2f0261c5bb6
* Version Independent ID: f1533f6c-f340-f838-d95b-ca5b6cd4b6dd
* Content: [Entities and activity types - Bot Service](https://docs.microsoft.com/en-us/azure/bot-se

[2019-09-30 14:37] tdurnford commented on #1352
Closing due to inactivity

[2019-09-30 14:39] tdurnford commented on #1357
Closing due to inactivity.

[2019-09-30 14:44] apetrovs commented on #1357
@tdurnford Hey! Sorry for the late reply. What do you mean by "channel"?
I use https://smba.trafficmanager.net/amer as the service URL because I receive it in incoming events. And https://smba.trafficmanager.net/apis was mentioned in #1264, so I decided to try it also.

[2019-09-30 15:51] tdurnford commented on #1357
By channel I mean the BotFramework supported channels - Teams, Skype, Facebook Messenger, Line, Direct Line, etc. Basically how are you interacting with your bot?

[2019-09-30 16:23] zxyanliu commented on #1350
Updated contents alive and therefore closing the issue.

[2019-09-30 16:23] #1350 closed

[2019-09-30 16:43] JonathanFingold commented on #1363
@dgancho Closing this as a duplicate of #1357. Please comment on that thread, and we'll try to get you unblocked.

[2019-09-30 16:43] #1363 closed

[2019-09-30 18:13] v-kydela commented on #1362
@JonathanFingold - There do seem to be some issues with this document.

1. It's unclear why we're making the creation of an app registration part of the deployment process. It makes more sense to me to recommend having the bot channels registration creation process create an app registration automatically. It does make sense to explain how to create an app registration manually so that developers

[2019-09-30 18:47] v-kydela opened #1365 "This isn't how we want developers to prompt users for input"
This document contains great information in that it explains how we would have to implement prompts if we didn't have the dialogs library, thus demonstrating the need for the dialogs library. However, it's very confusing to present this as "how to prompt users for input" when this isn't actually how we want developers to prompt users for input. I think this document should be renamed to something

[2019-09-30 19:42] v-kydela opened #1366 "Please include example validator code"
The definition for [`AgePromptValidatorAsync`](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/csharp_dotnetcore/05.multi-turn-prompt/Dialogs/UserProfileDialog.cs#L136) should be included in this document so we have something to point customers to when it comes to prompt validator documentation:

[code]

We might even want to include a whole section about validators so we have

[2019-09-30 20:23] v-kydela commented on #1349
I have to close this issue due to lack of activity. If you have more questions then please make a post on [Stack Overflow](https://stackoverflow.com/questions/ask). If you include the `botframework` tag then my team will see it.

[2019-09-30 20:23] #1349 closed

[2019-09-30 22:45] emgrol commented on #1364
Thanks for pointing this out @rudifus! I've updated the table in [PR 1752](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1752) and the changes will go live tonight.

[2019-10-01 13:15] xtianus79 commented on #1362
@v-kydela I do like it is azure cli based, and yes it is extra work to figure out where in the portal this information is, but I agree with you.  If you do the portal basis first and include the cli options that would be a perfect scenario.

Main reason is, the cli a person may not see or know the full extent of the options needed to build the service(s) because they could just be following the di

[2019-10-01 15:31] apetrovs commented on #1357
@tdurnford thanks for the explanation. My bot is for Teams and I use the Java framework and REST API.

[2019-10-01 15:43] emgrol commented on #1364
Closing this now that the changes are live.

[2019-10-01 15:43] #1364 closed

[2019-10-01 16:26] tdurnford commented on #1357
It appears that most channels do not support the get conversation endpoint which is why the request is responding with a 405 error. From what I can tell, Direct Line is the only channel that supports the request. This is not well documented unfortunately. Take a look at https://github.com/microsoft/BotFramework-Services/issues/88 for more details.

[2019-10-02 18:03] xtianus79 opened #1369 "The bot emulator gives an trace error when connecting to the emulator using the correct key and id for qna maker"
here is the error
Unable to find a QnA Maker service with Knowledge Base ID xxxxxxx-e166-44ea-94bf-xxxxxx. Please add a QnA Maker service to your bot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f68e3448-ea66-7aab-26d2-37de5f44527c
* Version Independent ID: 30c9096c-926c-3b92-6ab0-cc49edf63842
* Content: [Use multip

[2019-10-03 00:30] dgancho commented on #1357
@JonathanFingold I am using GET Conversations in Teams, and it returns "Method not allowed". You mentioned "Please comment on that thread, and we'll try to get you unblocked". What do I need to do to get this unblocked for my bots?

[2019-10-03 14:58] apetrovs commented on #1357
@tdurnford thanks for the information! But it would be great if that appears in documentation.

[2019-10-04 15:45] v-bekif opened #1371 "Email channelData object"
the Email example is fairly different than what's actually returned: only the internal channelData object is used, and the children need to be updated as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1170b28d-13ae-2e47-e14b-7cd9af0c61d3
* Version Independent ID: 506a2fe7-420f-9b76-53db-c89f4a977849
* Content: [I

[2019-10-04 15:46] v-bekif opened #1372 "Outdated"
channelData object is outdated/incorrect.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db64bd62-cf60-5d73-c1a1-37f480ec59bd
* Version Independent ID: f20bc448-a105-d242-0ec0-369ceba1044e
* Content: [Connect a bot to Office 365 email - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel

[2019-10-05 18:17] taqabubaker opened #1373 "Issue when run `dispatch create`"
I'm trying to follow the article but I'm facing an issue when I run the command `dispatch create`. The command starts working till it reach to the part where it is trying to import the model which has the same name of my .dispatch file e.g.
`Importing dispatch model...`
then I get following error:
`ERROR
Failed importing dispatch app - {

[2019-10-07 15:42] diberry commented on #1373
@taqabubaker  - What was the name of the file with the extension? `dispatch`, `dispatch.dispatch`, or some other variant?

[2019-10-07 16:39] #1351 closed

[2019-10-07 16:42] JonathanFingold commented on #1369
@support Please let the doc team know if we need to update the article.

[2019-10-07 16:43] JonathanFingold commented on #1373
@diberry Please let us know if the docs need updating.

[2019-10-07 17:04] Kaiqb commented on #1361
We'll update the docs when this feature becomes available in the SDK around November.

[2019-10-07 17:49] xtianus79 opened #1374 "The information about "NONE" intents is kind of confusing"
The statement below is a bit confusing and may need some revision.  The none intent is passed onto the dispatch application from the corresponding luis application. so that renders that portion of the article inaccurately.

&gt; Resolving incorrect top intent from Dispatch
Once your bot is running, it is possible to improve the bot's performance by removing similar or overlapping utterances betwee

[2019-10-07 17:50] xtianus79 opened #1375 "It would be nice to have information about updating a dispatched luis application model in general"
What is best practice and what does and does not need updated when changes are made to an underlying luis model or qna model

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f68e3448-ea66-7aab-26d2-37de5f44527c
* Version Independent ID: 30c9096c-926c-3b92-6ab0-cc49edf63842
* Content: [Use multiple LUIS and QnA models - B

[2019-10-07 17:56] RenanCarso commented on #1373
I'm facing the same issue! No matter if I just create a with QnA kb, Luis kb or both.

[2019-10-07 18:01] diberry commented on #1373
#in-progress

[2019-10-07 18:10] chrimc62 commented on #1373
@tsuwandy can you verify this if this caused by the new version of dispatch?

[2019-10-07 18:17] martinlarosa commented on #1373
I don't remember ever updating the dispatch tool and same thing happened to me last night, with refresh and create. It deleted my QA Luis app, good thing I had a backup.

[2019-10-07 18:29] tsuwandy commented on #1373
@taqabubaker, @martinlarosa could you email me a copy of your .dispatch file?  I was able to repro when my dispatch has only QnA sources and when my LUIS app has only patterns (no utterances).  Thanks!

[2019-10-07 19:15] damianvc31 commented on #1373
Same problem here, first when i tried to refresh an existing LUIS dispatcher. i got a similar error, then i tried to create a new one and this exact error happened. Any help?

[2019-10-07 19:42] martinlarosa commented on #1373
I don't have the file handy now, but I would imagine something changed on the API. I didn't update de tool and it was working fine on Wednesday.

[2019-10-07 19:45] tsuwandy commented on #1373
@martinlarosa , no worries, I was able to repro so sent the failing app json to LUIS team, they are looking into it at the moment.

[2019-10-07 20:12] taqabubaker commented on #1373
@diberry the current file I have is `dispatch.dispatch` but I already tried other names like `dispatch-bot.dispatch` and it didn't work.

@tsuwandy What is your email address?

[2019-10-07 20:14] bharti-semwal commented on #1373
I am also facing the same issue all of a sudden.The same code worked absolutely fine  earlier

[2019-10-07 20:17] tsuwandy commented on #1373
@taqabubaker, my email is tien.suwandy@microsoft.com. Thanks!

@bharti-semwal, LUIS team is taking a look at this issue at the moment.

[2019-10-07 20:23] taqabubaker commented on #1373
@tsuwandy email sent!

[2019-10-07 21:06] damianvc31 commented on #1373
@tsuwandy Great! Thanks. What time is that, aproximately? In UTC

[2019-10-07 21:08] taqabubaker commented on #1373
@tsuwandy Thanks for your support.

[2019-10-07 21:22] tsuwandy commented on #1373
@damianvc31, I was told that it should be before 10/8/19 5PM PST (12AM UTC).  Thanks!

[2019-10-07 21:23] teehill opened #1376 "JS snippet for 'Set up the QnA Maker instance' is malformed"
On https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-qna?view=azure-bot-service-4.0&tabs=cs#set-up-the-qna-maker-instance

I'm seeing:

[code]

Expecting to see a way to create a new QnAMaker instance (similar to the C# snippet). Something like this code:

https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/11.qnamaker/bots/QnABot.js#L12

[2019-10-08 01:37] mayank-chaturvedi commented on #1373
@tsuwandy  Hi, Any  specific time when it would be rolled out. Super critical operation stuck ?

[2019-10-08 04:48] tsuwandy commented on #1373
@mayank-chaturvedi, I was told before end of day PST but it should be deployed  before then hopefully.

[2019-10-08 14:28] ThomasPe commented on #1373
I'm still seeing this issue, any chance the deployment got delayed?

[2019-10-08 16:03] JonathanFingold commented on #1369
Closing as a duplicate.

[2019-10-08 16:03] #1369 closed

[2019-10-08 16:09] JonathanFingold commented on #1357
@tdurnford Can you also help @dgancho ? If it's more convenient, feel free to reopen the other issue I closed as a duplicate of this one.

[2019-10-08 18:02] tdurnford commented on #1357
@JonathanFingold It is the same issue. The get conversations get request does not support the Teams Channel. I don't believe there are any plans to change this behavior.

[2019-10-08 18:32] Rykimaruh opened #1377 "Need admin approval message at sign in page"
I hit this message obstacle when I try to test the connection. From my understanding, the delegated permissions chosen in this article do not require admin consent. Yet I am, why is that? I can't test out connection because of this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9a43e68-83a3-1adc-0c55-e277ddb98c6b
* V

[2019-10-08 20:35] RenanCarso commented on #1373
Just tested and it's working. :)

[2019-10-08 20:41] tsuwandy commented on #1373
yes, fix was deployed ~10 minutes ago.

[2019-10-08 20:54] bharti-semwal commented on #1373
Yes it works :)

[2019-10-09 13:19] xtianus79 commented on #1369
@jwiley84 thanks! where is the duplicate just in case anyone finds there way here

[2019-10-09 19:13] martinlarosa commented on #1373
Thanks!

[2019-10-09 21:41] r3dr4gon opened #1378 "How to create a continuous deployment?"
It is a bit unclear from this document how this should be done. Can I just create a build pipeline for the project, then deploy the output to the web app using "web app deploy" action?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9d5bd35d-3178-42cd-2893-3b6a4b7a94ce
* Version Independent ID: 1545fd44-d471-d947-f94d-4

[2019-10-10 12:27] salavala opened #1379 "Screenshots doesn't match the current service"
[Enter feedback here]
I tried to follow the document but can't find QNA bot.
![image](https://user-images.githubusercontent.com/8204815/66568443-6fa00f00-eb37-11e9-98cd-13bbc5148a5e.png)

Also, issue an error without a message.
![image](https://user-images.githubusercontent.com/8204815/66568559-b3931400-eb37-11e9-98cd-695236b5b1b6.png)

Please update the documentation to make it current.

Thanks,

[2019-10-10 17:59] saikumaru commented on #1377
Just to add, I am facing the same issue. Can anyone please suggest?

[2019-10-10 21:09] zxyanliu commented on #1362
Hi @xtianus79

Thanks for reaching out. We value your feedback very much.

Here is what I plan to do and what I usually do when solving most issues:

1. Confirm I understand your issue correctly.

You have a QnA bot and you want to do two things:
- deploy this bot to an existing app registration
- and redeployment of the bot

You followed instructions on this [Deploy your bot to Azure](https://doc

[2019-10-11 15:22] xtianus79 commented on #1362
@zxyanliu The primary issue that stems from the documentation in general is taking a service which in this case is a bot and assigning it to an application id.  There is a bug that if the app service is already created and you assign an app registration to it and let's say it already has an app assignged to that appid it let the intended app assign to the app registration id you want to be assigne

[2019-10-11 16:43] JonathanFingold commented on #1378
@support, please let the doc team know if we need to add anything to the docs.

[2019-10-11 17:06] JonathanFingold commented on #1374
@xtianus79 I'm looking into this now. I'll let you know when I have updated guidance.

[2019-10-11 18:10] emgrol commented on #1375
I agree @xtianus79 that the information you suggested should be added to that page. I'm reaching out now to get more information, and will update the page ASAP.

[2019-10-11 18:10] emgrol commented on #1376
Thanks for pointing this out @teehill. The article should be update shortly.

[2019-10-11 18:22] v-kydela opened #1380 "There shouldn't be separate C# and JavaScript sections in the "Republish your bot" section"
The process is the same for each (when using this AZ CLI method) and the C# section is erroneously missing the blurb about having to zip up your project

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 466e4935-993f-ed61-0446-c6eff7310572
* Version Independent ID: 50fe83f8-c261-0bbe-5b8e-910ee27f17dc
* Content: [Azure Bo

[2019-10-13 01:52] tellstoriesatbedtym opened #1381 "How does Neural voice work with Direct Line speech?"
It's not very clear on how to do this.. and which regions are supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4cb4da-ca0e-fc7f-686c-f3510bf9af0b
* Version Independent ID: e20d2896-dcec-8e46-2f50-2227def34250
* Content: [Connect a bot to Direct Line Speech (Preview) - Bot Service](https://docs.microsoft.com/

[2019-10-14 17:30] JonathanFingold commented on #1374
Removing most of the problematic content. Updating this section to more simply read:

Let me know if more is needed here, or if this addresses your issue appropriately.

[2019-10-14 18:01] dmvtech commented on #1378
@r3dr4gon This article is more for provisioning/deploying the intial resources. But yes, you can do that approach for (continuously) deploying the bot code to the Web App/App Service. As long as the other bot resources (Web App bot/Bot registration) exist and are already provisioned/deployed, then that will work.

[This documentation ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service

[2019-10-14 18:20] JonathanFingold commented on #1374
Fix has been pushed live and should be visible in a day or so. Please reopen with comments if there are still issues with this article.

[2019-10-14 18:20] #1374 closed

[2019-10-14 19:28] thexmarat opened #1382 "Can't create a bot. Got an error without text"
**Describe the bug**
Can't register a bot. Used a guide from link below.
Can't see an error message.
**To Reproduce**
Used step-by-step-guide
https://docs.microsoft.com/en-us/azure/bot-service/abs-quickstart?view=azure-bot-service-4.0&viewFallbackFrom=azure-bot-service-3.0
**Expected behavior**
Can't register a bot.

**Screenshots**
![1](https://user-images.githubusercontent.com/56560794/66776622-

[2019-10-15 09:53] marthinsteyn commented on #1355
Hi. I'm getting the same issue.  Do you have any feedback on this?

[2019-10-15 15:33] #1376 closed

[2019-10-15 18:38] teehill commented on #1376
looks good 👍

[2019-10-16 15:59] #1378 closed

[2019-10-16 19:18] zxyanliu commented on #1362
Hey @xtianus79,
I was wondering if you have any updates on this issue?

Thanks.

Yan

[2019-10-16 20:25] v-kydela commented on #1382
This kind of error is usually intermittent. If you are still encountering the issue, would you consider trying to get some additional troubleshooting info from your browser? In the network tab of Chrome developer tools for example, you can see error responses like this:

![image](https://user-images.githubusercontent.com/41968495/66955388-13495d80-f017-11e9-9f9d-3a04af11c118.png)

There is a chanc

[2019-10-16 22:34] nandaguruswamy commented on #1361
Hey
Can you share where the index.js file is. I see it in lib only? I have .env only.

[2019-10-17 04:15] ysisco commented on #1355
Hi, i have the same problem , i have two bot service, both are running but one work correctly for moments the other dont work. somebody resolve it?

[2019-10-17 04:17] ysisco commented on #1355
hi, i have the same problem using Directline app service extension, do you solve this situation?

[2019-10-17 21:00] dmvtech opened #1383 "Small correction on method name for WaterfallStepContext method"
Re: "Additionally, the next method continues to the next step of the waterfall dialog within the same turn, enabling your bot to skip a certain step if needed."

The method name is NextAsync:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.builder.dialogs.waterfallstepcontext.nextasync?view=botbuilder-dotnet-stable

So, should be:
"Additionally, the NextAsync method continues to the next

[2019-10-17 22:41] ysisco commented on #1355
HI, I have the same issue too, do you can resolve it? how you resolve it? , thanks

[2019-10-21 12:57] xtianus79 commented on #1362
@zxyanliu if I have updates 👍 ?  do you have updates to the docs?

[2019-10-21 15:49] diberry commented on #1356
Fixed - #please-close

[2019-10-21 15:50] diberry commented on #1373
#please-close

[2019-10-21 16:31] mapoitras opened #1385 "Microphone doesn't appear on "Test in WebChat" in Azure Bot Service"
I have followed all the instructions noted above.  I created a basic Virtual Assistant Bot that has all the coding details mentioned here:  https://docs.microsoft.com/en-us/azure/bot-service/directline-speech-bot?view=azure-bot-service-4.0

When I deploy and test the bot, I don't see the Microphone icon either in "Test in WebChat" in Azure Bot Service or the Bot Emulator.  What Am I missing.

Temp

[2019-10-21 17:12] #1373 closed

[2019-10-21 17:40] v-kydela commented on #1382
Are you still working on this? There seems to be another person having a similar problem: https://stackoverflow.com/questions/58467762/how-to-create-a-bot-channel-registration-on-microsoft-azure-blank-error-message

[2019-10-21 21:07] v-kydela commented on #1362
@xtianus79 - This issue has been backlogged while we work on the docs for the upcoming Bot Framework 4.6 release.

I have come up with some ideas for improving these documents eventually:

1. We need to clarify what is meant by deployment. Right now we are lumping the provisioning of Azure resources into the deployment process, but when many people say deployment they just mean publishing, i.e. pu

[2019-10-22 08:01] rungsoso opened #1386 "Send proactive notifications to users how to persist conversation references in database"
From https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=csharp

Note: In a real-world scenario you would persist conversation references in a database instead of using an object in memory.

How to do this?

[2019-10-22 14:53] mdrichardson commented on #1253
Re-opening as there is no documentation for Node custom storage, although there is C#. This is more of a DCR for the docs than a support issue. I'll answer the support side in the other thread.

[2019-10-22 22:17] JonathanFingold commented on #1361
@AskYous , support for multi-turn QnA Maker prompts is being added to v4.6 of the SDK. I'm working on a draft on how to support this feature. Here's the C#-specific info. It's still pretty rough, so let me know if you have any suggestions.

## Additional information

### Multi-turn prompts

QnA Maker supports follow-up prompts, also known as multi-turn prompts.
In version 4.6, the Bot Framework SD

[2019-10-22 22:27] JonathanFingold commented on #1361
@nandaguruswamy Are you looking for the **index.js** file for the sample code? It's in this directory:

https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/javascript_nodejs/11.qnamaker

[2019-10-22 23:11] agladboy opened #1387 "The input bar didn't show up by using Teams Authentication Bot Sample"
I followed the instruction above and authored the myApp by using MS Team Studio, and installed the myApp to the MS Teams through MS Team Studio, the installation succeeded and the message "Welcome to TeamsBot. Type anything to get logged in. Type 'logout' to sign-out" showed up, however there is no input bar at the bottom of the MS Team, once I changed to the other app the input bar showed up.

--

[2019-10-23 07:37] tellstoriesatbedtym commented on #1381
Any update? I've also asked this question in StackOverFlow -
https://stackoverflow.com/questions/58517643/how-to-use-neural-voices-in-azure-direct-line-speech-bot

[2019-10-23 17:05] ryanlengel commented on #1381
@tellstoriesatbedtym you can use neural voice by replacing the SSML (https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/text-to-speech#speech-synthesis-markup-language-ssml) with the appropriate neural voice in the <voice> tag

[2019-10-23 17:36] tellstoriesatbedtym commented on #1381
Thanks @ryanlengel - As I mentioned in the stackoverflow qn, I tried that as well but it still doesn't work. The DLS Client Sample App never receives Connector_ActivityReceived event after the speech has been recognized and I get this Connector_Recognized event.

If it helps to detect any limitations, my bot app is deployed in app service on free tier and is deployed in westus2 region.

[2019-10-23 19:17] ryanlengel commented on #1381
By DLS Client Sample App do you mean the one at https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client? I'm unfamiliar with how it works but if so you can try filing an issue for support on that as well (assuming the echo bot you are using does not work with it)

[2019-10-24 14:27] sindhugururaj commented on #1293
Hi ,

Am getting the same "Bad request" in Sign In window. Please help. Am using the authentication code in Git hub.

[2019-10-24 15:29] hansmbakker opened #1388 "According to IntelliSense documentation, dialogs inherit TelemetryClient when added using AddDialog"
According to IntelliSense documentation, dialogs inherit TelemetryClient when added using ComponentDialog.AddDialog:
[code]

This conflicts with the documentation that you need to add it manually to all dialogs:
&gt; When adding each dialog using the AddDialog method, set the TelemetryClient value:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-10-25 01:43] tellstoriesatbedtym commented on #1381
I can, but I don't see anyone responsive on that repo.

[2019-10-25 02:17] trrwilson commented on #1381
@dargilco can help with the DL Speech Client, but this problem is likely in how the voice is being used. Have you tried removing your use of express-as='chat'? The TTS service only supports a subset of express-as attributes at the moment and other values may result in no output being produced, which is consistent with what you're seeing. If it works without the express-as, you can try introducing

[2019-10-25 04:50] tsarunts opened #1389 "How to set Speak field in the Azure bot's output activity?"
We are using direct line speech client for communicating with the BOT. Everything works fine except the response voice is not coming(Response is shows only as text). When we check the activity JSON it contains the speak field as follows

[code]

In the Cognitive-Services-Direct-Line-Speech-Client documentation, they have mentioned that "You'll only hear the bot's voice response if the Speak field

[2019-10-25 05:37] PeterChen1105 opened #1390 "Unable to send video attachment through Line Channel"
I tried to connect the Line App Channel with the Microsoft Bot Framework. When I was testing the sending video attachment functionality, it works well in the Web Chat & local environment.

![Bot - Web Chat](https://user-images.githubusercontent.com/53604754/67545366-8c962e00-f744-11e9-9223-b5a2a29e5e81.png)

However, when I tested it through Line Channel, it generates a channel-specific error.

![

[2019-10-25 05:50] tellstoriesatbedtym commented on #1381
I see, removing express-as seems to work! Thanks @trrwilson!
This seems really hard to troubleshoot - how do we really know if there is any output being produced or not.. Any way I can add some tracing (and where)

[2019-10-25 05:56] tellstoriesatbedtym commented on #1381
Actually I also re-deployed my bot in eastus, not sure if that helped too.

[2019-10-25 22:25] MaxMueller0815 commented on #1339
I have the exact same error.
Only in the local testing with the emulator the code works.
When I pushed it in git hub and it was deployed in azure it worked in web chat today in the morning.
now I have the error above.

[2019-10-25 23:05] vikramdadwal opened #1391 "Getting 401 errors"
I have followed the 401 practice as mentioned above. But somehow when I am hitting the controller using an Azure Function it is throwing 401 unauth error. But when I hit the same controller with POSTMAN things are working fine. This has blocked us, please assist.

![image](https://user-images.githubusercontent.com/10174566/67609550-3b853a80-f742-11e9-8939-6cd787d98d95.png)

**NOTES:**
1. Our BOT A

[2019-10-27 09:55] MaxMueller0815 opened #1392 "Connection Problems: Wrong name"
On this page stands to write your env. file with:
"QnAAuthKey"
But it must be "QnAEndpointKey" like it is stated later in the code.
I couldnt find the solution for 2 hours.
Pls, correct the documentation. Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2963321c-6720-be8f-aba6-225960eba1b3
* Version Independen

[2019-10-27 12:05] MaxMueller0815 opened #1393 "V4 Node.js Documentation"
Hi,
Is there a V4 documentation page for "Recognize intent with LUIS" with a node.js example?
The link provided in the beginning leads to no specific site (https://docs.microsoft.com/azure/bot-service/?view=azure-bot-service-4.0)
When searching for "Recognize intent with LUIS" there is only V3 documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-10-28 17:22] dkonyayev commented on #1375
One more vote to get this updated for maintaining dispatch service.

[2019-10-28 17:23] dmvtech commented on #1339
@MaxMueller0815 I just wanted to check. You are still having this issue as of October 28th?

[2019-10-28 17:23] dkonyayev commented on #1356
Can we get a recommendation on how to build a script file with CLI commands? I tried to build the regular file.bat and run it in command prompt, but it would stop executing on first dispatch command.

[2019-10-28 17:29] MaxMueller0815 commented on #1339
Thanks for asking
I already tried different other samples. I cannot remember which one was causing this error.
If i find out i will update my post!

[2019-10-28 18:04] diberry commented on #1375
@emgrol @xtianus79 @dkonyayev This is on backlog - @emgrol - If you would like to move faster on this - please talk to Tien for best practices on Dispatch.

[2019-10-28 18:06] diberry commented on #1356
@dkonyayev which operating system and flavor of command prompt are you using?

[2019-10-28 19:19] clearab commented on #1387
That sounds like you've flagged the bot as a "notification only" bot. In App Studio, open your app manifest. On the Bot tab click Edit next to your bot. Make sure the checkbox "My bot is a one-way notification only bot" is not checked.

[2019-10-28 19:20] clearab commented on #1387
You'll need to re-install the bot once you've made a change to the app manifest.

[2019-10-29 16:15] sindhugururaj commented on #1324
hi,
I have the same problem and getting the error below;
Deployment failed. Correlation ID: 4ce3bd34-8dcb-4c87-9250-a1be34bacf0e. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "DeploymentFailed",
        "message": "At least one reso

[2019-10-29 16:37] dkonyayev commented on #1375
@diberry @emgrol Thanks for following up on this. I already have users asking if they need to manage and retrain dispatch or base LUIS service. If they maintain dispatch does it get overwritten when we run the dispatch scripts.

[2019-10-29 16:38] dkonyayev commented on #1356
@diberry I was able to resolve this. Added "call" command before "dispatch"

[2019-10-29 16:44] dkonyayev opened #1396 "AppID Changes on dispatch on rerun"
It seems that AppID changes every time the Dispatch command is ran. This would definitely cause issues in our applications since we have to update the config files. Is there a way to provide the AppID to the dispatch command? Alternatively, how can we refresh dispatch without deleting the dispatch app?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-10-29 17:02] diberry commented on #1396
@tsuwandy Can you provide details?

[2019-10-29 18:49] agladboy commented on #1387
@clearab Thank you very much, It works!

[2019-10-29 18:49] #1387 closed

[2019-10-29 21:55] dkonyayev commented on #1396
Sure, we created a batch file with CLI commands indicated in this article. When we modify underlying QnA KB or LUIS App we rerun the batch file. This seem to delete the LUIS Dispatch and create a new one, with new AppID.

I maybe following a wrong process but this is how we "manage" dispatch if changes occur to underlying sources.

[2019-10-29 22:11] tsuwandy commented on #1396
@dkonyayev, use "dispatch refresh" to update dispatch when child sources (LUIS/QnA are updated).  The refresh command will keep the Dispatch app id the same.

[2019-10-29 22:12] scheyal opened #1397 "Proposal: Consider an e2e roadmap tutorial section that references samples in expertise order"
## Roadmap Organization
A proposal for another view/organization of content to help users ramp up. The idea is to have a roadmap/rampup/tutorial section so that one doesn't get overwhelmed with the quantity of samples and being unsure how to navigate through them.

I was wondering whether we can maybe have a crawl walk run model that tackles the fundamentals in a shorter progressive build-up into

[2019-10-30 04:25] wilsonlapwong opened #1412 "Unable to locate Secret Keys of DLS Channel after Registration"
Hi,
After registering my bot with the Direct Line Speech Channel, I was unable to locate Secrets Keys in SpeechQnABot-BotRegistration resource in Azure Portal.

I had followed the instructions in the document.  My Location of Speech Cognitive Services is West US.

Please advise.

Regards,
Wilson

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2019-10-30 06:48] trrwilson commented on #1412
Hello, Wilson! Thank you for reaching out. We'll have a documentation update available soon, but I'm happy to say that what you see here is a new improvement to the authentication experience that went live a little before the information did.

The idea here is that you'll now only need to use your speech subscription key to connect to your bot, as the channel will be linked to the subscription fro

[2019-10-30 09:38] wilsonlapwong commented on #1412
Hello Travis,

Thank for your prompt response.  Your approach is working for me.

Thanks.

Regards,
Wilson

Travis Wilson <notifications@github.com> 於 2019年10月30日週三 下午2:48寫道：

[2019-10-30 21:12] msekkappan commented on #981
The links take to V3 bots, are there Azure search samples for v4 bots

[2019-11-01 16:00] Kaiqb commented on #1393
The LUIS topic for v4 is [here](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-luis?view=azure-bot-service-4.0&tabs=csharp).

[2019-11-01 16:00] #1393 closed

[2019-11-01 16:02] Kaiqb commented on #1391
For troubleshooting help, post your question on [Stackoverflow](https://stackoverflow.com/questions/tagged/botframework).

[2019-11-01 16:02] #1391 closed

[2019-11-02 00:06] tellstoriesatbedtym commented on #1381
@trrwilson - any suggestions on how to troubleshoot such issues in better?

[2019-11-04 19:07] v-kydela commented on #1382
Closing due to inactivity

[2019-11-04 19:07] #1382 closed

[2019-11-04 19:08] JonathanFingold commented on #1361
There is some debate over how the sample code should look, so a full explanation is on hold. I'll update this thread once that debate is settled.

[2019-11-04 19:35] nandaguruswamy commented on #1361
Sure thanks for looking into this Jonathan.

Thanks
Nanda

On Mon 4. Nov 2019 at 20:08, Jonathan Fingold <notifications@github.com>
wrote:

--
*Thanks & Regards*
*Nanda Guruswamy*
*Mobility and Virtualization Expert*
*AirWatch and Citrix certified*

*------------------------------------------------------Mob: (+91) 821 778
4249/973 908 7275Skype ID: Nanda.guruswamy@outlook.com
<Nanda.guruswamy@outl

[2019-11-04 21:31] diberry commented on #1356
This second issue seems to be resolved. #please-close

[2019-11-04 22:10] JonathanFingold commented on #1386
See [Managing state](https://docs.microsoft.com/azure/bot-service/bot-builder-concept-state?view=azure-bot-service-4.0) for a conceptual overview of how state and storage are handled in the Bot Framework SDK.

We have three main how-to articles on state and storage, in increasing level of complexity:
- [Save user and conversation data](https://docs.microsoft.com/azure/bot-service/bot-builder-howto

[2019-11-04 22:34] JonathanFingold commented on #1392
@MaxMueller0815 Thanks for catching this. I'm in the process of fixing the code snippets.

[2019-11-05 15:52] mmiele commented on #1412
@trrwilson Travis is there any need to put a note in the article? Please advice. Thanks

[2019-11-05 16:01] mmiele commented on #1377
@Rykimaruh Thank you for contacting us. Would you send additional information about your testing, perhaps a screenshot? Thanks

[2019-11-05 17:20] #1392 closed

[2019-11-05 17:28] JonathanFingold commented on #1388
@hansmbakker In this case, the IntelliSense is correct. While the sample code as currently structured works fine, it does extra work, with respect to setting the telemetry client on child dialogs. We need to coordinate with a couple other teams, so we'll let you know when a full fix is in place.

[2019-11-05 18:31] emgrol commented on #1383
Thanks for catching this @dmvtech, I've opened a [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1797) and the changes should be changed merged later today.

[2019-11-05 18:43] tsuwandy commented on #1375
@xtianus79 , @dkonyayev, simply run "dispatch refresh" to update the same Dispatch LUIS app when underlying models (LUIS or QnA) are updated.  "dispatch refresh" command is basically the same as "dispatch create" command but it'll simply update the same Dispatch LUIS app (no new LUIS app id is created).

[2019-11-05 18:50] EricDahlvang opened #1415 "Send Proactive Message javascript code is incorrect"
The following is the code containing **continueConversation**:

[code]

From: https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/16.proactive-messages/index.js#L68

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521a9f9a-025c-c55b-c939-d9d4efc5c6d0
* Version Independent ID: 3bcafb54-f7

[2019-11-05 20:34] #1352 closed

[2019-11-05 20:58] v-kydela commented on #1389
Hi @tsarunts - Have you seen these instructions? https://docs.microsoft.com/en-us/azure/bot-service/directline-speech-bot

I can see a few differences in how the XML is set up. Try following the document and see if that helps.

[2019-11-05 21:50] mmiele commented on #1355
Added missing information. The updated article will be available in the next doc build.

[2019-11-05 22:40] zxyanliu commented on #1415
Thanks! @EricDahlvang We will fix it.

Yan

[2019-11-05 22:46] zxyanliu commented on #1415
Actually, @JonathanFingold is fixing this one here [#1798](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1798)

[2019-11-05 23:07] mmiele commented on #1379
@salavala Would you mind to send the actual document you are using instead of the screenshot? Also, did you try the follow the steps described in this article:[ Tutorial: Use QnA Maker in your bot to answer questions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=csharp)?

[2019-11-06 00:01] JonathanFingold commented on #1365
@v-kydela Given this topic's history, I think we need to keep it close to where it is. There was a rather forceful demand for this specific topic. As to proper framing, I agree that we could do a much better job in the intro, and basically tell devs to move on to the conversation flow topic unless they want to "roll their own".

Marking as backlog for now.

[2019-11-06 00:10] JonathanFingold commented on #1415
Fixed in PR and merged into master. Fix should go live next time we merge master into live.

[2019-11-06 00:10] #1415 closed

[2019-11-06 00:27] dargilco commented on #1381
If you specify one of the Neural TTS voices in your Bot's SSML, it should work with Direct Line Speech channel and your own client application or with Direct Line Speech Client application. The times where folks reported Neural TTS audio not working was due to a cognitive services speech key from an Azure region not supported by Neural TTS. [See this table](https://docs.microsoft.com/en-us/azure/c

[2019-11-06 00:33] dargilco commented on #1381
And regarding SSML tags supported by Microsoft's TTS, [see this page](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/speech-synthesis-markup).

[2019-11-06 00:39] CoHealer commented on #1362
@xtianus79 do you still need assistance or shall we close this?

[2019-11-06 00:45] stevkan commented on #1390
@PeterChen1105, I'll start attempting to repro this issue, however can you post the relevant code you are using for producing and sending the video attachment?

[2019-11-06 15:58] dkonyayev commented on #1375
@tsuwandy  Thanks, I started to run "dispatch refresh". Just to confirm - if I added new utterances to dispatch does the refresh process retain them?

[2019-11-06 17:13] tsuwandy commented on #1375
@dkonyayev, if utterances were added directly in luis.ai, they won’t be retained.  To keep those extra utterances in the Dispatch app, one would need to add those utterances in a text file (one utterance per line), then add the file to dispatch, “dispatch add -t file -f <<filePath>> —intentName <<target intent name, ie l_General>>.

Once file with extra utterances are added to dispatch,  the utter

[2019-11-06 18:38] dkonyayev commented on #1375
@tsuwandy So in other words we should not be managing Dispatch on luis.ai, since any changes will be overwritten with dispatch refresh.

Just to confirm, the format of the file is something like below, with space between utterance and intent?

hi l_greeting
hello l_greeting
help l_help

[2019-11-06 18:43] tsuwandy commented on #1375
@dkonyayev, correct.  One file per target intent.  In your example, one would have to create two files to add to l_greeting and l_help intents, then add both files to dispatch (one time only unless there are utterances added to different Dispatch intents).  Utterances can continuously be added to the files and "dispatch refresh" will take care of updating the dispatch LUIS app.

[2019-11-06 18:46] JonathanFingold commented on #1361
Sample **49.qnamaker-all-features** in the [BotBuilder-Samples](https://github.com/microsoft/BotBuilder-Samples) repo includes support for a bunch of QnA Maker features, including multi-turn prompts. This sample is not yet stable, in that it might be revised once or twice over the next couple months.

[2019-11-06 20:58] emgrol commented on #1375
I've update the article with both information re: `dispatch refresh` and how to keep utterances added in LUIS between refreshes in [this PR](https://github.com/MicrosoftDocs/bot-docs/issues/1375). Thanks for the help @tsuwandy, and let me know if anything is unclear or incorrect.

[2019-11-06 23:23] mmiele commented on #1385
@mapoitras Thank you for pointing out the issue. The team is aware of the problem and is working to fix it.
If you want to test a Bot with voice input and voice output, please check the [Direct Line Speech Client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client) on GitHub.

[2019-11-06 23:25] mmiele commented on #1385
If you want to test a Bot with voice input and voice output, please check the [Direct Line Speech Client](https://github.com/Azure-Samples/Cognitive-Services-Direct-Line-Speech-Client) on GitHub.

[2019-11-06 23:25] #1385 closed

[2019-11-07 00:23] v-kydela opened #1416 "This topic is missing from the v4 docs"
Please make a typing-indicator doc for v4

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a79c4cc-6f80-91ad-6a88-81874f7154a1
* Version Independent ID: ac8f6181-1f8a-8911-5e3d-6421bfb2c94d
* Content: [Send a typing indicator - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-sen

[2019-11-07 02:21] rungsoso commented on #1386
@JonathanFingold

I use "Write directly to storage" to store conversation references in cosmos db. It work for me
thank you

[2019-11-07 02:21] #1386 closed

[2019-11-07 16:19] turbozapekanka opened #1417 "ALM process overview"
Would be nice to have an overview of the Application life cycle management processes and tools that are recommended on each step.
The howto sections here in these docs explains how to do do individual things but we don't see a full picture of the process.
Also some tools are replaced with others (e.g. luisGen is deprecated and new BF CLI tools are available)
It would be nice to see what are curren

[2019-11-07 22:44] zxyanliu commented on #1380
Hi @v-kydela
Thanks for reporting this issue. I agree that there is no need to have two separate tabs (C# and JavaScript) while running the same command.
I am going to walk through the process and update the content soon.

Yan

[2019-11-07 22:58] WashingtonKayaker commented on #1388
@hansmbakker Thanks for taking the time to report this.  The change to the sample app is on the backlog, once the updated sample is ready we will update the article as well.

[2019-11-07 22:59] #1388 closed

[2019-11-07 23:42] dargilco opened #1418 "Changes following GA of Direct Line Speech Channel"
Please remove "(available in private preview starting May 2019)"
Change "Private preview, no SLA" to "General availability"
In Client SDK support, add JS (for Java Script support)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b30881c5-a087-aa49-9dbe-3c8772de5851
* Version Independent ID: a9fab212-bcaf-6eaa-af2e-2d960f

[2019-11-08 00:10] mmiele commented on #1412
Closing based on @terrwilson comments.

[2019-11-08 00:10] #1412 closed

[2019-11-08 17:28] Kaiqb commented on #1418
Fixed

[2019-11-08 17:28] #1418 closed

[2019-11-08 18:06] mmiele commented on #1355
This is the information you obtain when **everything works correctly**, so nothing is wrong; where

- **k** determines whether Direct Line App Service Extension (ASE) can read an extension key from its configuration.

- **initialized** determines whether Direct Line ASE can use the extension key to download the bot metadata from Azure Bot Service

- **ib** determines whether Direct Line ASE can es

[2019-11-08 18:06] #1355 closed

[2019-11-08 18:14] mmiele commented on #1379
Please, follow the steps described in the article: [Tutorial: Use QnA Maker in your bot to answer questions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=csharp).

[2019-11-08 18:14] #1379 closed

[2019-11-08 20:54] v-kydela commented on #1389
@tsarunts - Are you still working on this?

[2019-11-08 21:13] mmiele commented on #1377
@Rykimaruh When you created the connection and requested the API permissions to the MS Graph, did you verify that the operations required the admin consent? Please, check. For testing purpose just try _User.Read_. Let me know if this helps.

[2019-11-09 00:13] Jeffders commented on #1377
This has to do with the tenant under which you created your application. Some tenants require admin consent for any new application that is created in order for users to be able to log into this application. This is not something specific to using the application with your bot (any use of the app to sign in would result in the admin consent challenge).

[2019-11-09 19:31] ashoksamal6363 opened #1419 "After clicking on DirectLine Speech: The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."
The resource you are looking for has been removed, had its name changed, or is temporarily unavailable.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa4cb4da-ca0e-fc7f-686c-f3510bf9af0b
* Version Independent ID: e20d2896-dcec-8e46-2f50-2227def34250
* Content: [Connect a bot to Direct Line Speech - Bot Service](https:

[2019-11-11 04:57] mmiele commented on #1377
As explained in the previous comments some tenants require admin consent for any new application that is created in order for users to be able to log into this application. Please, check with your admin team.

[2019-11-11 04:57] #1377 closed

[2019-11-11 07:11] LindaLawton opened #1421 "Visual studo 2019"
This page could use some updates for Visual studio 2019 mainly around the project creation section.  I am also assuming this can be downloaded via the .net core cli "Install BotBuilderVSIX.vsix"

More information about how to install the emulator and where to get the install needs to be added.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2019-11-11 20:23] butchmarshall opened #1422 "`MICROSOFT-APP-ID&client_secret=MICROSOFT-APP-PASSWORD` is very confusing"
I was using my Azure App Id and password.
This was giving me an access token to use.

When trying to use the `/v3/conversation` endpoint I kept getting the error message `{"error":{"code":"BotNotRegistered","message":"No registration found for this bot"}}`.

This section should definitely clarify you need to use your BOT AppId and BOT Password.

---
#### Document Details

⚠ *Do not edit this secti

[2019-11-12 00:40] stevkan commented on #1390
Can you tell me which version of Botbuilder you have installed?

I wasn't able to repro the error you generated. However, I was able to get the video to display in Line. I fudged and dumbed-down some of the internals of the function calls (for simplicity and because I'm not connected to your systems), but otherwise tried to replicate your flow. The only real difference I noted is my inclusion of t

[2019-11-12 01:12] PeterChen1105 commented on #1390
@stevkan Hi Steven, thanks for your response!

I used the BotBuilder version 4.5.1 for development, and yes, I didn't include the` thumbnailUrl` property in the `getInternetAttachment()` function. After I add the property into my code, the video can be sent through successfully.

So apparently this property is compulsory for the Line Channel, while not required for most of the other channels (incl

[2019-11-12 01:12] #1390 closed

[2019-11-12 07:56] wilsonlapwong opened #1423 "Unable to Send Messages to Bot embedded in web application"
Hi,
I had created a bot with QnA, Speech to Text and Text to Speech features.  Moreover, the bot had been tested successfully in both Emulator and Direct Line Speech Client.

However, when I embedded the bot in my web application running on local IIS on Windows 10, I failed to send messages to the bot.

Details:
*************************************
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;body&gt;

[2019-11-12 22:51] emgrol commented on #1383
Closing this now that the changes have been merged.

[2019-11-12 22:51] #1383 closed

[2019-11-12 22:53] emgrol commented on #1375
Closing this now that @tsuwandy approved the [changes](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1802/files/6c32f0ea0c5d7c12d1ab7b48b5b65f25708d000b).

[2019-11-12 22:53] #1375 closed

[2019-11-12 23:22] v-kydela opened #1424 "The Channel Inspector has been gone for a while so the docs should not refer to it"
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-create-messages?view=azure-bot-service-4.0#message-text-and-formatting

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: affd2f4d-3114-882c-5311-890e87ab0925
* Version Independent ID: ce93eb01-f631-18ab-a126-1778f52ac46d
* Content: [C

[2019-11-13 00:08] dmvtech opened #1425 "Small typo"
In this section:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-compositcontrol?view=azure-bot-service-4.0&tabs=csharp#how-cancellation-works-for-component-dialogs

In the C# code sample, it shows:
Bots\DialoBot.cs

Should be:
Bots\DialogBot.cs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a9577ff-cf5

[2019-11-13 21:59] dmvtech commented on #1423
@wilsonlapwong Do you get any errors or exceptions?

[2019-11-13 23:51] zxyanliu commented on #1380
addressing here: pr #[1820](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1820)

[2019-11-14 01:45] wilsonlapwong commented on #1423
Hi,

I got the following exception in Channel of Web App Bot:
There was an error sending this message to your bot: HTTP status code Unauthorized

Please advise.

Regards,
Wilson

[2019-11-14 21:46] dmvtech commented on #1423
That's typically an appid/password configuration issue.

- You've got the webchat client embedded in your local website running in IIS, but is your bot running locally as well, or deployed to Azure?
- Is your bot configured with appid/password or were you testing via emulator without those values?

[2019-11-15 08:49] LindaLawton opened #1427 "More information needed"
parameters	Provide deployment parameter values. appId value you got from running the az ad app create command.
Would you please supply more information on to what these parameters are and what should be their values?   I have spent the last hour googling around trying to figure out how to find a group name and an app service plan location.  I am still not sure what values should be in here So far

[2019-11-15 10:36] puyu2010 opened #1428 "Issue for send welcome wording to user on WebChat"
I have a bot and I have deployed my bot to Azure. But I found an issue about sending welcome wording.

I set all welcome message in OnMembersAddedAsync. When I test it offline and on Azure portal, it works as my expected. But when I test it in WebChat, welcome message cannot send to me when I open chat bot ? Can you please help us to debug this issue ? Thanks a lot.

Welcome message can send when

[2019-11-15 17:52] zxyanliu commented on #1380
Closing because the issue is fixed in PR [1820](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1820) which just got merged.
Thanks!

[2019-11-15 17:52] #1380 closed

[2019-11-15 20:45] jona888 opened #1429 "typo"
4. second bullet
"Your will..."--&gt;"You will..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c2e431c-e5ab-e733-ef58-8d9c450c0d75
* Version Independent ID: c3bbe2ec-5b6a-71f8-e465-e0bd760b66d5
* Content: [Bot review guidelines - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-review-gui

[2019-11-15 22:48] WashingtonKayaker commented on #1421
Thank you @LindaLawton for taking the time to report these issues.  I have updated the project creation section of this [article](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0#create-a-bot) to use Visual Studio 2019 instead of 2017.  Regarding the emulator, the link was incorrect, once clicking on the `Bot Framework Emulator`

[2019-11-16 07:14] wilsonlapwong opened #1430 "No Response from My Bot in Web Chat of Azure Portal"
Hi,
I have verified that my bot is accessible and functional on localhost when security is disabled, confirmed that my bot's app ID and password are valid, and verified that my bot is accessible and functional on localhost when security is enabled.

However, after publishing my bot to Azure portal successfully and testing my bot in Web Chat in Azure, there is no response from my bot.  Also, the fo

[2019-11-16 07:20] wilsonlapwong commented on #1423
Hi,
I have verified that my bot is accessible and functional on localhost when security is disabled, confirmed that my bot's app ID and password are valid, and verified that my bot is accessible and functional on localhost when security is enabled.

However, after publishing my bot to Azure portal successfully by Visual Studio 2019.  Then I test my bot in Web Chat in Azure, there is no response fr

[2019-11-18 15:55] diberry commented on #1396
Docs now have dispatch refresh information. #please-close

[2019-11-18 15:56] diberry commented on #1356
@emgrol please-close

[2019-11-18 16:09] turbozapekanka opened #1431 "Outdated instructions"
Screenshots and instructions are slightly outdated for the "Connect a bot to Facebook Messenger" part

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0199d414-87e1-e32d-b528-ee9d2e03c54e
* Version Independent ID: f88f4b08-0977-baee-5226-844695828b95
* Content: [Connect a bot to Facebook Messenger - Bot Service](https://

[2019-11-18 16:55] zxyanliu commented on #1429
Thanks for pointing out the typo. Fixing in PR [1828](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1828)

[2019-11-18 17:12] zxyanliu commented on #1427
Closing this issue since it is addressed. Thank you!

[2019-11-18 17:14] zxyanliu commented on #1429
Closing this issue because it is fixed. Thanks!

[2019-11-18 17:14] #1429 closed

[2019-11-18 17:44] #1361 closed

[2019-11-18 17:51] JonathanFingold commented on #1422
@butchmarshall Sorry for the delay. I'll update **Step 1** in the article to be clearer that you need to use the bot's app ID and password.

[2019-11-18 18:14] dmvtech commented on #1423
Is your appid/password configured in the `appsettings.json`/`.env` file? or have you configured in the app services configuration settings? I would recommend setting up in both (at least for now/troubleshooting). When setting up in the app services's config settings, the key names must be correct (`MicrosoftAppId`,`MicrosoftAppPassword`)

[2019-11-18 19:00] WashingtonKayaker commented on #1372
Will track as part of  #1371

[2019-11-18 19:00] #1372 closed

[2019-11-18 19:40] v-kydela opened #1432 "Bot creation doesn't fail with other "Supported account types" options selected"
[This section](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0&source=docs#i-need-to-manually-create-my-app-registration-how-do-i-create-my-own-app-registration) appears to be wrong:

I have successfully created a bot channels registration using an app registration with `AzureADMyOrg` as the sign-in audience. I presume the sign-

[2019-11-18 20:13] JonathanFingold commented on #1422
Fix should propagate to the live site within a day or two.

[2019-11-18 20:13] #1422 closed

[2019-11-18 23:02] tdurnford commented on #1428
Take a look at https://github.com/microsoft/BotFramework-WebChat/issues/2120#issuecomment-516056614 - it details how to send a welcome message in Web Chat.

[2019-11-18 23:22] PeterChen1105 opened #1434 "Trust Service URL using MicrosoftAppCredentials in Bot Framework (Node.js)"
**Problem Description**

When I want to send proactive messages to Facebook & Line channel, similar errors occur as this issue (https://github.com/Microsoft/botbuilder-js/issues/714).

However, the error message I received is not (the error I receive is just [onTurnError]: Error without any details)

But I am still thinking the problem is related to MicrosoftAppCredentials, so can the error messag

[2019-11-19 06:25] wilsonlapwong commented on #1423
Hi Dana,

Thank for your email.  Both keys(MicrosoftAppId,MicrosoftAppPassword) are
configured in appsettings.json.

Moreover, failed request tracing logs have been enabled in Azure portal and
I find that there are 401 and 400 HTTP code error events.

Please refer the enclosed and advise.  Thank you.

Regards,
Wilson

Dana V <notifications@github.com> 於 2019年11月19日週二 上午2:14寫道：

[2019-11-19 10:36] shikshik commented on #1365
I must admit it also made everything confusing for me as I'm new to this framework.
Examples and tutorials should express real-life applications.

Other than that, the framework is awesome, but docs really need more updates.
Cheers!

[2019-11-19 17:24] mdrichardson commented on #1428
@puyu2010 If that sample doesn't seem to solve your issue (it should), let me know and I will help.

[2019-11-19 17:43] jwiley84 commented on #1430
how are you deploying your bot?

[2019-11-20 16:29] CealClem opened #1435 "Typo"
"nain dialog"
should it be main dialog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73b78c1c-bd0f-caec-32ad-47e6dfcc5b34
* Version Independent ID: 00957482-fbae-de4e-6c9c-49dae66c74af
* Content: [Add natural language understanding to your bot - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-buil

[2019-11-20 17:44] mdrichardson commented on #1434
@PeterChen1105 Can you include the code you're using to send the proactive message? I've seen this error occur if appId and password are not passed into the ConnectorClient or Adapter that's sending the activity.

And is `trustServiceUrl()` being called prior to sending the message?

[2019-11-20 21:58] dmvtech commented on #1423
Really strange.

That _should_ be enough, but can you just test by setting them in the app services' configuration? Another thing you might want to try is creating a new password/secret for the ADapp/bot.

[2019-11-20 22:24] xtianus79 commented on #208
@JonathanFingold there is not good documentation on this and it seems the library isn't the same in C# and Node... Not with this middleware but what can actually use the middleware such as a database that is either memory or cosmosdb for azure specifically in Nodejs.

[2019-11-20 23:19] v-kydela commented on #1389
Closing due to inactivity

[2019-11-20 23:19] #1389 closed

[2019-11-21 15:28] roythompsonuno opened #1436 "Grammar fix - "It's" to "Its""
&gt; Be sure to await any activity calls so the primary thread will wait on the generated activity before finishing it's processing and disposing of the turn context.

Change to: "...generated activity before finishing **its** processing..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ccf81d0-a7a0-1e2a-5b35-8cfd723

[2019-11-21 19:13] dkonyayev opened #1437 "Dispatch Source Code"
Is dispatch source code available? We may need to create a custom dispatch solution that will read from configuration what KBs to add to dispatch. This is useful for us when migrating from DEV to higher environments as KB IDs will change.

[2019-11-21 19:16] q00u opened #1438 "Facebook adapter instructions needed"
I have an existing botbuilder bot running on azure. It worked on the facebook channel, so I know everything is configured and working correctly.

However, the facebook channel is going away soon, and it needs to be converted to working with the adapter.

Unfortunately, I can't find a single working instance of a botbuilder bot working with the facebook adapter. It might work with botkit, but not b

[2019-11-21 21:18] Kaiqb commented on #1438
This [page](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-additional-channels?view=azure-bot-service-4.0) has information about adapters and links to Facebook Messenger content.

[2019-11-21 21:18] #1438 closed

[2019-11-21 21:19] Kaiqb commented on #1437
You can find the Dispatch source code [here](https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch).

[2019-11-21 21:19] #1437 closed

[2019-11-21 21:49] mdrichardson commented on #1428
@puyu2010 Does that sample solve your issue, or do you still need assistance?

[2019-11-21 21:53] q00u commented on #1438
That page doesn't help if the adapter isn't working.

And we can't know if the adapter isn't working if it can't be tested.

And it can't be tested.

[2019-11-21 21:58] q00u commented on #1438
Your answer is a non-answer. Did you read my question? I don't need generalities on what the difference is between a channel and an adapter.

I have a working existing botbuilder bot using the Facebook channel.

**The Facebook channel is going away in less than a month.**

**There's no working Facebook adapter example for botbuilder.**

Please show me where on your answer the solution to this is.

[2019-11-21 22:07] q00u opened #1439 "Facebook adapter instructions needed"
**The Facebook channel is going away in less than a month.**

**There's no working Facebook adapter example for botbuilder.**

(Please note, nobody is asking what an adapter is, or what is the difference between an adapter and a channel. We just need ONE working example for botbuilder.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue li

[2019-11-22 02:26] PeterChen1105 commented on #1434
@mdrichardson I didn't include the **MicrosoftAppId** & **MicrosoftAppPassword** in the local .env file, since in the local environment if I add these two environment variables, the application will not be able to execute successfully.

![Bot App Configuration](https://user-images.githubusercontent.com/53604754/69392310-b9c90280-0d29-11ea-8129-b835db86942b.png)

The application logic for sending t

[2019-11-22 04:40] ahotrod commented on #1419
Now get a blank page.

[2019-11-22 05:35] ashoksamal6363 commented on #1419
how to fix it?

[2019-11-22 16:32] mdrichardson commented on #1434
@PeterChen1105 Are you receiving this error when the bot is hosted locally, deployed, or both? I'm relatively certain that you *must* have AppId and Pass set in order for `TrustServiceUrl` to work.

You *should* be able to develop locally with those specified, provided that you pass those values to Emulator. If you can't, there's a whole different issue we need to deal with.

I believe your code l

[2019-11-22 22:22] PeterChen1105 commented on #1434
@mdrichardson Based on your comment:

1. The `[onTurnError]: Error: Facebook API error` is received when the application is deployed, and in the deployment environment, I am sure that the AppId & AppPassword have been set properly.

2. However, in the local environment, I receive the 401 Unauthorized Access Error. But I am also sure that the AppId & AppPassword has been enabled when passing as the

[2019-11-22 22:49] zxyanliu commented on #1427
Hi @LindaLawton

FYI.
`az add app create` is an Azure CLI command to create a web application. Read details of this command [here](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-create).
`az deployment create` is an Azure CLI command to start a deployment. Read details of this command [here](https://docs.microsoft.com/en-us/cli/azure/deployment?view=azure-cli-lat

[2019-11-24 23:10] evandropomatti opened #1442 "v4 SDK update"
Please add State Management documentation for version 4 of the SDK for Node.js.

Table storage is no longer available. It seems that the options are now BlobStorage or Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee04844e-a1c9-9011-50f7-90b59d329caa
* Version Independent ID: 51d48e6f-dd2e-3289-f38e-c943c6c

[2019-11-25 00:06] evandropomatti opened #1443 "Can't find Cosmos DB reference for V4"
When I go the V4 SDK for Node JS I can't find the instructions on how to configure it for Cosmos DB.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 432edb74-c60c-6416-c568-69fcbe0a768e
* Version Independent ID: 06e3a7a0-263c-9654-d328-8d573c0552ea
* Content: [Manage custom state data with Azure Cosmos DB - Bot Service]

[2019-11-25 10:06] omroczkowski commented on #1300
Is there any possibility to use Speak in PromtAsync?

[2019-11-25 16:57] mdrichardson commented on #1434
@PeterChen1105 Where is the code that sends the proactive message? And why not store the entire ConversationReference in Firebase? Some channels need quite a bit of information on the ConversationReference in order for a proactive message to be successful (especially Teams, not sure about Facebook). Can you set a breakpoint or console.log the conversationReference before it gets sent to show me wh

[2019-11-25 17:22] mdrichardson commented on #1428
Closing due to inactivity. Feel free to re-open if you're still having trouble.

[2019-11-25 17:22] #1428 closed

[2019-11-25 19:12] dmvtech commented on #1423
@wilsonlapwong Were you able to test by setting the properties in the app service config?

[2019-11-26 00:05] Kaiqb commented on #1288
QnA telemetry article published.

[2019-11-26 00:05] #1288 closed

[2019-11-26 00:22] wilsonlapwong commented on #1423
After setting id and password in configuration, test in web chat is working.

Thanks.

在 2019年11月26日週二 03:12，Dana V <notifications@github.com> 寫道：

[2019-11-26 00:52] PeterChen1105 commented on #1434
@mdrichardson I think I have provided the code for sending the proactive messages above.

1. I defined a Firebase Firestore observer to listen to the changes made on a setting reference document and trigger broadcasting messages

[code]

2. Sending broadcasting messages by retrieving the conversation references that I stored in Firebase

[code]

I do store the complete conversation reference in Fi

[2019-11-26 01:06] zxyanliu commented on #1436
Closing because the bug is fixed. Thanks!

[2019-11-26 01:06] #1436 closed

[2019-11-26 07:39] nisheetjain commented on #1419
Thanks for reporting this issue @ashoksamal6363 and sorry for a delayed response here.  This is known issue where some customers see a blank page in Internet explorer and we are working on a fix to address this soon. In the meantime, can you check this behavior in other browsers (Chrome/Firefox etc.)?

[2019-11-26 16:25] roythompsonuno opened #1450 ""Create the Dispatch Model" Section"
This may be a result of my novice with using bot framework/bot service, but some clarification may be helpful.

I followed the https://microsoft.github.io/botframework-solutions/ tutorials using the virtual assistant and skill C# templates through Visual Studio. No Cognitive Models folder is generated. I'm not sure what I need to do, or if this document does not apply to my use case. I may be goin

[2019-11-26 16:52] mdrichardson commented on #1434
I was able to get this working on Facebook without Firebase, so there is definitely something going wrong on your end or with the way you have this set up. Try this and let me know how it goes.

1. Start with a fresh copy of [the Proactive Sample](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/16.proactive-messages/)
2. Add your AppId and AppPassword
3. [Set

[2019-11-26 18:23] #1423 closed

[2019-11-26 19:40] roythompsonuno commented on #1450
Another question that this article left me with that might be valuable to new users, like me:

If I'm using Luis to dispatch to a skill that uses a QnA model, do the intent's example utterances need to be more or less the same as the QnA knowledgebase questions? In other words, do I need to copy the questions in the knowledge base over to the Luis intent for the recognizer to work?

[2019-11-26 19:45] Cage-e opened #1453 "Package source asks for login"
Trying to follow the steps [on this page](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-client?view=azure-bot-service-4.0) but the package source asks for login info. Can public access this source?

I'm basically trying to create a client to use in a Xamarin project. We cannot use web chat as we have a lot of customization and functionalities on to

[2019-11-26 20:43] #1362 closed

[2019-11-26 20:52] jwiley84 commented on #1430
Do you still need help?

[2019-11-26 21:27] aosolis commented on #1432
@v-kydela When you select the single-tenant option ("Accounts in this organizational directory only") does your bot *work*? We tried this earlier and the bot is not able to get an access token to talk to the APIs, because the single-tenant AAD app cannot get tokens in the `botframework.com` tenant.

[2019-11-26 21:46] v-kydela commented on #1432
The will receive messages just fine, but when the bot tries to send messages I get this error:

[code]

Perhaps we should say the bot will be unusable instead of saying bot creation will fail.

[2019-11-26 22:32] DarrenThurman opened #1454 "Cant access DL ASE Preview, even after adding account on botbuilder.myget.org"
I have created an account on botbuilder.myget.org and logged in.
When I try to access the link given in the article, I get "You are not allowed to access this feed."

What do I need to do to get access the the ASE preview?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c463a003-c709-b516-ce1b-6c45537de3b2
* Version Ind

[2019-11-26 23:09] zxyanliu commented on #1427
Hi @LindaLawton
I was wondering if you have resolved this issue? Did you try again?
Please let us know.

Thanks.

Yan

[2019-11-27 00:56] TheCSir opened #1455 "Can not change bot channel display name."
I tried to change the bot channel registration display name in azure web portal shown in this document, but it changes back to the previous one once I click save.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b527247b-38f8-0bc0-6eda-af6382d8f1af
* Version Independent ID: e1c371cc-9183-1138-69e3-77a096a9f964
* Content:

[2019-11-27 17:50] JonathanFingold commented on #1439
We'll follow up with the team and get back to you.

[2019-11-27 18:20] JonathanFingold commented on #1442
@evandropomatti - does the [Cosmos DB](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0#using-cosmos-db) section of the **Write directly to storage** article contain the information you're looking for?

[2019-11-27 18:25] JonathanFingold commented on #1443
@evandropomatti - is this a duplicate of #1442?

[2019-11-27 19:40] evandropomatti commented on #1442
Yes, it does. Indeed it was my stupidity for seeing that there is a JavaScript tab in there. Thanks.

[2019-11-27 19:40] #1442 closed

[2019-11-27 19:40] evandropomatti commented on #1443
Yes it is, sorry.

[2019-11-27 19:40] #1443 closed

[2019-11-27 19:43] LindaLawton commented on #1427
I did a lot of trial and error spamming it with random values until I got it to work.

I posted this after the fact so that otheres wouldn't have the same issue

[2019-11-27 19:52] zxyanliu commented on #1427
Thanks! Do you think providing a table listing all parameters will be helpful? If so, we will update the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) soon to avoid similar confusion. Please let us know.

[2019-11-27 21:54] JonathanFingold commented on #1442
No worries, glad to help.

[2019-11-27 22:22] Kaiqb commented on #1439
We are working on adding adapters for other channels and will update documentation as those adapters become available. If you are using JS, you can take a look at this [topic](https://botkit.ai/docs/v4/platforms/) about using botbuilder-adapter-facebook.

[2019-11-27 22:22] #1439 closed

[2019-11-27 22:52] Kaiqb commented on #1455
@jameslew - is that a bug?

[2019-11-27 23:07] zxyanliu commented on #1455
I just tried and the display name cannot be changed. I believe it is a bug of Azure. @Kaiqb Should I update the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-settings?view=azure-bot-service-4.0)?

[2019-11-27 23:37] cube32chris commented on #1455
Also tried to change display name and it reverted back to previous.

[2019-11-27 23:38] zxyanliu commented on #1455
Right, I had the same experience. Thanks for reporting the bug. @cube32chris

[2019-11-28 00:30] wilsonlapwong commented on #1430
Hi Jessica,

I have created Direct Line channel by following the document:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat-speech?view=azure-bot-service-3.0
<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbot-service%2Fbot-service-channel-connect-webchat-speech%3Fview%3Dazure-bot-service-3.0&data=02%7C0

[2019-11-28 01:55] wilsonlapwong opened #1459 "Changing the default input speech language from English(en-us) to Cantonese(zh-HK)"
Hi,
I have created Direct Line channel by following the document:
https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-webchat-speech?view=azure-bot-service-3.0

The Web Chat with Speech is working well except that I have difficulty to change the default input speech language from English(en-us) to Cantonese(zh-HK).  Please advise me how to do so.  Thanks.

Regards,
Wilso

[2019-11-28 04:03] MarkLeiSource commented on #1455
I faced the same problem, I need to follow the process of the bug. When will it get fixed?

[2019-11-28 11:55] Vinay-Sopinti opened #1460 "Unable to change Bot Icon and Display name"
I have been trying to change bot's display name and bot icon but changes are unable to reflect.
My custom bot icon and new display name are not showing up.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b527247b-38f8-0bc0-6eda-af6382d8f1af
* Version Independent ID: e1c371cc-9183-1138-69e3-77a096a9f964
* Content: [Confi

[2019-11-28 14:36] Robotbae opened #1461 "Where is Azure Bot Service?"
Hello  - I'm curious, I am trying to make a case that Azure Bot Service is held only in a particular region and all information is secure. I've found a couple things that I want to clarify :

On this [link ](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0#how-can-i-migrate-azure-bot-service-from-one-region-to-another)

How can I

[2019-11-28 23:12] PeterChen1105 commented on #1434
@mdrichardson After I convert the conversation reference into JSON format before pushing to Firebase, and parse the JSON object before continue the conversation, the problem seems to be fixed. Thx!

I will close this issue now, cheers!

[2019-11-28 23:12] #1434 closed

[2019-11-29 13:20] psbds opened #1462 "Action support by channel is difficult to understand"
Hi,

Is difficult to understand the meaning of the "Action Support ny channel" table, as it is showing numbers, instead of icons like the tables above in the same document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60950444-cdcc-f0b9-aa21-c99894e26b50
* Version Independent ID: 0bd14221-e030-f9d8-41e6-1a52c9a76440

[2019-11-29 13:48] PaulienBuskens opened #1463 "Bot doesn't work when I try to deploy it on Azure"
I followed the entire Tutorial but when I try to deploy the bot it didn't work.
To try a different approach I created a bot sample account through Azure with Web App Bot. I downloaded the source code of the sample project and found that there where a lot of files missing in de project that I created through this tutorial.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-02 09:03] MarkLeiSource opened #1464 "Got 502 Bad Gateway Error while sending request to https://smba.trafficmanager.net/amer"
I'm developing a bot app for MS Teams platform , and sometimes when my service sending the reply to the teams user, I got 502 Bad Gateway Error from https://smba.trafficmanager.net/amer, here is the error stacks:
Error: POST to 'https://smba.trafficmanager.net/amer/v3/conversations/*****/activities/*****' failed: [502] Bad Gateway
    at Request._callback (D:\home\site\wwwroot\node_modules\botbuil

[2019-12-02 17:04] alexmanie commented on #1455
Same here :(

[2019-12-02 17:21] #1421 closed

[2019-12-02 18:59] jwiley84 commented on #1430
That describes how you add a channel, but doesn't answer the question of 'how are you deploying your bot?' I need that to be able to figure out why your bot is coming back with an 'Unauthorized' error.

[2019-12-02 21:04] cube32chris commented on #1455
Spoke to my guy on the inside, they know about it but there's been a code freeze around thanksgiving, should be sorted soon.

[2019-12-02 21:47] zxyanliu commented on #1455
Hi @cube32chris, thanks for the info.

[2019-12-03 01:35] wilsonlapwong commented on #1430
Hi Jessica,

Thank for your email.  I publish my SDK v4 bot to Azure via Visual Studio
2019.  The unauthorized error of Web Chat was fixed by recreating the Web
Chat channel.

However, I have encountered Speech to Text problem in Direct Line channel.
I expected that I speak to the bot in Cantonese and the bot translated my
speech to traditional Chinese in text in Web Chat.  But it did not work.

P

[2019-12-04 01:28] EricDahlvang commented on #1462
Hi @psbds

Those numbers are from https://github.com/microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Builder.Dialogs/Choices/Channel.cs

Maybe the title of this section should be: "The following table shows total Card Actions and Suggested Actions supported by channel."

[2019-12-04 15:41] dupuis2387 commented on #1434
i'm wondering if I can also chime in here... since, i'm having this same issue, but on the skype channel. It seems that when i started using the JS bot framework (v4.0ish), the docs/github comments, might have said you could just do

`MicrosoftAppCredentials.trustServiceUrl('https://smba.trafficmanager.net/apis/', new Date(8640000000000000));`

once, before you start sending/receiving messages, li

[2019-12-04 16:39] Robotbae commented on #1461
Hiya - any luck?

[2019-12-04 16:51] mdrichardson commented on #1434
@dupuis2387 I believe Skype uses a lot of different serviceUrls based on the user's region. It would be best to grab the serviceUrl from the activity/conversationReference and `trustServiceUrl` right before sending the proactive message, just to be sure. Also, if this happens to be for Skype for Business, that should have [stopped working at the end of October](https://docs.microsoft.com/en-us/azu

[2019-12-04 17:38] JonathanFingold commented on #1460
Closing as a duplicate of #1455. Please reopen with a clarification if this is not the case.

[2019-12-04 17:38] #1460 closed

[2019-12-04 21:44] mdrichardson commented on #1454
@DarrenThurman The feed is now public. There were a few packages that got merged into the main SDK and the whole experimental feed was mistakenly closed instead of just a few packages.

[2019-12-04 21:44] #1454 closed

[2019-12-04 21:45] mdrichardson commented on #1453
@Cage-e The feed is now public. There were a few packages that got merged into the main SDK and the whole experimental feed was mistakenly closed instead of just a few packages.

[2019-12-04 21:45] #1453 closed

[2019-12-05 10:18] stevkan commented on #1459
The article you reference is for using [BotChat](https://github.com/microsoft/BotFramework-WebChat/tree/v3#microsoft-bot-framework-web-chat) (i.e., BotFramework-WebChat **v3**). This version is currently deprecated. Is v3 the version you are using or did you mean [v4 Web Chat](https://github.com/Microsoft/BotFramework-WebChat#bot-framework-web-chat)?

[2019-12-05 13:51] #1356 closed

[2019-12-05 14:09] diberry commented on #1450
@tsuwandy Can you provide details to help this customer?

[2019-12-05 14:10] #1396 closed

[2019-12-06 01:12] wilsonlapwong commented on #1459
Hi Steven,

I mean v4 Web Chat.  Thanks.

Regards,
Wilson

Steven Kanberg <notifications@github.com> 於 2019年12月5日週四 下午6:18寫道：

[2019-12-06 09:29] tsuwandy commented on #1450
@roythompsonuno, regarding using LUIS to dispatch to skill using QnA kb question, are you using Dispatch CLI to dispatch to multiple skills?  https://github.com/microsoft/botbuilder-tools/tree/master/packages/Dispatch

If so, you won't have to copy the questions over as the Dispatch tool will do it for you.  The output of the tool is a LUIS app which helps dispatch user utterances to the sub model

[2019-12-06 16:05] dmvtech commented on #1464
We are looking into this to see if there were any issues with that resource. Stand by.

Are you still exhibiting problems currently?

[2019-12-06 16:55] jwiley84 commented on #1430
Ok, that is a totally different problem, and will need many more details then you've outlined here.  I'm not 100% certain that the scenario you've outline is possible. Are you using webchat or directline speech? Can I get the app ID of your bot, please?

Also, I didn't receive any attachment. Please post your HTML here in the issue so I can look it over.

[2019-12-06 16:59] jwiley84 commented on #1463
Hi @PaulienBuskens!

Can you outline what files were different?

[2019-12-06 18:16] HowdySys commented on #1450
This helps! Thank you @diberry and @tsuwandy!

[2019-12-09 08:50] PaulienBuskens commented on #1463
Hi,

This where the files that I got after following the documentation.

[cid:image003.png@01D5AE76.0EB4C6C0]

This was more or less the files I got from the demo project I downloaded from Azure. A few files changed because I am using the project.
[cid:image005.png@01D5AE76.0EB4C6C0]

Greetings

Paulien

From: Jessica Wailes<mailto:notifications@github.com>
Sent: Friday, 6 December 2019 17:59
To:

[2019-12-09 08:53] PaulienBuskens commented on #1463
structure documentation
![structureDocs](https://user-images.githubusercontent.com/32159110/70421196-a5933e00-1a69-11ea-9230-975ebaea7ffd.png)

structure azure demo
![StuctureDemo](https://user-images.githubusercontent.com/32159110/70421216-af1ca600-1a69-11ea-990d-0bb7903d4986.png)

[2019-12-09 10:46] alexmanie commented on #1455
The error changing Display name seems to be fixed

[2019-12-09 10:52] cube32chris commented on #1455
Tried on two bot registrations this morning. Worked great for me. Thanks!

[2019-12-09 12:29] MarkLeiSource commented on #1455
Worked great for me too, thanks a lot.

[2019-12-09 12:53] MarkLeiSource commented on #1464
The error seems can not be reproduced these days. Also I add some backoff retry logic，just in case.

[2019-12-09 16:37] zxyanliu commented on #1455
Yes. I just tested it and the bug is fixed. Thanks for the updates @cube32chris @alexmanie @MarkLeiSource. Now that the Azure bug is fixed and there is nothing I should update in the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-settings?view=azure-bot-service-4.0), I am closing this issue. :)

[2019-12-09 16:37] #1455 closed

[2019-12-09 16:40] dmvtech commented on #1464
Ok, thank you. My assumption is that it was likely some transient issue, and might have been with the hops between the client and server. Please let us know if this issue reoccurs for you.

[2019-12-09 16:40] #1464 closed

[2019-12-09 18:40] mvgoffin opened #1469 "Payment Request out of use? why?"
Hi,
I also found in this documentation that "Request Payment" service was deprecated on December 1, 2019, why? Is there a way to integrate a Payment capabilities into Azure bot or Virtual Agents? Many thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60950444-cdcc-f0b9-aa21-c99894e26b50
* Version Independent ID: 0

[2019-12-09 21:47] armstrong-charles opened #1470 "Interactive Components"
I have configured as per your documentation, but i don't get any activity from slack.botframework.com/api/Actions.
Is it right configuration, or do i need to do something on bot side?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
* Version Independent ID: 5d5

[2019-12-10 05:15] feifeiJun opened #1471 "How to pass Bot State Accessors Inside Dialogs"
How to pass outer state to dialog when start it? For instance, I want to have a state named with city name, and i store it in conversationstate. when firstly start the dialog, dialog asks the users for city name, and end dialog. In next turn, the dialog start again, I wish this time the dialog have already get the city name from outer scope, instead of ask user again.  I know waterfall dialog coul

[2019-12-10 05:58] feifeiJun commented on #1471
seems i should move it to another place. so close it. But if you have the answers, pls reply here. Thanks.

[2019-12-10 05:58] #1471 closed

[2019-12-10 15:25] Robotbae commented on #1461
Hello again - any luck on the question? I am happy to rephrase it if easier?

[2019-12-10 23:27] okulygin opened #1472 "Global Message Handlers sample (GitHub) page is not found"
https://github.com/Microsoft/BotBuilder-Samples/tree/master/CSharp/core-GlobalMessageHandlers 404

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b69f4105-9442-84c9-5fb3-2064f5856973
* Version Independent ID: 5c63b35f-f9cd-3ad4-af89-47062d5e7ec3
* Content: [Implement global message handlers - Bot Service](https://docs.m

[2019-12-11 08:01] anishjaindev opened #1473 "Disabling activity logging in app insights"
How can we disable activity logging in custom events in application insights. I still may need app insights on for diagnostic information of the server but not require to log activity logs. If we wipe out the keys information from settings page, will the activity logging be disabled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-12-11 11:18] ignaciobe opened #1474 ".Net Framwork instructions missing"
Since the bot integration with no longer work using azure channel, there are instructions for integrate it using javascript/node js.

What about existing integrations using .Net Framework or .Net Core? Is it there an example to integrate it now?

Thanks

[2019-12-11 15:28] marcasmar94 commented on #1439
What do you mean the Facebook channel is going away? Does this apply to all Bot framework bots connected to a normal facebook page messenger or only WorkPlace ?

[2019-12-11 19:43] thirumaran007 opened #1475 "Throws an exception while rendering webChat"
Throws an exception while rendering webChat  like below
https://********.net/.bot/v3/directline/conversations/*****?watermark= 404 (Not Found)
anyone facing this kind of issue ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3a6ed6-7d29-d82e-c86f-8f405ab12fe3
* Version Independent ID: 6a4ba6ea-51df-929f-e307-38c4a1f9

[2019-12-11 19:48] thirumaran007 commented on #1475
Above exception throws when we use  **var dl = window.WebChat.createDirectLine({** , but when we use **var dl = new DirectLine.DirectLine({**  it shows like below
![image](https://user-images.githubusercontent.com/4000745/70654913-41b57480-1c25-11ea-8e9c-055d7ba2dc79.png)

[2019-12-11 20:00] #1450 closed

[2019-12-12 02:25] robertwood62 commented on #1365
I agree that this isn't exactly what I was looking for.  I'd like to see documentation on deriving from the Prompt class to create your validation.  For example, validating an address.  I'd also like to see the prompt handle scenarios such as 1) address not found, retry.  2) Single address found (confirm with yes/no) 3) Multiple addresses found, pick one.  It's also not clear what the event lifecy

[2019-12-12 16:48] stevkan commented on #1470
Hi @armstrong-charles, what kind of "action" are you trying to send and how have you configured it for your Slack app? For instance, are you utilizing an interactive message or interactive component? And, is it tied to an App Surface (i.e., Home, messages, or a modal)?

Can you share your Block Kit code from Slack (if using)?

[2019-12-12 18:09] CoHealer commented on #1430
Closing, @wilsonlapwong please reopen if you still need assistance.

[2019-12-12 18:09] #1430 closed

[2019-12-12 18:27] zxyanliu commented on #1474
What did you mean by "no longer work using azure channel"? What specifically are you trying to accomplish? Is there any doc you are referring to? We need more details to answer your question. Thank you!

[2019-12-12 19:41] WashingtonKayaker commented on #1473
Please see [Enabling / disabling activity event and personal information logging](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0#enabling--disabling-activity-event-and-personal-information-logging) in the Azure Bot Service Documentation.

[2019-12-12 21:36] emgrol commented on #1425
Thanks for pointing this out, I've opened up a [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1901) that fixes this typo. The changes should go live soon.

[2019-12-12 21:36] emgrol commented on #1435
Thanks for pointing this out, I've opened up a [PR](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1901) that fixes this typo. The changes should go live soon.

[2019-12-12 23:01] stevkan commented on #1459
Hi @wilsonlapwong, thank you for your patience. If you reference sample [06.g.select-voice](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/06.g.select-voice) from the BotFramework-WebChat repo, this demonstrates how to set the speech voice / language based on the user's locale.

In the snippet below, if the user's locale is `de-DE` (i.e. Germany), then German will be spoken

[2019-12-13 01:21] wilsonlapwong commented on #1459
Hi Steven,

Thank for your feedback.  It really helps.

Regards,
Wilson

Steven Kanberg <notifications@github.com> 於 2019年12月13日週五 上午7:01寫道：

[2019-12-13 07:10] MarkLeiSource opened #1476 "429 HTTP Status Code Issue for Chat Bot"
Hi dear,

I am developing a chat bot app on MS Teams platform, when I testing my broadcast feature of the bot, I got the 429 HTTP status code error, the broadcast feature need to send one common message text to more than 150 Teams app users at the same time, I found maybe 65 users' broadcast messages had been rejected by 429 Error,  so my questions are:

1.What is the rate limit for my case ?
2.If

[2019-12-13 16:39] mdrichardson opened #1477 "Twilio Card Support"
My mistake on the "Card Support by Channel" table.

All of the cards for Twilio that are currently ✔ should actually be 🌐

I'd submit a PR for this, myself, but [the public version](https://github.com/MicrosoftDocs/bot-docs/blob/live/articles/bot-service-channels-reference.md) doesn't appear to be up-to-date with this.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-12-13 16:44] #1459 closed

[2019-12-13 17:55] Kaiqb commented on #1253
There is not sample for Node that is why. Adding the code to the doc can happen once the sample is done.

[2019-12-13 17:55] #1253 closed

[2019-12-13 18:36] jwiley84 commented on #1461
Hi @Robotbae!

Azure Bot Service does not support region move. It’s a global service that is not tied to any specific region.

I'm not certain how to break that down any more. For load balancing, and similar purposes, ABS is not set to one region. Your client will call the ABS by interacting with your bot, and then the ABS routes this traffic to the web app, but not through any particular data cen

[2019-12-13 20:43] WashingtonKayaker commented on #1477
I updated the article with these changes (PR1903).

[2019-12-13 22:03] WashingtonKayaker commented on #1432
Updated the Important message from:

If any of the other options are selected, **bot creation will fail**.

To:

If any of the other options are selected, **the bot will be unusable**.

[2019-12-13 23:26] armstrong-charles commented on #1470
Hi,
I have a bot which is based on Bot Builder SDK V4.
I have selected 'Interactive Component' and configured as per documentation.
Similar to 'Create a task...Yogi' in the example, context menu item for App Action is added but when i clicked, no message was received.
[https://api.slack.com/interactive-messages](url)
Thanks
Charles

[2019-12-14 11:05] Robotbae commented on #1461
Hello! Thanks for your response. Essentially I was trying to draw out what is meant by “global service”

How do we ensure that the called bot service remains in one particular region if we know both the client and the web app is both in one single region? If even possible to ensure the data does not leave that one region

What does routing data, design data and registration data entail?

[2019-12-16 13:00] satyansh-sagar opened #1478 "How to pass trusted Origin in .net Token Controller"
Hi team,
I'm working on a direct line channel with Bot framework. I don't want the Magic code to be shown to user. As per the document we need to pass trusted origins in direct-line client. How to do that in token controller?

Someone please help me out?
@msft-jinayoon  @msft-shahins  @msftbrking

[2019-12-16 17:31] zxyanliu commented on #1427
Closing. please reopen this issue if you still have questions. thanks!

[2019-12-16 17:31] #1427 closed

[2019-12-16 19:49] WashingtonKayaker commented on #1476
Hi Mark, There is an article in the Teams documentation titled [Optimize your bot: rate limiting and best practices in Microsoft Teams](https://docs.microsoft.com/en-us/microsoftteams/platform/bots/how-to/rate-limit) that should help you resolve this.  Basically you will need to either handle the 429's through incremental backoffs, or send the messages slow enough that you don't receive 429's.

Yo

[2019-12-16 22:52] CoHealer commented on #1476
Removing support label in lieu of the solution presented. Mark, if the Teams docs mentioned above do not resolve you issue please feel free to reopen the issue.

[2019-12-16 22:52] #1476 closed

[2019-12-16 23:02] CoHealer commented on #1381
Closing due to inactivity. @tellstoriesatbedtym, if this did not resolve your issue please feel free to reopen.

[2019-12-16 23:02] #1381 closed

[2019-12-17 00:17] v-kydela commented on #1463
@PaulienBuskens - That tutorial has a few possible paths to take. I presume from your screenshots that you've chosen JavaScript, but you haven't given any other information like the parameters you've passed into Yeoman or the deployment template you've chosen or any of the values you've passed into the AZ CLI commands. However, I still think I know what's going on.

The deployment process stores y

[2019-12-17 04:44] xieofxie opened #1479 "This package is no longer existing: Microsoft.Bot.Builder.StreamingExtensions"
It is only 4.5.1 https://www.nuget.org/packages/Microsoft.Bot.Builder.StreamingExtensions/4.5.1-preview1
However, sdk is 4.7 now https://www.nuget.org/packages/Microsoft.Bot.Builder/
Does it still work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independent ID: 30a3fce

[2019-12-17 09:51] Deepti886 commented on #1366
Hi, the bot encountered an error when I tried to give number as input for age. It is saying to please fix source code to run the bot. I have not made any changes to the code of github. It is same but still getting error when trying to implement above waterfall dialog example. Please help me out.
Just wanted to mention, it is working fine for negative case when I am not giving age.

[2019-12-17 10:09] Deepti886 commented on #1366
Hi All,below is the conversation and response what bot is giving: Please help me the solution.

Would you like to give your age?

Yes

Please enter your age.

32

The bot encountered an error or bug.

To continue to run this bot, please fix the bot source code.

[2019-12-17 17:26] v-kydela commented on #1366
@Deepti886 - If you believe this to be a samples bug then you should [post the issue in the samples repo](https://github.com/microsoft/BotBuilder-Samples/issues/new/choose)

If you just want help getting it to work then you should ask a question on Stack Overflow

[2019-12-17 17:31] zxyanliu commented on #1366
FYI. I just ran the [C# sample](https://github.com/Microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/05.multi-turn-prompt) and reproduced the process. I did not get the error as reported.

![image](https://user-images.githubusercontent.com/32497439/71019638-8f136500-20af-11ea-9358-02e7ac80cc39.png)

I agree with @v-kydela as suggested above.

[2019-12-17 21:15] zxyanliu commented on #1431
Hi @turbozapekanka Thanks for reporting the issue. If you are looking for information about using Facebook adapter, please check [here](https://www.npmjs.com/package/botbuilder-adapter-facebook). Also, [docs for Facebook adapter](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1908) will be available soon.

[2019-12-18 10:10] naday84 commented on #1419
Im getting a blank page across Edge and IE, while on chrome Im getting "Something went wrong."! what should I do?

[2019-12-18 18:53] dmvtech commented on #1461
This is really referring to the Bot Channels Registration (one resource, created as part of a Web App Bot if not created on it's own). This consists of the information (in settings) that points to the bot endpoint (where your bot code is), as well as information about what channels the bot is configured for, etc. These resources are deployed to every region.

I'm not sure about these. I'll see if

[2019-12-18 21:44] stevkan commented on #1478
Hi @satyansh-sagar,

You can pass trusted origins within the Direct Line channel blade. Simply select the channel in your Azure bot settings, click 'enable' on 'Enhanced authentication options', and add the trusted origin and click 'Done'.

Let me know if this doesn't work for you.

![image](https://user-images.githubusercontent.com/18403946/71125793-7634ad80-219c-11ea-8146-55b47cb7ebbc.png)

[2019-12-19 14:10] cwhd opened #1480 "This documentation is old"
For the latest on this you should reference this:
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-proactive-message?view=azure-bot-service-4.0&tabs=JavaScript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a43a9bfa-a69a-ffb2-31a6-d06d78517671
* Version Independent ID: 6bcbbcbf-79f2-9b81-7d03-b9bd8d

[2019-12-19 15:20] gamullen opened #1481 "Customer Doesn't Want to Whitelist "*.botframework.com""
Our customer's security team won't let them whitelist a URL with an asterisk; only concrete URLs or a concrete range of IPs.

Can one of those be provided for "botframework.com"?

Thanks, Gary

[2019-12-19 19:32] emgrol commented on #1480
Hi @cwhd, there is a link at the top of the page that points to the v4 docs as you can see below:
![title](https://user-images.githubusercontent.com/9682548/71203606-2107a300-2253-11ea-92f8-f0e75bf809f5.png)

The link abover is automatically generated to point to our v4 docs homepage. The v3 SDK will be deprecated soon as well so we don't expect customers to visit this page frequently.

[2019-12-19 19:32] #1480 closed

[2019-12-19 20:31] stevkan commented on #1470
@armstrong-charles, I've been working on trying to implement this through different types of actions (an App Action and a button located on App Home) and slightly different configurations, but with no luck. I've reached out to a dev in this space and will update when I hear more.

[2019-12-20 00:48] zxyanliu commented on #1474
Hey, please provide us with more information as asked in the last thread so that we can better help you.

[2019-12-20 09:27] ignaciobe commented on #1474
Hi I misunderstood the message added to the documentation. It says that workplace for facebook is which has no longer support. Facebook messenger will still working.

[2019-12-20 09:27] #1474 closed

[2019-12-20 20:31] stevkan commented on #1475
@thirumaran007, I've successfully repro'd the issue arriving at the same results. I reached out to one of the devs working on this product and will let update when I know more.

[2019-12-21 00:01] v-kydela opened #1483 "Unclear what "Reuse dialogs" document is for"
The [dialogs library](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-dialog?view=azure-bot-service-4.0#component-dialog) documentation links to this document as though it explains what component dialogs are all about. However, component dialogs are not about "reusing dialogs" as the title would suggest. If we wanted a document about reusing dialogs then it would make more s

[2019-12-21 14:21] DavidStrickland0 opened #1484 "This topic applies to SDK v3 release. You can find the documentation for the latest version of the SDK v4 here."
No you cant.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a79c4cc-6f80-91ad-6a88-81874f7154a1
* Version Independent ID: ac8f6181-1f8a-8911-5e3d-6421bfb2c94d
* Content: [Send a typing indicator - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-typing-indicator?view=azure

[2019-12-23 06:51] Crare opened #1485 "Codeblocks need update."
For example there is no "TextBlock"-class, I think it is "AdaptiveTextBlock" and so on..

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c205b864-640c-a101-8468-6227d8f2e7cb
* Version Independent ID: a8c5bdba-01f3-46ec-1c73-a8fabd4ccf0f
* Content: [Add rich card attachments to messages - Bot Service](https://docs.micros

[2019-12-23 16:58] zxyanliu commented on #1485
Thanks for reporting, we will update shortly.

[2019-12-24 08:08] duvarajan commented on #1140
I too have the same error. I too get null. I'm using Microsoft.Bot.Builder.AI.Luis v4.6.3. By the way how to get the raw response of the result in JSON as someone ("DanDev33") has given earlier. I generated JSON file using Dispatch command and imported to LUIS. Please help me to fix the issue. Its bit Urgent!

[2019-12-24 08:37] duvarajan commented on #1140
I too have the same error. I too get null. I'm using Microsoft.Bot.Builder.AI.Luis v4.6.3. By the way how to get the raw response of the result in JSON as someone ("DanDev33") has given earlier. I generated JSON file using Dispatch command and imported to LUIS because "Dispatch Create" command was throwing error. Please help me to fix the issue. Its bit Urgent!

[2019-12-24 17:00] zxyanliu commented on #1481
Hi @gamullen Thanks for reporting. I was wondering if there is a document you or your customer's security team is referring to?

[2019-12-24 18:37] Robotbae commented on #1461
Thank you for getting back to me - yes please do quite keen on keeping the ABS to route and is only in and about one region

[2019-12-24 19:19] emgrol commented on #1484
Hi @DavidStrickland0, that link at the top of the page is part of a boilerplate message at the top of all v3 docs. We are currently working on the v4 article for this topic.

[2019-12-26 15:27] gamullen commented on #1481
Sorry, not sure how that comment didn't get associated with the page. This: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-resources-bot-framework-faq?view=azure-bot-service-4.0

[2019-12-26 19:24] zxyanliu commented on #1481
Hi! Thanks for your reply. We are coordinating with our engineering team for this issue. Will let you know shortly.

[2019-12-26 22:13] mahamr opened #1487 "O365 Accounts with MFA enabled don't work"
It may helpful to others to note that any account with MFA enabled on it, cannot be configured for the email channel. MFA for that specified account needs to be disabled first.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db64bd62-cf60-5d73-c1a1-37f480ec59bd
* Version Independent ID: f20bc448-a105-d242-0ec0-369ceba10

[2019-12-26 22:20] dikson88512-ai commented on #1239
At this date it does not work, I have the same error

[2019-12-26 23:22] zxyanliu commented on #1487
Hi! Thanks for reporting this issue. We will work on it and get back to you soon.

[2019-12-27 09:19] duvarajan opened #1488 "Please let us know how to add Telemetry in "49. qnamaker-all-features" sample code"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: db892de5-e60e-1d4f-505b-11b1cdb73323
* Version Independent ID: f7263014-b8fa-9a20-71aa-e4217b2821ee
* Content: [Add telemetry to your bot - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.

[2019-12-27 14:06] rvinothrajendran opened #1489 "Home page hyperlink has broken"
**Describe the bug**
Please DO NOT use this template to ask question. For support visit [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

Home page hyperlink has broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0'
2. Click on 'Python Icon'
3. See error "404 Page not found issue

[2019-12-27 16:42] zxyanliu commented on #1488
Hi! Please read the [add telemetry to your QnA bot article](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-qnamaker?view=azure-bot-service-4.0).

[2019-12-29 03:12] toshkv opened #1490 "typos"
"installted" should be "**installed**"

"the last for digits" should be "the last **four** digits"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30a20df2-727c-1afd-2b87-836ea1ea4f7a
* Version Independent ID: 157fc262-fb1f-f12d-0890-e90119feb444
* Content: [Create a bot using Bot Framework SDK for Python - Bot Service]

[2019-12-29 07:55] anishjaindev commented on #1473
Thanks @WashingtonKayaker . The above documentation page refers to C# implementation. Is there any plans to upload how it can be done using Node.Js

[2019-12-29 14:05] duvarajan commented on #1488
Hi, I had read the link earlier but there was no mention about what changes we need to do in the files like "QnAMakerBaseDialog.cs", "RootDialog.cs" and "QnABot.cs". Also, please provide me a sample query to view the telemetry log data in Application insights. I wish to store the user conversations too so that I can store in a database for your future reference. Please help me on this too! Thank y

[2019-12-30 17:02] zxyanliu commented on #1431
FYI. Docs for custom sdk adapters (Facebook / Twilio) are WIP in PR [#1923](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1923)

[2019-12-30 17:32] zxyanliu commented on #1485
Hi, any luck?

[2019-12-30 17:53] amrutha4237 opened #1491 "something went wrong with storing your message"
I am trying to connect using blob storage, logging of messages into the storage is not happening.
While debugging everything seems to be perfect but at the line( await _myStorage.WriteAsync(changes, cancellationToken) is throwing an error.
Whether it is my connection issue or else something is happening with that particular line of code
Can anyone help me with this!

---
#### Document Details

⚠ *

[2019-12-30 22:28] emgrol commented on #1489
Thanks for bringing this to our attention @rvinothrajendran. I'm updating the link now.

[2019-12-30 23:01] emgrol commented on #1435
Closing this now that the typo has been fixed.

[2019-12-30 23:01] #1435 closed

[2019-12-30 23:02] emgrol commented on #1425
Closing this now that the typo has been fixed.

[2019-12-30 23:02] #1425 closed

[2019-12-31 09:53] nandaguruswamy commented on #1339
I had the same error too and found the reason. Its the .env file, the last line of the hostname is not commented out properly. Remove the line "// This is a URL ending in /qnamaker". And it should work. Hope this helps.

[2019-12-31 10:31] amrutha4237 commented on #1491
I just resolved, close this ticket
Thank you:)

[2019-12-31 11:49] amrutha4237 commented on #1491
There is one bug, in this document regarding blob storage
I think it should be updated.
With the following one.
private static readonly AzureBlobStorage _myStorage = new AzureBlobStorage("<your-blob-storage-account-string>", "<your-blob-storage-container-name>");
In current document (your-blob-storage-account-string) is reffereing to key 1, but it should refer to the "connection string".
While con

[2019-12-31 11:50] #1491 closed

[2019-12-31 17:40] dmvtech commented on #1461
@Jeffders is looking into this. It may be a bit until we have any sort of information/answer for you @Robotbae

[2019-12-31 17:43] CoHealer commented on #1461
Adding @Jeffders  to comment when he looks at this after returning after holiday.

[2019-12-31 18:25] mdrichardson commented on #1481
@gamullen `*.botframework.com` is preferred and certainly more future-proof (in case we change the names or something), but you should be able to get away with using `token.botframework.com` and `<channel>.botframework.com`, where `<channel>` is equal to every channel that your bot uses, for example:

* `directline.botframework.com`
* `slack.botframework.com`
* etc

That *should* cover your needs,

[2019-12-31 18:26] gamullen commented on #1481
Great, thanks! Will that be making its way into the documentation?

[2019-12-31 18:27] zxyanliu commented on #1481
I can add the content into the documentation. @gamullen @mdrichardson

[2019-12-31 21:44] zxyanliu commented on #1479
Hi @xieofxie Thanks for reporting this issue. I have been actively contacting our engineers regarding this issue and I apologize for replying to you late.

FYI. `Microsoft.Bot.Builder.StreamingExtensions v4.5.1` was a preview package and is not going to be updated. The streaming code is actually in the `SDK` now (not a separate library). Read [here](https://github.com/microsoft/botbuilder-dotnet/t

[2020-01-01 01:49] zxyanliu commented on #1479
Also, FYI. I just tested using `Microsoft.Bot.Builder.StreamingExtensions v4.5.1` against `SDK v4.7`. It seems that it works.

[2020-01-03 14:10] CeciAc opened #1494 "About pre-deploy builds from zip files"
Hi team,
I moved this from here: https://github.com/MicrosoftDocs/bot-docs.ja-jp/issues/9

The comments below were machine-translated

@tfukumori commented 11 hours ago — with docs.microsoft.com
&gt; "Kudu assumes by default that you are ready to perform a deployment from a zip file and that no additional build steps such as npm install or dotnet restore / dotnet publish are required during deploy

[2020-01-04 14:12] duvarajan commented on #1488
I still did not get any response for my issue mentioned earlier here.
Now can anyone could tell me how I can get more than 1 answer for a question irrespective of scores. Currently I could get only one answer as there was a command   response.Answers.First(). Please help me what command I need to provide to get multiple answers. Where do I need to do the change. I'm using "49.qnamaker-all-features

[2020-01-05 16:23] zxyanliu commented on #1488
Hi, Sorry about that! Our colleague who is specialized in telemetry is on vacation and will come back very soon. We apologize for the inconvenience. Will come back to solve your issue very soon.

[2020-01-06 16:55] zxyanliu commented on #1485
Hi, I am closing this issue now. Please feel free to reopen it when necessary.

[2020-01-06 16:55] #1485 closed

[2020-01-06 23:47] JonathanFingold commented on #1484
@DavidStrickland0 , If you have a process that will take a while, you can just periodically send a simple { type: 'typing' } object. However, the request will timeout after 15 seconds. So, if the process is in danger of running long, consider sending a simple acknowledgement immediately and a proactive message later, when the process finishes. Here's an updated echo bot that sends a typing activit

[2020-01-06 23:51] stevkan commented on #1478
Closing as resolved.

[2020-01-06 23:54] #1478 closed

[2020-01-06 23:56] stevkan commented on #1475
@thirumaran007, thank you for your patience. I am still working with the dev on this. Again, I will send an update when I know more.

[2020-01-07 00:10] stevkan commented on #1470
@armstrong-charles, thank you for your patience. I'm still working on clarifying on how app actions are acted upon.

[2020-01-07 08:55] xieofxie opened #1496 "Question about enhanced authentication"
&gt; This means the user ID (Activity.From.Id) on messages from Direct Line to your bot will always be the same as the one you initialized the Web Chat with.

Does it mean one can't use another user id after a channel secret is initialized with a user id or one can't use another secret for a use id after it is used in a channel secret?

It looks like the first case but one could still acquire a ne

[2020-01-07 12:51] Robotbae commented on #1461
Thanks for keeping me in the loop! Happy New Year!

[2020-01-07 19:25] HowdySys commented on #1053
Is this sample still out there? I'm not finding where this was placed - looked in sample 6 & 7. I apologize if I'm simply overlooking it!

[2020-01-08 07:25] sebastianzolg opened #1498 "Analytics link is broken (404)"
The Analytics link [https://aka.ms/bfs-analytics](https://aka.ms/bfs-analytics) above is broken and goes 404.

I think it should point to [https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/1-intro/](https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/1-intro/)

---
#### Document Details

⚠ *Do not edit th

[2020-01-08 12:01] darrenj commented on #1498
Hi @Kamran<mailto:Kamran.Iqbal@microsoft.com> – looks like you own https://aka.ms/bfs-analytics? Can you repoint to this URI please? https://microsoft.github.io/botframework-solutions/solution-accelerators/tutorials/view-analytics/1-intro/<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmicrosoft.github.io%2Fbotframework-solutions%2Fsolution-accelerators%2Ftutorials%2Fview-analyt

[2020-01-08 16:50] CoHealer commented on #1481
@zxyanliu , is there an eta on the document update so we can close this issue?

[2020-01-08 17:16] zxyanliu commented on #1481
Hi @CoHealer
Yes, it is fixed in [PR 1927](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1927). @mdrichardson helped a lot and reviewed the PR. I will close this issue when 1927 get merged.

[2020-01-08 17:21] CoHealer commented on #1481
Great, thanks

[2020-01-08 20:05] darrenj commented on #1498
Done. Also added you as the owner.

From: Darren Jefford <darrenj@microsoft.com>
Sent: Wednesday, January 8, 2020 4:02 AM
To: MicrosoftDocs/bot-docs <reply@reply.github.com>; MicrosoftDocs/bot-docs <bot-docs@noreply.github.com>; Kamran Iqbal <Kamran.Iqbal@microsoft.com>; Ryan Lengel Isgrig <Ryan.Lengel@microsoft.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/bot-docs] An

[2020-01-08 20:53] aishwarya-u commented on #1439
Do we have to configure any adapters for the C# code?

[2020-01-08 21:22] JonathanFingold commented on #1439
An update to the Facebook article should go live soon ([PR 1923](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1923)). You can look at the **Facebook adapter** sample: [C#](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/61.facebook-adapter) or [JavaScript](), for an example of how to connect to Facebook with the new Facebook adapter.

[2020-01-08 21:34] martinlarosa opened #1499 "Missing example for Enhanced authentication options"
There's no explanation on how to use Enhanced authentication optioons. I want to know how to make sure that the bot is only being contacted from a certain website. I think I've done it right but Direct Line still allows me to chat even when the bot is not talking from the site that I put in the portal as a trusted origin. An example would be helpful.

---
#### Document Details

⚠ *Do not edit this

[2020-01-08 22:00] stevkan commented on #1470
@armstrong-charles, I was able to confirm that app actions are not supported, at this time. A bug has been created internally to track development of a fix, however there is no ETA on when that might be deployed. As an alternative, you should consider using Botkit's [Slack adapter](https://www.botkit.ai/docs/v4/platforms/slack.html) which does support app actions and other interactive components.

[2020-01-08 22:10] mdrichardson commented on #1470
Closing on behalf of @stevkan

[2020-01-08 22:10] #1470 closed

[2020-01-08 22:33] JonathanFingold commented on #1498
Link is fixed now. Thanks.

[2020-01-08 22:33] #1498 closed

[2020-01-08 22:45] zxyanliu commented on #1490
Closing the issue. The PR is merged, and content will go live soon.
Thanks again for filing the bugs.

[2020-01-08 22:45] #1490 closed

[2020-01-08 22:49] zxyanliu commented on #1487
Closing because the PR is merged and content will go live soon. @mahamr Thanks again for pointing out the bug and help us improve.

[2020-01-08 22:49] #1487 closed

[2020-01-08 23:10] zxyanliu commented on #1481
Closing the issue since the PR is merged and content will go live soon. @gamullen Thanks again!

[2020-01-08 23:10] #1481 closed

[2020-01-08 23:11] zxyanliu commented on #1472
Closing this issue because it is addressed. @okulygin Thanks again!

[2020-01-08 23:11] #1472 closed

[2020-01-09 12:34] geethabalasubramanian opened #1503 "When testing the Bot authentication example in Emulator getting different token"
For eg : We are expecting the access token as follows "eyJ0eXAiOiJKV1QiLCJub25jZSI6InVWZTlnZWRlWV8xRFU1cXJaYzZLQjd3cUZZMVdoeG9GMGNwSXNJSDdIbVkiLCJhbGciOiJSUzI1NiIsIng1dCI6InBpVmxsb1FEU01LeGgxbTJ5Z3FHU1ZkZ0ZwQSIsImtpZCI6InBpVmxsb1FEU01LeGgxbTJ5Z3FHU1ZkZ0ZwQSJ9.eyJhdWQiOiJodHRwczovL2dyYXBoLm1pY3Jvc29mdC5jb20iLCJpc3MiOiJodHRwczovL3N0cy53aW5kb3dzLm5ldC8wMThiZGI0ZS04MjgwLTRhNjEtYTI2Ny1jMjFiNTRlYjlmNTgv

[2020-01-09 16:25] turbozapekanka opened #1504 "Difference between channel available in the Azure Bot Service and Facebook adapter"
This page shows two ways to connect a bot to Facebook but does not explain the difference between the two. Please elaborate a bit on when should one method be used or another.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0199d414-87e1-e32d-b528-ee9d2e03c54e
* Version Independent ID: f88f4b08-0977-baee-5226-844695828b

[2020-01-09 16:30] turbozapekanka commented on #1439
Is The Facebook channel is going away? I thought it is only Facebook Workplace which will stop working, but Facebook messenger will still be supported.

[2020-01-09 17:37] v-kydela opened #1505 "Several pages in this section still refer to the Bot Framework Portal"
Shouldn't we be referring people to Azure instead of dev.botframework.com?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43810dc2-1b1b-b807-4950-6402abeae0bb
* Version Independent ID: fbf7feaf-0d94-4e20-93af-4e0e55325bcd
* Content: [Key concepts in the Bot Framework Direct Line API 3.0 - Bot Service](https://docs.micr

[2020-01-09 20:01] zxyanliu commented on #1424
The PR got merged and the content will go live soon. Closing this issue. Thanks again for your report.

[2020-01-09 20:01] #1424 closed

[2020-01-09 20:02] zxyanliu commented on #1366
The PR got merged and the content will go live soon. Closing this issue. Thanks again for your report.

[2020-01-09 20:02] #1366 closed

[2020-01-09 20:04] zxyanliu commented on #1431
[PR 1923](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1923) was merged and closing the issue.

[2020-01-09 20:04] #1431 closed

[2020-01-09 21:45] JonathanFingold commented on #1365
@robertwood62
- See [Implement sequential conversation flow](https://docs.microsoft.com/azure/bot-service/bot-builder-dialog-manage-conversation-flow) for an example of using prompts within dialogs.
- For more complex data structures, you could create a component dialog. See [Reuse dialogs](https://docs.microsoft.com/azure/bot-service/bot-builder-compositcontrol) for an example.
- The other two ma

[2020-01-10 14:11] OliverZ opened #1509 "Please add documentation how to deploy bot to IIS"
Please add documentation how to deploy the bot to IIS and create the required https-certificate for the chatbot and all other stuff if required to run the bot locally via IIS

[Tutorial: Create and deploy a basic bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-basic-deploy?view=azure-bot-service-4.0&tabs=csharp)

---
#### Document Details

⚠ *Do not edit this section.

[2020-01-10 17:11] emgrol commented on #1346
Updated the card and text describing it. Closing now that the changers are merged.

[2020-01-10 17:11] #1346 closed

[2020-01-10 17:12] emgrol commented on #1489
Closing now that the PR with the updated link has been merged.

[2020-01-10 17:12] #1489 closed

[2020-01-10 18:30] v-kydela opened #1510 "Please mention Skype deprecation"
The Skype channel configuration contains the following message:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 486e6e6d-a7aa-2876-dfec-edc9d8a0d1ef
* Version Independent ID: aa6e5bfa-bbda-39ad-559e-62c92cbf5f86
* Content: [Connect a bot to Skype - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-se

[2020-01-10 23:35] anusharavindrar commented on #1503
@geethabalasubramanian going by the token which is getting generated for you, it seems like the Emulator has fallen back to providing you with the emulated token instead of a genuine token from the token service.

- This basically happens when the Emulator fails to generate a valid OAuth signin link. The reason is usually due to an incorrect path to ngrok in the settings page. Can you please verif

[2020-01-13 07:08] geethabalasubramanian commented on #1503
@anusharavindrar, I have configured the ngrok, now I am not getting the error that "failed to connect to ngrok instance .... " is not coming. Instead I am getting another error as follows:

[12:20:32]Unauthorized
[12:20:32]Falling back to emulated OAuth token.

And then token is generated as in above screenshot that you have posted

[2020-01-13 09:27] geethabalasubramanian commented on #1503
@anusharavindrar, I able to get proper access token now. I missed to add "MicrosoftAppId and MicrosoftAppPassword" in .env file and also requesting any user who are getting this similar error to check whether the name provided in the connectionName is created in the same bot service.

@anusharavindrar, I request you to close this issue as it is resolved

[2020-01-13 09:28] BerrisfordEdwards opened #1512 ""The bot encountered an error or bug. " Error Testing Bot Locally"
Following the javascript instuctions here: [https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=javascript](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-tutorial-add-qna?view=azure-bot-service-4.0&tabs=javascript) doesn't appear to give the desired outcome when tested locally (before deployment).

Firstly, I had to make

[2020-01-13 17:44] anusharavindrar commented on #1503
Glad that you were able to resolve the issue. Closing this as resolved.

[2020-01-13 17:51] #1503 closed

[2020-01-14 03:10] amy14 opened #1513 "Websocket Connection Failure when connecting to bot with DLS client."
When connecting to a local instance of the bot through a proxy and ngrok, we are able to recieve responses using DLS client. However, when testing with the app service I recieve no responses back and the following error:

"Error ConnectionFailure : Connection was closed by the remote host. Error code: 1000. Error details: Exceeded maximum websocket connection idle duration(> 300000ms) SessionId: 2

[2020-01-14 21:28] jwiley84 commented on #1512
Just for clarification:

I did the steps of the tutorial you first referenced (about creating a bot using yeoman), and did a simple 'ctrl-f' to find all refs of 'EchoBot' to change to 'MyBot': there were 5. When I ran `node index.js` in my command line, it worked. Did yours work at this step?

Without going into the tutorial video at all, I can say that doing the previous step (renaming all the Ec

[2020-01-15 16:10] LeoCN7 commented on #681
Hi, I have the same problem. Could you solve it?

[2020-01-15 16:43] LeoCN7 opened #1514 ""Bad format of conversation ID" (Bot Framework)"
Request that the bot issues to respond to the user's message, Bot Framework

POST to https://smba.trafficmanager.net/apis/v3/conversations/
Aitorization: Bearer [<Token>](url)

body:

[code]

--------

[code]

[2020-01-15 18:04] plooploops opened #1515 "Chatbot Direct Line App Service Extension Preview - Documentation needs clarification for Direct Line ASE keys"
**Describe the bug**
Please DO NOT use this template to ask question. For support visit [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4

[2020-01-15 23:01] clearab opened #1517 "Update to 4.7 references + Python"
This article needs to be updated to note the 4.7 release and GA for Python

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c9ad2ff5-0669-6023-d1ae-8fb47c08ffac
* Version Independent ID: 6d2f8ae5-dd96-f969-5df8-b6577d1dfcb4
* Content: [What's new - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-ser

[2020-01-15 23:27] DDEfromOR commented on #1475
Try changing the argument passed in to the DirectLine creation from 'webSocket: true' to 'streamingWebSocket: true'.

There's an updated version of DirectLine.js coming out soon that will bring with it an update of this doc and a less painful adoption path.

[2020-01-16 00:59] clearab opened #1519 "Teams libraries not listed in SDK resources"
In the reference documentation for both the JavaScript and .NET SDKs the Microsoft.Bot.Builder.Teams and Microsoft.Bot.Schema.Teams namespaces are not listed/documented.

[2020-01-16 17:33] morgdalaine opened #1520 "Additional Information code has typo"
should be UseNamedPipe**s**

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independent ID: 30a3fce8-d236-5c7b-88a0-003c971f2819
* Content: [.NET bot with direct line app service extension - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service

[2020-01-16 17:35] JonathanFingold commented on #1514
@LeoCN7 - Please provide a few more details:
- What article you were trying to follow?
- What is the scenario in which you got the bad format?

[2020-01-16 17:39] JonathanFingold commented on #1515
@plooploops - Which article did you notice this issue in?

[2020-01-16 17:50] JonathanFingold commented on #1515
A fix is in PR and should go live shortly after the PR is merged. Thanks.

[2020-01-16 18:14] mmiele commented on #1519
@clearab A couple of questions:
1. Do the comments exist in the related code and the only thing we miss are the namespaces in the onboarding request for the ref docs generation?
1. Do the .NET and JS namespaces have the same names?

[2020-01-16 18:23] JonathanFingold commented on #1520
A fix is in [PR 1948](https://github.com/MicrosoftDocs/bot-docs-pr/pull/1948) and should go live shortly after the PR is merged. Thanks.

[2020-01-16 19:29] JonathanFingold commented on #1504
Partial explanation added in PR. @turbozapekanka - Please let us know if more clarification is required.

[2020-01-16 19:57] turbozapekanka commented on #1504
Where do I see it?

[2020-01-16 20:06] JonathanFingold commented on #1515
PR should get merged soon and the live site updated within a day or so.

[2020-01-16 20:06] #1515 closed

[2020-01-16 20:06] JonathanFingold commented on #1520
PR should get merged soon and the live site updated within a day or so.

[2020-01-16 20:06] #1520 closed

[2020-01-16 20:08] JonathanFingold commented on #1504
Here's the updated note at the top of the **Connect a bot to Facebook using the Facebook adapter** section:

[2020-01-16 22:10] turbozapekanka commented on #1504
This says about Facebook Workplace which is confusing. We do not use Workplace and only interact with facebook users via page messages. Will Facebook channel continue to work in this scenario or I have to update integration to use the Facebook adapter?

[2020-01-16 22:46] JonathanFingold commented on #1504
My understanding is that Messenger will work with either the Facebook channel or the Facebook adapter, but that Workplace will now work with just the Facebook adapter.

[2020-01-16 23:41] LeoCN7 commented on #1514
Hi, thanks. The situation is as follows:
-Created a bot in the Azure Bot web application. Locally I can communicate successfully with the Bot using Bot Framework Emulator and Postman.
-Using the "Test in web chat" option of Azure everything is correct, but when I want to communicate with the web chat using the mailman I get an "Internal status error of 500 servers"
I think I'm sending some field i

[2020-01-17 00:51] plooploops commented on #1515
Sounds good.  Thanks for making the update!

[2020-01-17 18:07] v-kydela commented on #1514
@LeoCN7 - Please answer Jonathan's question. This is the bot-docs repo. It is only for issues that pertain to a specific page in the [ABS documentation](https://docs.microsoft.com/en-us/azure/bot-service). So what document are you following?

There are a few problems I'm noticing already. You're trying to send a message to Web Chat using a Skype URL. You're trying to send a message to a conversati

[2020-01-17 20:00] stevkan commented on #1475
@DDEfromOR, I tried passing 'streamingWebSocket: true' in to no effect. One thing I noticed is my directLine.js file was somehow overwritten with entirely different code which was producing a different error for me. I have since resolved by re-copying the file's code from GitHub.

Interestingly, I can no longer repro the customer's issue. Instead, if I append '.catach( err => console.log( err ) )`

[2020-01-17 23:10] DDEfromOR commented on #1475
@stevkan I'm using the HTML below in conjunction with the **subject to change and not yet released** code on [this branch.](https://github.com/microsoft/BotFramework-DirectLineJS/tree/ckk/protocoljs)

In the not too distant future code very similar to what's currently on that branch will find its way into the production version of the Directline.js script used by WebChat. Hopefully this unblocks d

[2020-01-20 19:29] anusharavindrar commented on #1494
@tfukumori can you please elaborate more on what you are trying to do and add the steps to repro?

[2020-01-20 21:16] tfukumori commented on #1494
The reproduction procedure is described in this URL, so please check it
https://github.com/projectkudu/kudu/issues/3103

[2020-01-20 22:41] CoHealer commented on #1512
Closing as no repro. @BerrisfordEdwards, if you have additional information please reactivate and let us know.

[2020-01-20 22:41] #1512 closed

[2020-01-21 01:40] stevkan commented on #1419
May be related to #1475

[2020-01-21 01:48] stevkan commented on #1419
@ashoksamal6363, @ahotrod, @naday84, if you open the developer's console and then try and connect are you receiving any errors?

If your Web Chat code does not include the following error handler, can you add it and list any additional errors you may be receiving?

[code]

After you've checked for any errors (these will be helpful in determining a solution), a suggested temporary workaround can be

[2020-01-21 02:08] AngryVirginian opened #1522 "Slack referenced in several places"
Reference to Slack - "The instructions below cover the C# implementation of the Slack adapter" and "services.AddSingleton&lt;SlackAdapter, WebexAdapterWithErrorHandler&gt;();" - are present in the article.  Looks like they were unintended.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e61be5-e537-8678-f907-10f27ea7b

[2020-01-21 02:13] stevkan commented on #1475
@DDEfromOR, I just compiled and tried using the non-production version you suggested above and am getting the following. Are you able to run successfully? Thoughts on the below?

![image](https://user-images.githubusercontent.com/18403946/72769640-4835f500-3bb0-11ea-9434-ecc229e40f91.png)

The above error points to this code, line 6636:
`var _interopRequireDefault = require("@babel/runtime/helpers

[2020-01-21 04:56] xieofxie opened #1523 "Update 'Select the Supported account types for your application. (Any of these options will work with this sample.)' part"
According to this [issue](https://github.com/microsoft/botframework-solutions/issues/2887#issuecomment-576238396), any will work is not always the case. Please investigate these options and update the document.
Thanks~

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43340ba9-4fc5-1202-e2c1-f901f33dc7c7
* Version Indepen

[2020-01-21 09:56] stevkan commented on #1513
@amy14, keeping any keys / secrets hidden, can you tell me what settings you have in your local bot (and where), in your ABS bot (configuration, channel, etc.), and in the DLS client settings?

[2020-01-21 12:44] HeinPauwelyn opened #1524 "The most links redirects me to the home page"
On this page https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-rich-cards?view=azure-bot-service-3.0 at the sections _"Types of rich cards"_ and _"Additional resources"_, only links _"Adaptive Card"_, _"Channels reference"_ and _"How to send attachments"_ works the rest of the links redirects me to [the home page](https://docs.microsoft.com/en-us/azure/bot-service/?

[2020-01-21 15:06] Robotbae commented on #1461
Hi all - any update on this ? Cheers

[2020-01-21 16:40] mplwork commented on #1365
I couldn't agree more with @v-kydela who opened this thread. `Handle user interruptions` is where I came from and I am none the wiser how to provide help instructions for individual Waterfall steps. Maybe other topics here will.

[2020-01-21 18:26] thirumaran007 commented on #1475
"DirectLine"  of undefined, issue still exist when we use older version of chrome browser( V 40.*, V56.* ). seems  latest version of chrome its just working fine.

[2020-01-21 19:37] v-kydela commented on #1514
@LeoCN7 - Are you still working on this?

[2020-01-21 20:41] DDEfromOR commented on #1475
@stevkan I'll need to call in @ckkMicrosoft for help debugging the directline.js custom build, but we may just have to wait for the release.

[2020-01-21 21:28] Kaiqb commented on #1517
@clearab - the note is in the article. It says, "Python SDK (GA) - We are pleased to announce the general availability of the Python SDK. The SDK supports core bot runtime, connectors, middleware, dialogs, prompts, Language Understanding (LUIS), and QnA Maker."

Is there anything else you are looking for?