[2020-06-25 16:03] #1675 closed

[2020-06-25 16:09] zxyanliu commented on #1550
Hi @msdpalam, it seems that [this](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-activities?view=azure-bot-service-3.0) is not the article you followed for the reported issue. I was wondering which article did you follow? Please let us know so that we can help. Thanks!

[2020-06-25 16:18] #1432 closed

[2020-06-25 16:21] #1477 closed

[2020-06-25 17:22] zxyanliu commented on #1720
Hi @chandermi, Adaptive Cards will not work in this case. You can read Adaptive Card support in [this article](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channels-reference?view=azure-bot-service-4.0#card-support-by-channel) and Adaptive Card docs [here](https://docs.microsoft.com/en-us/adaptive-cards/resources/partners).

[2020-06-25 17:22] #1720 closed

[2020-06-25 18:13] decherd commented on #1746
@jwiley84 Thank you for following up with me. What I meant about wiping the directory is that I deleted my project on my local machine and started the echobot tutorial over and the deploy your bot tutorial over. Yes, everything should be new. All I have in Azure is a new free Azure subscription. I looked and I did have an 'echo_bot' resource group that I have since deleted. As things stand right n

[2020-06-25 18:23] jwiley84 commented on #1746
Those are all correct assumptions. With python bots, it's imperative that they are deployed to new resource groups because the way the app is containerized on deployment means it will ultimately fail if you try to  deploy to a resource group that's configured for windows-based services. The easiest way around this is to simply deploy to a new RG. Let me try to deploy a new echo-bot using your `az

[2020-06-25 18:31] jwiley84 commented on #1746
So, before I  tried a repro, I wanted to check your naming conventions. I think the issue is the underscores. I went into azure, just to see if I could make a generic app service plan with _ in the name, and got an error on azure.
![image](https://user-images.githubusercontent.com/17333688/85778360-56e08500-b6d7-11ea-9f14-0146ba610a50.png)

Can you retry your deployment,  but change your naming co

[2020-06-25 18:45] decherd commented on #1746
I switched everything to camelcase as seen below and got this:
$ az deployment sub create --template-file "./deploymentTemplates/template-with-new-rg.json" --location "eastus" --parameters appId="----------" appSecret="---------------" botId="GPEchoBot" botSku=F0 newAppServicePlanName="GPBotsServicePlan" newWebAppName="echoBot" groupName="GPBots" groupLocation="eastus" newAppServicePlanLocation="e

[2020-06-25 18:46] jwiley84 commented on #1746
Ok, I was hoping that would work. Let me try a repro.

[2020-06-26 13:22] GitDruid commented on #1157
Hi,
I'm facing the same issue while redeploying a bot.
First deploy worked well. Then I made some changes to the dialog logic and now the deploy does not work anymore.

az webapp deployment source config-zip --resource-group "MyResourceGroup" --name "YYYApp" --src "./YYY.zip"

Getting scm site credentials for zip deployment
Starting zip deployment. This operation can take a while to complete ...
D

[2020-06-26 15:51] JonathanFingold commented on #1747
This seems to have been opened by accident. If there is an issue in this article, please reopen the issue and add a title and description of the issue.

[2020-06-26 15:51] #1747 closed

[2020-06-26 16:21] jwiley84 opened #1750 "Incorrect link to V4 doc on page"
There is a banner at the top of the page that says "This topic applies to SDK v3 release. You can find the documentation for the latest version of the SDK v4 here." Clicking the link redirects to a generic Azure Bot Service page, instead of the v4 State documentation that it should. The  correct link should  go to :

https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-state?view

[2020-06-26 16:21] jwiley84 commented on #1750
Related to https://github.com/microsoft/BotBuilder-Samples/issues/2550

[2020-06-26 16:37] chschrae opened #1751 "The step 3 is incorrect"
There is no longer an option to select the Language understanding bot as a template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f0f2ff1-f19c-c66d-53ac-b9569e0a4601
* Version Independent ID: 0ef27a09-09cf-e09a-ec40-9c86b1150bde
* Content: [Recognize intents and entities with LUIS (v3 C#) - Bot Service - Bot Service

[2020-06-26 22:59] JonathanFingold commented on #1750
This is a known issue with our TOC. If the file contains both v3 and v4 content, then the switching between views works as expected; otherwise, switching views will dump you onto the landing page. As far as I know, we are not planning a fix for this behavior.

[2020-06-26 23:01] JonathanFingold commented on #1750
The fix for the samples issue is to link to the correct v4 topic.

[2020-06-26 23:01] #1750 closed

[2020-06-26 23:37] dmvtech commented on #1741
So, it appears the bot is not running because it didn't build, due to errors. What are those errors?

[2020-06-28 12:07] kittu610 opened #1753 "Buttons are not responding in bot"
Hi,

i have followed [this document](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=azure-bot-service-4.0&tabs=abs) and published a bot which is created with buttons responces(created bot using [this link)](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore).

The images and Plain text responses are working. but i am fac

[2020-06-28 14:25] decherd commented on #1746
@jwiley84 I don't know if you had any success with this issue but I just wanted to check in and see. Again, if anyone can point me in the right direction I would appreciate it.

[2020-06-28 20:59] mmiele commented on #1730
@asp1egui. The steps described in option are not very clear. But they do advice to use a token instead of the secret key. That what you should be doing,. Take a look at this blog post it might be more useful for your project: [Connect a bot to Web Chat](https://blog.botframework.com/2020/06/28/connect-a-bot-to-web-chat/).
Let me know if it helps.

[2020-06-29 09:44] decherd commented on #1746
I was able to use Azure CLI and create a resource group myself and then followed the instructions on the deploy page for existing RG "Option 2: New App Service Plan." It worked and I zipped and deployed the python code to Azure. The problem now is that the bot isn't working. When I test in web chat it doesn't do anything. I opened the Log Stream and I see this error:
2020-06-29T09:30:09.094264634Z

[2020-06-29 11:08] decherd commented on #1746
I was able to deploy the app by creating a resource group myself with the Azure CLI and then following the instructions for Option 2 to a New App Service Plan. I still don't know why it wasn't working before to a new RG.

[2020-06-29 13:44] crismogram opened #1754 "add instead of sum in sum function samples"
the sum function samples shows add instead of sum. typo

![image](https://user-images.githubusercontent.com/5903626/86013360-a5807d00-ba51-11ea-9fc9-98a4883dfb63.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f5cc1453-1ec4-1ad7-2a9f-fa934224b79d
* Version Independent ID: 9645f547-d38a-4a22-c84b-ee98b7f24dfc
* Cont

[2020-06-29 13:58] Jamie22 commented on #1741
It does run, I'm able to see the web page.
I got something in the output window when I ran it this time:

[code]

[2020-06-29 19:08] dmvtech commented on #1741
What was your original way of running it? Were you using `dotnet run`? Or were you using **Visual Studio Code** or **Visual Studio** (2017/2019)? Using `dotnet run` shouldn't be launching iisexpress. But if you are launching from a debugging profile/launch.json or in Visual Studio, it might. It shouldn't matter which, either should work. I'm just wanting to understand better what is being used.

[2020-06-29 20:18] mmiele commented on #1732
@xieofxie Pleas look at this [sample](https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/07.advanced-web-chat-apps/e.sso-on-behalf-of-authentication).

[2020-06-29 20:19] emgrol commented on #1583
Closing this since changes to Azure portal are not planned.

[2020-06-29 20:19] #1583 closed

[2020-06-29 20:45] emgrol commented on #1742
Thanks for pointing this out @v-kydela. The fix is in [PR 2258](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2258) and will hopefully go live soon.

[2020-06-29 23:32] Jamie22 commented on #1741
I'm launching it from Visual Studio 2019.

[2020-06-30 03:27] xieofxie commented on #1732
@mmiele yes, it worked. Maybe someone could update the link to the document. I will close this now.

[2020-06-30 03:27] #1732 closed

[2020-06-30 19:18] dmvtech commented on #1741
Okay, can you please try the following for me?

- Don't do `dotnet run`, but use only VS2019
- Change from using IISExpress to using .Net core hosting/kestral
![image](https://user-images.githubusercontent.com/43397658/86167365-3fd0d700-bacb-11ea-8adb-025d39efcd06.png)
- This should give you a cmd window with output info. After starting/restarting conversation in Emulator, it will show more of wha

[2020-06-30 19:25] safari137 opened #1755 "Seems to be missing the Azure Table Storage example?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7538ed7a-5bb8-abc0-23e7-5b118e2fd47f
* Version Independent ID: f6181862-6527-6698-afcd-4f6d240123da
* Content: [Write directly to storage - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view

[2020-06-30 20:05] jwiley84 opened #1756 "Changes to the webex connection process"
According to this https://github.com/microsoft/botframework-sdk/issues/5864 there is an issue with the section detailing the webex portal. Per @garypretty:

Opening this here as it appears to be a docs issue. Will try to repro tonight to get the exact steps that need fixing and will update this ticket with them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-07-01 01:55] emgrol commented on #1754
Thanks for pointing this out @crismogram. The function fix is in [PR 2258](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2258) and the changes should go live soon.

[2020-07-01 01:57] crismogram commented on #1754
Thank you @emgrol that's good to hear.

[2020-07-01 10:45] Suyleap opened #1757 "it not run as well"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3a26d6f7-2453-f514-a812-f87916b6c724
* Version Independent ID: 806e3815-cee0-cfc7-9af5-e3a23270644c
* Content: [Connect a bot to WeChat - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-wechat?

[2020-07-01 14:44] dgancho opened #1759 "Get Conversations: Method Not Allowed"
Method [Get Conversations](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#get-conversations) returns **405 MethodNotAllowed**

`{"message":"The requested resource does not support http method 'GET'."}`

The expected (documented) behavior is to "Gets a list of conversations the bot has participated in".

---
#### Doc

[2020-07-01 16:34] RonnieQuan opened #1760 "Bot Emulator Question"
Is Bot framework emulator proxy aware? where do we configure the proxy setting for the Bot framework emulator?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b4f67913-4b16-2967-6044-4feb7be1f99b
* Version Independent ID: e3d2800a-d7b7-da55-4399-9586deaf4c9e
* Content: [Test and debug bots using t

[2020-07-01 21:51] marcelosilvaidp opened #1761 "Missing Adaptive Cards Input on Adaptive Dialogs documentation"
Is it possible to add documentation about how to use Adaptive Cards as Input together with Adaptive Dialogs, please?

Also, add an exemple about how to handle the response from Adaptive Card in the Adaptive Dialog scenario.

Thanks,

Marcelo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1e07a7e-6f29-af8c-dfed-6b55a6

[2020-07-01 22:09] TurinTur opened #1762 "Alexa certification"
I wanted to ask if the steps explained here are good enough to actually certify the alexa skill that is connected to the MS bot created. Which would be the whole point, to actually being able to publish it to the market.
Because I'm trying to do it right now, connecting it to the endpoint provided by my bot in azure and all that, and I'm finding some problems. Amazon denied the certification of a

[2020-07-01 22:30] JonathanFingold opened #1763 "Composer QnA participate intent conflict and end user disambiguation"

[2020-07-01 22:32] JonathanFingold opened #1764 "Composer QnA Maker participate in consultation/interruption handling"

[2020-07-01 22:34] JonathanFingold opened #1765 "Document Composer adaptive expressions overview"

[2020-07-01 22:36] JonathanFingold opened #1766 "Document Composer integrating dialogs"

[2020-07-01 22:39] JonathanFingold opened #1767 "Document adaptive dialogs tips and tricks"
**Tips and tricks:** adding to existing docs or create a new article, this applies to Composer and the SDK – same issues, but the implementation details may be different.
- Need to keep an Uber list of all tips and tricks and brainstorm list to determine where they belong.
- Turn.recognized.score >= 0.8 applies to most intent triggers.
- 3 types of input values you can have in properties. Input, o

[2020-07-02 00:09] JonathanFingold opened #1768 "Document how to use the full spectrum of connector methods from a skill"
Proposed content (to be added to the **about skill bots** article):

[2020-07-02 00:10] JonathanFingold opened #1769 "Document how to send proactive message from a skill"

[2020-07-02 00:12] JonathanFingold opened #1770 "Document how to do a bot health check"
| | |
| :- | :-
| **Knowledge experts and reviewers** | Andrew (PM), Gabo (Dev), Michael (Peer).
| **Scope** | Add step to How-to/Deploy/[Deploy your bot to Azure](https://docs.microsoft.com/azure/bot-service/bot-builder-deploy-az-cli) and to How-to/Develop/Skills/[Implement a skill consumer](https://docs.microsoft.com/azure/bot-service/skill-implement-consumer).

## Open questions

- What other a

[2020-07-02 00:14] JonathanFingold opened #1771 "How to Article: call a skill from an adaptive dialog"
**How to call a skill from an adaptive dialog**

***BLOCKING ISSUE: There are no adaptive dialog samples!***

Here are two non-adaptive dialog samples:
- [80.skills-simple-bot-to-bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/80.skills-simple-bot-to-bot)
- [81.skills-skilldialog](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_

[2020-07-02 00:16] JonathanFingold opened #1772 "Document best practices for composable language models"
We need to create a document in the Skills section for the best practices around creating composable language models. This guidance applies to anyone who wants to use Dispatcher, but is particularly useful in Skills scenarios.

Originally bot-docs-pr issue [2092](https://github.com/MicrosoftDocs/bot-docs-pr/issues/2092).

[2020-07-02 00:25] JonathanFingold opened #1773 "Concept Article: Update adaptive dialogs recognizer article to include BF CLI tool"

[2020-07-02 00:29] JonathanFingold opened #1774 "Add JavaScript code snippets to adaptive dialog articles"

[2020-07-02 00:31] JonathanFingold opened #1775 "Reformat LG API reference"

[2020-07-02 00:33] JonathanFingold opened #1776 "Document extending custom functions using LG"

[2020-07-02 00:35] JonathanFingold opened #1777 "Reformat adaptive expressions API reference"

[2020-07-02 00:39] JonathanFingold opened #1778 "Document adaptive dialogs how to interruptions"

[2020-07-02 04:14] RonnieQuan opened #1779 "Not able to get access token"
I follow the steps to troubleshoot a sample BOT
But got following error in step 2 when I run curl

AADSTS500021: Access to 'Bot Framework' tenant i s denied.\r\nTrace ID: 75fda060-1b4c-489d-8336-183211be3d00\
--

I use the exact curl command from document, using my appId and secret.

Any guidance?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2020-07-02 04:28] RonnieQuan opened #1780 "The bot's Microsoft App ID or Microsoft App Password is incorrect"
I have followed the document, register AppId and create secret.
Download https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-authentication
and start from local

But Bot framework emulator returns 500 with this error message "The bot's Microsoft App ID or Microsoft App Password is incorrect."

Can you please help me to understand how does bot framework emul

[2020-07-02 08:56] kostyaVyrodov opened #1781 "Does context have beginDialog method?"
This code snippet belongs to a class extending `ActivityHandler` type.

`onMessage` accepts a function that has a parameter 'context' and the type of the parameter is `TurnContext` which doesn't have a method `beginDialog`, so the snippet doesn't work.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8dc19058-d86

[2020-07-02 16:01] JonathanFingold opened #1782 "Document mention LUIS versions"

[2020-07-02 16:03] JonathanFingold opened #1783 "Document adaptive dialogs concept interruptions"

[2020-07-02 16:04] JonathanFingold opened #1784 "Document adaptive dialogs how to triggers"

[2020-07-02 16:50] diberry opened #1785 "QnA Maker default answer for a bot"
In the section titled "Calling QnA Maker from your bot" the C# sample code doesn't have the same hard-coded answer string the other code language samples have. Is that on purpose - how does C# get the default answer - it isn't clear from the code.

Additionally, and perhaps more importantly,why is the default answer code hard-coded instead of using the default answer value from QnA Maker? I'm look

[2020-07-02 20:17] JonathanFingold commented on #1785
@diberry The snippets are misaligned. However, if you look at the samples, they all appear to respond with "No QnA Maker answers were found" when now answers are found.

We can fix the snippet alignment issue, but if the samples themselves are using the wrong pattern, please open an issue in the samples repo.

[2020-07-02 20:28] JonathanFingold opened #1786 "Add to FAQ about how to deal with an outbound handoff activity"
There is confusion around how to use the `handoff` activity.
- From the FAQ, we can explain that the event needs to be intercepted before it gets to the channel to function "properly", and link to the community samples.
- See botframework-sdk issue [5920](https://github.com/microsoft/botframework-sdk/issues/5920) for background on the issue.
- See the activity schema for more info about the [hando

[2020-07-02 20:53] corinagum opened #1787 "Bot Service article - Image has typo"
The first image in the article has a typo: the middle column says "Bot Adatper" instead of "Bot Adapter"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 665ea3ca-8796-7cc2-acda-c2a0a5f93912
* Version Independent ID: b110b105-da18-e4bd-5b6c-2bb8b130e079
* Content: [Direct line app service extension - Bot Service](https:/

[2020-07-02 21:08] JonathanFingold opened #1788 "Document QnA Maker participate in consultation/interruption handling"

[2020-07-02 21:12] JonathanFingold opened #1789 "Document adaptive dialogs how to actions"

[2020-07-02 21:32] NickEricson commented on #1762
@garypretty for some of the questions.

Hi TurinTur, I'll answer some questions and we may need to follow up for some others.
_The session being left open_
Currently the session remains open by default. We will change that with the next release to close it by default - that should be deployed next week (there potentially could be delayed due to things outside our control).

_The cancel intent_
Ale

[2020-07-02 21:34] JonathanFingold opened #1790 "Document adaptive dialogs how to recognizers"

[2020-07-02 21:35] JonathanFingold opened #1791 "Document adaptive dialogs how to memory scopes"

[2020-07-02 21:37] JonathanFingold opened #1792 "Document adaptive dialogs concept memory scopes"

[2020-07-02 21:38] JonathanFingold opened #1793 "Document adaptive dialogs concept recognizers"

[2020-07-02 21:39] JonathanFingold opened #1794 "Document adaptive dialogs concept actions"

[2020-07-02 21:42] JonathanFingold opened #1795 "Document adaptive dialogs concept triggers"

[2020-07-02 21:44] JonathanFingold opened #1796 "How to Article: migrate waterfall to adaptive dialog"
Take a waterfall sample and convert to adaptive: "We should create a separate article that describes how to migrate waterfall steps to code actions. There are a couple of gotchas."

Sample apps:
- Non-adaptive dialog waterfall sample app is: [05.multi-turn-prompt](https://aka.ms/cs-multi-prompts-sample)
- Adaptive dialog waterfall sample app is: [01.multi-turn-prompt](https://github.com/microsoft/

[2020-07-02 21:45] JonathanFingold opened #1797 "Document have QnA participate in intent conflict and end user disambiguation"
- [ ] Add info to a new or existing concept
- [ ] Add info to a new or existing how-to

[2020-07-02 21:47] JonathanFingold opened #1798 "Document extending adaptive dialogs"

[2020-07-02 21:48] JonathanFingold opened #1799 "How to Article: How to validate user input in adaptive dialogs"
Sample app:
- [06.todo-bot](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/adaptive-dialog/06.todo-bot)

[2020-07-02 21:50] JonathanFingold opened #1800 "How to send a proactive message from an adaptive dialog"

[2020-07-02 21:51] JonathanFingold opened #1801 "Link to debugging with adaptive tooling"
Add links to relevant docs once https://github.com/MicrosoftDocs/bot-docs/issues/1895 is merged.

[2020-07-02 21:52] JonathanFingold opened #1802 "Document adaptive dialogs trigger order of precedence"

[2020-07-02 21:53] JonathanFingold opened #1803 "Document adaptive dialogs handling interruptions"

[2020-07-02 22:34] JonathanFingold opened #1804 "[R10] Extend 'getProperty' builtin function to support accessing top memory."
Extend 'getProperty' builtin function to support accessing top memory.

Originally, `getProperty` accepts two parameters, the first parameter is an instance, and the second parameter is the property name which user wants to access the value from. In this mode, the user can not access the top-level memory from dynamic/special string property.

After this change, `getProperty` accepts only one param

[2020-07-03 07:21] JDZW2014 opened #1805 "language"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6838575c-d2fc-65e3-98c2-0b35992c10b2
* Version Independent ID: 2b5dc3fc-49c0-7cd2-e6e1-4ced8da6c5f9
* Content: [Azure Bot Service Introduction - Bot Service - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-overview-introdu

[2020-07-03 11:56] kesavanpurushothaman commented on #1684
Thanks for the update.
Post discussion with Workplace tech team, they won't allow any new integration with Azure Bot Framework even after using this Facebook Adapter. Is this true? Please confirm.

[2020-07-03 15:20] rubit0 opened #1806 "BUG - Bot responds "Value cannot be null. (Parameter 'key')""
Following this tutorial, will lead to the issue, where the Bot responds always with "Value cannot be null. (Parameter 'key')".
It took countless of hours finding out the issue across several github issue tickets:

- https://github.com/microsoft/BotFramework-Composer/issues/2240

- https://github.com/microsoft/BotFramework-Composer/issues/3554

It turns out that in the activity request json body, y

[2020-07-03 19:17] emgrol commented on #1757
This seems to have been opened by accident. If there is an issue in this article, please reopen the issue and add a title and description of the issue.

[2020-07-03 19:17] #1757 closed

[2020-07-03 19:32] emgrol commented on #1805
This seems to have been opened by accident. If there is an issue in this article, please reopen the issue and add a title and description of the issue.

[2020-07-03 19:32] #1805 closed

[2020-07-03 22:51] emgrol commented on #1719
Initial fixes are in [PR 2258](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2258).

[2020-07-03 23:09] v-kydela commented on #1719
@emgrol - I can see that you've deleted a few backslashes, but what about the question of what Suggestions means?

[2020-07-04 01:24] amityksharma commented on #1780
I have followed the document, register AppId and create secret.
Download https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/18.bot-authentication
and start from local

{
  "MicrosoftAppId": "Bot bulilder APID",
  "MicrosoftAppPassword": "BotSecret",
  "ConnectionName": "AzureADv2ConnectionString"
}

IT says [06:52:08]Cannot post activity. Unauthorized.
[06:52:08]

[2020-07-06 09:11] burguyd opened #1807 "broken pypi requirements"
[Enter feedback here]
Hello. There is problem with broken pypi reqiirements in the intruction:

`ERROR: cookiecutter 1.7.2 has requirement requests>=2.23.0, but you'll have requests 2.22.0 which is incompatible.`
But after upgrade requests package we take
`ERROR: botframework-connector 4.9.1 has requirement requests==2.22.0, but you'll have requests 2.23.0 which is incompatible`

So you should upg

[2020-07-06 15:34] JonathanFingold opened #1808 "Enable list concatenation for function "concat""
`concat`:
1. If all items are lists, concatenate them with list mode.
`concat([1, 2], [3, 4])` -> `[1, 2, 3, 4]`

2. If there exists any item that is not a list, use string concatenation mode:
`concat('a', 'b', 1, 2)` -> `'ab12'`
`concat('a', [1, 2])` -> `aSystem.Collections.Generic.List 1[System.Object]` // unreadable, best to avoid

3. If null exists, skip it
`concat([1, 2], null)` -> `[1, 2]`
`

[2020-07-06 15:37] JonathanFingold opened #1809 "Add expandText LG function"
Add `expandText` function for LG.(not expression)
Add expandText LG function to eval the plain text and get the data binding result.

C# pr: https://github.com/microsoft/botbuilder-dotnet/pull/4058
and a small fix: https://github.com/microsoft/botbuilder-dotnet/pull/4132

js:https://github.com/microsoft/botbuilder-js/pull/2387

[2020-07-06 15:39] JonathanFingold opened #1810 "Add lambda syntactic sugar"
Support lambda style expression in `foreach`, `select` and `where` prebuilt functions.

For example, After the change, the expression could be:
`foreach(items, u => json(u))` instead of `foreach(items, u, json(u))`, it is more readable.

`foreach(items, u, json(u))` -> `foreach(items, u => json(u))`
`where(items, u, u > 1)` -> `where(items, u => u > 1)`
`select(items, u, json(u))` -> `select(items

[2020-07-06 15:40] JonathanFingold opened #1811 "Add new function doc for 'sentenseCase', 'titleCase'"
pr link:
C# https://github.com/microsoft/botbuilder-dotnet/pull/3994
js https://github.com/microsoft/botbuilder-js/pull/2286

[2020-07-06 15:42] JonathanFingold opened #1812 "expression doc missing inline object and array initialization"
For creating array via [... , ...] syntax, the related PR is:
https://github.com/microsoft/botbuilder-dotnet/pull/3613
The syntax is, for the expression in LG below,
[code]
will return an array of `['a', 'b', 'c']`

For creating an object via {key: value, ...}, the related PR is:
https://github.com/microsoft/botbuilder-dotnet/pull/3694
The syntax is, for the expression in LG below
[code]
will retu

[2020-07-06 15:44] JonathanFingold opened #1813 "Add Python code snippets to adaptive dialogs articles"

[2020-07-06 15:44] JonathanFingold opened #1814 "Document adaptive dialogs how to generated dialogs"
See
- [Dialog Generation readme](https://github.com/microsoft/BotBuilder-Samples/tree/master/experimental/generation)
- [2020 Feb MVP Generated Dialogs.pptx](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/generation/docs/2020%20Feb%20MVP%20Generated%20Dialogs.pptx)
- [Dialog generation: Get Started](https://github.com/microsoft/BotBuilder-Samples/blob/master/experimental/

[2020-07-06 15:45] JonathanFingold opened #1815 "Document adaptive dialogs concept generated dialogs"

[2020-07-06 17:23] asp1egui commented on #1730
@mmiele yes, it did help. thanks for the answer

[2020-07-06 18:21] JonathanFingold commented on #1698
🦗 🦗 @tomlm or @sgellock do we have replacement content, or should I just remove these two topics from the FAQ?

[2020-07-06 18:24] JonathanFingold commented on #1728
The Dispatch article has been updated internally. The content should go live in a few days.

[2020-07-06 20:56] WashingtonKayaker commented on #1767
**Tips and tricks:** adding to existing docs or create a new article, this applies to Composer and the SDK – same issues, but the implementation details may be different.
- Need to keep an Uber list of all tips and tricks and brainstorm list to determine where they belong.
- Turn.recognized.score >= 0.8 applies to most intent triggers.
- 3 types of input values you can have in properties. Input, o

[2020-07-06 21:26] WashingtonKayaker opened #1816 "Concept Article: Add JavaScript code snippets to article 'Using declarative assets in adaptive dialogs'"
Update existing article [Using declarative assets in adaptive dialogs](https://docs.microsoft.com/azure/bot-service/bot-builder-concept-adaptive-dialog-declarative?view=azure-bot-service-4.0&tabs=csharp), the following sections:

- [.dialog files](https://docs.microsoft.com/azure/bot-service/bot-builder-concept-adaptive-dialog-declarative?view=azure-bot-service-4.0&tabs=csharp#dialog-files)
- [The

[2020-07-07 00:21] WashingtonKayaker opened #1817 "How to Article: How to send a proactive message from a skill using adaptive dialog"
**There are two possible articles, listed in order or priority:**
1. How to send a proactive message from a skill using adaptive dialog
2. How to send a proactive message from a skill using ***declarative*** adaptive dialog

[2020-07-07 00:28] WashingtonKayaker opened #1818 "Concept Articles: Creating custom Triggers, Actions, Recognizers and Memory scopes"
**Customizing**

Will need both concepts and how to articles:
- Triggers
- Actions
- Recognizers
- Memory scopes

Notes:
- Includes making them available via declarative including schema file (trigger/actions only).
- Review composer docs, discuss with Yan and Steve Ickman when starting work on this.
- Need a deeper set of docs on how to build custom stuff.

[2020-07-07 00:29] WashingtonKayaker opened #1819 "How to Articles: Creating custom Triggers, Actions, Recognizers and Memory scopes"
**Customizing**

Will need both concepts and how to articles:
- Triggers
- Actions
- Recognizers
- Memory scopes

Notes:
- Includes making them available via declarative including schema file (trigger/actions only).
- Review composer docs, discuss with Yan and Steve Ickman when starting work on this.
- Need a deeper set of docs on how to build custom stuff.

[2020-07-07 03:40] grimz11 opened #1820 "Start the waterfall dialog without sending any messages first."
With this implementation, Is there a way that we don't need need to input "Hi" first to start the waterfall dialog?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 04c5adf9-272a-e0f1-10f1-c8365e76035b
* Version Independent ID: 1982af41-5a06-4398-0e95-abcc50864e0d
* Content: [Implement sequential conversation flow - Bot

[2020-07-07 08:29] jerryzhou0624 opened #1821 "Can't Receive a message from the user"
After get the Access token
use below to send message to bot, always send back 404, i don't know what's the problem, is there a REST API sample code for this?
headers = {
    'Authorization':'Bearer '+ access_token,
    'Content-Type': 'application/json'
    }
body={
    "type": "message",
    "id": "bf3cc9a2f5de...",
    "timestamp": "2016-10-19T20:17:52.2891902Z",
    "serviceUrl": "https://smba.

[2020-07-07 16:18] safari137 opened #1822 "changes in luis"
It looks like some things have changed in LUIS that aren't covered in the doc.

I get the following after importing the json model.

![image](https://user-images.githubusercontent.com/12038536/86811364-d3665280-c04b-11ea-82ac-88e3319a7d4a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 73b78c1c-bd0f-caec-32ad-47e6d

[2020-07-07 17:30] WashingtonKayaker commented on #1816
Done

[2020-07-07 17:30] #1816 closed

[2020-07-07 20:27] mmiele commented on #1730
Updated documentation.

[2020-07-07 20:27] #1730 closed

[2020-07-07 21:31] JonathanFingold commented on #1684
@kesavanpurushothaman I'm asking for confirmation within the team. I'll let you know as soon as I have a response.

[2020-07-07 21:55] dmvtech commented on #1741
Hi @Jamie22 Any luck trying the above route? Still having the problem?

[2020-07-07 22:00] JonathanFingold commented on #1820
Some channels send a `conversationUpdate` activity when a user joins a conversation, before they've sent a message to the bot, but other channels don't send this activity until after the user sends their first message. The Web Chat channel sends the `conversationUpdate` first, but I think it is in the minority. See how to [send a welcome message to users](https://docs.microsoft.com/azure/bot-servi

[2020-07-07 23:08] jameslew commented on #1684
Hi @kesavanpurushothaman.  The reason we've moved developers from the Bot Service to the adapter is that it removes the service-to-service authentication dependency until we can rewrite the Bot Service to use their new authentication path.

The Adapter does not depend on that authentication mechanism, so I'm unaware of any other reason that you'd be unable to use the SDK + Adapter in your bot to i

[2020-07-08 00:13] JonathanFingold commented on #1781
The code snippet is a little out of date, but the `context` from the current snippet refers to a DialogContext, and not to a TurnContext.

For a more up-to-date way to run the dialog, see the [run the dialog](https://docs.microsoft.com/azure/bot-service/bot-builder-dialog-manage-conversation-flow#run-the-dialog?view=azure-bot-service-4.0&tabs=javascript) section in the how to implement sequential

[2020-07-08 03:33] VaderConsulting opened #1823 "Typo - "LiverPerson" should be "LivePerson" - note the additional 'r'"
Typo - "LiverPerson" should be "LivePerson" - note the additional 'r'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 818b8a18-3321-4f50-f2e3-3d254806c958
* Version Independent ID: 0514154e-5d18-19fd-58e2-ec356509b19e
* Content: [Transition conversations from bot to human - Bot Service - Bot Service](https://docs.micros

[2020-07-08 14:41] Jamie22 commented on #1741
Changing the drop down to EchoBot makes the problem go away!

[2020-07-08 16:09] kesavanpurushothaman commented on #1684
Thanks for the update - this will open up our doors.
I hope the same mechanism is applicable common to both Facebook and Workplace.

I request you to help me with the below two queries.

Thank you.

[2020-07-08 17:24] arturl commented on #1823
Thank you @VaderConsulting, we'll get it fixed.

[2020-07-08 18:36] JonathanFingold commented on #1728
The changes should show up on the live today, once the server cache updates.

[2020-07-08 18:37] #1728 closed

[2020-07-08 18:54] jameslew commented on #1684
Hi @kesavanpurushothaman .  You should be able to use for both.  That said, your bot should also be able to load the bot framework adapter and the facebook for workplace adapter as well so that you can handle requests through whatever path they arrive.

The adapter is in preview as they determined there was a change that needed to be made that would slightly adjust the signature (ie it wouldn't be

[2020-07-08 19:59] dmvtech commented on #1741
Awesome. I'm guessing there was some oddity/caching issue with IISExpress. Glad you got it working.

[2020-07-08 19:59] #1741 closed

[2020-07-09 09:24] kesavanpurushothaman commented on #1684
Thanks for the update. Will work on the integration using the Facebook Adapter Preview Package and request if there are any issue.

[2020-07-10 01:42] grimz11 commented on #1820
@JonathanFingold, I manage to make it work. I added a Dialog.RunAsync() to the OnMembersAddedAsync() method.

[2020-07-10 01:42] #1820 closed

[2020-07-10 20:32] JonathanFingold commented on #1698
Just commenting out the two questions for now (in PR 2278). Let me know if there is ever some replacement content to add in its place.

[2020-07-12 15:02] akshaysureka opened #1825 "Training error issue: Help requested"
I have been trying to follow the steps on this training
https://aischool.microsoft.com/en-us/conversational/learning-paths/building-an-intelligent-bot/quickly-creating-a-basic-bot/2wPHzCCswoImSqKGIoUgoa

My Bot does not build and has 28 errors. I am using the standard template. Very new to this stuff

<img width="1052" alt="Screenshot 2020-07-12 at 16 01 42" src="https://user-images.githubusercont

[2020-07-13 10:57] fifteenjoy opened #1826 "Which visual studio version should I used to develop bot with Bot Framework v4 SDK"
Which visual studio version should I used to develop bot with Bot Framework v4 SDK ?
Does VS2013 works ?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 253d4e99-7fc5-cc8d-5b07-29bf2d78687a
* Version Independent ID: cdc0528d-cf1a-e015-1d8a-31ed062648f8
* Content: [Bot Framework Frequently Asked Qu

[2020-07-13 15:07] eduardpaul commented on #1550
After this issue and its evolution, I would not suggest using Microsoft QnA in business-critical applications. :(

[2020-07-13 22:27] Kaiqb commented on #1760
@tonyanziano - do you know?

[2020-07-13 22:28] JonathanFingold commented on #1762
Questions can be posted at [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the `botframework` tag. Please note that Stack Overflow has guidelines such as requiring a descriptive title, a complete and concise problem statement, and sufficient details to reproduce your issue. Feature requests or overly broad questions are off-topic; new users should visit the Stack Ov

[2020-07-13 22:28] #1762 closed

[2020-07-13 22:36] JonathanFingold commented on #1821
Which article is this issue in relation to?

[2020-07-13 22:38] JonathanFingold commented on #1825
Which article is this in relation to?

[2020-07-13 22:41] #1825 closed

[2020-07-13 22:42] JonathanFingold commented on #1826
2019 is recommended.

[2020-07-13 22:50] #1795 closed

[2020-07-13 22:51] WashingtonKayaker commented on #1795
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-triggers?view=azure-bot-service-4.0

[2020-07-13 22:52] #1794 closed

[2020-07-13 22:52] WashingtonKayaker commented on #1794
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-actions?view=azure-bot-service-4.0

[2020-07-13 22:52] #1793 closed

[2020-07-13 22:52] WashingtonKayaker commented on #1793
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-recognizers?view=azure-bot-service-4.0

[2020-07-13 22:53] #1792 closed

[2020-07-13 22:53] WashingtonKayaker commented on #1792
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-memory-states?view=azure-bot-service-4.0

[2020-07-14 01:14] jerryzhou0624 commented on #1821
it is below:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-quickstart?view=azure-bot-service-4.0

[2020-07-14 06:06] kuacci opened #1827 "Example not 100% success"
I followed steps listed in this page, and I cannot make it work locally with emulator. It prompts 500 error.

Here is my environment information:
1. OS: Windows 10 1909
2. Python version: 3.7.7

I tried this example in a new virtual env.

After troubleshoot, I figured out that the latest package of cookiecutter not compatible with botbuilder-core. This issue has been mentioned in below repo, but y

[2020-07-14 08:21] fifteenjoy commented on #1826
Hi, Jonathan

How about 2013? I only have license for VS2013, not 2019

[2020-07-14 09:54] 4ININ opened #1828 "Webhook registration issue after fill your Telegram credentials"
Try to register webhook here https://dev.botframework.com/bots/channels?id=my-bot&channelId=telegram
But when click on "Save" button get "unable to save" message.
I do it many times successful earlier, but on this week something wrong.

Steps to reproduce the behavior:
1. Go to https://dev.botframework.com/bots/channels?id=my-bot&channelId=telegram
2. Click on Save, after fill Access Token input f

[2020-07-14 16:04] JonathanFingold commented on #1826
I don't think so, but I'll defer to our support team. However, you can use the community version of either Visual Studio 2019 or Visual Studio Code, both of which are free.

[2020-07-15 08:08] johnny-linkedin opened #1829 "How to refresh `Conversation reference`?"
In the Note section, it mentioned the `serverUrl` might change. If this thing happens, how can I get a new `serverUrl`? I can imaging if user contact me, I will update it with new value from the context of new message. However, does this mean I have no solution to send proactive message to users before users contact me again?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-07-15 18:32] JonathanFingold commented on #1829
@johnny-linkedin - More information on the service Url can be found in the activity specification, [service URL](https://github.com/microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#service-url)

Other than that, if the service URL changes and your catch an error, you just have to retire the conversation reference and wait for a new message from the user.

[2020-07-15 18:56] johnny-linkedin commented on #1829
Thanks a lot for clarifying it! I will follow your suggestion :)

[2020-07-15 18:56] #1829 closed

[2020-07-16 12:19] 4ININ opened #1830 "Dialog doesn't working"
I try messaging with my Telegram bot.
When try messaging via Bot Emulator its ok (i send msg to bot and it reply to me).
When try messaging in telegram with webhook wich i registered here https://dev.botframework.com/bots?id=my-own-bot its ok
But when i trying messaging with my custom webhook my bot dont reply.

[code]

[2020-07-16 18:34] mmiele commented on #1786
Completed.
Related PR https://github.com/MicrosoftDocs/bot-docs-pr/pull/2277 has been merged.

[2020-07-16 18:34] #1786 closed

[2020-07-16 20:25] jwiley84 commented on #1746
https://github.com/microsoft/BotBuilder-Samples/issues/2583

[2020-07-16 20:25] jwiley84 commented on #1746
I haven't forgotten you @decherd I'm chasing down the possibility that there's an underlying issue.

[2020-07-16 23:27] mmiele commented on #1729
Researching.

[2020-07-16 23:35] mmiele commented on #1743
Researching.

[2020-07-16 23:38] mmiele commented on #1756
@jwiley84 Jessica were you able to repro the issue and found the steps to document? Thanks

[2020-07-16 23:55] mmiele commented on #1756
Researching.

[2020-07-16 23:55] mmiele commented on #1755
@safari137 Can you please look in the section: [Memory storage](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#memory-storage)? There you can find a link to the [Azure Table storage](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-state-azure-table-storage?view=azure-bot-service-3.0&viewFallbackFro

[2020-07-17 00:01] emgrol commented on #1827
Thanks for pointing this out @kuacci. Closing this issue since it's a duplicate of [issue 1807](https://github.com/MicrosoftDocs/bot-docs/issues/1807).

[2020-07-17 00:01] #1827 closed

[2020-07-17 00:23] emgrol commented on #1807
Thanks for pointing this out @burguyd. The file has been updated with the correct package version in [PR 2258](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2258) and the changes should go live soon.

Related issue: https://github.com/microsoft/botbuilder-python/issues/1070

[2020-07-17 01:28] MattPeterson1 opened #1831 "Slack scopes"
This page needs to be updated for granular Slack scopes:  https://api.slack.com/scopes

What scopes do I need to configure in Slack to use Azure Bot Service Slack Channel?  What Scopes do I need to configure to use the Slack Adapter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
*

[2020-07-17 07:38] burguyd commented on #1807
Ok, thank you

[2020-07-17 07:38] #1807 closed

[2020-07-17 08:30] #1753 closed

[2020-07-17 13:40] safari137 commented on #1755
That's exactly what I was looking for. Thanks!

[2020-07-17 18:10] mmiele commented on #1755
@safari137  Perfect. Glad I could help.

[2020-07-17 18:10] #1755 closed

[2020-07-17 18:30] mmiele commented on #1729
@CeciAc The needed information can be found at this location: [What URL parameters are supported?](https://github.com/microsoft/BotFramework-WebChat/tree/master/packages/embed#what-url-parameters-are-supported).

[2020-07-17 18:30] #1729 closed

[2020-07-17 19:37] zxyanliu commented on #1787
Closing since the issue was addressed. Thanks for your feedback @corinagum

[2020-07-17 19:37] #1787 closed

[2020-07-20 05:21] sabarna17 opened #1832 "Hi Team I am facing a problem to create the Bot Registraction channel."
[Enter feedback here]
----
Whenever I am trying to create a bot registration channel. It's showing the error as:

_"Error in fetching tenants"
There was an error fetching tenants. Please reload the portal to try again._

URL: https://github.com/sabarna17/ERROR_SCREENSHOTS/blob/master/Capture.PNG

----
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-07-20 21:07] #1781 closed

[2020-07-20 21:13] JonathanFingold commented on #1698
Just removed the questions from the FAQ.

[2020-07-20 21:13] #1698 closed

[2020-07-20 21:14] #1684 closed

[2020-07-20 23:33] emgrol commented on #1742
Closing now that the updates are live.

[2020-07-20 23:33] #1742 closed

[2020-07-21 15:55] zxyanliu commented on #1806
@rubit0 Thanks for reporting the issue and providing a solution to this issue.
We will update the doc and will let you know.

[2020-07-21 17:23] JonathanFingold commented on #1831
@MattPeterson1 - I'm asking the team. I'll forward along the information (once I have it) and update the article.

[2020-07-21 17:30] JonathanFingold commented on #1785
And the snippets are misaligned again.

[2020-07-21 17:56] JonathanFingold commented on #1785
Fixed in master. Should go live in a few days.

[2020-07-21 17:56] #1785 closed

[2020-07-21 18:03] jwiley84 commented on #1756
Hi @mmiele !

Sorry for the delay. Here are the steps that need changing. I included an updated images where they need to change as well.:

In "Complete configuration of your Webex app and bot", under 'Create and update a Webex webhook', from step 3 onward:

Steps 3 and 4 should read as:

3. Click the link for the 'POST' method `https://webexapis.com/v1/webhooks` (with the description "Create a we

[2020-07-21 21:14] arturl commented on #1823
Fixed.

[2020-07-21 22:15] JonathanFingold commented on #1831
As you add events in Slack, it lists the scopes you need to request. The scopes you need will depend on the events you subscribe to and how you intend to respond to them.

It looks like you'll need the following OAuth scopes if you follow the instructions in the Slack channel article:
- channels:history
- groups:history
- groups:read
- im:history
- mpim:history

[2020-07-22 13:50] 4ININ commented on #1830
Any info?

[2020-07-23 16:30] zxyanliu commented on #1806
@rubit0 Thanks again for your report. We already fixed the bug you pointed out. The content was merged and will be live soon. Closing this issue as it is addressed.

[2020-07-23 16:30] #1806 closed

[2020-07-23 18:08] jwiley84 commented on #1746
@decherd

There's something going on with the ARM template deploy-to-new-RG. It's being investigated by the team, but right now, the work around is to create an empty resource group on Azure, then run the command to deploy-to-existing-RG.

I'll update this when I get an answer from the team looking into the problem.

[2020-07-23 21:05] geo-msft opened #1834 "My bot takes a long time to reply. How do I troubleshoot the slowness?"
[Enter feedback here]
How do I troubleshoot a slow performing bot?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4ca2f105-818a-2e67-701d-b3de2533ec8b
* Version Independent ID: 8e216b2c-5a32-1153-7961-da8f6ba17fb8
* Content: [Bot Framework TroubleshootIndex - Bot Service](https://docs.microsoft.com/en-us/azure/bot-serv

[2020-07-23 23:29] mmiele commented on #1780
@RonnieQuan Did you provide your bot's app ID and password to the emulator? This information comes from the bot channels registration and is contained in the `appsettings.json` file.
[code]
For more information, see [Test the bot using the emulator](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp#test-the-bot-using-the-em

[2020-07-23 23:55] mmiele commented on #1760
@RonnieQuan You may want to take a look at this StackOverflow question: [Is there a way to test the locally-hosted bot without Ngrok?](https://stackoverflow.com/questions/61480011/is-there-a-way-to-test-the-locally-hosted-bot-without-ngrok/61483034#61483034) The proxy topic is discussed there.

[2020-07-24 00:06] tonyanziano commented on #1760
Sorry for the late response, I didn't see this pop up in my email.

Yes, you can configure proxy settings in the Emulator by setting some environment variables on your machine before running the Emulator.

The configurable environment variables are:

`HTTP_PROXY` - specify a proxy url to route http requests through
`HTTPS_PROXY` - specify a proxy url to route https requests through
`NO_PROXY` - sp

[2020-07-24 10:37] kesavanpurushothaman commented on #1684
Hi, We started testing the Workplace Bot using the Facebook Adapter Package you have suggested and found that Cards are not rendered in the Chat.
Earlier in Bot Service FB Channel, Adaptive Cards without actions are down rendered as Images, but using this Adapter approach Cards are not rendering (not even as image). Can you please help me on this issue?

[2020-07-27 02:46] EvanOman commented on #1746
Currently experiencing the same issue trying to deploy a Python Bot following the aforementioned tutorial:

[code]

I used `cookiecutter` to generate the project according to the tutorial instructions:

[code]

I can send the deployment template if that would be helpful.

[2020-07-27 16:17] mmiele commented on #1760
Related PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2320

[2020-07-27 20:53] JonathanFingold commented on #1834
There is specific guidance on [My bot is slow to respond to the first message it receives. How can I make it faster?](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-general-problems?view=azure-bot-service-4.0#my-bot-is-slow-to-respond-to-the-first-message-it-receives-how-can-i-make-it-faster). Beyond that, we currently don't have much other guidance in the SDK document

[2020-07-28 03:25] pieandcakes opened #1835 "Example doesn't have the right instructions"
I followed the quickstart guide that is linked and that this article was to follow. It says to edit "MessagesController.cs" which the Echo Bot - NET Core 3.1 project doesn't have. Also, I can't seem to use IDialog<object>

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95893c20-a332-ad0c-43f4-9c5a62292d3f
* Version Inde

[2020-07-28 14:03] mmiele commented on #1756
Issue solved. See related PR mm-fixing-webex-issue MicrosoftDocs/bot-docs-pr#2319.

[2020-07-28 14:03] #1756 closed

[2020-07-28 17:09] JonathanFingold opened #1836 "Update migration topics to match R10 best practice"
**Scope** (articles to review and update):
| Title | File | Associated PR
| :-- | :-- | :--
| Migration overview | articles/v4sdk/migration/migration-overview.md | TBD
| Differences between the v3 and v4 .NET SDK | articles/v4sdk/migration/migration-about.md | TBD
| Differences between the v3 and v4 JavaScript SDK | articles/v4sdk/migration/migration-about-javascript.md | TBD
| Converting to a ski

[2020-07-28 18:16] scheyal commented on #1836
Yes, we need to update the docs. In particular we need to add (& recommend) adaptive & composer entries, and ensure skills are uptodate. In particular adaptive solves a few flows that may be better mapped to how V3 interruption dialog handling.

Plus:
* General V3V4: @EricDahlvang
* Adaptive: @vishwacsena
* Composer: Chris W.

[2020-07-28 18:53] vibhav2799 opened #1837 "Azure Bot Menu Change"
https://docs.microsoft.com/en-us/azure/bot-service/abs-quickstart?view=azure-bot-service-4.0#create-a-new-bot-service

Upon getting started, I couldn't seem to find **AI + Machine Learning -> Web App Bot** in Azure. I think the menu changed to **Bot Services -> Web App Bot**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-07-28 19:35] Jay-study-nildana commented on #1673
@mmiele

no apology neccessary at all :) thank you for the new post. I have currently moved away from this, building my own auth servers, but I will look into it. glad that the post is up and running now :)

[2020-07-28 20:14] WashingtonKayaker commented on #1325
Sorry for the delays, the JavaScript sample is available and the [Add telemetry to your bot](https://docs.microsoft.com/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0&tabs=javascript) article has been updated to include information on how to add telemetry to your bot developed using JavaScript.

[2020-07-28 20:14] #1325 closed

[2020-07-29 02:02] EricDahlvang commented on #1836
The dotnet UserState doc and samples are out dated.  The v4 sdk BotState classes now supports NoTypeHandling serialization, so user state storage should be easily transferable from a v3 to v4 bot.  (note: the dialogs library in v4 does not yet support no type handling, but the BotState classes do)

[2020-07-29 06:37] boz22 opened #1838 "Token service returns only access token, but not id_token"
When using the Token Botframework service to store and retrieve the tokens, is there a way to retrieve both access token and id token on a Connection created in the bot channel registration?

If I have the scope "openid, https://graph.microsoft.com/user.read" this will return access_token and id_token (in Postman) but I could only find references on how to retrieve access_token, not id_token (via

[2020-07-29 11:27] GossiTheDog opened #1839 "Align language to race-sensitive bias free comms"
Hi - whitelist should be changed to allow list.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa75583-93e6-cbcd-ab51-c6ec1bf85a58
* Version Independent ID: c33566c0-c48a-7d1a-d808-f7e3cee3d9dc
* Content: [Bot Framework Frequently Asked Questions Security and Privacy - Bot Service](https://docs.microsoft.com/en-us/azu

[2020-07-29 12:42] GossiTheDog opened #1840 "Change for race-sensitive language"
Hi - please change references to whitelist to allow list, in line with bias free comms.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1aa75583-93e6-cbcd-ab51-c6ec1bf85a58
* Version Independent ID: c33566c0-c48a-7d1a-d808-f7e3cee3d9dc
* Content: [Bot Framework Frequently Asked Questions Security and Privacy - Bot Servi

[2020-07-29 13:53] geo-msft commented on #1834
I am not referring to the slow first message. I mean: when I experience intermittent slowness (the bot takes longer to reply sometimes), how can I understand what requests take longer? One way to check application insights and see the dependencies or performance tab. But apart from that, what logs can I collect? How can I figure out if my code is not good? Thank you.

[2020-07-29 20:10] mmiele commented on #1760
"Debug with the emulator" article updated with proxy information. It will be in the next available release.

[2020-07-29 20:10] #1760 closed

[2020-07-29 20:12] #1780 closed

[2020-07-29 23:09] emgrol commented on #1754
Closing now that the typo fixes are live.

[2020-07-29 23:09] #1754 closed

[2020-07-30 16:15] JonathanFingold commented on #1836
from Eyal

[2020-07-30 16:57] JonathanFingold commented on #1803
Duplicate of #1778 .

[2020-07-30 16:58] #1777 closed

[2020-07-30 16:58] emgrol commented on #1775
Closing now that updates have been merged into master.

[2020-07-30 16:58] #1775 closed

[2020-07-30 17:05] JonathanFingold commented on #1784
Covered by the first how-to on adaptive dialogs.

[2020-07-30 17:05] #1784 closed

[2020-07-30 17:08] JonathanFingold commented on #1789
Covered by the first adaptive how to article

[2020-07-30 17:08] #1789 closed

[2020-07-30 18:28] WashingtonKayaker commented on #1761
I will be working on an article for this topic in the future. In the mean time you can refer to the [02.using-cards](https://github.com/microsoft/BotBuilder-Samples/tree/master/samples/csharp_dotnetcore/adaptive-dialog/02.using-cards) sample bot, which demonstrates how to implement cards, including Adaptive Cards in you bot using adaptive dialogs.

You will need to reference your [adaptiveCard.jso

[2020-07-30 19:33] WashingtonKayaker opened #1842 "Using Adaptive Cards with adaptive dialog concepts"
This information was requested by a customer in [Issue1761](https://github.com/MicrosoftDocs/bot-docs/issues/1761).

**Note**: Issue tracking the related _how to_ article is [Issue1843](https://github.com/MicrosoftDocs/bot-docs/issues/1843)

A concept article, or addition to an existing concepts article needs to be written to address this, along with using cards in general.

The major issues:

1.

[2020-07-30 19:54] WashingtonKayaker opened #1843 "How to use Adaptive Cards in bots with adaptive dialogs"
**Note**: Issue tracking the related concept article is [Issue1842](https://github.com/MicrosoftDocs/bot-docs/issues/1842)

[2020-07-30 23:17] EricDahlvang commented on #1834
This is a great reference for troubleshooting timeout exceptions and long running operations: https://github.com/daveta/analytics/blob/master/troubleshooting_timeout.md

We are currently putting together some guidance for how to overcome these issues.

[2020-07-30 23:22] JonathanFingold opened #1844 "Create a page for troubleshooting timeout issues"
We currently reference a page in Dave's repo [troubleshooting timeout issues](https://github.com/daveta/analytics/blob/master/troubleshooting_timeout.md). We should instead create a page for it in our docs.

[2020-07-30 23:26] JonathanFingold commented on #1840
Thanks @GossiTheDog - This fix is in PR and should be live within a week.

[2020-07-30 23:27] JonathanFingold commented on #1839
Thanks @GossiTheDog - This fix is in PR and should be live within a week.

[2020-07-31 11:51] marcelosilvaidp commented on #1761
Thanks a lot for the reply!

Em qui., 30 de jul. de 2020 às 15:28, WashingtonKayaker <
notifications@github.com> escreveu:

--

[image: http://homologacao.idp.edu.br/img/2019/logo/IDP.png]
<http://www.idp.edu.br/>
  [image:
http://homologacao.idp.edu.br/img/2019/logo/INSTAGRAM_%C3%ADcone.png]
<https://www.instagram.com/sejaidp/>[image:
http://homologacao.idp.edu.br/img/2019/logo/FACEBOOK_%C3%ADcon

[2020-07-31 14:22] wilbug1git1 opened #1845 "typos in bot creation cli"
Getting an error that SUB is not a required parameter here:
az deployment **sub** create --template-file "<path-to-template-with-new-rg.json" --location <region-location-name> --parameters appId="<app-id-from-previous-step>" appSecret="<password-from-previous-step>" botId="<id or bot-app-service-name>" botSku=F0 newAppServicePlanName="<new-service-plan-name>" newWebAppName="<bot-app-service-name>"

[2020-07-31 16:56] v-kydela opened #1846 "Incorrect return value documentation"
The [json](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions#json) return value has been erroneously copied from the [join](https://docs.microsoft.com/en-us/azure/bot-service/adaptive-expressions/adaptive-expressions-prebuilt-functions#join) return value

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2020-07-31 23:21] emgrol commented on #1812
Closing now that the changes have been merged into the R10 branch.

[2020-07-31 23:21] #1812 closed

[2020-08-03 15:35] jawetzel opened #1847 "Building Missing Context"
In testing I had a case where the conversation contexts were lost, and I have been searching high and low for a way to rebuild conversation contexts once lost without a user needing to interact with the bot.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 521a9f9a-025c-c55b-c939-d9d4efc5c6d0
* Version Independent ID: 3b

[2020-08-03 16:18] JonathanFingold commented on #1847
@jawetzel - I'm not aware of any way beyond normal data recovery methods. I'll flag this for support to look at.

[2020-08-03 16:40] jawetzel commented on #1847
After looking how to sign up new users to bot and send them proactive messages, I think both could use some more docs.

GET /beta/users/${EMAIL} - provides user id

GET /beta/users/{UserId}/teamwork/installedApps?$expand=teamsApp&$filter=teamsApp/id eq '{BotHiddenId}' - provides install id, bot external id, and bot display name

GET /beta/users/{UserId}/teamwork/installedApps/{InstallId}/chat - pr

[2020-08-03 23:09] scheyal opened #1848 "Tiny 1-letter typo"
[Enter feedback here]

https://docs.microsoft.com/en-us/azure/bot-service/file-format/bot-builder-lg-file-format?view=azure-bot-service-4.0#functions-injected-by-lg

**DeveRloper typo**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ed604a1-7c6c-edfd-1c71-951322068283
* Version Independent ID: cbb78ea6-ad02-ba69-ede7-

[2020-08-04 17:19] JonathanFingold commented on #1848
Fix merged into master. Changes should go live within a few days.

[2020-08-04 22:30] joe-tossell-mando opened #1849 "Delay Activity type is not referenced in the Bot Framework Activity spec"
The delay Activity type is not referenced in the Bot Framework Activity spec:
https://github.com/Microsoft/botframework-sdk/blob/master/specs/botframework-activity/botframework-activity.md#typing-activity

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 055d8380-e33c-c31f-2ae0-7d4509472d1d
* Version Independent ID: ce913

[2020-08-05 16:28] JonathanFingold commented on #1849
@joe-tossell-mando - The `delay` activity is not part of the Bot Framework service. It is added by the SDK. The bot adapter intercepts the `delay` activity, pauses for a number of milliseconds, and then sends the remaining activities, if any.

The delay activity is never sent to a channel, and it's mainly for testing purposes.

[2020-08-05 17:08] jwiley84 commented on #1746
Hi @EvanOman @decherd There is a potential fix in the works at the moment, and should hopefully be cut soon. Thank you for your patience in this!

[2020-08-05 21:28] safetyhorse opened #1850 "Dispatch: Resolving incorrect top intent"
I was trying to use the command provided to update the proper intent for dispatch, but it did not work and broke dispatch refresh for me. I was able to successfully remove the file and get dispatch CLI working again. When I tried again, I added the name parameter, -n <name> to the command and it went through and worked as described. The documentation might need an update in this section.

---
####

[2020-08-06 16:17] emgrol opened #1851 "Document support for URI reference in LU"
https://github.com/microsoft/botframework-cli/pull/923

[2020-08-06 20:25] JonathanFingold opened #1852 "Add Team's specific notes to proactive how-to"
re: [47794-Case Review Item: Consider improving the documentation related to Proactive Messaging in Skype/Teams](https://fuselabs.visualstudio.com/BotFramework/_workitems/edit/47794)

- [x] Add note about needing a conversation reference.
- [x] Add note about being able to message individuals on a Teams group channel.
- [x] Add links to Teams docs and various Teams samples.
- [x] Get Eric's review

[2020-08-06 23:43] jtg5122 commented on #1707
Hello.  I am having the same issue.  I've tried to repeat these steps multiple times.

[2020-08-07 00:16] jtg5122 opened #1853 "{"v":"*****","k":true,"ib":false,"ob":false,"initialized":true}"
Hi,

I've seen that other people have had this issue this year.  When confirm the direct line app extension and the bot are initialized, I get:

{"v":"*****","k":true,"ib":false,"ob":false,"initialized":true}

What do I do to get true values for ib and ob?

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0

[2020-08-07 00:22] jtg5122 opened #1854 "{"v":"*****","k":true,"ib":false,"ob":false,"initialized":true}"
I get {"v":"*****","k":true,"ib":false,"ob":false,"initialized":true} when I confirm that the direct line extension and the bot are initialized.

How do I get true values for ib and ob?  I haven't created my client app, is that why?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* V

[2020-08-07 00:23] #1854 closed

[2020-08-07 11:55] chris-askbrian opened #1855 "Deploy a python bot with additional dependencies is unclear"
Hi,  while it looks pretty straightforward to deploy a bot for other languages like nodejs with additional dependencies via vendoring (aka add the node_modules folder to the deployment zip file) this is not really a nice way to go in python... what would be the best way to handle this? Maybe the sentence "You do not need to prepare your project files before deploying a Python bot." is not so true

[2020-08-07 15:01] RafaNv opened #1856 "Failed to process content in attachment"
I'm trying to send a message with Microsoft.graph.teams but return this error :Failed to process content in attachment.

	var file3 = ImageToBase64(model.URL);
	var chatMessage = new ChatMessage
    {
	Body = new ItemBody
	{
		ContentType = BodyType.Html,
		Content = model.Content
	},

        Attachments = new List<ChatMessageAttachment>()
            {
                new ChatMessageAttachment

[2020-08-07 16:17] JonathanFingold opened #1857 "Teams now supports the InstallationUpdate event"
These two docs should describe `installationUpdate` event support in: an activity handler, the Teams activity handler, and the Teams channel:

- ABS SDK docs
  - [x] [Event-driven conversations using an activity handler](https://docs.microsoft.com/en-us/azure/bot-service/bot-activity-handler-concept)
  - [x] [How Microsoft Teams bots work](https://docs.microsoft.com/azure/bot-service/bot-builder-b

[2020-08-07 21:24] #1826 closed

[2020-08-08 07:32] BerndGewehr opened #1858 "The example for the adaptive card does not work on this page. What is the proper body payload of the REST POST to post that card?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a4df548-56f2-4601-31d8-58a3237fd867
* Version Independent ID: ec4ede13-b432-61bb-5de8-1ed88bf36e17
* Content: [Add rich card attachments to messages - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connect

[2020-08-10 11:29] shikshik opened #1859 "When will this be available for nodejs?"
[Enter feedback here]
This feature is exactly what we were looking for, but we have a nodejs based bot. Is there an ETA for nodejs version?
Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee5b7a1a-86c5-37a6-5a47-61dc29d9fa57
* Version Independent ID: a054ad1c-266f-9e28-bb7d-9fb4ee6c8988
* Content: [Introduction

[2020-08-10 15:40] JonathanFingold commented on #1859
@shikshik Adaptive dialogs are currently in preview in JavaScript. See [botbuilder-dialogs-adaptive](https://www.npmjs.com/package/botbuilder-dialogs-adaptive) on npm. In the upcoming release, adaptive dialogs should be a release candidate in JS.

[2020-08-10 15:51] JonathanFingold commented on #1852
@EricDahlvang Assigning back to you so you can resolve the issue that spawned this one.

[2020-08-10 16:10] JonathanFingold commented on #1856
[How Microsoft Teams bots work](https://docs.microsoft.com/azure/bot-service/bot-builder-basics-teams) describes some of the additional activities you need to handle for a Teams bot. There is also additional information in the Microsoft Teams documentation on how to [create a bot for Microsoft Teams](https://docs.microsoft.com/microsoftteams/platform/bots/how-to/create-a-bot-for-teams).

If you're

[2020-08-10 18:16] mmiele commented on #1855
@chris-askbrian Could you please provide more details about the problem your are experiencing? Thanks

[2020-08-10 18:17] RafaNv commented on #1856
Hi @JonathanFingold , Thank you for answering the question, but, I need sends image like attachment by dll graph c# and return error: Failed to process content in attachment.
The attachment content is a image Base64 used according to documentation but it doesn't work.
The code show how I did.

[2020-08-10 18:19] mmiele commented on #1845
@wilbug1git1 Could you please provide more details about the problem you are experiencing? Thanks

[2020-08-10 18:36] #1738 closed

[2020-08-10 20:09] RafaNv commented on #1856
'

[2020-08-10 20:09] #1856 closed

[2020-08-11 12:38] vinisbranco opened #1860 "Proactive Message, Received error 401 “Authorization has been denied for this request”"
I'm trying to send a proactive message using botframework in Nodejs (Teams channel), but a received 401 error.

I make some searches and I found that the error can be possible with the trust service URL, but I have already done that part.

My adpter config

[code]

Send proactive message code
[code]

Request and response, with my AppId and conversation ID.

[code]

[2020-08-11 13:15] RafaNv opened #1861 "The attachmen Error."
I need sends image like attachment by dll graph c# and return error: "Failed to process content in attachment".
The attachment content is a image Base64 used according to documentation but it doesn't work.

Documentation
https://docs.microsoft.com/es-es/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#attachment-object

The code show how I did.:

[2020-08-11 13:36] FuzzAU opened #1862 "Slack bot app creation has changed such that screenshots and steps are no longer valid"
Starting at the step "Create a Slack Bot User" the screenshots and steps are no longer valid.

The following steps are now inconsistent with the Slack interface:

- Where "Bot Users" was an option on the left hand menu, there is now a "Where's Bot User" option. Clicking this explains that Bot User has moved to "App Home".
- At this point the user is required to make a "Bot Token" and create Scopes

[2020-08-11 18:14] emgrol commented on #1855
@chris-askbrian Are you experiencing problems deploying a Python bot with additional dependencies? I reached out to the botbuilder-python team and they said the deployment steps look accurate, even for bots with additional dependencies.

[2020-08-11 20:31] JonathanFingold commented on #1862
I'm hoping to get to this article in the next week or two, to address this issue, as well as issue [1831](https://github.com/MicrosoftDocs/bot-docs/issues/1831).

[2020-08-11 20:40] JonathanFingold commented on #1857
Adding @clearab as an assignee for the Teams doc set update.

[2020-08-11 23:15] mmiele commented on #1845
@wilbug1git1 I tested the command **az deployment sub create ...* and it is working as described. You may want to install the latest [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest). To check which version you have installed enter this command: **az --version**.

[2020-08-11 23:16] #1845 closed

[2020-08-12 04:58] vijaysaimutyala opened #1863 "Availability of DirectLine App Service Extension for Python SDK"
It was mentioned in the issue https://github.com/microsoft/botbuilder-python/issues/829 that Direct Line App Service Extension
is not available for Python SDK because of Linux App Service not supporting Streaming Extension. I was not able to find if WebSocket support for Linux App Service is available now. I want to understand that if its available, are there any plans of supporting Direct Line Ap

[2020-08-12 06:02] chris-askbrian commented on #1855
I got confused by the following sentence:

So I was expecting that the installation of the dependencies for python is happening before zipping the files like it does for the other languages... but after looking into the way the PYTHON image that is used in the deploymentTemplates it got more clear: It expects a requirements.txt to be present and because I use poetry to handle my dependencies the n

[2020-08-12 07:25] shikshik commented on #1859
Great! I will definitely try it out.
Thanks @JonathanFingold !

[2020-08-12 07:31] DavidVollmers opened #1864 "Code Examples are incomplete and not useable"
Please explain on how to get the `botAccount` variable in the examples. Otherwise these examples are useless...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6e60b310-2a46-8a89-3eb8-e9c43b45e90f
* Version Independent ID: b0880a39-41b5-016e-72bb-7779c17430c2
* Content: [Send and receive activities - Bot Service](https:

[2020-08-12 18:08] mmiele commented on #1745
@v-kydela Maybe more that bot authentication we should say bot **authorization**. So the article **Bot authentication** will be named **Bot authorization**.
The first paragraph could be modified as follows:
There are times when a bot must access secured online resources on behalf of the user; to do that the bot must be authorized. The authorization takes the form of a bearer token. **This token is

[2020-08-12 19:29] v-kydela commented on #1745
@mmiele - That would serve to disambiguate bot authorization from bot authentication, but it wouldn't serve to disambiguate user authentication from bot authentication. This raises a lot of questions for me. Are we considering bot authorization to be the same thing as user authentication? Is there a reason we don't want to user the term user authentication? I'm worried that the difference between

[2020-08-12 21:34] #1848 closed

[2020-08-12 21:35] #1840 closed

[2020-08-12 21:35] #1839 closed

[2020-08-12 23:59] JonathanFingold commented on #1863
I'll ask one of the devs.

[2020-08-13 00:11] JonathanFingold commented on #1864
Unfortunately, we are no longer actively supporting the v3 version of the Bot Framework SDK, including the old documentation. If you are creating a new bot, please use v4 of the SDK and the [v4 documentation](https://docs.microsoft.com/azure/bot-service/?view=azure-bot-service-4.0).

If you have an existing v3 bot, we have some documentation on [how to migrate](https://docs.microsoft.com/azure/bot

[2020-08-13 12:11] jsiegmund opened #1865 "Link to related samples"
This comment is not specific to this page but goes for a lot of the bot framework documentation in general. I find the documentation quite hard to use because of the split between theory and samples. I assume this might be because of the differences in SDK's or code samples, I'm not sure. But not having good code samples in the theoretic bits makes it quite hard for me to translate the theory into

[2020-08-13 14:45] vinisbranco commented on #1860
@JonathanFingold can someone help me with this problem?

[2020-08-13 15:20] JonathanFingold commented on #1863
@vijaysaimutyala The team has plans to implement this for Python, but they don't have a firm date for it yet. I hesitate to make a prediction as to when this will be available for Python.

[2020-08-13 16:06] mmiele commented on #1745
@v-kydela You know Kyle, there are 2 sides to the story; authentication and authorization which are conflated, hence the confusion. Typically, when we say authentication we also imply authorization as in the case of our documentation as I found it when I started working on it. You are correct that the tile "bot authentication" is a bit misleading, because actually is the user that is authenticated

[2020-08-13 16:11] MeenakshiBalekar opened #1866 "[Docs] Direct Line app service extension | endpoint for ASE given as "azurewebsite.net""
Document mentions the bot endpoint to be "azurewebsite.net" where in if the same is behind ASE it will be https://<Name>.appserviceenvironment.net/api/messages

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independent ID: 30a3fce8-d236-5c7b-88a0-003c971f2819
* Content: [.

[2020-08-13 16:15] MeenakshiBalekar opened #1867 "[Docs] Direct Line app service extension | Node JS doc has appsetting.json mentioned instead of .env"
[Enter feedback here]
This document mentions that at point number 6 about the appsetting.json where in it should be .env file as this is about node Js.

Point 6. Open the appsettings.json file and enter the following values:

"MicrosoftAppId": "<secret Id>"
"MicrosoftAppPassword": "<secret password>"

Could you please correct the same, this will help avoid confusions for many.

---
#### Document D

[2020-08-13 16:22] MeenakshiBalekar opened #1868 "[Docs | Issue while accessing webchat] Directline app service extension | Webchat mentions azurewebsites.net"
[Enter feedback here]
This article mentions in the webchat that the domain needs to be "https://<your_app_service>.azurewebsites.net/.bot/v3/directline"

Where in the endpoint which is created with ASE azure bot will be "https://<botname>.appserviceenvironment.net/api/messages

So should we use "azurewebsites.net" or " appserviceenvironment.net" while making a call to ASE azure web app bot with di

[2020-08-13 16:31] emgrol commented on #1851
Closing now that the PR has been merged.

[2020-08-13 16:31] #1851 closed

[2020-08-13 19:12] mmiele commented on #1745
Work in progress see PR https://github.com/MicrosoftDocs/bot-docs-pr/pull/2342.

[2020-08-13 19:32] v-kydela commented on #1745
I'm sorry, I'm still not seeing an explanation for why you don't want to use the term "user authentication." I think it's great that you're explaining the difference between authentication and authorization, but why not do that on top of explaining the three types of authentication?

[2020-08-13 20:09] JonathanFingold commented on #1860
I'll try to get someone from support to reach out to you.

[2020-08-13 23:09] emgrol commented on #1811
Closing now that the PR has been merged into the R10 branch.

[2020-08-13 23:09] #1811 closed

[2020-08-13 23:13] mmiele commented on #1745
Disregard what I said in the previous comment.
Working on the PR.

[2020-08-13 23:17] emgrol commented on #1810
Closing now that the PR has been merged into the R10 branch.

[2020-08-13 23:17] #1810 closed

[2020-08-13 23:18] emgrol commented on #1808
Closing now that the PR has been merged into the R10 branch.

[2020-08-13 23:18] #1808 closed

[2020-08-13 23:18] emgrol commented on #1804
Closing now that the PR has been merged into the R10 branch.

[2020-08-13 23:18] #1804 closed

[2020-08-13 23:21] mdrichardson commented on #1860
Hi @vinisbranco

It looks like you're not passing in a conversationReference to `continueConversation()`. Especially with Teams, there's quite a bit of required information for the conversationReference to contain. You can build the conversationReference manually (very hard), but it's really best to capture them when the user converses with the bot. See [this sample](https://github.com/microsoft/B

[2020-08-14 06:24] rungsoso opened #1869 "LINE Channel problem"
I connected the bot to LINE chanel according to this document https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-line?view=azure-bot-service-4.0 But all messages reply to users with push messages (paid messages), why not reply to messages (free messages)?

[2020-08-14 07:40] jsiegmund opened #1870 "Incorrect OAuthInput sample"
I tried implementing the sample code for `OAuthInput`, but the `TokenProperty` property doesn't seem to exist on class `OAuthInput`. It would also be nice to have some documentation on how OAuthInput should be implemented in broader sense. As in: how do I ge the token in later steps, is this token automatically refreshed when it expires? What happens when the token in time is not valid any more? I

[2020-08-14 16:08] vinisbranco commented on #1860
@mdrichardson I've tried to change my code, but continues the error

This is my continueConversation()
![Captura de tela de 2020-08-14 12-59-02](https://user-images.githubusercontent.com/28357433/90269195-9fdacd00-de2e-11ea-97a6-661f24e1187e.png)

Capturing the conversationReference when the user converses eith the bot
![Captura de tela de 2020-08-14 13-00-16](https://user-images.githubusercontent

[2020-08-14 17:19] savagemonitor opened #1871 "Actual telemetry from QnAMaker doesn't include question"
I've instrumented my bot as per the [Add Telemetry To Your Bot](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0&tabs=csharp) page as well as the [QnA specific](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry-qnamaker?view=azure-bot-service-4.0) page but when I tried to run a query based on the documentation in this articl

[2020-08-14 17:54] EricDahlvang commented on #1852
Closing, since the work is completed.

[2020-08-14 17:54] #1852 closed

[2020-08-14 18:17] mdrichardson commented on #1860
I believe that the Bot Framework pieces of the code are correct.

1. I'm assuming that in the top picture `conversationReference` is defined by a call to your `db` and that it's returning the correct ConversationReference?
2. What does `model.render()` return? It _must_ return a valid activity. In your last picture, the "response" one, it shows `"activity": null`. I don't recall is the `HttpRespon

[2020-08-14 20:01] vinisbranco commented on #1860
@mdrichardson

1. Yes, in my previous message in the third picture, is the response of db

2.
![Uploading Captura de tela de 2020-08-14 16-50-37.png…]()

3. The sample works normal

4. Yes, this is the code https://github.com/vinisbranco/hyper-automation/tree/master/functions
 and appId: df21894e-7d58-43e8-95bf-7492028c4e04

[2020-08-14 21:39] mdrichardson commented on #1860
@vinisbranco Thank you for including your code!!!!!!!!!! I don't think I would've figured this out, otherwise.

The issue is that in `sendMessage.f.js`, you're [instantiating a new `BotFrameworkAdapter`](https://github.com/vinisbranco/hyper-automation/blob/master/functions/message/sendMessage.f.js#L17), which differs from the one instantiated [in `gateway.f.js`](https://github.com/vinisbranco/hype

[2020-08-15 12:12] vijaysaimutyala commented on #1863
Thanks @JonathanFingold

[2020-08-17 10:32] joe-tossell-mando commented on #1849
Thanks for the clarification, I've been on leave, for anyone else wondering where that is:
https://github.com/microsoft/botbuilder-dotnet/blob/23f5c73a13e0651969473139ea1cca466d75ea04/libraries/Microsoft.Bot.Builder/BotFrameworkAdapter.cs#L529
For the C# adapter.

It would be useful to have this supported by the schema as it is useful for delaying a series of text responses based on reading times.

[2020-08-17 16:12] emgrol commented on #1809
Closing now that the PR has been merged into the R10 branch.

[2020-08-17 16:12] #1809 closed

[2020-08-17 16:15] JonathanFingold commented on #1849
The Azure Bot Service times out a turn on most channels after 10 to 15 seconds, so this would not be a good way to handle your scenario. Here are a couple options that come to mind:
- You could use [suggested actions](https://docs.microsoft.com/azure/bot-service/bot-builder-howto-add-suggested-actions#suggest-action-using-button) to give the user a "more" button. This would let the user start a ne

[2020-08-17 16:30] #1863 closed

[2020-08-18 05:23] Silu321 opened #1873 "implementing dispatch with bot composer"
Hello, team
I am  trying to implement dispatch with Bot composer But there is no documentation or guidance Can you please point out the correct documentation?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c0c0448-d72d-3451-0b83-89b2fc93e0ab
* Version Independent ID: e3c31f64-02c7-046a-6a1f-a7408d68e5af
* Content: [Ge

[2020-08-18 06:00] Silu321 opened #1874 "Implementing Middleware with Bot Composer"
Hello, Team
I am trying to implement Middleware with bot composer but there is no documentation or guidance can you please point out the correct documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c0c0448-d72d-3451-0b83-89b2fc93e0ab
* Version Independent ID: e3c31f64-02c7-046a-6a1f-a7408d68e5af
* Content: [G

[2020-08-18 09:14] joe-tossell-mando commented on #1849
The Azure Bot Service times out a turn on most channels after 10 to 15 seconds, so this would not be a good way to handle your scenario.
_I suppose that is why it would be could to include delay as an activity type so that the entire response can be provided within that time-frame, I guess though you are just moving the problem up the chain from the SDK into the ABS unless the channel itself suppo

[2020-08-18 15:27] mdrichardson commented on #1860
@vinisbranco Did this end up fixing your issue?

[2020-08-18 16:14] JonathanFingold commented on #1849
I see where this could be useful for "short-running" operations where a minimal pause is desired. I'll look at adding a call-out for this method in the docs. I'm not yet sure where that would be discoverable.

For this, the BotFrameworkAdapter's Delay method should work just fine. This is a C#-specific implementation, though. If you need the equivalent method in another language, let me know.

[2020-08-18 18:08] mmiele commented on #1745
Solved as per https://github.com/MicrosoftDocs/bot-docs-pr/pull/2343.

[2020-08-18 18:08] #1745 closed

[2020-08-18 22:23] vinisbranco commented on #1860
Yes @mdrichardson, I rewrite the code based on the sample and worked for me. Thank you a lot for the support!

[2020-08-18 22:23] #1860 closed

[2020-08-19 10:54] Christopher154 opened #1875 "Missing javascript sample code in application insights docs"
Location: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-telemetry?view=azure-bot-service-4.0&tabs=javascript#enabling-telemetry-to-capture-usage-data-from-other-services-like-luis-and-qna-maker

Issue: In the fourth bullet point of this section it alludes to some sample code with the box used to display sample code being displayed below the bullet point, however it's empty

---
##

[2020-08-19 15:23] WashingtonKayaker commented on #1875
Thank you for reporting this, the link to the sample's source code was off by one. Fixed, will go live the next time the master branch gets pushed live. This was due to the sample source being changed since the article was written.

[2020-08-19 15:23] #1875 closed

[2020-08-19 17:13] mmiele commented on #1870
@jsiegmund Please, look at this article: [Authentication](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-direct-line-3-0-authentication?view=azure-bot-service-4.0). It might help in handling the token expiration.

[2020-08-19 18:36] anusharavindrar commented on #1867
@MeenakshiBalekar, thanks for the feedback. The changes have already been checked in along with the other corrections and will be live soon.

[2020-08-19 18:39] #1867 closed

[2020-08-19 18:55] mmiele commented on #1870
@jsiegmund As far as `OAuthInput` is concerned , waiting for an official sample, you can look at this proof of concept below to get an idea.

[code]

[2020-08-20 02:53] fifteenjoy opened #1876 "Directline Ase return {"v":"123","k":true,"ib":fase,"ob":fase,"initialized":true} sometimes"
Hi,

I got a very strange status.

I have activated  Directline ASE successfullly. when I access
 _http://XXXXXX/.bot_, it return
_{"v":"123","k":true,"ib":true,"ob":true,"initialized":true}_

But sometimes, "ib" and "ob" is get false automatically. like below
_{"v":"123","k":true,**"ib":false,"ob":false,**"initialized":true}_
In this case, I refresh http://XXXXXX/.bot mannuly in browser, then eve

[2020-08-20 05:57] jsiegmund commented on #1870
Yeah I had it working in the meantime, but ran into another problem in MS Teams (see https://github.com/microsoft/botbuilder-dotnet/issues/4477). So I got it 'working', but still the docs should be checked I think :)

[2020-08-20 15:55] emgrol opened #1878 "Add new date and time function to adaptive expressions prebuilt functions"
https://github.com/microsoft/botbuilder-dotnet/pull/4286

[2020-08-20 15:56] emgrol opened #1879 "Add locale awareness to adaptive expressions prebuilt functions"
https://github.com/microsoft/botbuilder-dotnet/pull/4276

[2020-08-20 20:24] anusharavindrar commented on #1876
@fifteenjoy, there are typically only three reasons for the IB/OB values to be false:

- The bot is failing to start up correctly, which would mean it's not available through any channel

- The named pipe code added to the bot's startup/index was incorrect

- The App Service needs to be restarted to sync the bot and channel

Hope this helps.

[2020-08-20 20:45] JPalmerDev opened #1880 "Documentation does not explain importResolver"
In the LG In Action section, it uses some sample code that uses an importResolver.
Nowhere in these docs does it define what this resolver is, or how it should be used.
You can make a function that fulfill's the signature for the delegate, but this doesn't communicate to a developer what they're supposed to write to make this code work or adequately parse the file correctly.

I'm currently going t

[2020-08-20 21:09] anusharavindrar commented on #1866
@MeenakshiBalekar, thanks for the feedback. The current document is specific to enabling the direct line app service extension in the Azure App Service resource where the bot is hosted and not for the App Service Environment scenario. For more details about using the ASE, please refer to https://docs.microsoft.com/en-us/azure/app-service/environment/using-an-ase#app-access

[2020-08-20 21:12] #1876 closed

[2020-08-20 21:15] #1866 closed

[2020-08-20 21:17] mmiele commented on #1870
@jsiegmund  A couple of remarks to conclude this phase of the discussion.

- The following code
[code]
defines the `OAuthInput` object that contains OAuth information. `Property` contains the memory path where to store the [TokenResponse](https://docs.microsoft.com/en-us/dotnet/api/microsoft.bot.schema.tokenresponse?view=botbuilder-dotnet-stable) object.
The value shown in the example `turn.oauth`

[2020-08-21 05:10] fifteenjoy commented on #1876
Hi,

Please do not close this issued, I think this bug is not fixed yet.

**My question is sometimes  IB/OB  get false **automatically sometimes**, most of time they are true.**

--The bot is failing to start up correctly, which would mean it's not available through any channel
My response:   Where I can start up bot in azure?

--The named pipe code added to the bot's startup/index was incorrect
-

[2020-08-21 05:51] clearab opened #1881 "Transcript section is incorrect"
The note calling out that JS doesn't support this is incorrect. Not sure about Python or Java.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7538ed7a-5bb8-abc0-23e7-5b118e2fd47f
* Version Independent ID: f6181862-6527-6698-afcd-4f6d240123da
* Content: [Write directly to storage - Bot Service](https://docs.microsoft.co

[2020-08-21 07:03] jsiegmund commented on #1870
Understood. In my current code I'm starting off the dialog with the OAuthInput, so I guess that when the dialog itself expires this would mean the user will have to instruct the bot to start the process again and would be faced with the OAuthInput again, right? That's fine with me.

As for the expired token itself, what I'm doing right now:

- I have a reference to the `OAuthInput` dialog stored i

[2020-08-21 16:20] stevengum opened #1882 "Blob transcript storage section is out of date as of 4.10"
Section **Blob Transcript Storage** is out of date. ([Current](https://github.com/MicrosoftDocs/bot-docs/blob/f43ee82dc8ba7298b7d1d015a1902b1be948d218/articles/v4sdk/bot-builder-howto-v4-storage.md#blob-transcript-storage))

![image](https://user-images.githubusercontent.com/14935595/90911982-a6b59280-e38e-11ea-88a6-36045d3a26ef.png)

AzureBlobTranscriptStorage is deprecated in C#, and users shoul

[2020-08-23 18:44] DavidVollmers commented on #1864
Sorry for the late answer. I am indeed building with v4 of the SDK. Maybe you can state the above information more clear in the documentation. I did not even notice I was reading the v3 documentation. Neither did I notice it is deprecated...

[2020-08-23 18:44] #1864 closed

[2020-08-24 18:05] mmiele commented on #1870
@jsiegmund Can we close this issue? Thanks

[2020-08-24 21:07] JonathanFingold commented on #1871
@savagemonitor - The QnA Maker `question` data should show up as one of the `customDimensions` fields, if I understand correctly.

[2020-08-24 21:07] mmiele commented on #1868
@MeenakshiBalekar The domain is where the bot is hosted.  For example, in Azure is  https://<bot_name>.azurewebsites.net/' as described in the example. The updated documentation will be in the next available release.

[2020-08-24 21:38] JonathanFingold commented on #1864
We started work to archive the v3 content. Not sure when that will be done, but that should greatly reduce this sort of confusion. :|

[2020-08-24 23:42] savagemonitor commented on #1871
@JonathanFingold I actually tracked this down and should have updated the issue.

In order to get the question out of the QnaMaker PII must be turned on through an additional parameter to the constructor:

    var qnaMaker = new QnAMaker(new QnAMakerEndpoint
            {
                KnowledgeBaseId = _configuration["QnAKnowledgebaseId"],
                EndpointKey = _configuration["QnAEndpoi

[2020-08-25 05:30] zxyanliu commented on #1873
What did you mean by "implement dispatch with Bot composer"? Can you specify more in detail?

[2020-08-25 05:32] zxyanliu commented on #1874
We do have an article about middleware in SDK.
In Composer, you can [eject the runtime](https://docs.microsoft.com/en-us/composer/how-to-add-custom-action#eject-bot-runtime) and then implement middleware follow the instruction in the [doc](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-middleware?view=azure-bot-service-4.0).

[2020-08-25 06:35] jsiegmund commented on #1870
My issue is fixed, but the error in the docs (`TokenPropery` instead of `Property`) is still there. So be my guest if you want to close it but I think it should be corrected nevertheless.

[2020-08-25 06:55] Silu321 commented on #1873
"https://github.com/Microsoft/botbuilder-tools/tree/master/packages/Dispatch" you just fallow this link but i need to implement these things through Microsoft Bot Frame Work Composer And i also implement #OAuth

[2020-08-25 16:00] zxyanliu commented on #1873
For Composer OAuth, read this doc.
https://docs.microsoft.com/en-us/composer/how-to-use-oauth

[2020-08-25 16:25] mmiele commented on #1870
@jsiegmund That is what I need to know. Let me keep this open, for now. I will pass the info to the writer that is working on the specific documentation.

[2020-08-25 18:00] divurgentuser commented on #1746
@jwiley84  Any update?

[2020-08-25 18:06] mmiele commented on #1870
@jsiegmund The problem has been fixed and the updated documentation will be available in the next upcoming release.

[2020-08-25 18:06] #1870 closed

[2020-08-25 19:58] v-kydela opened #1885 "Consistently refer to user auth as user auth"
Followup issue to https://github.com/MicrosoftDocs/bot-docs/issues/1745

@mmiele clarified the difference between bot auth and user auth in this PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2343

However, many places in the docs still refer to user authentication as bot authentication, like in this doc: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-security-guidelines

We

[2020-08-25 22:41] emgrol commented on #1776
Closing now that https://github.com/MicrosoftDocs/bot-docs-pr/pull/2365 has been merged into the R10 branch.

[2020-08-25 22:41] #1776 closed

[2020-08-26 06:03] Silu321 commented on #1873
https://docs.microsoft.com/en-us/composer/how-to-use-oauth
this doc only support GitHub authentication, but I need to implement outlook Authentication through Azure

[2020-08-26 10:26] Silu321 commented on #1873
Hello, team
I am trying to implement a #translator using #middleware with Bot composer But there is no documentation or guidance Can you please point out the correct documentation?

[2020-08-26 11:22] Silu321 opened #1887 "implement a #translator using #middleware with Bot composer"
Hello, team
I am trying to implement a #translator using #middleware with Bot composer But there is no documentation or guidance Can you please point out the correct documentation?

[2020-08-26 16:20] zxyanliu commented on #1873
FYI. Composer will have multilingual support in the next release coming soon.
By then, you can author bots in different languages.
https://github.com/microsoft/BotFramework-Composer/releases

[2020-08-27 03:41] fifteenjoy commented on #1876
Hi anusharavindrar,

Sorry, May be I did not make me clear.

Refresh the url is working for me.  But Because My chat bot is going to release, I dont want to refresh the url  manually,  I would like bot and DirectLine ASE communicate to each other smoothly all the time，

In a word,   I just want to aoid that "ib and ob values get false suddenly  with unknow reason" , this situation.

Many thanks.

[2020-08-27 08:48] gavindavies opened #1888 "Python Azure deployment issue"
**Describe the bug**
ARM template had issues at first, so I manually created the resources as defined in the JSON, and then zipped up the Python Bot Sample and deployed it. Worked fine on my local machine, however steps to deploy on Azure are nebulous and invalid.

**To Reproduce**
Follow the documentation.

**Expected behavior**
A working bot in Azure.

**Screenshots**
![MicrosoftTeams-image](htt

[2020-08-27 08:51] gavindavies opened #1889 "Python Azure deployment issue"
ARM template had issues at first, so I manually created the resources as defined in the JSON, and then zipped up the Python Bot Sample and deployed it. Worked fine on my local machine, however steps to deploy on Azure are nebulous and invalid.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/30958981/91419021-d2cb8a80-e84a-11ea-8a4e-d8609d6c27a5.png)
![MicrosoftTeams-image (1)](h

[2020-08-27 08:54] #1888 closed

[2020-08-27 15:38] mmiele commented on #1868
The updated documentation will be in the upcoming release.

[2020-08-27 15:38] #1868 closed

[2020-08-28 05:54] Silu321 commented on #1873
can you tell me about outlook OAuth and Middleware implementation

[2020-08-28 15:01] emgrol commented on #1648
Hi @dipbanik,  in the [**Create a bot with the Bot Framework SDK for .NET** ](https://docs.microsoft.com/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0&tabs=vc) article the are instructions for how to create a C# bot in VS Code.

[2020-08-28 15:08] dipbanik commented on #1648
@emgrol I was able to run it while editing on VS Code and C# starting sometime in July I believe. Thanks for the doc! I'm sure it'll help a lot of people!

[2020-08-28 15:11] emgrol commented on #1648
Thanks @dipbanik! Closing this issue now that all questions have been resolved.

[2020-08-28 15:11] #1648 closed

[2020-08-28 15:26] emgrol commented on #1855
Thanks for explaining the situation @chris-askbrian. I update the step in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2373; the changes should go live shortly.

[2020-08-28 18:47] jdgarcia01 opened #1890 "There is an error with the python code pertaining to the bot.py file."
The bot.py file has an error in it.  I had to make the following changes to get my bot to work and bypass the syntax error messages.

def __init__(self, config: Config):
        self.qna_maker = QnAMaker(
            QnAMakerEndpoint(
                knowledge_base_id=config.QNA_KNOWLEDGEBASE_ID,
                endpoint_key=config.QNA_ENDPOINT_KEY,
                host=config.QNA_ENDPOINT_HOST,

[2020-08-29 12:09] baole opened #1891 "Login with Microsoft Teams account"
I'm not sure this is the right place to ask this question. I build a chat bot for Microsoft Teams. The bot has a companion web app to handle settings and other tasks. I would like to offer a "Login with Microsoft Teams" feature where users can login to the companion web app with their Microsoft Teams account. Is it possible to implement such feature? It's nice if you can point me to the right docu

[2020-08-31 16:26] JonathanFingold commented on #1891
There are a number of topics that touch on this.
- [How Microsoft Teams bots work](https://docs.microsoft.com/azure/bot-service/bot-builder-basics-teams?view=azure-bot-service-4.0)
- [Bot authentication](https://docs.microsoft.com/azure/bot-service/bot-builder-concept-authentication?view=azure-bot-service-4.0)
- How to [Add authentication to a bot](https://docs.microsoft.com/azure/bot-service/bot-

[2020-09-01 06:21] mmartijnNL opened #1892 "Step 4 header is not a header."
Just a small styling issue, but it can cause people to skip over step 4.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a0b8671-359e-6026-fd3a-39331cea73f3
* Version Independent ID: 29bab4ad-243a-fb0a-99ed-d8336a92f648
* Content: [Develop DirectLine Speech Bot - Bot Service](https://docs.microso

[2020-09-02 08:01] analyticalgagan opened #1893 "How to see test results"
please check this link on how to see the test results ->

https://azure.github.io/learnAnalytics-AdvancedFeaturesforMicrosoftBotFramework/lab02-testing_bots/docs/2_Unit_Testing_Bots.html

[2020-09-02 18:47] johnkellyjr opened #1894 "Case sensitive parameters when creating the webhook"
[Enter feedback here]
Both "Resource" and "Event" are case sensitive, and need to be all lower case.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3e61be5-e537-8678-f907-10f27ea7bf90
* Version Independent ID: e2a9d88e-0819-9de5-d6f8-48bf7b270685
* Content: [Connect a bot to Webex Teams - Bot Service](https://docs.mic

[2020-09-02 20:52] emgrol commented on #1855
Closing now that the updates are live.

[2020-09-02 20:52] #1855 closed

[2020-09-02 20:54] mmiele commented on #1885
@JonathanFingold Let's discuss how we want to handle this in the R11 timeframe.

[2020-09-02 23:05] emgrol opened #1895 "Refine adaptive-tool README.md"
R11 work item
https://github.com/microsoft/BotBuilder-Samples/issues/2714
Update adaptive-tools README to production level quality

- [x] initial copy edit of https://github.com/microsoft/BotBuilder-Samples/pull/2718
- [x] skeleton of new structure
- [x] draft PR
- [x] PR reviewed
- [x] PR ready
- [x] PR merged

[2020-09-03 15:56] emgrol commented on #1719
@v-kydela I fixed the mentions of Suggestions to SuggestedActions. Closing now that the updates are live.

[2020-09-03 15:57] #1719 closed

[2020-09-03 15:57] emgrol commented on #1879
Closing now that the changes are merged into master.

[2020-09-03 15:57] #1879 closed

[2020-09-03 15:57] emgrol commented on #1878
Closing now that the changes are merged into master.

[2020-09-03 15:57] #1878 closed

[2020-09-04 20:56] v-kydela commented on #1858
@BerndGewehr - Sorry to leave you waiting.

Can you clarify what you mean when you say the example does not work? The example on the page is almost the same as the default example in the designer, and the example works if you paste it into the designer: https://adaptivecards.io/designer/

It looks just like it does in the image on the page:

![image](https://user-images.githubusercontent.com/41968

[2020-09-04 21:18] v-kydela commented on #1726
@siddharthpant92 - This is expected behavior in Teams. What channel are you using?

[2020-09-04 23:37] dmvtech commented on #1871
@JonathanFingold Looks like this is more docs issue than support. If so, can you remove the label? If not, let me know.

[2020-09-04 23:47] dmvtech commented on #1830
Hi @4ININ Sincerely apologize. Somehow this (and a few other) issues got passed by. Can you tell me; are you still having this issue?

[2020-09-04 23:48] dmvtech commented on #1828
@4ININ Same here; Apologies. Is this issue still happening?

[2020-09-04 23:52] dmvtech commented on #1779
HI @RonnieQuan Apologies for not getting to this sooner. Are you still having this issue?

[2020-09-05 00:07] dmvtech commented on #1550
For issues with the QnA Service or portal, please create a UserVoice issue through the qnamaker.ai portal. This documents repro is for issues with the documentation itself.

![image](https://user-images.githubusercontent.com/43397658/92292228-f2108a80-eed0-11ea-883a-3d63e43631b7.png)

[2020-09-05 00:09] #1550 closed

[2020-09-05 03:10] danwkennedy commented on #1831
@JonathanFingold Do you know if we can choose subsets of scope? My admins are leary of giving a bot `*:history` scope since that allows it to read every message we have on Slack. However, they are willing to allow `app_mentions:read` in which case the bot will be alerted if it's been mentioned in a Slack message. That's perfectly fine for our flow but the docs seem to imply a hard requirement on t

[2020-09-05 12:01] BerndGewehr commented on #1858
The page is about REST API payloads - and the example card code is not yet a payload you can post to the API, it has to be included in a message attachment to be successfully posted against the API. That's why I think it should be listed as a portable payload on that page and not as a valid card JSON only.

[2020-09-07 06:27] xieofxie opened #1897 "Slack configuration UI is changed"
It doesn't have a Bot User now, and it uses App Home instead:

![image](https://user-images.githubusercontent.com/2876650/92355144-45bfe580-f116-11ea-8ed4-bef6d12337d7.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
* Version Independent ID: 5d501ffc-819f-0634-671c-13d432aa7f28

[2020-09-07 17:02] v-kydela commented on #1858
If I modify the payload from the hero card section and paste the Adaptive Card JSON into it, it looks like this:

[code]

Does this answer your question or are you saying you really want the doc to be modified?

@JonathanFingold - Do you think the doc should contain the full activity instead of just the card JSON?

[2020-09-07 17:05] BerndGewehr commented on #1858
My belief is that a page about REST API should point out valid API payloads on all examples, not only a few...

Thank you for caring!

[2020-09-07 17:09] anusharavindrar commented on #1592
@lukiffer, is your issue resolved?

[2020-09-07 17:24] anusharavindrar commented on #1869
Issue resolved in this [comment](https://github.com/microsoft/BotFramework-Services/issues/246#issuecomment-682199722).

[2020-09-07 17:25] #1869 closed

[2020-09-07 19:19] lukiffer commented on #1592
@anusharavindrar no, please note the above scenario regarding `turnContext` when calling `adapter.continueConversation()` and the corresponding question. We're at present effectively unable to send proactive messages unless a user has sent a message to the bot during the current app runtime (e.g. on an application cold start, pull a conversation reference from a datastore and proactively send a me

[2020-09-07 20:04] v-kydela commented on #1726
@siddharthpant92 - Are you still working on this?

[2020-09-07 20:06] v-kydela commented on #1759
@dgancho - Are you still working on this?

[2020-09-07 20:06] v-kydela commented on #1847
@jawetzel - Are you still working on this?

[2020-09-07 20:14] jawetzel commented on #1847
@v-kydela

Yes, I was able to recreate the context from graph. I posted the process so maybe it could get added to some docs.

The problem I was having was my application was keeping the context in memory like all the examples used, but when you restart the app all references are lost.  The above comment is how i built the context from scratch.

[2020-09-07 21:06] v-kydela commented on #1847
@jawetzel - Your case sounds pretty unusual so I doubt this will be added to the docs, but we appreciate the work you've done and the info will remain here for people to find if they need it.

You do have a good point about the [samples](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/16.proactive-messages/Bots/ProactiveBot.cs#L19) storing the conversation refer

[2020-09-07 21:52] jawetzel commented on #1847
My case isn't abnormal, its more of a fallback situation.

I do use a database as a persistent state for our use case.

In early stages of implementation the database got cleaned out. It was immediately noticed that it was a pain to make every user initiate a conversation with the bot to get the context restored.

I think it's fairly common to ask if my data was destroyed what is our backup plan w

[2020-09-08 09:22] mmartijnNL opened #1898 "more documentation needed"
Hi,
Can you provide more documentation / example code?

With the original DirectLine (without ASE) we could set a watermark when calling createDirectLine() to get some chat history, see below. Is there a similar functionality for DirectLine ASE?
[code]
I feel like there is no documentation for the createDirectLineAppServiceExtension() method.

Thanks in advance.

---
#### Document Details

⚠ *Do n

[2020-09-08 16:17] v-kydela commented on #1847
@jawetzel - If you were using a database which got cleaned out, then why did you say you were using the bot's local memory which got reset when the bot restarted?

[2020-09-08 16:40] JonathanFingold commented on #1858
My inclination is to make clear throughout this article that each example card JSON is meant to be added to an activity as an attachment. I think part of the problem is that this is only mentioned at the top of the article and easily missed.

I could situate each sample card JSON in a complete message activity payload, but then I'd need to repeat a bunch of placeholder content.

[2020-09-08 16:48] BerndGewehr commented on #1858
I agree. Maybe it would be helpful to start with demonstrating the pattern of attachment posting and later referring to it.

[2020-09-08 17:36] emgrol commented on #1890
Thanks for bringing this to our attention @jdgarcia01, I'll update the docs shortly.

[2020-09-08 17:37] emgrol commented on #1822
Thanks for letting us know about this @safari137, I'll be updating the article soon.

[2020-09-08 17:51] JonathanFingold commented on #1871
Okay, thanks all for clarifying. I'll remove the support tag, and we'll update the docs.

[2020-09-08 18:47] jawetzel commented on #1847
It is using memory, the database is a backup for the purpose of supporting restarts and scalability.

Memory > Database > Graph Lookup.

Was trying to help.

[2020-09-08 18:47] #1847 closed

[2020-09-08 20:33] JonathanFingold commented on #1858
@BerndGewehr I made some changes to the article. These will go live the next time we push content to the live site.

[2020-09-08 20:39] siddharthpant92 commented on #1726
@v-kydela We have used a work-around. But it would be nice if we can get some response message along with the 202 status code.

[2020-09-08 21:44] v-kydela commented on #1726
@siddharthpant92 - Yes that would be nice, but right now the schema is only set up to include one ID in a resource response. Teams expects you to send only text or only attachments in a message, and if you include both then it will split them into multiple activities with a different ID for each. If you'd like the behavior to change then you can provide feedback through Teams directly. I will clos

[2020-09-08 21:44] #1726 closed

[2020-09-09 00:02] bassfishingnerd opened #1899 "WebexAdapterWithErrorHandler code give IDE error"
Here is what I get from the code as-is

    public class WebexAdapterWithErrorHandler : WebexAdapter
    {
        public WebexAdapterWithErrorHandler(IConfiguration configuration, ILogger<BotFrameworkHttpAdapter> logger)
        : base(configuration, logger)
        {
            OnTurnError = async (turnContext, exception) =>
            {
                // Log any leaked exception from the app

[2020-09-09 00:07] johnkellyjr commented on #1894
Has anyone had success with this working? I can use the bot to test with Azure, and it will echo responses fine there. I am able to have WebEx recognize the bot, in that it allows me to add it to a Teams chat. Beyond that, I have never gotten it to echo a response in WebEx Teams. Am I missing something?

[2020-09-09 07:42] 4ININ commented on #1830
Yes, its doesnt working

[2020-09-09 07:43] 4ININ commented on #1828
Yes

[2020-09-09 14:20] Craigmeister68 opened #1900 "Connection to Cosmos DB may barf during development."
Greetings,
It may be helpful to add a section or link in this page regarding Cosmos DB connection policy. The default connection policy for Cosmos DB SDK v3 is direct, TCP mode which requires certain ports to be open. If developing from local device and those ports are blocked on your firewall, you'll get an 'AccessDenied' socket exception. Adding a setting for gateway mode allows connectivity ove

[2020-09-09 16:50] #1858 closed

[2020-09-09 22:11] #1891 closed

[2020-09-09 22:12] JonathanFingold commented on #1882
Fix is in PR.

[2020-09-10 17:18] diberry commented on #1850
@tsuwandy Can you please review this issue?

[2020-09-10 17:46] zxyanliu commented on #1887
We do not have a specific topic describing middleware implementation, but there will be a couple of new docs coming out for R11 (by November), including a doc describing Composer runtime (C# and JS). By then, users will have a clearer idea of what's inside the runtime, how to open a project in Visual Studio, etc.

[2020-09-10 17:48] zxyanliu commented on #1887
https://github.com/MicrosoftDocs/bot-docs/issues/1874

[2020-09-10 17:48] #1887 closed

[2020-09-10 17:49] zxyanliu commented on #1873
Closing as it is a duplicate of: https://github.com/MicrosoftDocs/bot-docs/issues/1874

[2020-09-10 17:49] #1873 closed

[2020-09-10 17:50] zxyanliu commented on #1874
We do not have a specific topic describing middleware implementation, but there will be a couple of new docs coming out for R11 (by November), including a doc describing Composer runtime (C# and JS). By then, users will have a clearer idea of what's inside the runtime, how to open a project in Visual Studio, etc.

You can also cut a ticket here: https://stackoverflow.com/questions/tagged/botframew

[2020-09-10 18:38] tsuwandy commented on #1850
@safetyhorse, which command did you use?  Could you put the whole command here?  Thanks!

[2020-09-10 21:22] JonathanFingold opened #1902 "Direct Line extensions: now GA, no longer in preview"
- [ ] https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline?view=azure-bot-service-4.0
- [ ] https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-client?view=azure-bot-service-4.0

[2020-09-10 21:43] stevkan commented on #1735
@turbozapekanka, is this still an issue you are needing help resolving?

[2020-09-10 21:49] stevkan commented on #1821
@jerryzhou0624, is this still an issue for you? If so, can you please identify which API in the doc you are attempting to use?

[2020-09-10 22:24] GauravES opened #1903 "Additional Azure Ad App needed if the external secured resource is Microsoft Graph?"
[Enter feedback here]

Can you clarify  if the Bot Azure AD App can be reused if the only external secured resource we want the bot to access the on behalf of the user is the Microsoft Graph which is a first party app? Do we absolutely need a additional Azure AD App for accessing the Microsoft Graph with delegated permissions?

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-10 22:32] turbozapekanka commented on #1735
Yes it would be nice to have two (or more) numbers linked to the same bot

[2020-09-10 22:35] JonathanFingold commented on #1653
@arizonawayfarer Looks like the article was updated without updating this thread. Please let us know if you find any other issues.

[2020-09-10 22:35] #1653 closed

[2020-09-10 23:24] stevkan commented on #1861
@RafaNv, can you tell me the size of the image you are trying to send?

[2020-09-11 12:21] DoofyFTW opened #1904 "Command to deploy bot creates unwanted app service plan"
Hello,
in section _4. Deploy via ARM template / Deploy via ARM template with existing Resource Group / Option 1: Existing App Service Plan_ the command creates new App Service plan.
the command is same as the one in _Option 2: New App Service Plan_

I expect that the two commands should be different.

[2020-09-11 15:59] emgrol commented on #1904
Hi @DoofyFTW, the commands are slightly different. The existing app service plan uses the parameter `existingAppServicePlan` while the new app service plan command uses the parameter `newAppServicePlanName`.

[2020-09-11 16:58] safetyhorse commented on #1850
To get the custom update file to work, I used this command:
`dispatch add -t file -n <name for service> -f <file path> --intentName <target intent name, ie l_General>`

[2020-09-13 18:30] tsuwandy commented on #1850
@safetyhorse, thanks!  Could you copy the content of the .dispatch file (with the file added) which broke refresh?    It'll be very helpful if you could email the .dispatch file and the files generated from dispatch create/refresh command (inside data folder) to tiens@microsoft.com.   Thank you!

[2020-09-14 16:59] #1779 closed

[2020-09-14 17:01] safetyhorse commented on #1850
Unfortunately, .dispatch has been refreshed and overwritten enough times that I haven't been able to locate the iteration that broke.

[2020-09-14 17:12] tsuwandy commented on #1850
@safetyhorse, so you are not currently seeing the incorrect top prediction anymore, correct?  Should we close this issue and reopen when you see the issue again (or email me the dispatch files)?  Thanks!

[2020-09-14 19:18] emgrol commented on #1890
Closing now that the updates have been merged.

[2020-09-14 19:18] #1890 closed

[2020-09-14 19:19] emgrol commented on #1822
Closing now that the updates have been merged.

[2020-09-14 19:19] #1822 closed

[2020-09-14 21:22] #1850 closed

[2020-09-14 23:20] anusharavindrar commented on #1743
Investigating

[2020-09-14 23:47] mmiele commented on #1885
mm-bot-auth-cleanup MicrosoftDocs/bot-docs-pr#2387 in review

[2020-09-14 23:50] mmiele commented on #1903
@GauravES Let me look into it and I will come back to you. Thanks

[2020-09-14 23:55] mmiele commented on #1898
@mmartijnNL Let me look into it. Thanks

[2020-09-15 06:39] xieofxie opened #1905 "Example for 'Oauth 2 Generic Provider' needs update"
Current fields are:
(Basically, provide Query String Template as ?)
![image](https://user-images.githubusercontent.com/2876650/93174813-3c132f00-f761-11ea-8c4e-68844bb79499.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb435f0d-6418-4868-9e50-e73348f5fabc
* Version Independent ID: ba585475-9607-26a7-f14f-56b71cdb

[2020-09-15 17:10] jwiley84 commented on #1832
This is not a docs issue. If you are still encountering this problem, please open it as an issue in the [botframework-services repo](https://github.com/microsoft/BotFramework-Services)

[2020-09-16 21:10] v-kydela commented on #1759
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-09-16 21:10] #1759 closed

[2020-09-16 21:58] zxyanliu commented on #1874
I transferred this issue to here:
https://github.com/MicrosoftDocs/composer-docs/issues/9
Closing the issue for now since it seems to be a feature request for Composer docs instead of SDK docs. Thanks!

[2020-09-16 21:58] #1874 closed

[2020-09-16 23:05] emgrol commented on #1846
Thanks for catching this @v-kydela. I added a fix in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2409.

[2020-09-17 22:29] stevkan commented on #1821
Closing this due to inactivity. If the issue persists, please feel free to re-open.

[2020-09-17 22:32] stevkan commented on #1861
Closed due to lack of activity. If the issue persists, please feel free to re-open.

[2020-09-17 22:37] #1821 closed

[2020-09-17 22:38] #1861 closed

[2020-09-17 23:00] stevkan commented on #1735
@turbozapekanka, unfortunately, due to costs for setting up a Twilio short code, this isn't something that I can test. That being said, this wouldn't be possible via a single bot registration as the Channel only allows for connecting one set of Twilio credentials.

However, it _may_ be possible to set up a bot + skill that are interconnected where one is configured to a Twilio long code and the ot

[2020-09-17 23:02] #1735 closed

[2020-09-18 14:47] RafaNv commented on #1861
@stevkan
10 kb the size of the image.

[2020-09-18 14:49] RafaNv commented on #1861
@stevkan
I would apologise to him for the delay. Can you help me? Can you show examples?

[2020-09-18 14:57] RafaNv opened #1906 "The attachment Error"
I need sends image like attachment by dll graph c# and return error: "Failed to process content in attachment".
The attachment content is a image Base64 used according to documentation but it doesn't work.

Documentation
https://docs.microsoft.com/es-es/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#attachment-object

10 kb the size of the image.

[2020-09-18 15:53] mmiele commented on #1898
@mmartijnNL Please, look at this https://github.com/microsoft/BotFramework-WebChat/blob/master/packages/bundle/src/createDirectLineAppServiceExtension.js. It might help.

[2020-09-18 16:32] emgrol commented on #1904
Closing now, the docs are up accurate.

[2020-09-18 16:32] #1904 closed

[2020-09-18 18:46] mmiele commented on #1885
The cleanup will be available in the next available doc update.

[2020-09-18 18:46] #1885 closed

[2020-09-21 09:46] mmartijnNL commented on #1898
@mmiele Thanks! I have decided to use the regular Direct Line without the extension and I got everything working. Nevertheless I do think that that article could help others.

[2020-09-21 16:20] mmiele commented on #1898
@mmartijnNL I ma glad you solved your problem. Thank you for your feedback, I will follow up on that.

[2020-09-21 16:20] #1898 closed

[2020-09-21 17:02] mmiele commented on #1902
The C# client for DL-ASE can't be made GA due to a dependency on a package that is in the process of changing hands from the service team to SDK team. There is no up to date version of the package published today and no means to create a working C# client without additional hurdles we don't want to point people to.
Eric and Daniel are working on getting an up to date package published soon.

[2020-09-21 17:47] mmiele commented on #1903
@GauravES As of now, the Azure Bot Service and v4 SDK has authentication capabilities to make it easier to authenticate users to various identity providers such as GitHub, Azure AD, Google, etc. Whenever you register a bot in Azure, it gets assigned an Azure AD app. This app **secures channel-to-bot access**. As a general guideline and good practice, you need an additional AAD app for any applicat

[2020-09-21 22:29] mmiele commented on #1905
@xieofxie Could you please specify the missing field? Thanks

[2020-09-21 23:01] v-kydela commented on #1592
@lukiffer - It seems the adapter is relying on some saved credential information. What version of the SDK are you using?

The turn context sends activities through the adapter which sends activities through a connector client. It seems your adapter is relying on some cached credentials from incoming activities in order to send outgoing activities. Try creating a [connector client](https://docs.mic

[2020-09-22 01:17] xieofxie commented on #1905
@mmiele My bad.. I clicked on the wrong panel..

[2020-09-22 01:17] #1905 closed

[2020-09-22 05:02] mandar003 opened #1908 "Cant See Cortana option in Bot Channels. Does it have any Eligibility?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d57239-40c4-16b9-8f33-b4ccd910158f
* Version Independent ID: 7e275b0e-8352-9beb-aa35-80177d69b7c8
* Content: [Connect a bot to Cortana - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-cortana?view=azure-b

[2020-09-22 21:15] haacked opened #1909 "URL in samples for Direct Line connection seems to be incorrect"
I'm following the docs here to try and connect to my bot hosted in Azure using DirectLine.

The code sample shows the following line:

[code]

I replace `<your_bot_name>` and `<your_bot_direct_line_secret_key>` with my values. I was able to create a conversation token. But after that, any attempt I had to create new conversations or to post activities resulted in 404 responses.

When I changed the

[2020-09-22 21:24] mmiele commented on #1903
@GauravES
The suggested best practices are:

- Keep the AAD app (registration) restricted to it’s original purpose of being service to service application.
- Create an additional AAD app for any user to service authentication, for more finite control over disabling authentication connections, rolling secrets, or reusing the AAD app with other applications.

Some of the problems that you can encoun

[2020-09-23 20:26] v-kydela commented on #1592
@lukiffer - Are you still working on this?

[2020-09-23 20:27] WashingtonKayaker opened #1911 "Document the BF CLI dialog commands"

[2020-09-23 20:28] WashingtonKayaker opened #1912 "Document deploying a LUIS application using the BF CLI"

[2020-09-23 20:28] WashingtonKayaker opened #1913 "Document updating a LUIS application using the BF CLI"

[2020-09-23 20:29] WashingtonKayaker opened #1914 "Document deploying a LUIS application using the BF CLI build command"

[2020-09-23 20:29] WashingtonKayaker opened #1915 "Document deploying a QnA Maker KB using the BF CLI build command"

[2020-09-23 20:30] WashingtonKayaker opened #1916 "Document QnA Maker alterations using the BF CLI qnamaker command"

[2020-09-23 20:32] WashingtonKayaker opened #1917 "Document the LU and QnA Cross Train tool using the BF CLI cross-train command"

[2020-09-23 20:33] WashingtonKayaker opened #1918 "Document LG using the BF CLI LG commands"

[2020-09-24 04:51] q00u opened #1919 "Suggested Actions: Majority of the Javascript sample is missing"
Here it is in its entirety on the page:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 53446ad1-6b8c-1ccb-6e78-2cb14358b1c3
* Version Independent ID: 8b0fcc34-e624-64a9-adc8-6c8fa3031f54
* Content: [Use button for input - Bot Service](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-add-sugg

[2020-09-24 21:30] lukiffer commented on #1592
@v-kydela We're no longer actively working on this project so it's not a high priority for us, but a resolution to this issue would impact our choice for future bot integrations and would like to see a resolution.

We've open sourced the above-referenced project: https://github.com/quantum-sec/hg-bot

From its `package.json` the relevant versions are:

[code]

We'll try to carve out some time to t

[2020-09-24 22:22] mmiele commented on #1902
This Issue will not be solved until DL-ASE is GA.
Repurposing [PRr#2392](https://github.com/MicrosoftDocs/bot-docs-pr/pull/2392)

[2020-09-24 23:36] WashingtonKayaker commented on #1911
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2347

[2020-09-24 23:38] emgrol commented on #1846
Closing now that the changes have been merged.

[2020-09-24 23:38] #1846 closed

[2020-09-24 23:43] WashingtonKayaker opened #1920 "Document the luis:build command"
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2413

[2020-09-24 23:49] WashingtonKayaker commented on #1915
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2393

[2020-09-24 23:51] WashingtonKayaker commented on #1916
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2401

[2020-09-24 23:53] WashingtonKayaker commented on #1913
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2379

[2020-09-25 20:20] anusharavindrar commented on #1743
@xtianus79, can you elaborate more on what you are trying to do? What type of SSO are you trying to implement?

[2020-09-26 00:36] SonOfJesseAsSnekithan opened #1921 "Issue with the _ctor of WebexAdapterWithErrorHandler sample code"
[Enter feedback here]
It should be::
public WebexAdapterWithErrorHandler(IConfiguration configuration, ILogger<BotFrameworkHttpAdapter> logger)
    : base(configuration, null, logger)
instead of
public WebexAdapterWithErrorHandler(IConfiguration configuration, ILogger<BotFrameworkHttpAdapter> logger)
    : base(configuration, logger)

---
#### Document Details

⚠ *Do not edit this section. It is r

[2020-09-27 11:11] vidyesh-phases opened #1922 "Demo not working"
The demo link provided is not working.
Link: [Demo](https://microsoft.github.io/BotFramework-WebChat/01.getting-started/c.es5-bundle/)

Other demo links in [Bot Framework Web Chat](https://github.com/microsoft/BotFramework-WebChat) also not working.

[2020-09-28 16:15] #1903 closed

[2020-09-28 16:16] mmiele commented on #1903
Added explanation to the documentation.

[2020-09-28 23:18] v-kydela commented on #1592
@lukiffer - Have you tried using a connector client yet?

[2020-09-29 10:06] shikshik commented on #1859
Hey, @JonathanFingold!
Is there any updates with the nodejs version? Or at least an example code / documentation?

[2020-09-29 15:15] jwiley84 commented on #1922
What doc is this from so we can get the link fixed?

[2020-09-29 16:08] vidyesh-phases commented on #1922
This is the one: https://github.com/microsoft/BotFramework-WebChat/tree/master/samples/01.getting-started/e.host-with-react/

Also, samples here also not working:
https://github.com/microsoft/BotFramework-WebChat/tree/master/samples

[2020-09-29 17:01] jwiley84 commented on #1922
I'm not sure if the webchat team took mockbot down for maintenance earlier, but it's functioning now:

![image](https://user-images.githubusercontent.com/17333688/94589716-7c32e100-023a-11eb-96ad-70ff784d9bfa.png)

I'm  going to close this issue, as the Docs Team cannot fix mockbot if it goes down. If mockbot doesn't work in the future, please open an issue in the [Webchat](https://github.com/micr

[2020-09-29 17:01] #1922 closed

[2020-09-29 19:07] jwiley84 commented on #1921
Hi @SonOfJesseAsSnekithan Are you having issues with [this](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/62.webex-adapter) sample? If so, can you open this issue in the samples repo so we can take a look?

[2020-09-29 19:13] mmiele commented on #1909
@haacked Did you intend to use the app service extension or just want to enable the Direct Line channel?
I tested the steps as specified in the article [Create .NET client for direct line app service extension](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-client?view=azure-bot-service-4.0). The endpoint as specified is working. Please, let me know

[2020-09-29 19:16] emgrol commented on #1919
@q00u Thanks for pointing out the misaligned snippet. It's been fixed in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2418 and should go live shortly.

[2020-09-29 21:48] haacked commented on #1909
I think I got confused. What's the difference between the service extension and the Direct Line channel? When would I use one or the other?

I think in my case, I just wanted to use the Direct Line channel to post messages to my bot. I couldn't find docs for that scenario. The closest thing I found was the docs for the service extension.

[2020-09-29 22:06] mmiele commented on #1921
Code sample error.

[2020-09-29 22:06] mmiele commented on #1909
Code sample error.

[2020-09-29 22:15] mmiele commented on #1899
Code sample error.

[2020-09-29 23:41] dmvtech commented on #1680
Hello @Chekrii

I apologize for the long delay in a response to this. There was some unforeseen issues. Are you still needing assistance on this?

Anyhow, I would suggest taking a look at the [NLP sample](https://github.com/microsoft/BotBuilder-Samples/blob/main/samples/csharp_dotnetcore/14.nlp-with-dispatch/Bots/DispatchBot.cs) and how it breaks down the dispatch intents from the child indents.

[2020-09-30 16:41] mmiele commented on #1909
@haacked Our apologies for the confusion. I have raised the bar to improve the documentation. Were you able to solve your problem? Would you mind to let me know how? Thanks

[2020-09-30 17:58] anusharavindrar commented on #1743
Closing the issue. Please feel free to reopen it if the issue persists.

[2020-09-30 17:58] #1743 closed

[2020-09-30 18:31] jwiley84 commented on #1832
Closing due to inactivity.

[2020-09-30 18:31] #1832 closed

[2020-10-01 16:54] scheyal opened #1923 "Add (promote) sidecar debugging technique"
Add content & links for sidecar debugging technique in Emulator, & dev concepts. It is particularly useful when developing for different channels.

[2020-10-02 19:48] mmiele commented on #1909
@haacked  The following is a simple console client that uses Direct Line (not he extension!). Hope it helps.

[code]

[2020-10-02 22:17] v-kydela commented on #1592
@lukiffer - Do you still need help?

[2020-10-05 15:40] haacked commented on #1909
@mmiele Your code uses `https://<your bot app service name>.azurewebsites.net/.bot/` which doesn't work unless you have the DirectLine ASE installed on your site. A standard Bot Framework site won't respond to `/.bot/`.

I was able to get my scenario to work by changing the URL to `https://directline.botframework.com/`. In my use case, I didn't need to use the streaming APIs, just the HTTP APIs.

[2020-10-05 17:19] JonathanFingold commented on #1859
@shikshik - The dev team still hasn't updated the readme for the npm package, but the JavaScript has preview support for adaptive dialogs. The JavaScript adaptive dialog samples are in the samples repo in the [experimental/adaptive-dialog/javascript_nodejs](https://github.com/microsoft/BotBuilder-Samples/tree/main/experimental/adaptive-dialog/javascript_nodejs) folder. Many of the how-to docs for

[2020-10-05 18:30] #1909 closed

[2020-10-05 21:06] v-kydela commented on #1592
I am closing this issue due to inactivity. We are still happy to provide help if you need any, though it may be a good idea to make a new post if that's the case. Please have a look at [this](https://github.com/microsoft/botframework-sdk#questions-and-help) to find out the best places to ask for help, and consider asking questions on Stack Overflow.

[2020-10-05 21:06] #1592 closed

[2020-10-06 01:25] chryw opened #1927 "`convertFromUTC` returns different format than other date methods"
Why does `convertFromUTC` return value look different than other UTC related methods? Am I supposed to format it myself? If so, what's the right format/locale? Thanks!

![image](https://user-images.githubusercontent.com/7075677/95147295-304dd380-0735-11eb-81bc-fc8246aa0fb1.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-10-06 15:24] jwiley84 commented on #1921
The code in the docs needs to be fixed to add the missing 'null'

[2020-10-06 15:27] jwiley84 commented on #1921
For clarification: In the snippet under the heading "Create a Webex Adapter Class", there's a line of code (line 4) that reads
`: base(configuration, logger)`
but needs to read
`: base(configuration, null, logger)`

[2020-10-06 17:12] jwiley84 commented on #1899
In your line 4 ` : base(configuration, logger)`, please add a null between configuration and logger, so it should be:
` : base(configuration, null, logger)`

[2020-10-06 21:39] emgrol commented on #1919
Closing now that the fix is live.

[2020-10-06 21:39] #1919 closed

[2020-10-07 05:50] shikshik commented on #1859
Thank you @JonathanFingold .
I already managed to find the samples after reading every single document available :)
Also managed to test it in our bot.

Everything seems pretty good, but we are waiting for the end result with a finished version of the adaptive dialogs.
I see that you are planning to finish development until November 15, will it be released as a production version as well or it mig

[2020-10-07 13:58] jwiley84 commented on #1746
Thank you for your patience on this. The ARM templates have been updated. Please use an ARM template from a current sample and attempt to redeploy. I'm going to close this issue. If you continue to have the same problem with deploying, please comment and I will reopen.

[2020-10-07 13:58] #1746 closed

[2020-10-07 13:58] jwiley84 commented on #1889
Thank you for your patience on this. The ARM templates have been updated. Please use an ARM template from a current sample and attempt to redeploy. I'm going to close this issue. If you continue to have the same problem with deploying, please comment and I will reopen.

[2020-10-07 13:58] #1889 closed

[2020-10-07 19:24] cleemullins commented on #1859
The JS Version of Adaptive Dialogs is in active development. This is an open-source project and there are nightly builds you could consume. We don't yet have a "GA" Release schedule for Adaptive Dialogs on the Node platform.

[2020-10-08 10:29] Pingulea opened #1928 "Typo in JavaScript code: "Headers" should be "headers""
When we perform the
const res = await fetch(...),
the options object should not be "Headers", but instead "headers".

I just lost one hour trying to figure out why do I get a 403 Forbidden from the DL extension when calling to get a token.

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3a6ed6-7

[2020-10-08 10:35] Pingulea opened #1929 "Are we missing a step enabling Web Sockets?"
Web Sockets is enabled in 2 steps, not just one:

1. We should enable the Web Sockets for the Azure App Service in the Portal's UI, and
2. I think we also need to enable it in the **_Web.config_** with a

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e3a6ed6-7d29-d82e-c86f-8f405ab12fe3
* Version Independent ID

[2020-10-09 03:19] irwinwilliams opened #1930 "A list of error codes and what they may mean"
Trying to use OAuth 2 Generic Provider for the first time (with Strava's API).
And though I'm following documentation to the letter, I'm getting this error:
[code]
Which seems to be saying that the value "returned" for the code field is invalid. It seems that this is an error on the azure side, with respect to the request being made. Perhaps in the docs you can provide examples of why requests mig

[2020-10-09 16:26] JonathanFingold commented on #1923
@scheyal - Who can bring one of us up to speed so that we can write this article?

[2020-10-09 17:31] dmvtech commented on #1680
Closing. Let us know if you need further assistance.

[2020-10-09 17:31] #1680 closed

[2020-10-09 20:19] emgrol opened #1931 "Document convert types safely"
Related issues:
- https://github.com/microsoft/botbuilder-dotnet/issues/4773 - tracking
- https://github.com/microsoft/botbuilder-dotnet/issues/4615#issuecomment-705960670 - closed

Possible new functions:
- tryParseToJson
- tryParseToFloat
- tryParseToBool
- tryParseToBase64
- tryParseToXml
- tryParseToBinary

Updates to existing functions:
- int
- string
- json
- float
- bool
- base64
- xml (C#

[2020-10-12 14:24] GaurangNaik opened #1932 "handle multiple TextPrompts"
How to handle multiple TextPrompts If I have to apply different validations on each?  AddDialog(new TextPrompt(nameof(TextPrompt), Validation1));  AddDialog(new TextPrompt(nameof(TextPrompt),Validation2));
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a9577ff-cf56-e5de-84c3-bfe10aab5368
* Version Independent ID: b5d62

[2020-10-12 15:52] #1921 closed

[2020-10-12 15:52] #1899 closed

[2020-10-12 17:05] WashingtonKayaker opened #1933 "Remove JS tabs from adaptive dialog how to articles."

[2020-10-12 17:35] JonathanFingold commented on #1932
Yes, you need a separate text prompt for each one that uses different validation.

[2020-10-12 18:04] #1834 closed

[2020-10-12 18:12] JonathanFingold commented on #1630
Following up with a dev. Sorry for the long silence on this issue.

[2020-10-12 20:29] WashingtonKayaker commented on #1911
Added to the [Using declarative assets in adaptive dialogs](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-declarative?view=azure-bot-service-4.0&tabs=csharp#the-bot-framework-command-line-interface) article.

[2020-10-12 20:29] #1911 closed

[2020-10-12 20:36] WashingtonKayaker commented on #1913
Created new article: [Update LUIS resources using the Bot Framework LUIS CLI commands
](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-update-luis?view=azure-bot-service-4.0).

[2020-10-12 20:36] #1913 closed

[2020-10-12 20:36] WashingtonKayaker commented on #1912
Created new article: [Deploy LUIS resources using the Bot Framework LUIS CLI commands
](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-deploy-luis?view=azure-bot-service-4.0)

[2020-10-12 20:36] #1912 closed

[2020-10-12 20:37] WashingtonKayaker commented on #1914
Added section **How to use the build command** to article: [Deploy LUIS resources using the Bot Framework LUIS CLI commands
](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-deploy-luis?view=azure-bot-service-4.0#how-to-use-the-build-command)

[2020-10-12 20:37] #1914 closed

[2020-10-12 20:39] WashingtonKayaker commented on #1915
Added build section in article [Deploy QnA Maker knowledge base using the Bot Framework qnamaker CLI commands](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-deploy-qna?view=azure-bot-service-4.0#create-a-qna-maker-knowledge-base-and-publish-it-to-production-using-the-build-command).

[2020-10-12 20:39] #1915 closed

[2020-10-12 20:40] WashingtonKayaker commented on #1916
Created new article [Create customized lists of synonyms for your QnA Maker knowledge base](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-bf-cli-alterations-qna?view=azure-bot-service-4.0).

[2020-10-12 20:40] #1916 closed

[2020-10-12 20:41] #1920 closed

[2020-10-12 21:58] mmiele commented on #1837
The issue has been fixed in the current documentation.
Thank you for reporting the problem.

[2020-10-12 21:58] #1837 closed

[2020-10-13 00:01] JonathanFingold commented on #1932
The short answer is that validation is associated with a prompt in its constructor, and so you need a different instance for each unique type of validation.

You can achieve a certain amount of flexibility by saving and retrieving information in the dialog context, but this requires a fairly deep understanding of state management and the dialogs library.

[2020-10-13 08:44] GaurangNaik commented on #1932
Thank you Jonathan.

[2020-10-13 08:44] #1932 closed

[2020-10-13 16:31] emgrol commented on #1893
Hi @analyticalgagan, is this issue related to a specific article?

[2020-10-13 18:30] mmiele commented on #1908
@mandar003 Could you please be more specific about the problem you are experiencing?
We will be able to help you better.

[2020-10-13 19:20] mmiele commented on #1892
Waiting for the fix to be published.

[2020-10-13 22:22] #1882 closed

[2020-10-14 15:38] penguinsource opened #1934 "REST: Create conversation plus send (a non-reply) message results in service error 'Unknown'"
Hi!

I am using the Bot Framework Rest API with Node. I am successfully sending reply messages upon a user sending a message (in MS Teams).

I am now trying to start a conversation, to which the response comes back successful, with a conversation id.
( POST /v3/conversations returns me an id - great!)

Then, I try to send a message to that conversation id and I keep getting Service error 'Unknown'

[2020-10-14 16:45] mmiele commented on #1930
@irwinwilliams Could you tell us what identity provider are you using? Thanks

[2020-10-14 17:03] mmiele commented on #1930
@irwinwilliams Also take a look at this article [Azure AD Authentication and authorization error codes](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes) and the the [OAuth2.0 spec](https://tools.ietf.org/html/rfc6749#section-5.2).

[2020-10-14 17:06] penguinsource commented on #1357
Can you please take a look at this related issue - https://github.com/MicrosoftDocs/bot-docs/issues/1934 ?

[2020-10-14 17:44] mmiele commented on #1831
@danwkennedy Hopefully what @JonathanFingold said helped addressing the issue. In addition, take a look at this article form the Slack documentation: [Understanding OAuth scopes for Bots](https://api.slack.com/tutorials/understanding-oauth-scopes-bot).

[2020-10-14 20:34] emgrol commented on #1880
Thanks for letting us know about the incorrect information @JPalmerDev. I updated the snippets in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2440, the changes should go live.

[2020-10-14 20:47] JonathanFingold commented on #1765
Already addressed in Composer docs.

[2020-10-14 20:47] #1765 closed

[2020-10-14 20:53] JonathanFingold commented on #1763
consider this a duplicate of #1764.

[2020-10-14 20:53] #1763 closed

[2020-10-14 21:30] mmiele commented on #1838
@boz22 You would probably need your own authentication flow, and not use the bot framework token service that does not provide a way to get  the id token.

[2020-10-14 22:00] emgrol commented on #1927
Hi @chryw, did you mean the `convertFromUTC` function? The return formats for `convertToUTC` and `utcNow` are the same (the default, which is YYYY-MM-DDTHH:mm:ss.fffZ) but I just tested `convertFromUTC` and that's returning the datetime value in a different format.

[2020-10-15 15:44] penguinsource commented on #1934
Anyone? Bueller? :(

[2020-10-15 16:59] chryw commented on #1927
@emgrol yes good catch. I made a typo. Just updated my question. Thanks! :-)
I also just learned that "-07:00" party is called offset and I can easily remove it with string formatting. Just curious if this is by design though.

[2020-10-16 09:33] frackham opened #1935 "No steps for CI/CD for bot deployment using Azure Devops?"
[Enter feedback here]
I get you're going all in on GitHub, (which is great!) but would be helpful to either have some AzDo pipeline/release notes here (ideally an example) or a link to a relevant area if it exists (and not just the pipeline/release docs).

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1e9b10d5-ca65-d08

[2020-10-16 17:19] JonathanFingold opened #1936 "Change to activity.role for skills support"
- [x] Check with Gabo for details.
- [ ] Update the skills and how-to debug skills topics.
- [ ] Double check that the activity schema reflects the change.

## Additional context

-- John Taylor

[2020-10-16 17:47] JonathanFingold commented on #1934
@penguinsource I don't see anything obviously wrong with your scenario. Someone from the support team should reach out to you.

[2020-10-16 18:10] JonathanFingold commented on #1935
Unfortunately, we don't have a good way to provided examples for more than one or two scenarios. In the **Additional resources** section, there's a link to [continuous deployment to Azure App Service](https://docs.microsoft.com/azure/app-service/deploy-continuous-deployment). Is that the sort of information you are looking for?

[2020-10-16 18:10] penguinsource commented on #1934
Thanks. Here is an in-depth post of all the steps I followed with more intricate detail:

I don't have any errors logging in the My Bots webpage:

![image](https://user-images.githubusercontent.com/2596623/96201879-b8995900-0f2b-11eb-9439-fe6d8761e48d.png)

And I retried a few more calls and it's the same issue - I get the conversation id successfully but I get the service error upon sending an ac

[2020-10-16 18:13] penguinsource commented on #1934
Thanks @JonathanFingold , realy looking to solve this issue

[2020-10-16 18:15] #1859 closed

[2020-10-17 16:27] troykirin opened #1937 "Spelling Error"
There's a spelling error, for the word "botbuilder"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ef4ea5a-1364-5432-dcbb-b39b7145028a
* Version Independent ID: f4b4a848-3ce4-7978-a72d-2c3952a3ab1b
* Content: [Handle user interruptions - Bot Service](https://docs.microsoft.com/en-us/azure/bot-ser

[2020-10-19 16:43] mmiele commented on #1897
See issue https://github.com/MicrosoftDocs/bot-docs/issues/1897.

[2020-10-20 01:23] dmvtech commented on #1934
Linking the troubleshooting issue:
https://github.com/microsoft/BotFramework-Services/issues/260

[2020-10-20 21:35] v-dathur opened #1938 "Instructions appear incomplete"
I have followed the instructions as given, but my bot does not respond to messages.

I have created the Application and copied the credentials back to my bots Groupme channel configuration.

Do I need to also add Bot entries in the Groupme Developer dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e11eef4b-87d

[2020-10-21 01:30] #1908 closed

[2020-10-21 01:32] #1838 closed

[2020-10-21 03:27] hctrr opened #1939 "CosmosDB Container ID for Bot storage"
Under the section [Add Cosmos DB configuration information ](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-howto-v4-storage?view=azure-bot-service-4.0&tabs=csharp#add-cosmos-db-configuration-information)

there's a note stating "you should not create the container yourself"

However the very next section requires that i add the container-id within the appsettings.json and then onc

[2020-10-21 16:02] #1930 closed

[2020-10-21 21:35] GiftA-MSFT commented on #1939
@JonathanFingold and @emgrol can you please assist with the above inquiry? Same question was asked [here](https://docs.microsoft.com/en-us/answers/questions/133052/index.html). Thanks!

[2020-10-22 21:16] mmiele commented on #1928
Fix will be available in the next upcoming documentation update.

[2020-10-22 21:16] #1928 closed

[2020-10-22 21:17] mmiele commented on #1929
Fix will be available in the next upcoming documentation update.

[2020-10-22 21:17] #1929 closed

[2020-10-22 21:20] mmiele commented on #1894
Fix will be available in the next upcoming documentation update.

[2020-10-22 21:20] #1894 closed

[2020-10-22 21:20] mmiele commented on #1892
Fix will be available in the next upcoming documentation update.

[2020-10-22 21:20] #1892 closed

[2020-10-23 16:38] emgrol commented on #1880
Closing now that the changes are live.

[2020-10-23 16:38] #1880 closed

[2020-10-23 17:33] gopikrishnas opened #1941 "Starting a scenario automatically when user sent reply to Bot using Twilio integration"
I configured my Twilio number using the steps mentioned in this document. But when I send a message to the Twilio number e.g "_**Hi**_", it is replying as "**_Hi! How can I help!?_**". It is not starting a scenario until I am sending a message like "Begin &lt;ScenarioId&gt;".

But my expectation with the Twilio integration is it should start a particular scenario when a user replied to the Twilio

[2020-10-23 17:44] emgrol commented on #1893
Closing due to inactivity.

[2020-10-23 17:44] #1893 closed

[2020-10-23 22:38] emgrol commented on #1937
@troykirin Thanks for pointing out the typo. A fix should go live soon.

[2020-10-26 22:36] mmiele commented on #1902
Fixed as per PR: https://github.com/MicrosoftDocs/bot-docs-pr/pull/2451.

[2020-10-26 22:36] #1902 closed

[2020-10-27 14:27] mmarzillo opened #1943 "Config Import Error"
Complete novice here. I'm at the "Test your bot" section and when I try to start the dispatch_bot.py code I'm getting an Import error on the config file. I have a hunch this is something simple, but I tried adding a new environment variable to where that config.py file lives and that didn't work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-10-27 22:44] Mikhail2k15 commented on #1889
The same issue
Please provide string value for 'botSku' (? for help): S1
Please provide string value for 'newAppServicePlanName' (? for help): mibonsentimentkvbotplan
Please provide string value for 'newAppServicePlanLocation' (? for help): westus
Azure Error: InvalidTemplate
Message: Deployment template validation failed: 'The resource 'Microsoft.Web/serverfarms/mibonsentimentkvbotplan' is not de

[2020-10-28 00:04] brianwhited opened #1944 "Update Bot channels registration instructions to match current Azure UI"
1. Step 3 of Create a registration application reads "In the right panel selection box enter bot. From the drop-down list select Bot Channels Registration." It should read "In the top center search bar, enter `bot`. From the drop-down list select Bot Channels Registration which is located under the Marketplace title. "

2. Step 5 has a table of fields and their descriptions. The first row is incor

[2020-10-28 09:26] UncountedBrute2 opened #1946 "How to automatically update .dispatch"
This is a very good document for the bot framework, however, we have a front end that allows users to update the bot training at runtime. According to this doc, it looks like we would need to manually redeploy the .dispatch file every time a user updates the model.

Is there a way of automatically updating this information?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-10-28 12:04] Andrew47 opened #1947 "Cannot 'Create a Slack Bot User'"
Following the documentation, I have deployed my chatbot on Azure and am trying to connect this chatbot with Slack using the Azure Bot Service Portal. There is a mismatch between what I can do when creating a Slack app and the steps specified by the documentation. The relevant part of the documentation is at: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-slack?view=

[2020-10-28 20:44] emgrol commented on #1937
Closing now that the fix has been merged.

[2020-10-28 20:44] #1937 closed

[2020-10-28 22:48] Zerryth commented on #1853
@jtg5122 A [Troubleshooting](https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0#troubleshooting) section has been added to the DL ASE documentation. Are you able to resolve your issue following the steps listed there?

[2020-10-29 18:52] anusharavindrar commented on #1938
@v-dathur, I just followed the instructions in the attached documentation and configured the GroupMe channel for my bot. The bot is responding to the messages as expected. Can you elaborate more on what error you are getting in the channels Health tab or in the Dev Console for the GroupMe chat window?

[2020-10-30 08:00] daymayarn opened #1948 "Bot Analytics blade missing"
I'm unable to view the Bot Analytics blade on my Web App bot.
Are there any conditions need to be satisfied to see Bot Analytics blade?

Screenshot:
![image](https://user-images.githubusercontent.com/73107962/97674721-ffeb2200-1ab3-11eb-90f4-b021f978c5fa.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6120c4f2-ec78

[2020-10-30 19:15] msekkappan opened #1949 "Working sample for website to BOT (SSO)"
Is there working sample for website to BOT (SSO)?  If so, could you point me to it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 703a4f53-d548-76ed-8c8a-a1c8e6f17577
* Version Independent ID: 7311af4b-6943-fa86-ebb7-50f3bc9f39ba
* Content: [Single sign on - Bot Service](https://docs.microsoft.com/en-us/azure/bot-serv

[2020-11-02 18:16] WashingtonKayaker commented on #1933
https://github.com/MicrosoftDocs/bot-docs-pr/pull/2435

[2020-11-02 18:16] #1933 closed

[2020-11-02 18:36] mmiele commented on #1897
The fix will be available in the next documentation update.

[2020-11-02 18:36] #1897 closed

[2020-11-02 18:37] mmiele commented on #1862
The fix will be available in the next documentation update.

[2020-11-02 18:37] #1862 closed

[2020-11-02 18:37] mmiele commented on #1831
The fix will be available in the next documentation update.

[2020-11-02 18:37] #1831 closed

[2020-11-03 00:49] anusharavindrar commented on #1938
@v-dathur, are you still having issues with configuring the GroupMe channel?

[2020-11-03 08:25] rob-doyle-cba commented on #1594
What was your mistake @zodiacmediaSD ? I might have made the same one

[2020-11-03 18:49] #1938 closed

[2020-11-03 19:32] preetithorat opened #1950 "TypeError: Only absolute URLs are supported"
Hello, I am trying to run a Basic bot and after displaying the starting dialog I get the following errors:

In bot emulator:
_The bot encountered an error or bug.
To continue to run this bot, please fix the bot source code._

And in the terminal:
_TypeError: Only absolute URLs are supported_

My bot is running on port 3978

[2020-11-03 22:22] #1934 closed

[2020-11-04 07:59] nabeelp commented on #1948
+1 same issue for me, event though I have App Insights configured in the Settings.

[2020-11-04 12:46] juseljuk opened #1951 "Bot User for Slack App can not be added anymore"
Your instructions to add Bot User to Slack App are incorrect. They have had some changes in Slack that are not yet reflected by your instructions.

// Jukka

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97b7eb7d-843a-774e-3ee4-8f3126cfea20
* Version Independent ID: 5d501ffc-819f-0634-671c-13d432aa7f28
* Content: [Conn

[2020-11-04 21:24] #1853 closed

[2020-11-05 18:05] HesselWellema commented on #1948
Same here. I’m glad it was not discontinued without any notice 😀

[2020-11-05 18:17] stevkan commented on #1941
Hi @gopikrishnas,

- The _"Hi! How can I help!?"_ statement, is that generated as code from your bot or is that coming from Twilio as a feature?
- Which SDK are you using (C#, JS, Python) for your bot?
- If the statement is coming from your bot, are you able to post any of the relevant code, point me to a stored copy, or email it to me? In this way, I can better diagnose and attempt a repro of you

[2020-11-06 18:14] JonathanFingold commented on #1949
The two mostly likely articles to help you out are:
- [Add single sign on to Web Chat](https://docs.microsoft.com/azure/bot-service/bot-builder-webchat-sso)
- [Add single sign on to a bot](https://docs.microsoft.com/azure/bot-service/bot-builder-authentication-sso)

Let me know if that does the trick for you or not.

[2020-11-06 18:31] v-kydela commented on #1948
Linking: https://stackoverflow.com/questions/64699491/azure-web-app-bot-analytics-blade-gone-discontinued

In the meantime, you can still access analytics by navigating to your bot resource and replacing the blade name in the URL with "analytics":

https://portal.azure.com/#@microsoft.onmicrosoft.com/resource/subscriptions/{sub_id}/resourceGroups/{resource_group_id}/providers/Microsoft.BotService/

[2020-11-06 18:31] #1948 closed

[2020-11-06 20:30] nschuessler opened #1952 "How to use `ConfirmInput` with `AllowInterruptions = true` is not documented well."
This does not explain much about what you should do when `AllowInterruptions = true` is used.
Specifically in the `ConfirmInput` case like this:

[code]
If it is interrupted with say `help` and then the dialog resumes, the `Property` will never get the value when you answer the prompt properly. In addition although neither the `InvalidPrompt`  nor the `UnrecognizedPrompt` are printed, all the `Max

[2020-11-09 03:34] thin580 opened #1953 "HTTP Error 502.5 - ANCM Out-Of-Process Startup Failure"
followed the steps through to troubleshooting and have added:

<PropertyGroup>
  <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
</PropertyGroup>

to csproj file also, but getting HTTP Error 502.5 on navigating to the https://<your_app_service>.azurewebsites.net/.bot/
app service still runs fine, just navigating to the .bot/ causes the error

[2020-11-09 17:04] jwiley84 commented on #1943
Can you post the full error and any changes you might have made to the bot?

[2020-11-09 17:25] dmvtech commented on #1950
Hi @preetithorat

- Are you adding the bot url as `https://localhost:3978/api/messages` ?
- What programming language are you using?

[2020-11-09 17:30] #1950 closed

[2020-11-09 17:41] mmarzillo commented on #1943
When I step through the code it I get the below error when I try to import DefaultConfig. Again I may be making a really easy mistake. No other changes have been made to the bot.

`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'DefaultConfig' from 'config' (C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python37_64\lib\site-packages

[2020-11-09 19:27] #1906 closed

[2020-11-09 21:04] bubbis-poncho commented on #1328
@weskroesbergen  did you ever solve your issue?
Facing the same issue with VA

[2020-11-10 00:42] mmiele commented on #1947
Duplication of issue https://github.com/MicrosoftDocs/bot-docs/issues/1897. The problem has been addressed.
The fix will be available in the next updated documentation

[2020-11-10 00:47] mmiele commented on #1951
Duplication of issue [#1897](https://github.com/MicrosoftDocs/bot-docs/issues/1897). The problem has been addressed.
The fix will be available in the next documentation update.

[2020-11-10 19:21] jwiley84 commented on #1943
Where are you importing DefaultConfig? The example used in the doc doesn't show it, but in your import statements in your dispatch_bot.py (this step: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=python), you should have the following import statement:

if that line is not there, please put it in  and rerun the  bot.

[2020-11-10 19:23] jwiley84 commented on #1943
Additionally, there is this sample here: https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/python/14.nlp-with-dispatch

This is a full example of the bot in the doc. You can compare the code in it to your code, to see if you're missing any lines.

[2020-11-10 19:23] jwiley84 commented on #1943
(sorry, had mouse issues)

[2020-11-10 19:53] dmvtech commented on #1953
Hi @thin580 Why are you navigating to `/.bot/` for the web site? Is that something you've configured specifically?  What happens if you browse to `https://<your_app_service>.azurewebsites.net/`?   Also; does the bot itself (not the bot's web page) work in `Test in Web Chat`?

Does the web page work when you run it locally?

[2020-11-11 15:28] haithaison-cpu commented on #1741
- - ```

[code]

[2020-11-11 20:05] mmiele commented on #1947
The next documentation update to be made available soon.

[2020-11-11 20:05] #1947 closed

[2020-11-11 20:07] mmiele commented on #1951
The next documentation update will be made available soon.

[2020-11-11 20:07] #1951 closed

[2020-11-11 22:17] mmarzillo commented on #1943
When I execute the app.py script from the command line the bot works fine. My error was happening when I was stepping through the code (because I was trying to understand it) but I suppose because the app.py runs just fine then we're all good?

[2020-11-12 17:12] jwiley84 commented on #1943
It sounds like it's timing out because of the step debugging. I've never heard it giving an import error when timing out, but given your description of the issue, it seems like it's trying to initialize the project when you start it, but the step debugger is blocking a constructor somewhere from firing. I'm glad to hear that the bot works as expected when run without debugging. I'm going to close

[2020-11-12 17:12] #1943 closed

[2020-11-12 17:31] stevkan commented on #1941
Closing due to a lack of activity.

[2020-11-12 17:31] #1941 closed

[2020-11-13 14:44] weskroesbergen commented on #1328
@bubbis-poncho @v-kydela I never got it resolved. :( Hoping 4.11 might have some fixes for me there, but haven't gotten through other backlog items yet.

[2020-11-17 16:04] diberry commented on #1946
@cahann @tsuwandy

[2020-11-17 16:51] dmvtech commented on #1953
Closing due to inactivity.

[2020-11-17 21:56] tsuwandy commented on #1946
@UncountedBrute2 , dispatch CLI has a *refresh* command ("dispatch refresh"), which could be scheduled (scheduled task or part of regularly scheduled CI/CD pipeline/release).  This command will pick up the changes in the sub LUIS apps/QnA Maker kbs participating in the dispatch and update the LUIS dispatch app.

[2020-11-18 00:22] #1895 closed

[2020-11-18 00:53] emgrol commented on #1927
Sorry for the delay @chryw. I believe this by design since the function converts from UTC to a different format. Can you confirm this @boydc2014?

[2020-11-18 05:51] cosmicshuai commented on #1927
Hi @chryw
convertFromUtc means you convert a utc timestamp to a given timezone .
The "Z" in timestamp means it is a utc timestamp, which is the default for most time related adaptive-expression prebuilt functions.
However, the output of convertFromUtc does not follows the default format.
The output contains the timezone info. The offset "-07:00" indicates it is 7 hour later than the UTC timezone.

[2020-11-18 19:00] mmiele commented on #1944
The fix will be in the upcoming documentation update.

[2020-11-18 19:00] #1944 closed

[2020-11-18 19:15] mmiele opened #1954 "Document enabling OAuth for bot in non-public azure"
**Describe the bug**
For a bot to use OAuthPrompt in non-public azure clouds (like gov ), the following code must be added for a c# bot, in the startup.cs file:

[code]

**Expected behavior**
Update the article [Add authentication to a bot ](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=aadv2%2Ccsharp) to describe the required steps.

[2020-11-18 20:41] chryw commented on #1927
Thanks @cosmicshuai ! Yes I figured it out after some digging. Thanks for confirming. I did end up reformatting the string to remove the offset.
Would it make sense to call out [the offset](https://en.wikipedia.org/wiki/UTC_offset) in the docs? BTW, the [current Wikipedia link](https://en.wikipedia.org/wiki/ISO**8601) is no longer valid. You may want to point to this https://en.wikipedia.org/wiki/

[2020-11-19 09:28] ChrisOBrienSA93 opened #1955 "Unit Testing For Adaptive Cards"
Is it possible to simulate sending an adaptive card input the bot in a test? I have a dialog with a series of steps, with each showing an adaptive card to the user for them to make a selection that then gets used at the end of the dialog to produce a result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afcaa01f-5e9c-

[2020-11-20 17:12] DrDaveH opened #1956 "Question Regarding Direct Line Sites & Limits"
Is there a limit to the number of Sites you can configure against a single Direct Line connection? If so, what is the restriction?

Apologies if this is documented somewhere but I've been unable to find any answer. Any help will be much appreciated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71081bf9-a44f-7f24-040a

[2020-11-23 06:37] gb2793 opened #1957 "Prompt and login_hint query parameters in v2 adminconsent endpoint are not working as expected"
**Describe the bug**

I am using the below url for obtaining admin consent for my app. I am already logged in the browser session with the user hint being provided below.

https://login.microsoftonline.com/organizations/v2.0/adminconsent?
client_id=<>
&state=<>
&redirect_uri=<>
scope=https%3A%2F%2Fgraph.microsoft.com%2F.default%20
&prompt=none
&login_hint=<>@<>.onmicrosoft.com

**To Reproduce**
Ru

[2020-11-23 14:33] cosmicshuai commented on #1927
@chryw
Thanks for the infomation. We will update the doc and the link of wikipedia. BTW, I think it will be better to remove offset in the result of convertFromUtc. I will discuss this with our team.

[2020-11-24 13:24] gb2793 commented on #1957
Opened the issue under azureDocs instead

https://github.com/MicrosoftDocs/azure-docs/issues/66598

[2020-11-24 13:24] #1957 closed

[2020-11-24 23:08] mmiele commented on #1956
@DrDaveH Thank you for contacting us. Let me look into it.

[2020-11-24 23:15] mmiele commented on #1949
@msekkappan There is a sample listed in this article: [Add single sign on to a bot](https://docs.microsoft.com/azure/bot-service/bot-builder-authentication-sso).

[2020-11-24 23:32] #1823 closed

[2020-11-24 23:33] mmiele commented on #1823
Fixed in the current documentation.

[2020-11-25 09:53] cosmicshuai commented on #1927
@emgrol @chryw
I have a PR for this issue.

[2020-11-25 18:15] marekmierzwa commented on #1592
For those who are still suffering because of it. I tried approach suggested by @v-kydela and it worked. After further investigation I came up with the hack:
[code]
proactive messages work after restarting the app. Of course instead of patching BotFrameworkAdapter you can use connector client:
[code]

[2020-11-25 19:58] v-kydela commented on #1952
Hello, @WashingtonKayaker. I see that you added the "team: support" label. Can you please explain what you would like the support team to do for this issue?

@nschuessler - Thank you for the post. Are you asking for help getting adaptive dialog interruptions working, or are you trying to report a bug in the SDK, or are you trying to report a bug in the docs? It looks like adaptive dialog interrupt

[2020-11-25 20:20] nschuessler commented on #1952
First, missing from the docs is the fact that if you use `ConfirmInput` and the the input is interrupted, one of the MaxTurnCounts is used up. I.e. if I interrupt the prompt 3 times with a MaxTurnCount of 3, I will not get a chance to actually give the answer !

The link you gave seems to be a page I didn't find before, but it still doesn't quite help.

This bug was about documentation only, becau

[2020-11-25 21:06] v-kydela commented on #1952
Thank you for the reply, @nschuessler. Would you be willing to help us by coming up with a minimal example that can reproduce the issue? The first thing I have in mind is to determine if LUIS and QnA Maker are relevant, so it would be a good idea to create a new bot with just a Regex recognizer and see if you can reproduce the problem there.

[2020-11-30 09:01] xieofxie opened #1958 "add guide for bot channels registration"
It doesn't have Configuration item.
One could use the one in App Service instead.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6c72c259-a864-9e1c-b585-562d6bca80ff
* Version Independent ID: 30a3fce8-d236-5c7b-88a0-003c971f2819
* Content: [.NET bot with direct line app service extension - Bot Service](https://docs.mic

[2020-11-30 17:23] Dewain27 opened #1959 "Cortana Channel Documentation - Update for retirement"
We might want to think about re-writing or removing this document as Cortana has removed the Skills capability and this content might need a refresh as this is being retired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28d57239-40c4-16b9-8f33-b4ccd910158f
* Version Independent ID: 7e275b0e-8352-9beb-aa35-80177d69b7c

[2020-11-30 21:52] #1949 closed

[2020-11-30 23:05] mmiele commented on #1958
@xieofxie I am looking into it. Thanks

[2020-12-01 00:25] v-kydela commented on #1952
@nschuessler - Are you still working on this?

[2020-12-01 02:00] xieofxie commented on #1958
Maybe we should also make it clear that these configurations are for app service not your app. So setting them in appsettings.json does not work and you can't test it locally.

[2020-12-01 13:15] nschuessler commented on #1952
@v-kydela  Yes. I'll try to get to this soon.

[2020-12-01 15:44] nschuessler commented on #1952
Here is a minimal template for testing.
[ReproConfirmInput2.zip](https://github.com/MicrosoftDocs/bot-docs/files/5623672/ReproConfirmInput2.zip)

[2020-12-01 15:45] nschuessler commented on #1952
Here is the text sequence used to interrupt:
![ConfirmInput1](https://user-images.githubusercontent.com/54370830/100762695-24833400-33a9-11eb-82f1-88befaed0d3f.png)
![ConfirmInput2](https://user-images.githubusercontent.com/54370830/100762717-2c42d880-33a9-11eb-9c61-69797e430500.png)

[2020-12-01 15:53] nschuessler commented on #1952
As you can see `ConfirmInput` works fine with the `RegexRecognizer` and and no Q&A makers.
However you uncomment this:
[code]

Then it runs the `ConfirmInputDialog` over and over again which is similar to the type of problem I was seeing.
Side note: why? `inputDialog` should be the same instance that was filled out eh? Maybe I have save the result of the dialog into `conversation.first` and `conve

[2020-12-01 16:00] nschuessler commented on #1952
Also note: If you take the above example and upgrade from 4.10.3 to 4.11.1 of the framework it doesn't run, it gets a `NullReferenceException`.   I think there is a bug in setting up the UserAgent for HTTP requests or someting.

![image](https://user-images.githubusercontent.com/54370830/100764384-21894300-33ab-11eb-9f99-7957ebc069c4.png)
![image](https://user-images.githubusercontent.com/54370830

[2020-12-01 21:26] v-kydela commented on #1952
Hello @nschuessler. I feel like we're talking about a lot of separate issues that should be in their own posts.

1. The documentation is unclear
1. A resumed input does not populate its property
1. No error message is shown
1. Max turn count is exceeded prematurely
1. `ConfirmInputDialog` runs over and over again
1. There is a `NullReferenceException` after upgrading to 4.11.1

I think trying to a

[2020-12-01 22:39] JonathanFingold commented on #1344
Closing, as the banner with associated link is no more, now that the v3 docs are archived.

[2020-12-01 22:39] #1344 closed

[2020-12-01 22:44] JonathanFingold commented on #1371
Jim Lewallen should know what the schema is for email channel data.

[2020-12-01 22:55] JonathanFingold commented on #1473
@anishjaindev Sorry for the long delay. Does the [Add telemetry to your bot](https://docs.microsoft.com/azure/bot-service/bot-builder-telemetry) article contain the information you're looking for?

[2020-12-01 23:00] JonathanFingold commented on #1751
Please use the v4 SDK for any new bots.

[2020-12-01 23:00] #1751 closed

[2020-12-01 23:03] #1761 closed

[2020-12-01 23:06] JonathanFingold commented on #1767
Unscheduling for now, until there is more clarity on the SDK side.

[2020-12-01 23:06] #1767 closed

[2020-12-01 23:06] JonathanFingold commented on #1768
Unscheduling for now, until there is more clarity on the SDK side.

[2020-12-01 23:06] #1768 closed

[2020-12-01 23:08] JonathanFingold commented on #1771
Unscheduling for now, until there is more clarity on the SDK side. It is documented already on the Composer side.

[2020-12-01 23:08] #1771 closed

[2020-12-01 23:09] JonathanFingold commented on #1773
done

[2020-12-01 23:09] #1773 closed

[2020-12-01 23:12] JonathanFingold commented on #1788
Unscheduling for now, until there is more clarity on the SDK side.

[2020-12-01 23:12] #1788 closed

[2020-12-01 23:13] JonathanFingold commented on #1790
done

[2020-12-01 23:13] #1790 closed

[2020-12-01 23:15] nschuessler commented on #1952
@v-kydela Even RE: 'None' intent commented out it runs over and over?

The none intent problem happens only when I uncomment the "OnIntent" correct? I.e. you had to uncomment it to get the above results? But the recognizer always is checking the input (even responses to the prompts) and returning 'None' even when the dialogs are running.  The recognizer should only take action when there is a *cha

[2020-12-01 23:18] JonathanFingold commented on #1797
done

[2020-12-01 23:18] #1797 closed

[2020-12-01 23:24] WashingtonKayaker commented on #1917
https://docs.microsoft.com/azure/bot-service/bot-builder-howto-cross-train

[2020-12-01 23:24] #1917 closed

[2020-12-01 23:30] nschuessler commented on #1952
Q: Is the state protection (saving stuff in `dialog.first`) the way to handle interruptions of the dialog? It wasn't clear to me that that is what I needed to do from reading the docs, I had to figure it out on my own.

So this was the desired behavior I wanted in my original app:
[code]

Instead (in my original app with LUIS dispatch and LUIS and Q&A sub apps, the failed behavior was like this:

[2020-12-02 00:13] v-kydela commented on #1952
I don't think so.

I think so.

If by "above results" you mean the input dialog getting triggered every time a None intent was recognized then yes, but it's still unclear what that looks like for you since you only posted screenshots of the good behavior.

I think we've identified a source of misunderstanding here. The Bot Framework doesn't have a concept of a "change in intent." We have recognize

[2020-12-02 00:54] mmiele commented on #1958
The fix will be in the next documentation update release.

[2020-12-02 00:54] #1958 closed

[2020-12-02 01:03] JonathanFingold commented on #1772
Closing. Will figure out what work needs to be done closer to when Composer will become GA.

[2020-12-02 01:03] #1772 closed

[2020-12-02 14:30] nschuessler commented on #1952
SDK samples that show how to handle interruptions locally (In dialog) and globally and a pointer (link) to the samples on [interruptions](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-adaptive-dialog-interruptions?view=azure-bot-service-4.0)?

I think the topic is complex enough that text may not be able to communicate clearly how it works.

Otherwise if you see confusions

[2020-12-02 19:53] baole opened #1960 "Misleading errors"
When my bot was disabled (or removed/uninstalled) by Teams's admin, my bot received different error codes when posting to a private conversation and channel conversation:

POST https://smba.trafficmanager.net/emea/v3/conversations/[private conversation id]/activities
Response with HTTP 403 Forbiden
[code]
POST https://smba.trafficmanager.net/emea/v3/conversations/[channel conversation id]/activiti

[2020-12-03 07:03] gbelenky opened #1961 "Latest documentation pages do not contain "Download PDF" button"
**No "Download PDF" button in the documentation pages**

**To Reproduce**
Check [https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-sdk-quickstart?view=azure-bot-service-4.0&tabs=vs](url)
**Expected behavior**
A "Download PDF" button like here (left lower corner) [https://docs.microsoft.com/en-us/azure/cognitive-services/luis/what-is-luis](url)

[2020-12-03 18:27] v-kydela commented on #1952
@nschuessler - You can request a new sample [here](https://github.com/microsoft/BotBuilder-Samples/issues/new/choose), though it should be noted that there already is a sample [here](https://github.com/microsoft/BotBuilder-Samples/tree/main/samples/csharp_dotnetcore/adaptive-dialog/05.interruptions-bot) that demonstrates interruptions in adaptive dialogs. There is also a [Composer template](https:

[2020-12-03 20:53] JonathanFingold opened #1962 "Add landing page instructions to Slack article"
re: https://github.com/microsoft/BotFramework-Services/issues/263#issuecomment-734016262

[2020-12-06 07:57] jonathanhotono opened #1963 "sharing access token between main-skill bot using generic oauth"
please provide NodeJS/TypeScript sample for token exchange(SSO) between root bot and skill bot.
Also is this method supports other authentication method like Generic Oauth 2?

And if it's not possible, is it ok/good practice to create a certain REST endpoint on mainbot to request for user's specific access token between skill/main bot then we skip the oauthcard dialog?

---
#### Document Details

[2020-12-07 01:18] kidd opened #1964 "cookiecutter link to a 4.7.0 echo sample"
Following the tutorial from an absolute beginner point of view, I've tried to deploy a simple bot using a new resource group, hitting this same issue reported here:
https://stackoverflow.com/questions/63332059/deployment-template-validation-failed-the-resource-microsoft-web-serverfarms
and here:
https://docs.microsoft.com/en-us/answers/questions/108956/unable-to-deploy-bot-via-arm-template.html

I

[2020-12-07 17:04] nschuessler commented on #1952
I have given you a small specific example already, which you have ignored. I have also spent 3+ days slimming down repros and and testing scenarios for you.

At this point I don't think you are intending to take any suggestion I provide, or by extension even investigate bugs if I were to file it. You have everything you need to file the NR exception bug.

[2020-12-07 20:31] v-kydela commented on #1952
Hi @nschuessler. Thank you very much for all the work you've done to help us with repros and testing scenarios.

I certainly don't want you to feel like we're ignoring the example you created. Like I said, I was able to run your example successfully. I'm just not sure what bug it's an example of, and I could use some more information about the how to reproduce a specific bug using your example.

Y

[2020-12-08 15:04] gourav-madan opened #1965 "Getting issue while enabling direct line app service extension in azure bot service"
I have followed the exact steps mentioned in below Microsoft link:

https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline-extension-net-bot?view=azure-bot-service-4.0

**Still the value of ib and ob are coming false:
{"v":"1.0.0.0.55fa54091a1e3b168628d4000ee2b06a88bbc2ac","k":true,"ib":false,"ob":false,"initialized":true}**

 Bot in webchat stops working after adding <A

[2020-12-08 18:31] JonathanFingold opened #1966 "Add `messageBack` to list of card actions"
`messageBack` is defined as a [card action](https://github.com/microsoft/botframework-sdk/blob/main/specs/botframework-activity/botframework-activity.md#card-action) in the activity schema. However, it is missing in at least two articles.

- [x] If the duplicated table is necessary/desired in both articles, convert it to a snippet, so both tables are kept up to date.
- [x] Update _Add media attach

[2020-12-08 22:15] JonathanFingold commented on #1964
@kidd - Emily will look into this and get back to soon.

[2020-12-08 22:23] #1817 closed

[2020-12-08 22:24] #1818 closed

[2020-12-08 22:25] #1819 closed

[2020-12-08 22:30] JonathanFingold commented on #1835
If you are creating new bots, you should be using the SDK v4 and the [SDK v4 docs](https://docs.microsoft.com/azure/bot-service/). Please post to StackOverflow if you need to use the v3 SDK.

Questions can be posted at Stack Overflow using the `botframework` tag. Please note that Stack Overflow has guidelines such as requiring a descriptive title, a complete and concise problem statement, and suff

[2020-12-08 22:30] #1835 closed

[2020-12-08 22:32] #1935 closed

[2020-12-08 22:38] JonathanFingold commented on #1955
This is a good question for StackOverflow. Please reopen this issue if you have a more specific documentation request.

Questions can be posted at [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) using the `botframework` tag. Please note that Stack Overflow has guidelines such as requiring a descriptive title, a complete and concise problem statement, and sufficient detail

[2020-12-08 22:38] #1955 closed

[2020-12-08 22:41] JonathanFingold commented on #1959
@Dewain27 I'll do a little research, and hopefully update this article in Jan.

[2020-12-08 22:45] JonathanFingold commented on #1961
@gbelenky I'll open an issue with our internal support team to try and get the PDFs building again soon.

[2020-12-08 22:58] #1813 closed

[2020-12-08 22:59] JonathanFingold commented on #1813
Will add Python information to the SDK docs once the Python SDK supports adaptive dialogs.

[2020-12-08 23:03] JonathanFingold commented on #1936
There is no changes needed in the docs. Emulator is the only channel that looks at this.

[2020-12-08 23:03] #1936 closed

[2020-12-08 23:40] JonathanFingold commented on #1865
Sorry for not getting back to you sooner. The team is encouraging developers who want to use adaptive dialogs to start with [Composer](https://docs.microsoft.com/composer/). The team is still working out best practices for adaptive dialogs, and so the adaptive dialog docs on the SDK side are likely to change quite a bit over the next couple releases, and the adaptive dialog samples are remaining _

[2020-12-09 01:01] clearab opened #1967 "Document the generic ActivityHandler InstallationUpdate event"
This event isn't documented: https://github.com/microsoft/botbuilder-dotnet/blob/5f064d5d89e5e2f5a51777fbd249b4b35fae7898/libraries/Microsoft.Bot.Builder/ActivityHandler.cs#L560

- [x] Add note about OnInstallationUpdateActivityAsync to [Event-driven conversations using an activity handler](https://docs.microsoft.com/azure/bot-service/bot-activity-handler-concept).
- [x] Review entire article for

[2020-12-09 05:31] ChrisOBrienSA93 commented on #1955
Thanks for getting back to me Jonathan!

I have put the question on stack overflow, fingers crossed that someone can help out!

[2020-12-09 18:21] JonathanFingold commented on #1923
@scheyal -- We have an article about how to [Debug a bot with inspection middleware](https://docs.microsoft.com/azure/bot-service/bot-service-debug-inspection-middleware) that seems to be the content you're looking for, though we don't call it _sidecar debugging_. What is the particular doc need here? Is it to make this content more discoverable?

[2020-12-09 21:58] JonathanFingold commented on #1967
Resolving via https://github.com/MicrosoftDocs/bot-docs-pr/pull/2493. Updates will go live once we do the next live sync.

[2020-12-09 21:58] #1967 closed

[2020-12-09 22:54] fvarga01 opened #1968 "Direct Line Speech is now supported in Web Chat 4.7.0, table needs to be updated"
According to the documentation Direct Line Speech does not “work with Web Chat”: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-directline?view=azure-bot-service-4.0. The table reads "Works with Webchat = No" for Direct Line Speech.

However, it seems this support has been added as of Web Chat 4.7.0:  https://github.com/microsoft/BotFramework-WebChat, see section "Direct Li

[2020-12-09 23:46] mmiele commented on #1965
@gourav-madan

ib determines whether Direct Line ASE can establish an inbound connection with the bot.
ob determines whether Direct Line ASE can establish an outbound connection with the bot.

If both are false, it means that Direct Line cannot establish the connection with your bot.

Do these steps:
1. Check that you can talk to your bot via the Emulator. You can find related information at this

[2020-12-10 01:39] Stevenic commented on #1952
@nschuessler I'm an architect on the SDK so let me see if I can help dig into the issues you're seeing lets start with your turn count issue...

Looking at \[the code\](https://github.com/microsoft/botbuilder-dotnet/blob/main/libraries/Microsoft.Bot.Builder.Dialogs.Adaptive/Input/InputDialog.cs#L259) it looks like you're correct... We're incrementing the turn count even when an interruption occurs

[2020-12-10 01:45] Stevenic commented on #1952
microsoft/botbuilder-dotnet#5040

[2020-12-10 01:50] Stevenic commented on #1952
With regards to this code:

[code]

We don't actually recommend you ever catch the **None** intent directly because, as you've seen, it will trigger an interruption for **every turn** by default (you can work around this using a constraint that restricts when it runs.) You should instead use `OnUnknownIntent()` as that trigger only processes the None intent if there are no currently running action

[2020-12-10 04:24] swagatmishra2007 commented on #1963
SSO is supported only for AAD V2 and not for other providers (including generic oauth). This is because not all providers support SSO or even have a common protocol for token exchange.
Sharing the access token between skill/main bot is ok, as long as the same bot developer owns the main bot and skill (that is, they share the same trust boundary). Otherwise, it maybe be a security issue. I'll defer

[2020-12-10 16:21] nschuessler commented on #1952
@Stevenic Thanks. I can't find the documentation where 'None' was mentioned but now I'm seeing information on 'OnUnknownIntent' I don't remember seeing before so it should be clear now. Maybe I skipped that call out on the first read through.

In any case this was a fabricated example to try to repro a problem I was seeing in a smaller example, not something I needed.  I was trying to figure out i

[2020-12-10 16:55] nschuessler commented on #1952
I opened https://github.com/microsoft/botbuilder-dotnet/issues/5042 as you see above to cover the NR exception with as much detail as I have.

[2020-12-10 21:47] Stevenic commented on #1952
@Kaiqb we should probably do a better job of warning against the direct handling of `None` in the docs.

[2020-12-10 23:36] jonathanhotono commented on #1963
@swagatmishra2007 @Jeffders thank you. I currently have a scenario where the main bot provide oauthcard to user to authenticate to ServiceNow, then there is a separate skill bot that also connects to ServiceNow, but it would not be a great experience if user had to reauthenticate again using oauthcard when they are accessing the skill bot.

Is it possible to send through a set of auth data using `

[2020-12-10 23:58] nschuessler commented on #1952
Ok. So I think all the documentation/bug issues have been resolved at this point and we can close this one when satisfied.
I will follow up in Jan on why the issue appears in my original code. It seems to be outside the ConfirmInput control at this point.

[2020-12-11 00:12] v-kydela commented on #1952
I'm glad to hear it, @nschuessler. Thanks again.

[2020-12-11 00:12] #1952 closed

[2020-12-11 09:35] gourav-madan commented on #1965
@mmiele I have tried debugging it & error is coming in UseNamedPipes middleware and found below exception:

**I am using latest virtual assistant template:**
https://github.com/microsoft/botframework-solutions/tree/master/samples/csharp/assistants/virtual-assistant

![image](https://user-images.githubusercontent.com/57317108/101886671-ba7e4200-3b93-11eb-9a22-e4c653f7d0da.png)

![image](https://use

[2020-12-11 16:58] craigjensen commented on #1956
We don't impose any limits on the number of sites that can be created.  How many are you expecting to create?

[2020-12-13 19:46] rmhorton opened #1969 "Typos"
"There is an incredibly wide range [of] uses ..."
"specific use cases that it is intended [to] support."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6dfa6fd8-030a-8cd8-9f5a-e54aac4b8eaf
* Version Independent ID: 6474f365-6db2-4cb1-a1e7-15d5f44f9b56
* Content: [Design the user experience - Bot Service](https://docs.m

[2020-12-14 19:02] mmiele commented on #1026
@vikramdadwal If this is still an issue, and perhaps you already know, the SSO feature was released. You can find the related documentation here: [Single sign on](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-concept-sso?view=azure-bot-service-4.0).

[2020-12-14 21:56] mmiele commented on #1960
@baole

- The error **403** means that the bot is not allowed to perform the requested operation. Being the bot disabled/removed this is what to expect in the private scenario, as matter of  a fact the error you get says: "tenant is disabled".
- The error **502** means that one server received an invalid response from another server. You are trying to connect to the bot via a channel. Because the

[2020-12-15 12:36] baole commented on #1960
@mmiele  error 502 is not documented.

I understood your explaination. However, the error code and error message doesn't make sense in this case in the bot perspective. i.e "Internal server error" is something that the bot should retry, but in this case, it shouldn't because the bot was removed from the channel. More specific error code/error message could be helpful.

[2020-12-15 16:34] gourav-madan commented on #1965
Is there any update on this?

[2020-12-15 16:55] mmiele commented on #1371
The updated documentation will be in the next available build.

[2020-12-15 16:55] #1371 closed

[2020-12-15 17:14] mmiele commented on #1960
@baole It seems that the problem you are having is with error 502, while your are OK with 403 correct? You are asking for a better explanation of error 502. Do I understand correctly? Thanks

[2020-12-15 19:42] mmiele commented on #1963
The JavaScript sample will be available in the next samples release. Let me know if we answered your questions. Thanks

[2020-12-16 03:05] baole commented on #1960
@mmiele  as the title suggests, the error 502 is misleading.

[2020-12-16 19:12] mmiele commented on #1965
@gourav-madan
So far I found out that the VA template does not support Direct Line App Service Extension (DL-ASE).
To make it work, the VA template with DL-ASE requires a lot of customization, so it is not provided out of the box.
You might want to pose the question on [StackOverflow](https://stackoverflow.com/search?q=%5Bbotframework%5D+virtual+assistant&s=b3c3b1b9-01aa-411a-b011-6cd4321f0767) al

[2020-12-16 21:20] emgrol commented on #1964
@kidd Could you try the tutorials again? I successfully followed the Python instructions in the [Tutorial: Create a basic bot](https://docs.microsoft.com/azure/bot-service/bot-builder-tutorial-create-basic-bot) and [Tutorial: Deploy a basic bot](https://docs.microsoft.com/azure/bot-service/bot-builder-tutorial-deploy-basic-bot) articles so I don't think there's an issue with the docs nor the templ

[2020-12-16 21:25] emgrol commented on #1927
Closing now that https://github.com/MicrosoftDocs/bot-docs-pr/pull/2484 has been merged.

[2020-12-16 21:25] #1927 closed

[2020-12-16 23:27] jonathanhotono commented on #1963
@mmiele thanks! does this sample also includes non-AAD V2 token sharing?

[2020-12-16 23:28] mmiele commented on #1968
The fix will be available in the next documentation update. Thanks

[2020-12-16 23:28] #1968 closed

[2020-12-16 23:53] mmiele commented on #1960
Every channel that connects to a bot has its own way to handle errors. The table in [HTTP status codes](https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0#http-status-codes) gives an overview of the main errors.  In your case, for specific information about error 502, you may want pose your question in [Microsoft Teams

[2020-12-17 00:21] stevkan commented on #1956
Closing, per request.

[2020-12-17 00:21] #1956 closed

[2020-12-17 00:21] mmiele commented on #1963
@jonathanhotono I do not have that information; it will depend on the team's schedule.
Thank you for your interest and patience.

[2020-12-17 00:21] #1963 closed

[2020-12-17 01:37] Danieladu opened #1970 "Document support cache scope policy in Language Generation"
## Related issues:
https://github.com/microsoft/botbuilder-dotnet/issues/4965

## Related PR:
https://github.com/microsoft/botbuilder-dotnet/pull/4982

## Description

Support the following options in LG file to specify the cache scope
[code]

## Changes
###  Support setting LG  cache scope in LG file
[code]

### Global cache is effective in the life cycle of an evaluation
For example:
[code]

###

[2020-12-17 09:15] DrDaveH commented on #1956
@craigjensen Many thanks for your response. To answer your question; we're not sure, we were thinking of potentially having a site per tenant but the number of tenants would depend on how many companies would use our product. Having looked further into how we can configure & identify the sites, it suggests that perhaps this is not the best route to take. Thanks again for your help.

[2020-12-17 20:24] #1026 closed

[2020-12-17 23:36] clearab opened #1971 "Document installation events"
We should add documentation for the onInstallationXXX events

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a774de1e-766f-9057-b3f1-a3ed71b6c765
* Version Independent ID: 1e473cc2-5eaf-13d6-f335-787532ecf5e5
* Content: [Event-driven conversations and activity handlers - Bot Service](https://docs.microsoft.com/en-us/azu

[2020-12-18 17:18] JonathanFingold commented on #1971
This was addressed in https://github.com/MicrosoftDocs/bot-docs-pr/pull/2493. We just haven't pushed it live yet.